<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 男の人 </td>
						<td>NAM NHÂN</td>
						<td>おとこのひと</td>
					</tr>
					<tr>
						<td>女の人 </td>
						<td>NỮ NHÂN</td>
						<td>おんなのひと </td>
					</tr>
					<tr>
						<td>男の子 </td>
						<td>NAM TỬ</td>
						<td>おとこのこ </td>
					</tr>
					<tr>
						<td>女の子 </td>
						<td>NỮ TỬ</td>
						<td>おんなのこ </td>
					</tr>
					<tr>
						<td>犬 </td>
						<td>KHUYỂN</td>
						<td>いぬ </td>
					</tr>
					<tr>
						<td>猫 </td>
						<td>MIÊU</td>
						<td>ねこ </td>
					</tr>
					<tr>
						<td>象</td>
						<td>TƯỢNG</td>
						<td>ぞう</td>
					</tr>
					<tr>
						<td>木 </td>
						<td>MỘC</td>
						<td>き </td>
					</tr>
					<tr>
						<td>物 </td>
						<td>VẬT</td>
						<td>もの </td>
					</tr>
					<tr>
						<td>電池 </td>
						<td>ĐIỆN TRÌ</td>
						<td>でんち </td>
					</tr>
					<tr>
						<td> 箱 </td>
						<td>TƯƠNG</td>
						<td>はこ</td>
					</tr>
					<tr>
						<td>冷蔵庫 </td>
						<td>LÃNH TÀN KHỐ</td>
						<td>れいぞうこ </td>
					</tr>
					<tr>
						<td>棚 </td>
						<td>BẰNG</td>
						<td>たな </td>
					</tr>
					<tr>
						<td>窓 </td>
						<td>SONG</td>
						<td>まど </td>
					</tr>
					<tr>
						<td>公園 </td>
						<td>CÔNG VIÊN</td>
						<td>こうえん </td>
					</tr>
					<tr>
						<td>喫茶店 </td>
						<td>KHIẾT TRÀ ĐIẾM</td>
						<td>きっさてん </td>
					</tr>
					<tr>
						<td>～屋 </td>
						<td>ỐC</td>
						<td>～や </td>
					</tr>
					<tr>
						<td>乗り場 </td>
						<td>THỪA TRƯỜNG</td>
						<td>のりば </td>
					</tr>
					<tr>
						<td>県 </td>
						<td>HUYỆN</td>
						<td>けん </td>
					</tr>
					<tr>
						<td>上 </td>
						<td>THƯỢNG</td>
						<td>うえ </td>
					</tr>
					<tr>
						<td>下 </td>
						<td>HẠ</td>
						<td>した </td>
					</tr>
					<tr>
						<td>前 </td>
						<td>TIỀN</td>
						<td>まえ </td>
					</tr>
					<tr>
						<td>右 </td>
						<td>HUỮ</td>
						<td>みぎ </td>
					</tr>
					<tr>
						<td>左 </td>
						<td>TẢ</td>
						<td>ひだり </td>
					</tr>
					<tr>
						<td>中 </td>
						<td>TRUNG</td>
						<td>なか </td>
					</tr>
					<tr>
						<td>外 </td>
						<td>NGOẠI</td>
						<td>そと </td>
					</tr>
					<tr>
						<td>隣 </td>
						<td>LÂN</td>
						<td>となり </td>
					</tr>
					<tr>
						<td>近く </td>
						<td>CẬN</td>
						<td>ちかく </td>
					</tr>
					<tr>
						<td>間 </td>
						<td>GIAN</td>
						<td>あいだ </td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>