<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>静か[な]</td>
						<td>TĨNH</td>
						<td>しずか[な]</td>
					</tr>
					<tr>
						<td>有名[な]</td>
						<td>HỮU DANH</td>
						<td>ゆうめい[な]</td>
					</tr>
					<tr>
						<td>親切[な]</td>
						<td>THÂN THIẾT</td>
						<td>しんせつ[な]</td>
					</tr>
					<tr>
						<td>元気[な]</td>
						<td>NGUYÊN KHÍ</td>
						<td>げんき[な]</td>
					</tr>
					<tr>
						<td>暇[な]</td>
						<td>HẠ</td>
						<td>ひま[な]</td>
					</tr>
					<tr>
						<td>便利[な]</td>
						<td>TIỆN LỢI</td>
						<td>べんり[な]</td>
					</tr>
					<tr>
						<td>大きい</td>
						<td>ĐẠI</td>
						<td>おおきい</td>
					</tr>
					<tr>
						<td>小さい</td>
						<td>TIỂU</td>
						<td>ちいさい</td>
					</tr>
					<tr>
						<td>新しい</td>
						<td>TÂN</td>
						<td>あたらしい</td>
					</tr>
					<tr>
						<td>古い</td>
						<td>CỔ</td>
						<td>ふるい</td>
					</tr>
					<tr>
						<td>悪い</td>
						<td>ÁC</td>
						<td>わるい</td>
					</tr>
					<tr>
						<td>暑い, 熱い</td>
						<td>THỬ, NHIỆT</td>
						<td>あつい</td>
					</tr>
					<tr>
						<td>寒い</td>
						<td>HÀN</td>
						<td>さむい</td>
					</tr>
					<tr>
						<td>冷たい</td>
						<td>LÃNH</td>
						<td>つめたい</td>
					</tr>
					<tr>
						<td>難しい</td>
						<td>NAN</td>
						<td>むずかしい</td>
					</tr>
					<tr>
						<td>易しい</td>
						<td>DỊ</td>
						<td>やさしい</td>
					</tr>
					<tr>
						<td>高い</td>
						<td>CAO</td>
						<td>たかい</td>
					</tr>
					<tr>
						<td>安い</td>
						<td>AN</td>
						<td>やすい</td>
					</tr>
					<tr>
						<td>低い</td>
						<td>ĐÊ</td>
						<td>ひくい</td>
					</tr>
					<tr>
						<td>忙しい</td>
						<td>MANG</td>
						<td>いそがしい</td>
					</tr>
					<tr>
						<td>楽しい</td>
						<td>LẠC, NHẠC</td>
						<td>たのしい</td>
					</tr>
					<tr>
						<td>白い</td>
						<td>BẠCH</td>
						<td>しろい</td>
					</tr>
					<tr>
						<td>黒い</td>
						<td>HẮC</td>
						<td>くろい</td>
					</tr>
					<tr>
						<td>赤い</td>
						<td>XÍCH</td>
						<td>あかい</td>
					</tr>
					<tr>
						<td>青い</td>
						<td>THANH</td>
						<td>あおい</td>
					</tr>
					<tr>
						<td>桜</td>
						<td>ANH</td>
						<td>さくら</td>
					</tr>
					<tr>
						<td>山</td>
						<td>SƠN, SAN</td>
						<td>やま</td>
					</tr>
					<tr>
						<td>町</td>
						<td>ĐINH</td>
						<td>まち</td>
					</tr>
					<tr>
						<td>食べ物</td>
						<td>THỰC VẬT</td>
						<td>たべもの</td>
					</tr>
					<tr>
						<td>所</td>
						<td>SỞ</td>
						<td>ところ</td>
					</tr>
					<tr>
						<td>寮</td>
						<td>LIÊU</td>
						<td>りょう</td>
					</tr>
					<tr>
						<td>生活</td>
						<td>SINH HOẠT</td>
						<td>せいかつ</td>
					</tr>
					<tr>
						<td>[お]仕事</td>
						<td>SĨ SỰ</td>
						<td>[お]しごと</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>