<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>聞きます<br>[先生に～]</td>
						<td>VĂN<br>TIÊN SINH </td>
						<td>ききます<br>[せんせいに～]</td>
					</tr>
					<tr>
						<td>回します</td>
						<td>HỒI</td>
						<td>まわします</td>
					</tr>
					<tr>
						<td>引きます</td>
						<td>DẪN</td>
						<td>ひきます</td>
					</tr>
					<tr>
						<td>変えます</td>
						<td>BIẾN</td>
						<td>かえます</td>
					</tr>
					<tr>
						<td>触ります</td>
						<td>XÚC</td>
						<td>さわります<br>[ドアに～]</td>
					</tr>
					<tr>
						<td>出ます<br>[お釣りが～]</td>
						<td>XUẤT<br>ĐIẾU </td>
						<td>でます<br>[おつりが～]</td>
					</tr>
					<tr>
						<td>歩きます</td>
						<td>BỘ</td>
						<td>あるきます</td>
					</tr>
					<tr>
						<td>渡ります<br>[橋を～]</td>
						<td>ĐỘ<br>KIỀU </td>
						<td>わたります<br>[はしを～]</td>
					</tr>
					<tr>
						<td>曲がります<br>[右へ～]</td>
						<td>KHÚC<br>HỮU</td>
						<td>まがります<br>[みぎへ～]</td>
					</tr>
					<tr>
						<td>寂しい</td>
						<td>TỊCH</td>
						<td>さびしい</td>
					</tr>
					<tr>
						<td>[お]湯</td>
						<td>THANG</td>
						<td>[お]ゆ</td>
					</tr>
					<tr>
						<td>音</td>
						<td>ÂM</td>
						<td>おと</td>
					</tr>
					<tr>
						<td>故障</td>
						<td>CỐ CHƯỚNG</td>
						<td>こしょう</td>
					</tr>
					<tr>
						<td>道</td>
						<td>ĐẠO</td>
						<td>みち</td>
					</tr>
					<tr>
						<td>交差点</td>
						<td>GIAO SAI ĐIỂM</td>
						<td>こうさてん</td>
					</tr>
					<tr>
						<td>信号</td>
						<td>TÍN HIỆU</td>
						<td>しんごう</td>
					</tr>
					<tr>
						<td>角</td>
						<td>GIÁC</td>
						<td>かど</td>
					</tr>
					<tr>
						<td>橋</td>
						<td>KIỀU</td>
						<td>はし</td>
					</tr>
					<tr>
						<td>駐車場</td>
						<td>TRÚ XA TRƯỜNG</td>
						<td>ちゅうしゃじょう</td>
					</tr>
					<tr>
						<td>建物</td>
						<td>KIẾN VẬT　</td>
						<td>たてもの</td>
					</tr>
					<tr>
						<td>何回も</td>
						<td>HÀ HỒI</td>
						<td>なんかいも</td>
					</tr>
					<tr>
						<td>―目</td>
						<td>MỤC</td>
						<td>―め</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>