<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <title>日本語</title>
  <style>
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    .flex-content {
      width: 65%;
      height: auto;
      margin: 0 10px 0 0;
      border: #888 1px solid;
      padding: 15px;
      box-shadow: 3px 8px #888888;
    }

    .flex-list {
      width: 30%;
      height: 300px;
      padding: 5px;
      position: sticky;
      top: 0;
      border: 1px solid #888;
      box-shadow: 5px 10px #888888;
    }


    .title {
      font-size: 2em;
      letter-spacing: -1px;
      text-align: left;
    }

    .structure {
      color: #008080;
      font-size: 20px;

    }

    .meaning {
      color: coral;
    }

    .example {
      margin-bottom: 15px;
      line-height: 2em;
    }



    .example-title {
      font-size: 20px;
      font-style: oblique;
      text-decoration: underline;

    }

    .list-title {
      font-size: 20px;
      color: #008080;
      text-align: center;

    }

    @media screen and (max-width: 640px) {
      .flex-content {
        width: 100%;
      }

      .flex-list {
        display: none;
      }

    }
  </style>
</head>

<body>
  <header>
    <header-title>日本の勉強</header-title>
    <div class="menu-toggle"><i class="fas fa-bars"></i></div>
    <hr>
    <nav>
      <ul>
        <li class="link"><a th:href="homepage">Home</a></li>
        <li class="link"><a th:href="N5-detail">N5</a></li>
        <li class="link"><a th:href="N4-detail">N4</a></li>
        <li class="link"><a th:href="N3-detail">N3</a></li>
        <li class="link"><a th:href="happyo">Happyo</a></li>
        <li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
        <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
      </ul>
    </nav>
  </header>
  <div class="container" style="margin-top: 5%;">
    <div class="flex-container">
      <div class="flex-content">
        <div class="title" id="1">
          1. Động từ thể [た]
        </div>
        <div class="structure">1. Động từ thể [た]</div>
        <div class="meaning">Động từ thể [た] được chia giống như động từ thể [て] chỉ việc đổi [て] thành [た], [で] thành
          [だ]
        </div>
        <div class="example">
          <div class="example-title">Động từ nhóm 1</div>
          Động từ thể [た] được chia giống như động từ thể [て] chỉ việc đổi [て] thành [た], [で] thành [だ]
          <table border="1">
            <tbody>
              <tr>
                <td style="text-align: left"><b>Động từ</b></td>
                <td style="text-align: left"><strong>Thể [た]</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">か<strong>き</strong>ます</td>
                <td style="text-align: left">か<strong>いた</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">き<strong>き</strong>ます</td>
                <td style="text-align: left">き<strong>いた</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">およ<strong>ぎ</strong>ます</td>
                <td style="text-align: left">およ<strong>いだ</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">の<strong>み</strong>ます</td>
                <td style="text-align: left">の<strong>んだ</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">あそ<strong>び</strong>ます</td>
                <td style="text-align: left">あ<strong>そんだ</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">ま<strong>ち</strong>ます</td>
                <td style="text-align: left">ま<strong>った</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">と<strong>り</strong>ます</td>
                <td style="text-align: left">と<strong>った</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">あ<strong>い</strong>ます</td>
                <td style="text-align: left">あ<strong>った</strong></td>
              </tr>
              <tr>
                <td style="text-align: left">はな<strong>し</strong>ます</td>
                <td style="text-align: left">はな<strong>した</strong></td>
              </tr>
            </tbody>
          </table>
          <div class="example-title">Động từ nhóm 2</div>
          <div class="example-title">Bó [ます] thêm [た] vào sau</div>
          たべますーーー＞たべた<br>
          ねますーーーー＞ねた<br>
          <div class="example-title">Động từ nhóm 3</div>
          しますーーーー＞した<br>
          きますーーーー＞きた<br>
        </div>
        <div class="title" id="2">
          2. Động từ thể [た]こと + が あります
        </div>
        <div class="structure">2. Động từ thể [た]こと + が あります</div>
        <div class="meaning">Nghĩa : Đã từng<br>
          Cách dùng: nói về một kinh nghiệm đã gặp, đã từng trải qua trong quá khứ.
          Diễn tả việc không thường xuyên xảy ra<br>
        </div>
        <div class="example">
          <div class="example-title">Ví dụ</div>
          あなたはにほんへいったことがありますか。<br>
          Bạn đã bao giờ đến Nhật Bản chưa?<br>
          いいえ、(いちど)ありません。<br>
          Chưa, chưa lần nào.<br>
          おさけをのんだことがありますか。<br>
          Bạn đã bao giờ uống rượu chưa?<br>
          はい。あります/　はい、２回(かい)あります。<br>
          Có, đã từng / Có, đã 2 lần.<br>
        </div>
        <div class="title" id="3">
          3. Động từ thể [た] り、Động từ thể [た] り　+ します
        </div>
        <div class="structure">3. Động từ thể [た] り、Động từ thể [た] り　+ します</div>
        <div class="meaning">Nghĩa : làm gi, làm gì ,…<br>
          Cách dùng :
          Liệt kê một vài hành động đại diện trong số nhiều hành động mà chủ thể thực hiện mà không theo thứ tự thời
          gian,
          không cần biết cái nào xảy ra trước, cái nào xảy ra sau.
          Thì của mẫu câu được biểu thị ở cuối câu.<br>
        </div>
        <div class="example">
          <div class="example-title">Ví dụ</div>
          にちようびそうじ)したり、せんたくしたりします。<br>
          Vào chủ Nhật tôi dọn nhà rồi giặt quần áo,v.v..<br>
          きのう こうえんをさんぽしたり、レストランでしょくじしたりしました。<br>
          Hôm qua tôi đi dạo ở công viên rồi ăn ở nhà hàng,v.v..<br>
          まいばんおんがくをきいたり、かんじをか)いたりします。<br>
          Mỗi tối tôi nghe nhạc, viết kanji,v.v..<br>
        </div>
        <div class="title" id="4">
          4. なります
        </div>
        <div class="structure">4. なります</div>
        <div class="meaning">Nghĩa : trở thành, trở nên để biểu thị sự thay đổi về trạng thái
        </div>
        <div class="example">
          <div class="example-title">Tính từ đuôi [い]<br>
            Bỏ đuôi [い] thay thế bằng [く] + [なります]</div>
          さむいーーー＞さむく　なります<br>
          Trở nên lạnh<br>
        </div>
        <div class="example">
          <div class="example-title">Tính từ đuôi [な]<br>
            Bỏ đuôi [な] thay thế bằng [に] + [なります]</div>
          げんき(な)ーーー＞げんきになります<br>
          Trở nên khỏe<br>
        </div>
        <div class="example">
          <div class="example-title">Danh từ<br>
            Thêm [に] + [なります]</div>
          25さいになります<br>
          Sang tuổi 25<br>
        </div>
        <div class="title" id="5">
          5. そうですね
        </div>
        <div class="structure"> 5. そうですね</div>
        <div class="meaning">Cách dùng :<br>
          Dùng để biểu thị đồng ý hay thông cảm với điều mà đối tác hội thoại nói vì mình cũng biết hay cũng nghĩa
          thế<br>
          Chúng ta cũng có thể diễn tả điều tương tự khi nói [そうですか] khi hạ giọng ở cuối câu<br></div>
        <div class="example">
          <div class="example-title">Ví dụ</div>
          さむくなりましたね。<br>
          Trời trở lạnh rồi nhỉ<br>
          。。。そうですね！<br>
          Vâng, đúng thế nhỉ!<br>
        </div>
      </div>
      <div class="flex-list">
        <div class="list-title">Danh sách tổng hợp</div>
        <ul>
          <a href="#1">
            <li>1. Động từ thể [た]</li>
          </a>
          <a href="#2">
            <li>2. Động từ thể [た]こと + が あります</li>
          </a>
          <a href="#3">
            <li>3. Động từ thể [た] り、Động từ thể [た] り　+ します</li>
          </a>
          <a href="#4">
            <li>4. なります</li>
          </a>
          <a href="#5">
            <li>5. そうですね</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.menu-toggle').click(function () {
        $('nav').toggleClass('active');
      });
      $('.link').click(function () {
        $('nav').toggleClass('active');
      })
    })
  </script>
</body>

</html>