<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="tv">Từ Vựng</th>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>みます</td>

						<td>見ます, 診ます</td>
						<td>KIẾN, CHẨN</td>
						<td>xem, khám bệnh</td>
					</tr>
					<tr>
						<td>さがします</td>
						<td>探します,捜します</td>
						<td>THÁM、SƯU</td>
						<td>tìm, tìm kiếm</td>
					</tr>
					<tr>
						<td>おくれます<br>[じかんに～] </td>
						<td>遅れます<br>[時間に～] </td>
						<td>TRÌ<br>THỜI GIAN </td>
						<td>chậm, muộn [giờ]</td>
					</tr>
					<tr>
						<td>まにあいます<br>[じかんに～] </td>
						<td>間に合います<br>[時間に～] </td>
						<td>GIAN HỢP<br>THỜI GIAN</td>
						<td>kịp [giờ]</td>
					</tr>
					<tr>
						<td>やります</td>
						<td></td>
						<td></td>
						<td>làm</td>
					</tr>
					<tr>
						<td>ひろいます</td>
						<td>拾います</td>
						<td>THẬP</td>
						<td>nhặt, lượm</td>
					</tr>
					<tr>
						<td>れんらくします</td>
						<td>連絡します</td>
						<td>LIÊN LẠC</td>
						<td>liên lạc</td>
					</tr>
					<tr>
						<td>きぶんがいい</td>
						<td>気分がいい</td>
						<td>KHÍ PHÂN</td>
						<td>cảm thấy tốt, cảm thấy khỏe</td>
					</tr>
					<tr>
						<td>きぶんがわるい</td>

						<td>気分が悪い</td>
						<td>KHÍ PHÂN ÁC</td>
						<td>cảm thấy không tốt, cảm thấy mệt</td>
					</tr>
					<tr>
						<td>うんどうかい</td>
						<td>運動会</td>
						<td>VẬN ĐỘNG HỘI</td>
						<td>hội thi thể thao</td>
					</tr>
					<tr>
						<td>ぼんおどり</td>
						<td>盆踊り</td>
						<td>BỒN DŨNG</td>
						<td>múa Bon</td>
					</tr>
					<tr>
						<td>フリーマーケット</td>
						<td></td>
						<td></td>
						<td>chợ trời, chợ đồ cũ</td>
					</tr>
					<tr>
						<td>ばしょ</td>
						<td>場所</td>
						<td>TRƯỜNG SỞ</td>
						<td>địa điểm</td>
					</tr>
					<tr>
						<td>ボランティア</td>
						<td></td>
						<td></td>
						<td>tình nguyện viên</td>
					</tr>
					<tr>
						<td>さいふ</td>
						<td>財布</td>
						<td>TÀI BỐ</td>
						<td>cái ví</td>
					</tr>
					<tr>
						<td>ごみ</td>
						<td></td>
						<td></td>
						<td>rác</td>
					</tr>
					<tr>
						<td>こっかいぎじどう</td>
						<td>国会議事堂</td>
						<td>QUỐC HỘI<br>NGHỊ SỰ ĐƯỜNG</td>
						<td>tòa nhà quốc hội</td>
					</tr>
					<tr>
						<td>へいじつ</td>
						<td>平日</td>
						<td>BÌNH NHẬT</td>
						<td>ngày thường</td>
					</tr>
					<tr>
						<td>～べん</td>
						<td>～弁</td>
						<td>BIỆN</td>
						<td>tiếng ~, giọng ~</td>
					</tr>
					<tr>
						<td>こんど</td>
						<td>今度</td>
						<td>KIM ĐỘ</td>
						<td>lần tới</td>
					</tr>
					<tr>
						<td>ずいぶん</td>
						<td></td>
						<td></td>
						<td>khá, tương đối</td>
					</tr>
					<tr>
						<td>ちょくせつ</td>
						<td>直接</td>
						<td>TRỰC TIẾP</td>
						<td>trực tiếp</td>
					</tr>
					<tr>
						<td>いつでも</td>
						<td></td>
						<td></td>
						<td>lúc nào cũng</td>
					</tr>
					<tr>
						<td>どこでも</td>
						<td></td>
						<td></td>
						<td>ở đâu cũng</td>
					</tr>
					<tr>
						<td>だれでも</td>
						<td></td>
						<td></td>
						<td>ai cũng</td>
					</tr>
					<tr>
						<td>なんでも</td>
						<td>何でも</td>
						<td>HÀ</td>
						<td>cái gì cũng</td>
					</tr>
					<tr>
						<td>こんな～</td>
						<td></td>
						<td></td>
						<td>~ như thế này</td>
					</tr>
					<tr>
						<td>そんな～</td>
						<td></td>
						<td></td>
						<td>~ như thế đó (gần người nghe)</td>
					</tr>
					<tr>
						<td>あんな～</td>
						<td></td>
						<td></td>
						<td>~ như thế kia (xa cả người nói <br> và người nghe)</td>
					</tr>
					<tr>
						<td>エドヤストア</td>
						<td></td>
						<td></td>
						<td>tên một cửa hàng (giả định)</td>
					</tr>
					<tr>
						<td colspan="5">＜<b><ruby>会話<rp>(</rp>
									<rt>かいわ</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3">かたづきます<br>[にもつが～] </td>
						<td>được dọn dẹp ngăn nắp, gọn gàng<br> [đồ đạc ~]</td>
					</tr>
					<tr>
						<td colspan="3">だします<br>[ごみを～]</td>
						<td>đổ, để [rác]</td>
					</tr>
					<tr>
						<td colspan="3">もえるごみ</td>
						<td>cháy được [rác ~]</td>
					</tr>
					<tr>
						<td colspan="3">おきば</td>
						<td>nơi để</td>
					</tr>
					<tr>
						<td colspan="3">よこ</td>
						<td>bên cạnh</td>
					</tr>
					<tr>
						<td colspan="3">びん</td>
						<td>cái chai</td>
					</tr>
					<tr>
						<td colspan="3">かん</td>
						<td>cái lon, hộp kim loại</td>
					</tr>
					<tr>
						<td colspan="3">ガス</td>
						<td>ga</td>
					</tr>
					<tr>
						<td colspan="3">～がいしゃ</td>
						<td>công ty ~</td>
					</tr>
					<tr>
						<td colspan="4">＜<b><ruby>読<rp>(</rp>
									<rt>よ</rt>
									<rp>)</rp>
								</ruby>み<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>宇宙<rp>（</rp>
								<rt>うちゅう</rt>
								<rp>）</rp>
							</ruby></td>
						<td>vũ trụ</td>
					</tr>
					<tr>
						<td colspan="3">～<ruby>様<rp>（</rp>
								<rt>さま</rt>
								<rp>）</rp>
							</ruby></td>
						<td>ông/bà/ngài ~ (kính ngữ của ～さん)</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>宇宙船<rp>（</rp>
								<rt>うちゅうせん</rt>
								<rp>）</rp>
							</ruby></td>
						<td>tàu vũ trụ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>怖<rp>（</rp>
								<rt>こわ</rt>
								<rp>）</rp>
							</ruby>い　</td>
						<td>sợ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>宇宙<rp>（</rp>
								<rt>うちゅう</rt>
								<rp>）</rp>
							</ruby>ステーション</td>
						<td>trạm vũ trụ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>違<rp>（</rp>
								<rt>ちが</rt>
								<rp>）</rp>
							</ruby>います</td>
						<td>khác</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>宇宙<rp>（</rp>
								<rt>うちゅう</rt>
								<rp>）</rp>
							</ruby><ruby>飛行士<rp>（</rp>
								<rt>ひこうし</rt>
								<rp>）</rp>
							</ruby>　</td>
						<td>nhà du hành vũ trụ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>星出<rp>（</rp>
								<rt>ほしで</rt>
								<rp>）</rp>
							</ruby><ruby>彰彦<rp>（</rp>
								<rt>あきひこ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>nhà du hành vũ trụ người Nhật (1968- )</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>