<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>はります</td>
						<td></td>
						<td></td>
						<td>dán</td>
					</tr>
					<tr>
						<th>かけます</th>
						<td></td>
						<td></td>
						<td>treo</td>
					</tr>
					<tr>
						<th>
							ならべます</th>
						<td>並べます
						</td>
						<td></td>
						<td>xếp thành hàng</td>
					</tr>
					<tr>
						<th>うえます</th>
						<td>植えます</td>
						<td></td>
						<td>trồng (cây) </td>
					</tr>
					<tr>
						<th>もどします </th>
						<td>戻します</td>
						<td></td>
						<td>đưa về, trả về</td>
					</tr>
					<tr>
						<th>まとめます</th>
						<td>
						</td>
						<td></td>
						<td>nhóm lại, tóm tắt</td>
					</tr>
					<tr>
						<th>
							かたづけます</th>
						<td></td>
						<td></td>
						<td>dọn dẹp, sắp xếp</td>
					</tr>
					<tr>
						<th>
							しまいます</th>
						<td></td>
						<td></td>
						<td>cất vào, để vào</td>
					</tr>
					<tr>
						<th>きめます</th>
						<td>決めます</td>
						<td></td>
						<td>quyết định
						</td>
					</tr>
					<tr>
						<th>しらせます</th>
						<td>知らせます</td>
						<td></td>
						<td>
							thông báo
					</tr>
					<tr>
						<th>そうだんします</th>
						<td></td>
						<td></td>
						<td>thảo luận, trao đổi , bàn bạc</td>
					</tr>
					<tr>
						<th>よしゅうします</th>
						<td>予習します</td>
						<td></td>
						<td>chuẩn bị bài mới
					</tr>
					<tr>
						<th>ふくしゅうします</th>
						<td>復習します</td>
						<td></td>
						<td>ôn bài cũ</td>
					</tr>
					<tr>
						<th>そのままにします</th>
						<td></td>
						<td></td>
						<td>để nguyên như thế</td>
					</tr>
					<tr>
						<th>じゅぎょう</th>
						<td>授業</td>
						<td></td>
						<td>giờ học</td>
					</tr>
					<tr>
						<th>こうぎ</th>
						<td>
							講義</td>
						<td></td>
						<td>bài giảng</td>
					</tr>
					<tr>
						<th>ミーテイング</th>
						<td></td>
						<td></td>
						<td>
							cuộc họp</td>
					</tr>
					<tr>
						<th>よてい</th>
						<td>予定</td>
						<td></td>
						<td>kế hoạch, dự định</td>
					</tr>
					<tr>
						<th>おしらせ</th>
						<td>お知らせ</td>
						<td></td>
						<td>bản thông báo</td>
					</tr>
					<tr>
						<th>あんないしょ

						</th>
						<td>案内書</td>
						<td></td>
						<td>tài liệu hướng dẫn
						</td>
					</tr>
					<tr>
						<th>カレンダー</th>
						<td>
						</td>
						<td></td>
						<td>
							lịch , tờ lịch</td>
					</tr>
					<tr>
						<th>ポスター</th>
						<td></td>
						<td></td>
						<td>tờ quảng cáo, tờ áp phích</td>
					</tr>

					<tr>
						<th>ごみばこ</th>
						<td>ごみ箱`</td>
						<td></td>
						<td>thùng rác</td>
					</tr>

					<tr>
						<th>
							にんぎょう</th>
						<td>
							人形</td>
						<td></td>
						<td>con búp bê, con rối</td>
					</tr>

					<tr>
						<th>かびん</th>
						<td></td>
						<td></td>
						<td>lọ hoa</td>
					</tr>

					<tr>
						<th>かがみ</th>
						<td>鏡</td>
						<td></td>
						<td>cái gương</td>
					</tr>
					<tr>
						<th>ひきだし</th>
						<td>引き出し</td>
						<td></td>
						<td>
							ngăn kéo</td>
					</tr>
					<tr>
						<th>げんかん</th>
						<td>玄関</td>
						<td> </td>
						<td>cửa vào</td>
					</tr>
					<tr>
						<th>ろうか</th>
						<td>廊下</td>
						<td></td>
						<td>
							hành lang</td>
					</tr>
					<tr>
						<th>いけ</th>
						<td>池</td>
						<td></td>
						<td>cái ao</td>
					</tr>
					<tr>
						<th>こうばん</th>
						<td>交番</td>
						<td></td>
						<td>trạm cảnh sát</td>
					</tr>
					<tr>
						<th>もとのところ</th>
						<td>
							元の　所</td>
						<td></td>
						<td>địa điểm ban đầu</td>
					</tr>
					<tr>
						<th>まわり</th>
						<td>
							周り</td>
						<td></td>
						<td>xung quanh</td>
					</tr>
					<tr>
						<th>まんなか</th>
						<td>真ん中</td>
						<td></td>
						<td>giữa, trung tâm</td>
					</tr>
					<tr>
						<th>すみ</th>
						<td></td>
						<td></td>
						<td>góc</td>
					</tr>
					<tr>
						<th>まだ</th>
						<td></td>
						<td></td>
						<td>chưa</td>
					</tr>
					<tr>
						<th>―ほど</th>
						<td></td>
						<td></td>
						<td>chừng—</td>
					</tr>
					<tr>
						<th>よていひょう</th>
						<td>予定表</td>
						<td></td>
						<td>thời khóa biểu</td>
					</tr>
					<tr>
						<th>ごくろうさま</th>
						<td></td>
						<td></td>
						<td>anh, chị đã làm việc vất vả/cảm ơn anh, chị</td>
					</tr>
					<tr>
						<th>きぼう</th>
						<td>希望</td>
						<td></td>
						<td>hi vọng, nguyện vọng</td>
					</tr>
					<tr>
						<th>ミュージカル</th>
						<td></td>
						<td></td>
						<td>ca kịch</td>
					</tr>
					<tr>
						<th>まるい</th>
						<td>丸い</td>
						<td></td>
						<td>tròn</td>
					</tr>
					<tr>
						<th>つき</th>
						<td>月
						</td>
						<td></td>
						<td>mặt trăng</td>
					</tr>
					<tr>
						<th>ちきゅう</th>
						<td>地球</td>
						<td></td>
						<td>trái đất</td>
					</tr>
					<tr>
						<th>うれしい</th>
						<td></td>
						<td></td>
						<td>vui</td>
					</tr>
					<tr>
						<th>いや（な）</th>
						<td></td>
						<td></td>
						<td>chán, ghét, không chấp nhận được</td>
					</tr>
					<tr>
						<th>すると</th>
						<td></td>
						<td></td>
						<td>sau đó, tiếp đó</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>