<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="tv">Từ Vựng</th>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>はります</td>
						<td></td>
						<td></td>
						<td>dán, dán lên</td>
					</tr>
					<tr>
						<td>かけます</td>
						<td>掛けます</td>
						<td>QUẢI</td>
						<td>treo</td>
					</tr>
					<tr>
						<td>かざります</td>
						<td>飾ります</td>
						<td>SỨC</td>
						<td>trang trí</td>
					</tr>
					<tr>
						<td>ならべます</td>
						<td>並べます</td>
						<td>TỊNH</td>
						<td>xếp thành hàng</td>
					</tr>
					<tr>
						<td>うえます</td>
						<td>植えます</td>
						<td>THỰC</td>
						<td>trồng (cây)</td>
					</tr>
					<tr>
						<td>もどします</td>
						<td>戻します</td>
						<td>LỆ</td>
						<td>đưa về, trả về, để lại vị trí ban đầu</td>
					</tr>
					<tr>
						<td>まとめます</td>
						<td></td>
						<td></td>
						<td>nhóm lại, tóm tắt</td>
					</tr>
					<tr>
						<td>しまいます</td>
						<td></td>
						<td></td>
						<td>cất vào, để vào</td>
					</tr>
					<tr>
						<td>きめます</td>
						<td>決めます</td>
						<td>QUYẾT</td>
						<td>quyết định</td>
					</tr>
					<tr>
						<td>よしゅうします</td>
						<td>予習します</td>
						<td>DỰ TẬP</td>
						<td>chuẩn bị bài mới</td>
					</tr>
					<tr>
						<td>ふくしゅうします</td>
						<td>復習します</td>
						<td>PHỤC TẬP</td>
						<td>ôn bài cũ</td>
					</tr>
					<tr>
						<td>そのままにします</td>
						<td></td>
						<td></td>
						<td>để nguyên như thế</td>
					</tr>
					<tr>
						<td>じゅぎょう</td>
						<td>授業</td>
						<td>THỤ NGHIỆP</td>
						<td>giờ học</td>
					</tr>
					<tr>
						<td>こうぎ</td>
						<td>講義</td>
						<td>GIẢNG NGHĨA</td>
						<td>bài giảng</td>
					</tr>
					<tr>
						<td>ミーティング</td>
						<td></td>
						<td></td>
						<td>cuộc họp</td>
					</tr>
					<tr>
						<td>よてい</td>
						<td>予定</td>
						<td>DỰ ĐỊNH</td>
						<td>kế hoạch, dự định</td>
					</tr>
					<tr>
						<td>おしらせ</td>
						<td>お知らせ</td>
						<td>TRI</td>
						<td>bản thông báo</td>
					</tr>
					<tr>
						<td>ガイドブック</td>
						<td></td>
						<td></td>
						<td>sách hướng dẫn du lịch</td>
					</tr>
					<tr>
						<td>カレンダー</td>
						<td></td>
						<td></td>
						<td>lịch, tờ lịch</td>
					</tr>
					<tr>
						<td>ポスター</td>
						<td></td>
						<td></td>
						<td>poster, tờ quảng cáo</td>
					</tr>
					<tr>
						<td>よていひょう</td>
						<td>予定表</td>
						<td>DỰ ĐỊNH BIỂU</td>
						<td>lịch làm việc</td>
					</tr>
					<tr>
						<td>ごみばこ</td>
						<td>ごみ箱</td>
						<td>TƯƠNG</td>
						<td>thùng rác</td>
					</tr>
					<tr>
						<td>にんぎょう</td>
						<td>人形</td>
						<td>NHÂN HÌNH</td>
						<td>con búp bê, con rối</td>
					</tr>
					<tr>
						<td>かびん</td>
						<td>花瓶</td>
						<td>HOA BÌNH</td>
						<td>lọ hoa</td>
					</tr>
					<tr>
						<td>かがみ</td>
						<td>鏡</td>
						<td>KÍNH</td>
						<td>cái gương</td>
					</tr>
					<tr>
						<td>ひきだし</td>
						<td>引き出し</td>
						<td>DẪN XUẤT</td>
						<td>ngăn kéo</td>
					</tr>
					<tr>
						<td>げんかん</td>
						<td>玄関</td>
						<td>HUYỀN QUAN</td>
						<td>cửa vào</td>
					</tr>
					<tr>
						<td>ろうか</td>
						<td>廊下</td>
						<td>LANG HẠ</td>
						<td>hành lang</td>
					</tr>
					<tr>
						<td>かべ</td>
						<td>壁</td>
						<td>BÍCH</td>
						<td>bức tường</td>
					</tr>
					<tr>
						<td>いけ</td>
						<td>池</td>
						<td>TRÌ</td>
						<td>cái ao</td>
					</tr>
					<tr>
						<td>もとのところ</td>
						<td>元の所</td>
						<td>NGUYÊN SỞ</td>
						<td>địa điểm ban đầu, địa điểm gốc</td>
					</tr>
					<tr>
						<td>まわり</td>
						<td>周り</td>
						<td>CHU</td>
						<td>xung quanh</td>
					</tr>
					<tr>
						<td>まんなか</td>
						<td>真ん中</td>
						<td>CHÂN TRUNG</td>
						<td>giữa, trung tâm</td>
					</tr>
					<tr>
						<td>すみ</td>
						<td>隅</td>
						<td>NGUNG</td>
						<td>góc</td>
					</tr>
					<tr>
						<td>まだ</td>
						<td></td>
						<td></td>
						<td>chưa</td>
					</tr>
					<tr>
						<td colspan="5">＜<b><ruby>会話<rp>(</rp>
									<rt>かいわ</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3">リュック</td>
						<td>ba lô</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>非常<rp>（</rp>
								<rt>ひじょう</rt>
								<rp>）</rp>
							</ruby><ruby>袋<rp>（</rp>
								<rt>ぶくろ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>túi (đựng vật dụng) khẩn cấp</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>非常<rp>（</rp>
								<rt>ひじょう</rt>
								<rp>）</rp>
							</ruby><ruby>時<rp>（</rp>
								<rt>じ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>trường hợp khẩn cấp, lúc khẩn cấp</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>生活<rp>（</rp>
								<rt>せいかつ</rt>
								<rp>）</rp>
							</ruby>します</td>
						<td>sinh hoạt, sống</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>懐中<rp>（</rp>
								<rt>かいちゅう</rt>
								<rp>）</rp>
							</ruby><ruby>電灯<rp>（</rp>
								<rt>でんとう</rt>
								<rp>）</rp>
							</ruby></td>
						<td>đèn pin</td>
					</tr>
					<tr>
						<td colspan="3">～とか、～とか</td>
						<td>như (là) ~, như (là) ~</td>
					</tr>
					<tr>
						<td colspan="4">＜<b><ruby>読<rp>(</rp>
									<rt>よ</rt>
									<rp>)</rp>
								</ruby>み<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>丸<rp>（</rp>
								<rt>まる</rt>
								<rp>）</rp>
							</ruby>い</td>
						<td>tròn</td>
					</tr>
					<tr>
						<td colspan="3">ある～</td>
						<td>có ~, một ~</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>夢<rp>（</rp>
								<rt>ゆめ</rt>
								<rp>）</rp>
							</ruby>を<ruby>見<rp>（</rp>
								<rt>み</rt>
								<rp>）</rp>
							</ruby>ます</td>
						<td>mơ</td>
					</tr>
					<tr>
						<td colspan="3">うれしい</td>
						<td>vui</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>嫌<rp>（</rp>
								<rt>いや</rt>
								<rp>）</rp>
							</ruby>[な]&nbsp;</td>
						<td>chán, ghét, không chấp nhận được</td>
					</tr>
					<tr>
						<td colspan="3">すると</td>
						<td>sau đó, tiếp đó, rồi, khi ~ như vậy thì</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>目<rp>（</rp>
								<rt>め</rt>
								<rp>）</rp>
							</ruby>が<ruby>覚<rp>（</rp>
								<rt>さ</rt>
								<rp>）</rp>
							</ruby>めます</td>
						<td>tỉnh giấc, mở mắt</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>