<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>はじまります「式が～」</td>
						<td></td>
						<td></td>
						<td>bắt đầu (buổi lễ ~)</td>
					</tr>
					<tr>
						<th>つづけます</th>
						<td>
							続ける</td>
						<td></td>
						<td>
							tiếp tục</td>
					</tr>
					<tr>
						<th>
							みつけます</th>
						<td>見つめます
						</td>
						<td></td>
						<td>tìm thấy</td>
					</tr>
					<tr>
						<th>うけます「しけんを」</th>
						<td>受けます</td>
						<td></td>
						<td>thi (kì thi)</td>
					</tr>
					<tr>
						<th>にゅうがくします「だいがくに」</th>
						<td>入学します</td>
						<td></td>
						<td>nhập học</td>
					</tr>
					<tr>
						<th>そつぎょうします「だいがくを」</th>
						<td>卒業します
						</td>
						<td></td>
						<td>tốt nghiệp</td>
					</tr>
					<tr>
						<th>きゅうけいします</th>
						<td>休憩します</td>
						<td></td>
						<td>giải lao</td>
					</tr>
					<tr>
						<th>れんきゅう</th>
						<td>
							連休</td>
						<td></td>
						<td>
							ngày nghỉ liền nhay</td>
					</tr>
					<tr>
						<th>さくぶん</th>
						<td>
							作文</td>
						<td></td>
						<td>bài văn
						</td>
					</tr>
					<tr>
						<th>
							てんらんかい</th>
						<td>展覧会</td>
						<td></td>
						<td>triển lãm
					</tr>
					<tr>
						<th>けっこんしき</th>
						<td>結婚式</td>
						<td></td>
						<td>lễ cưới, đám cưới</td>
					</tr>
					<tr>
						<th>お」そうしき</th>
						<td>「お」葬式</td>
						<td></td>
						<td>
							lễ tang, đám tang
					</tr>
					<tr>
						<th>しき</th>
						<td>式</td>
						<td></td>
						<td>
							buổi lễ</td>
					</tr>
					<tr>
						<th>ほんしゃ</th>
						<td>本社</td>
						<td></td>
						<td>trụ sở</td>
					</tr>
					<tr>
						<th>してん</th>
						<td>支店</td>
						<td></td>
						<td>chi nhánh</td>
					</tr>
					<tr>
						<th>
							きょうかい</th>
						<td>教会</td>
						<td></td>
						<td>nhà thờ</td>
					</tr>
					<tr>
						<th>だいがくいん</th>
						<td>大学院</td>
						<td></td>
						<td>
							cao học, cơ sở giáo dục trên đại học`</td>
					</tr>
					<tr>
						<th>どうぶつえん</th>
						<td>
							動物園</td>
						<td></td>
						<td>sở thú</td>
					</tr>
					<tr>
						<th>おんせん</th>
						<td>
							温泉</td>
						<td></td>
						<td>
							suối nước nóng</td>
					</tr>
					<tr>
						<th>おきゃく「さん」
						</th>
						<td>お客「さん」</td>
						<td></td>
						<td>khách hàng
						</td>
					</tr>
					<tr>
						<th>だれか```</th>
						<td>
						</td>
						<td></td>
						<td>
							ai đó</td>
					</tr>
					<tr>
						<th>～のほう</th>
						<td>
							～の　方</td>
						<td></td>
						<td>hướng</td>
					</tr>

					<tr>
						<th>ずっと</th>
						<td></td>
						<td></td>
						<td>suốt,liền</td>
					</tr>

					<tr>
						<th>のこります</th>
						<td>残ります</td>
						<td></td>
						<td>còn dư</td>
					</tr>

					<tr>
						<th>つきに</th>
						<td>月に</td>
						<td></td>
						<td>một tháng</td>
					</tr>

					<tr>
						<th>
							ふつうの</th>
						<td>普通の</td>
						<td></td>
						<td>thường</td>
					</tr>
					<tr>
						<th>インターネット</th>
						<td></td>
						<td></td>
						<td>
							internet</td>
					</tr>
					<tr>
						<th>
							むら</th>
						<td>村</td>
						<td> </td>
						<td>làng</td>
					</tr>
					<tr>
						<th>えいがかん</th>
						<td>
							映画館`</td>
						<td></td>
						<td>rạp chiếu phim</td>
					</tr>
					<tr>
						<th>
							とかい</th>
						<td>都会</td>
						<td></td>
						<td>thành phố</td>
					</tr>
					<tr>
						<th>こどもたち</th>
						<td>子供たち</td>
						<td></td>
						<td>bọn trẻ</td>
					</tr>
					<tr>
						<th>
							せかいじゅう</th>
						<td>
							世界中</td>
						<td></td>
						<td>
							khắp thể giới</td>
					</tr>
					<tr>
						<th>
							あつまります</th>
						<td>集まります</td>
						<td></td>
						<td>tập hợp</td>
					</tr>
					<tr>
						<th>うつくしい</th>
						<td>美しい</td>
						<td></td>
						<td>
							đẹp</td>
					</tr>
					<tr>
						<th>
							しぜん </th>
						<td>
							自然</td>
						<td></td>
						<td>
							thiên nhiên</td>
					</tr>
					<tr>
						<th>
							きがつきます</th>
						<td>気が付きます</td>
						<td></td>
						<td>để ý,nhận ra</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>