<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="tv">Từ Vựng</th>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>あきます<br>　[ドアが～]</td>
						<td>開きます</td>
						<td>KHAI</td>
						<td>mở [cửa ~]</td>
					</tr>
					<tr>
						<td>しまります<br>　[ドアが～]</td>
						<td>閉まります</td>
						<td>BẾ</td>
						<td>đóng [cửa ~]</td>
					</tr>
					<tr>
						<td>つきます<br>　[でんきが～]</td>
						<td>つきます<br>[電気が～]</td>
						<td>ĐIỆN KHÍ</td>
						<td>sáng [điện ~]</td>
					</tr>
					<tr>
						<td>きえます<br>　[でんきが～]</td>
						<td>消えます<br>[電気が～]</td>
						<td>TIÊU<br>ĐIỆN KHÍ </td>
						<td>tắt [điện ~]</td>
					</tr>
					<tr>
						<td>こわれます<br>　[いすが～]</td>
						<td>壊れます</td>
						<td>HOẠI</td>
						<td>hỏng [cái ghế bị ~]</td>
					</tr>
					<tr>
						<td>われます<br>　[コップが～]</td>
						<td>割れます</td>
						<td>CÁT</td>
						<td>vỡ [cái cốc bị ~]</td>
					</tr>
					<tr>
						<td>おれます<br>　[きが～] </td>
						<td>折れます<br>[木が～]</td>
						<td>TRIẾT<br>MỘC </td>
						<td>gãy [cái cây bị ~]</td>
					</tr>
					<tr>
						<td>やぶれます<br>　[かみが～]</td>
						<td>破れます<br>[紙が～]</td>
						<td>PHÁ<br>CHỈ </td>
						<td>rách [tờ giấy bị ~]</td>
					</tr>
					<tr>
						<td>よごれます<br>　[ふくが～]</td>
						<td>汚れます<br>[服が～]</td>
						<td>Ô<br>PHỤC </td>
						<td>bẩn [quần áo bị ~]</td>
					</tr>
					<tr>
						<td>つきます<br>　[ポケットが～]</td>
						<td>付きます</td>
						<td>PHÓ</td>
						<td>có, có gắn, có kèm theo [túi]</td>
					</tr>
					<tr>
						<td>はずれます<br>　[ボタンが～]</td>
						<td>外れます</td>
						<td>NGOẠI</td>
						<td>tuột, bung [cái cúc bị ~]</td>
					</tr>
					<tr>
						<td>とまります<br>　[くるまが～]</td>
						<td>止まります</td>
						<td>CHỈ</td>
						<td>dừng [thang máy ~]</td>
					</tr>
					<tr>
						<td>まちがえます</td>
						<td></td>
						<td></td>
						<td>nhầm, sai</td>
					</tr>
					<tr>
						<td>おとします</td>
						<td>落とします</td>
						<td>LẠC</td>
						<td>đánh rơi</td>
					</tr>
					<tr>
						<td>かかります<br>　[かぎが～]</td>
						<td>掛かります</td>
						<td>QUẢI</td>
						<td>khóa [chìa khóa ~]</td>
					</tr>
					<tr>
						<td>ふきます</td>
						<td></td>
						<td></td>
						<td>lau, chùi</td>
					</tr>
					<tr>
						<td>とりかえます</td>
						<td>取り替えます</td>
						<td>THỦ HOÁN</td>
						<td>thay</td>
					</tr>
					<tr>
						<td>かたづけます</td>
						<td>片づけます</td>
						<td>PHIẾN</td>
						<td>dọn dẹp</td>
					</tr>
					<tr>
						<td>[お]さら</td>
						<td>[お]皿</td>
						<td>MÃNH</td>
						<td>cái đĩa</td>
					</tr>
					<tr>
						<td>[お]ちゃわん</td>
						<td></td>
						<td></td>
						<td>cái bát</td>
					</tr>
					<tr>
						<td>コップ</td>
						<td></td>
						<td></td>
						<td>cái cốc</td>
					</tr>
					<tr>
						<td>ガラス</td>
						<td></td>
						<td></td>
						<td>thủy tinh (glass)</td>
					</tr>
					<tr>
						<td>ふくろ</td>
						<td>袋</td>
						<td>ĐẠI</td>
						<td>cái túi</td>
					</tr>
					<tr>
						<td>しょるい</td>
						<td>書類</td>
						<td>THƯ LOẠI</td>
						<td>giấy tờ</td>
					</tr>
					<tr>
						<td>えだ</td>
						<td>枝</td>
						<td>CHI</td>
						<td>cành cây</td>
					</tr>
					<tr>
						<td>えきいん</td>
						<td>駅員</td>
						<td>DỊCH VIÊN</td>
						<td>nhân viên nhà ga</td>
					</tr>
					<tr>
						<td>こうばん</td>
						<td>交番</td>
						<td>GIAO PHIÊN</td>
						<td>đồn cảnh sát, bốt cảnh sát</td>
					</tr>
					<tr>
						<td>スピーチ</td>
						<td></td>
						<td></td>
						<td>diễn văn</td>
					</tr>
					<tr>
						<td>へんじ</td>
						<td>返事</td>
						<td>PHẢN SỰ</td>
						<td>trả lời, hồi âm</td>
					</tr>
					<tr>
						<td>おさきにどうぞ。</td>
						<td>お先にどうぞ。</td>
						<td>TIÊN</td>
						<td>Xin mời anh/chị đi trước.</td>
					</tr>
					<tr>
						<td>げんじものがたり</td>
						<td>源氏物語</td>
						<td>NGUYÊN THỊ <br>VẬT NGỮ</td>
						<td>tiểu thuyết được viết bởi Murasaki<br> Shikibu vào thời Heian</td>
					</tr>
					<tr>
						<td colspan="5">＜<b><ruby>会話<rp>(</rp>
									<rt>かいわ</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>今<rp>（</rp>
								<rt>いま</rt>
								<rp>）</rp>
							</ruby>の<ruby>電車<rp>（</rp>
								<rt>でんしゃ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>đoàn tàu vừa rồi</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>忘<rp>（</rp>
								<rt>わす</rt>
								<rp>）</rp>
							</ruby>れ<ruby>物<rp>（</rp>
								<rt>もの</rt>
								<rp>）</rp>
							</ruby></td>
						<td>vật để quên</td>
					</tr>
					<tr>
						<td colspan="3">このくらい</td>
						<td>khoảng ngần này, cỡ khoảng như thế này</td>
					</tr>
					<tr>
						<td colspan="3">～<ruby>側<rp>（</rp>
								<rt>がわ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>phía ~, bên ~</td>
					</tr>
					<tr>
						<td colspan="3">ポケット</td>
						<td>túi áo, túi quần (pocket)</td>
					</tr>
					<tr>
						<td colspan="3">～<ruby>辺<rp>（</rp>
								<rt>へん</rt>
								<rp>）</rp>
							</ruby></td>
						<td>xung quanh ~, chỗ ~</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>覚<rp>（</rp>
								<rt>おぼ</rt>
								<rp>）</rp>
							</ruby>えていません。</td>
						<td>Tôi không nhớ.</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>網棚<rp>（</rp>
								<rt>あみだな</rt>
								<rp>）</rp>
							</ruby></td>
						<td>giá lưới, giá hành lý (trên tàu)</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>確<rp>（</rp>
								<rt>たし</rt>
								<rp>）</rp>
							</ruby>か</td>
						<td>nếu không lầm thì</td>
					</tr>
					<tr>
						<td colspan="3">[ああ、]よかった。</td>
						<td>ồ, may quá.</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>新宿<rp>（</rp>
								<rt>しんじゅく</rt>
								<rp>）</rp>
							</ruby></td>
						<td>tên một địa điểm, nhà ga ở Tokyo</td>
					</tr>
					<tr>
						<td colspan="4">＜<b><ruby>読<rp>(</rp>
									<rt>よ</rt>
									<rp>)</rp>
								</ruby>み<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby></b>＞</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>地震<rp>（</rp>
								<rt>じしん</rt>
								<rp>）</rp>
							</ruby></td>
						<td>động đất</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>壁<rp>（</rp>
								<rt>かべ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>bức tường</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>針<rp>（</rp>
								<rt>はり</rt>
								<rp>）</rp>
							</ruby></td>
						<td>kim đồng hồ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>指<rp>（</rp>
								<rt>さ</rt>
								<rp>）</rp>
							</ruby>します</td>
						<td>chỉ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>駅前<rp>（</rp>
								<rt>えきまえ</rt>
								<rp>）</rp>
							</ruby></td>
						<td>khu vực trước nhà ga</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>倒<rp>（</rp>
								<rt>たお</rt>
								<rp>）</rp>
							</ruby>れます</td>
						<td>đổ</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>西<rp>（</rp>
								<rt>にし</rt>
								<rp>）</rp>
							</ruby></td>
						<td>tây, phía tây</td>
					</tr>
					<tr>
						<td colspan="3">～の<ruby>方<rp>（</rp>
								<rt>ほう</rt>
								<rp>）</rp>
							</ruby></td>
						<td>hướng, phương hướng</td>
					</tr>
					<tr>
						<td colspan="3"><ruby>燃<rp>（</rp>
								<rt>も</rt>
								<rp>）</rp>
							</ruby>えます</td>
						<td>cháy</td>
					</tr>
					<tr>
						<td colspan="3">レポーター</td>
						<td>phóng viên</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>