<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>おぼえます</th>
						<td>覚えます</td>
						<td>GIÁC</td>
						<td>nhớ</td>
					</tr>
					<tr>
						<th>わすれます</th>
						<td>忘れます</td>
						<td>VONG</td>
						<td>quên</td>
					</tr>
					<tr>
						<th>なくします</th>
						<td></td>
						<td></td>
						<td>mất, đánh mất</td>
					</tr>
					<tr>
						<th>はらいます</th>
						<td>払います</td>
						<td>PHẤT</td>
						<td>trả tiền</td>
					</tr>
					<tr>
						<th>かえします</th>
						<td>返します</td>
						<td>PHẢN</td>
						<td>trả lại</td>
					</tr>
					<tr>
						<th>でかけます</th>
						<td>出かけます</td>
						<td>XUẤT</td>
						<td>ra ngoài</td>
					</tr>
					<tr>
						<th>ぬぎます</th>
						<td>脱ぎます</td>
						<td>THOÁT</td>
						<td>cởi (quần áo, giầy)</td>
					</tr>
					<tr>
						<th>もっていきます</th>
						<td>持って行きます</td>
						<td>TRÌ HÀNH</td>
						<td>mang đi, mang theo</td>
					</tr>
					<tr>
						<th>もってきます</th>
						<td>持って来ます</td>
						<td>TRÌ LAI</td>
						<td>mang đến</td>
					</tr>
					<tr>
						<th>しんぱいします</th>
						<td>心配します</td>
						<td>TÂM PHỐI</td>
						<td>lo lắng</td>
					</tr>
					<tr>
						<th>ざんぎょうします</th>
						<td>残業します</td>
						<td>TÀN NGHIỆP</td>
						<td>làm thêm, làm quá giờ</td>
					</tr>
					<tr>
						<th>しゅっちょうします</th>
						<td>出張します</td>
						<td>XUẤT TRƯƠNG</td>
						<td>đi công tác</td>
					</tr>
					<tr>
						<th>
							のみます<br />
							[くすりを～]
						</th>
						<td>飲みます<br />[薬を～]</td>
						<td>ẨM<br />DƯỢC</td>
						<td>uống [thuốc]</td>
					</tr>
					<tr>
						<th>
							はいります<br />
							[おふろに～]
						</th>
						<td>入ります<br />[おふろに～]</td>
						<td>NHẬP</td>
						<td>tắm bồn [vào bồn tắm]</td>
					</tr>
					<tr>
						<th>たいせつ[な]</th>
						<td>大切[な]</td>
						<td>ĐẠI THIẾT</td>
						<td>quan trọng, quý giá</td>
					</tr>
					<tr>
						<th>だいじょうぶ[な]</th>
						<td>大丈夫[な]</td>
						<td>ĐẠI TRƯỢNG PHU</td>
						<td>không sao, không có vấn đề gì</td>
					</tr>
					<tr>
						<th>あぶない</th>
						<td>危ない</td>
						<td>NGUY</td>
						<td>nguy hiểm</td>
					</tr>
					<tr>
						<th>きんえん</th>
						<td>禁煙</td>
						<td>CẤM YÊN</td>
						<td>cấm hút thuốc</td>
					</tr>
					<tr>
						<th>[けんこう]ほけんしょう</th>
						<td>[健康]保険証</td>
						<td>KIỆN KHANG</td>
						<td>thẻ bảo hiểm [y tế]</td>
					</tr>
					<tr>
						<th>ねつ</th>
						<td>熱</td>
						<td>NHIỆT</td>
						<td>sốt</td>
					</tr>
					<tr>
						<th>びょうき</th>
						<td>病気</td>
						<td>BỆNH KHÍ</td>
						<td>ốm, bệnh</td>
					</tr>
					<tr>
						<th>くすり</th>
						<td>薬</td>
						<td>DƯỢC</td>
						<td>thuốc</td>
					</tr>
					<tr>
						<th>[お]ふろ</th>
						<td></td>
						<td></td>
						<td>bồn tắm</td>
					</tr>
					<tr>
						<th>うわぎ</th>
						<td>上着</td>
						<td>THƯỢNG TRƯỚC</td>
						<td>áo khoác</td>
					</tr>
					<tr>
						<th>したぎ</th>
						<td>下着</td>
						<td>HẠ TRƯỚC</td>
						<td>quần áo lót</td>
					</tr>
					<tr>
						<th>～までに</th>
						<td></td>
						<td></td>
						<td>trước ~ (chỉ thời hạn)</td>
					</tr>
					<tr>
						<th>ですから</th>
						<td></td>
						<td></td>
						<td>vì thế, vì vậy, do đó</td>
					</tr>
					<tr>
						<th colspan="3">どうしましたか。</th>
						<td>Có vần đề gì?<br />Anh/chị bị làm sao?</td>
					</tr>
					<tr>
						<th colspan="3">のど</th>
						<td>họng</td>
					</tr>
					<tr>
						<th colspan="3">
							[～が]<ruby>痛<rp>（</rp>
								<rt>いた</rt>
								<rp>）</rp>
							</ruby>いです。
						</th>
						<td>Tôi bị đau [~].</td>
					</tr>
					<tr>
						<th colspan="3">かぜ</th>
						<td>cảm, cúm</td>
					</tr>
					<tr>
						<th colspan="3">それから</th>
						<td>và, sau đó</td>
					</tr>
					<tr>
						<th colspan="3">
							お<ruby>大事<rp>（</rp>
								<rt>だいじ</rt>
								<rp>）</rp>
							</ruby>に
						</th>
						<td>
							Anh/chị nhớ giữ gìn sức khỏe.<br />
							(câu nói với người ốm,bị bệnh)
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>