<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="tv">Từ Vựng</th>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody><tr>
							<td>かいます</td>
							<td>飼います</td>
							<td>TỰ</td>
							<td>nuôi (động vật)</td>
							</tr><tr>
							<td>はしります<br>　[みちを～]</td>
							<td>走ります<br>[道を～]</td>
							<td>TẨU<br>ĐẠO </td>
							<td>chạy [trên đường]</td>
							</tr><tr>
							<td>みえます<br>　[やまが～] </td>
							<td>見えます<br>[山が～]</td>
							<td>KIẾN<br>SƠN </td>
							<td>nhìn thấy, có thể nhìn thấy [núi]</td>
							</tr><tr>
							<td>きこえます<br>　[おとが～]</td>
							<td>聞こえます<br>[音が～]</td>
							<td>VĂN<br>ÂM </td>
							<td>nghe thấy, có thể nghe thấy<br>      [âm thanh~]</td>
							</tr><tr>
							<td>できます<br>　[みちが～]</td>
							<td>できます<br>[道が～]</td>
							<td>ĐẠO</td>
							<td>được xây dựng lên, hoàn thành <br>     [con đường~]</td>
							</tr><tr>
							<td>ひらきます<br>　[きょうしつを～]</td>
							<td>開きます<br>[教室を～]</td>
							<td>KHAI<br>GIÁO THẤT </td>
							<td>mở [lớp học]</td>
							</tr><tr>
							<td>しんぱい[な]</td>
							<td>心配[な]</td>
							<td>TÂM PHỐI</td>
							<td>lo lắng</td>
							</tr><tr>
							<td>ペット</td>
							<td></td>
							<td></td>
							<td>động vật cảnh (pet)</td>
							</tr><tr>
							<td>とり</td>
							<td>鳥</td>
							<td>ĐIẾU</td>
							<td>chim</td>
							</tr><tr>
							<td>こえ</td>
							<td>声</td>
							<td>THANH</td>
							<td>tiếng nói, giọng nói</td>
							</tr><tr>
							<td>なみ</td>
							<td>波</td>
							<td>BA</td>
							<td>sóng</td>
							</tr><tr>
							<td>はなび</td>
							<td>花火</td>
							<td>HOA HỎA</td>
							<td>pháo hoa</td>
							</tr><tr>
							<td>どうぐ</td>
							<td>道具</td>
							<td>ĐẠO CỤ</td>
							<td>dụng cụ, công cụ</td>
							</tr><tr>
							<td>クリーニング</td>
							<td></td>
							<td></td>
							<td>giặt ủi</td>
							</tr><tr>
							<td>いえ</td>
							<td>家</td>
							<td>GIA</td>
							<td>nhà</td>
							</tr><tr>
							<td>マンション</td>
							<td></td>
							<td></td>
							<td>nhà chung cư</td>
							</tr><tr>
							<td>キッチン</td>
							<td></td>
							<td></td>
							<td>bếp</td>
							</tr><tr>
							<td>～きょうしつ</td>
							<td>～教室</td>
							<td>GIÁO THẤT</td>
							<td>lớp học ~</td>
							</tr><tr>
							<td>パーティールーム</td>
							<td></td>
							<td></td>
							<td>phòng tiệc</td>
							</tr><tr>
							<td>かた</td>
							<td>方</td>
							<td>PHƯƠNG</td>
							<td>vị, ngài (kính ngữ của ひと)</td>
							</tr><tr>
							<td>～ご</td>
							<td>～後</td>
							<td>HẬU</td>
							<td>~ sau (khoảng thời gian)</td>
							</tr><tr>
							<td>～しか</td>
							<td></td>
							<td></td>
							<td>chỉ ~ (dùng với thể phủ định)</td>
							</tr><tr>
							<td>ほかの</td>
							<td></td>
							<td></td>
							<td>khác</td>
							</tr><tr>
							<td>はっきり</td>
							<td></td>
							<td></td>
							<td>rõ, rõ ràng</td>
							</tr><tr><td colspan="4">＜<b><ruby>会話<rp>(</rp><rt>かいわ</rt><rp>)</rp></ruby></b>＞</td></tr><tr>
							<td colspan="2">かぐ</td>
							<td>đồ gỗ trong nhà</td>
							</tr><tr>
							<td colspan="2">ほんだな</td>
							<td>giá sách</td>
							</tr><tr>
							<td colspan="2">いつか</td>
							<td>một ngày nào đó, một lúc nào đó</td>
							</tr><tr>
							<td colspan="2">たてます</td>
							<td>xây</td>
							</tr><tr>
							<td colspan="2">すばらしい</td>
							<td>tuyệt vời</td>
							</tr><tr><td colspan="4">＜<b><ruby>読<rp>(</rp><rt>よ</rt><rp>)</rp></ruby>み<ruby>物<rp>(</rp><rt>もの</rt><rp>)</rp></ruby></b>＞</td></tr><tr>
							<td colspan="3"><ruby>子<rp>（</rp><rt>こ</rt><rp>）</rp></ruby>どもたち</td><td>trẻ em, trẻ con, con cái</td>
							</tr><tr>
							<td colspan="3"><ruby>大好<rp>（</rp><rt>だいす</rt><rp>）</rp></ruby>き[な]　</td><td>rất thích</td>
							</tr><tr>
							<td colspan="3"><ruby>主人公<rp>（</rp><rt>しゅじんこう</rt><rp>）</rp></ruby></td><td>nhân vật chính</td>
							</tr><tr>
							<td colspan="3"><ruby>形<rp>（</rp><rt>かたち</rt><rp>）</rp></ruby></td><td>hình, dạng</td>
							</tr><tr>
							<td colspan="3"><ruby>不思議<rp>（</rp><rt>ふしぎ</rt><rp>）</rp></ruby>[な]</td><td>bí ẩn, kỳ thú</td>
							</tr><tr>
							<td colspan="3">ポケット</td><td>chiếc túi</td>
							</tr><tr>
							<td colspan="3"><ruby>例<rp>（</rp><rt>たと</rt><rp>）</rp></ruby>えば</td><td>ví dụ</td>
							</tr><tr>
							<td colspan="3"><ruby>付<rp>（</rp><rt>つ</rt><rp>）</rp></ruby>けます　</td><td>lắp, ghép thêm</td>
							</tr><tr>
							<td colspan="3"><ruby>自由<rp>（</rp><rt>じゆう</rt><rp>）</rp></ruby>に</td><td>tự do, tùy thích</td>
							</tr><tr>
							<td colspan="3"><ruby>空<rp>（</rp><rt>そら</rt><rp>）</rp></ruby></td><td>bầu trời</td>
							</tr><tr>
							<td colspan="3"><ruby>飛<rp>（</rp><rt>と</rt><rp>）</rp></ruby>びます</td><td>bay</td>
							</tr><tr>
							<td colspan="3"><ruby>昔<rp>（</rp><rt>むかし</rt><rp>）</rp></ruby></td><td>ngày xưa</td>
							</tr><tr>
							<td colspan="3"><ruby>自分<rp>（</rp><rt>じぶん</rt><rp>）</rp></ruby></td><td>bản thân, mình</td>
							</tr><tr>
							<td colspan="3"><ruby>将来<rp>（</rp><rt>しょうらい</rt><rp>）</rp></ruby></td><td>tương lai</td>
							</tr><tr>
							<td colspan="3">ドラえもん</td><td>tên một nhân vật trong truyện tranh<br> (Doremon)</td>
							</tr>
			</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>