<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link
      rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"
	/>
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="homepage">Home</a></li>
                <li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
                <li class="link"><a th:href="happyo">Happyo</a></li>
                <li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
	</header>
	
	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead class="thead-dark">
				<tr>
					<th>Từ Vựng</th>
					<th>Hán Tự</th>
					<th>Âm Hán</th>
					<th>Nghĩa</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>みます</td>
					<td>見る</td>
					<td>kiến</td>`
					<td>xem,nhìn</td>
				</tr>
				<tr>
					<th>さがします</th>
					<td>探します,捜します</td>
					<td>THÁM、SƯU</td>
					<td>tìm, tìm kiếm</td>
				</tr>
				<tr>
					<th>[じかんに～] おくれます</th>
					<td>[時間に～]遅れます
					</td>
					<td>THỜI GIAN TRÌ</td>
					<td>chậm, muộn [cuộc hẹn,v.v.]</td>
				</tr>
				<tr>
					<th>やります</th>
					<td></td>
					<td></td>
					<td>làm</td>
				</tr>
				<tr>
					<th>[パーティーに～]さんかします</th>
					<td>[パーティーに～]参加します</td>
					<td>THAM GIA</td>
					<td>tham gia, dự [buổi tiệc]</td>
				</tr>
				<tr>
					<th>もうしこみます</th>
					<td>申し込みます</td>
					<td>THÂN VÀO</td>
					<td>đăng ký</td>
				</tr>
				<tr>
					<th>つごうが　いい</th>
					<td>都合が　いい</td>
					<td>ĐÔ HỢP</td>
					<td>có thời gian, thuận tiện</td>
				</tr>
				<tr>
					<th>つごうが　わるい</th>
					<td>都合が　悪い</td>
					<td>ĐÔ HỢP ÁC</td>
					<td>không có thời gian, bận, không thuận tiện</td>
				</tr>
				<tr>
					<th>きぶんがいい</th>
					<td>気分がいい</td>
					<td>KHÍ PHÂN</td>
					<td>cảm thấy tốt, cảm thấy khỏe</td>
				</tr>
				<tr>
					<th>
						しんぶんしゃ</th>
					<td>新聞社</td>
					<td>TÂN VĂN XÃ</td>
					<td>công ty phát hành báo, tòa soạn báo
				</tr>
				<tr>
					<th>うんどうかい</th>
					<td>運動会</td>
					<td>VẬN ĐỘNG HỘI</td>
					<td>hội thi thể thao</td>
				</tr>
				<tr>
					<th>ばしょ</th>
					<td>場所</td>
					<td>TRƯỜNG SỞ</td>
					<td>địa điểm</td>
				</tr>
				<tr>
					<th>ボランティア</th>
					<td></td>
					<td></td>
					<td>tình nguyện viên</td>
				</tr>
				<tr>
					<th>～べん</th>
					<td>～弁</td>
					<td>BIỆN</td>
					<td>tiếng ~, giọng ~</td>
				</tr>
				<tr>
					<th>こんど</th>
					<td>今度</td>
					<td>KIM ĐỘ</td>
					<td>lần tới</td>
				</tr>
				<tr>
					<th>ずいぶん</th>
					<td></td>
					<td></td>
					<td>khá, tương đối</td>
				</tr>
				<tr>
					<th>ちょくせつ</th>
					<td>直接</td>
					<td>TRỰC TIẾP</td>
					<td>trực tiếp</td>
				</tr>
				<tr>
					<th>いつでも</th>
					<td></td>
					<td></td>
					<td>lúc nào cũng</td>
				</tr>
				<tr>
					<th>どこでも</th>
					<td></td>
					<td></td>
					<td>ở đâu cũng</td>
				</tr>
				<tr>
					<th>だれでも</th>
					<td></td>
					<td></td>
					<td>
						ai cũng
					</td>
				</tr>
				<tr>
					<th>なんでも</th>
					<td>何でも</td>
					<td>HÀ</td>
					<td>cái gì cũng</td>
				</tr>
				<tr>
					<th>こんな～</th>
					<td></td>
					<td></td>
					<td>như thế này</td>
				</tr>

				<tr>
					<th>そんな～</th>
					<td></td>
					<td></td>
					<td>~ như thế đó (gần người nghe)</td>
				</tr>

				<tr>
					<th>ＮＨＫ</th>
					<td></td>
					<td></td>
					<td>Nippon Hoso Kyokai (hãng phát thanh truyền hình)</td>
				</tr>

				<tr>
					<th>こどものひ</th>
					<td>こどもの日</td>
					<td>NHẬT</td>
					<td>ngày trẻ em</td>
				</tr>

				<tr>
					<th>エドヤストア</th>
					<td></td>
					<td></td>
					<td>tên một cửa hàng (giả tưởng)</td>
				</tr>
				<tr>
					<th>こどものひ</th>
					<td>こどもの日</td>
					<td>NHẬT</td>
					<td>ngày trẻ em</td>
				</tr>
				<tr>
					<th>エドヤストア</th>
					<td></td>
					<td></td>
					<td>tên một cửa hàng (giả tưởng)</td>
				</tr>
				<tr>
					<th>[にもつが～] かたづきます</th>
					<td>[荷物が～] 片付きます</td>
					<td>HÀ VẬT PHIẾN PHÓ</td>
					<td>được dọn dẹp ngăn nắp, gọn gàng [đồ đạc ~]</td>
				</tr>
				<tr>
					<th>ごみ</th>
					<td></td>
					<td></td>
					<td>rác</td>
				</tr>
				<tr>
					<th>	
						だします</th>
					<td>[ごみを～] 出します</td>
					<td>XUẤT</td>
					<td>đổ, để [rác]</td>
				</tr>
				<tr>
					<th>もえます</th>
					<td>[ごみが～] 燃えます</td>
					<td>NHIÊN</td>
					<td>cháy được [rác ~]</td>
				</tr>
				<tr>
					<th>げっ・すい・きん</th>
					<td>月・水・金</td>
					<td>NGUYỆT THỦY KIM</td>
					<td>thứ hai, thứ tư, thứ sáu</td>
				</tr>
				<tr>
					<th>おきば</th>
					<td>置き場</td>
					<td>TRÍ TRƯỜNG</td>
					<td>nơi để</td>
				</tr>
				<tr>
					<th>よこ</th>
					<td>横</td>
					<td>HOÀNH</td>
					<td>bên cạnh</td>
				</tr>
				<tr>
					<th>びん</th>
					<td>瓶</td>
					<td>BÌNH</td>
					<td>cái chai</td>
				</tr>
				<tr>
					<th>かん</th>
					<td>缶</td>
					<td>PHẪU</td>
					<td>cái lon, hộp kim loại</td>
				</tr>
				<tr>
					<th>「お」ゆ</th>
					<td>[お]湯</td>
					<td>THANG</td>
					<td>nước nóng</td>
				</tr>
				<tr>
					<th>ガス</th>
					<td></td>
					<td></td>
					<td>ga</td>
				</tr>
				<tr>
					<th>～がいしゃ</th>
					<td>～会社</td>
					<td>HỘI XÃ</td>
					<td>công ty ~</td>
				</tr>
				<tr>
					<th>れんらくします</th>
					<td>連絡します</td>
					<td>LIÊN LẠC</td>
					<td>liên lạc</td>
				</tr>
				<tr>
					<th>こまったなあ。</th>
					<td>困ったなあ。</td>
					<td>KHỐN</td>
					<td>Làm thế nào đây!/ căng quá nhỉ!/ gay quá!</td>
				</tr>
				<tr>
					<th>	
						でんしメール</th>
					<td>電子メール

					</td>
					<td>ĐIỆN TỬ</td>
					<td>thư điện tử, e-mail</td>
				</tr>
				<tr>
					<th>うちゅう</th>
					<td>宇宙</td>
					<td>VŨ TRỤ</td>
					<td>VŨ TRỤ</td>
				</tr>
				<tr>
					<th>こわい</th>
					<td>怖い</td>
					<td>BỐ</td>
					<td>sợ</td>
				</tr>
				<tr>
					<th>うちゅうせん</th>
					<td>宇宙船</td>
					<td>VŨ TRỤ THUYỀN</td>
					<td>tàu vũ trụ</td>
				</tr>
				<tr>
					<th>べつの</th>
					<td>別の</td>
					<td>BIỆT</td>
					<td>khác</td>
				</tr>
				<tr>
					<th>うちゅうひこうし</th>
					<td>宇宙飛行士

					</td>
					<td>VŨ TRỤ PHI HÀNH SĨ</td>
					<td>nhà du hành vũ trụ</td>
				</tr>
				<tr>
					<th>どいたかお</th>
					<td>土井隆雄</td>
					<td>THỔ TỈNH LONG HÙNG</td>
					<td>nhà du hành vũ trụ người Nhật (1954- )</td>
				</tr>

			</tbody>
		</table>
		  </div>
		<!-- End Table -->
	  </div>
	  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>