<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<title>日本語</title>
	<style>
		.flex-container {
			display: flex;
			flex-wrap: wrap;
		}

		.flex-content {
			width: 65%;
			height: auto;
			margin: 0 10px 0 0;
			border: #888 1px solid;
			padding: 15px;
			box-shadow: 3px 8px #888888;
		}

		.flex-list {
			width: 30%;
			height: 300px;
			padding: 5px;
			position: sticky;
			top: 0;
			border: 1px solid #888;
			box-shadow: 5px 10px #888888;
		}

		.title {
			font-size: 2em;
			letter-spacing: -1px;
			text-align: left;
		}

		.structure {
			color: #008080;
			font-size: 20px;
		}

		.meaning {
			color: coral;
		}

		.example {
			margin-bottom: 15px;
			line-height: 2em;
		}

		.example-title {
			font-size: 20px;
			font-style: oblique;
			text-decoration: underline;
		}

		.list-title {
			font-size: 20px;
			color: #008080;
			text-align: center;
		}

		@media screen and (max-width: 640px) {
			.flex-content {
				width: 100%;
			}

			.flex-list {
				display: none;
			}
		}
	</style>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr />
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link">
					<a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<div class="flex-container">
			<div class="flex-content">
				<!-- Phần 1 -->
				<div class="title" id="1">
					1. Động từ thể て あります
				</div>
				<div class="structure">
					Diễn tả một trạng thái phát sinh là kết quả của hành động có chủ ý
					của ai<br />
					Động từ được dùng ở đây là ngoại động từ và động từ biểu thị chú ý
				</div>
				<!-- Phần 2 -->
				<div class="title" id="2">
					2. Danh từ 1 + に + danh từ 2 + động từ thể て あります
				</div>
				<div class="structure">
					Cách dùng:<br />
					Mẫu câu này dùng để diễn tả chi tiết một vật hiện hữu ở trạng thái
					như thế nào.<br />
					Động từ sử dụng trong câu là ngoại động từ, là động từ biểu thị sự
					chủ ý của ai đó
				</div>
				<div class="meaning"></div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					カレンダーにこんしゅうのよていがかいてあります<br />
					Ở trên lịch có ghi lịch làm việc của tuần này<br />
					かべに かがみ をかけて あります<br />
					Ở trên tường có treo cái gương
				</div>
				<!-- Phần 3 -->
				<div class="title" id="3">
					3. Danh từ 2 は danh từ 1 に động từ thể て あります
				</div>
				<div class="structure">
					Cách dùng :<br />
					Mẫu câu này dùng để diễn tả danh từ 2 ở cấu trúc phần 1 là chủ đề
					của câu văn
				</div>
				<div class="meaning"></div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					かがみはかべにかけて あります<br />
					Cái gương ở trên tường<br />
					こんしゅうのよていはカレンダーにかいてあります<br />
					Lịch làm việc của tuần này ghi ở trên lịch<br />

					Mẫu câu còn dùng để diễn tả một việc gì đó/ một hành động gì đó đã
					được chuẩn bị xong。Trong trường hợp này hay đi kèm với [もう]
					<br />Ví dụ : かいぎしすの じかんはもうみなさんにしらせてあります<br />
					Giờ của buổi hội nghị đã thông báo cho mọi người rồi<br />
					たんじょうびの プレゼントはもうかってあります<br />
					Tôi đã mua quà sinh nhật (sẵn) rồi<br />
					<b>Chú ý: Phân biệt động từ thể　て あります và động từ thể　て
						います:</b><br />
					Động từ sử dụng trong thể て います hầu hết là nội động từ<br />
					Động từ sử dụng trong thể てあります là ngoại động từ<br />
					Ví dụ :<br />
					ドアをしめる<br />
					Cửa đóng<br />
					ドアが しめて あります<br />
					Cửa (đang được) đóng. (Vì một mục đích/ lý do mà cửa đang được
					đóng)<br />
					ドアが しまて います<br />
					Cửa (đang) đóng. (Tình trạng hiện giờ cửa đang được đóng)
				</div>
				<!-- Phần 4 -->
				<div class="title" id="4">
					4. Động từ thể て おき ます
				</div>
				<div class="structure">
					Mẫu câu này dùng để diễn tả việc đã hoàn thành xong trước một thời
					điểm nhất định
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					かいぎしつのまえになにをしておき ますか<br />
					Trước khi họp, phải chuẩn bị sẵn cái gì?<br />
					しりょうをコピーしておき ます<br />
					Photo sẵn các tài liệu<br />
					りょこうのまえに ホテルをよやくしておいたら いい です よ<br />
					Trước khi đi du lịch, nên đặt phòng trước thì được đó
				</div>
				<div class="structure">
					Dùng để xử lý tình huống sau khi thực hiện một hành động nào đó hoặc
					đưa ra giải pháp tạm thời
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					このざっし はぜんぶ よんだら, ひきだしにおしておいて ください<br />
					Sau khi đọc xong quyển tạp chí này, hãy để lại vào ngăn kéo
				</div>
				<div class="structure">
					Dùng để diễn tả việc giữ nguyên hay duy trì một trạng thái nào đó
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					まどをし めて もいい でか<br />
					Tôi đóng cửa sổ cũng được chứ?<br />
					すみ ません, ちょっとあついです から, その まま あげておいて
					ください<br />
					Xin lỗi, vì hơi nóng một chút nên xin cứ để nguyên như vậy giúp
				</div>
				<!-- Phần 5 -->
				<div class="title" id="5">
					5. まだ + động từ (thể khẳng định)
				</div>
				<div class="structure">
					Cách dùng : Đây là mẫu câu dùng để diễn tả một trạng thái vẫn còn
					đang tiếp diễn
				</div>
				<div class="meaning">
					Ý nghĩa: vẫn còn
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					あめは もう やみました か.<br />
					Mưa đã tạnh chưa?<br />
					いいえ, まだ ふって いまよ.<br />
					Chưa, trời vẫn đang mưa đấy!
				</div>
				<!-- Phần 6 -->
				<div class="title" id="6">
					6.　それ
				</div>
				<div class="structure">
					Cách dùng : Chỉ điều mà đối tác đối thoại nói ngay trước đó
				</div>
				<div class="meaning"></div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					ブロドウェイでミュージカルみたいといもうんですが<br />
					Muốn xem ca kịch ở Broadway<br />
					それはいいですね<br />
					hay đấy nhỉ
				</div>
			</div>

			<div class="flex-list">
				<div class="list-title">Danh sách tổng hợp</div>
				<ul>
					<a href="#1">
						<li>1. Động từ thể て あります</li>
					</a>
					<a href="#2">
						<li>2. Danh từ 1 + に + danh từ 2 + động từ thể て あります</li>
					</a>
					<a href="#3">
						<li>
							3. Danh từ 2 は danh từ 1 に động từ thể て あります
						</li>
					</a>
					<a href="#4">
						<li>4. Động từ thể て おき ます</li>
					</a>
					<a href="#5">
						<li>5. まだ + động từ (thể khẳng định)</li>
					</a>
					<a href="#6">
						<li>6.　それ</li>
					</a>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".menu-toggle").click(function () {
				$("nav").toggleClass("active");
			});
			$(".link").click(function () {
				$("nav").toggleClass("active");
			});
		});
	</script>
</body>

</html>