<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<title>日本語</title>
	<style>
		.flex-container {
			display: flex;
			flex-wrap: wrap;
		}

		.flex-content {
			width: 65%;
			height: auto;
			margin: 0 10px 0 0;
			border: #888 1px solid;
			padding: 15px;
			box-shadow: 3px 8px #888888;
		}

		.flex-list {
			width: 30%;
			height: 300px;
			padding: 5px;
			position: sticky;
			top: 0;
			border: 1px solid #888;
			box-shadow: 5px 10px #888888;
		}

		.title {
			font-size: 2em;
			letter-spacing: -1px;
			text-align: left;
		}

		.structure {
			color: #008080;
			font-size: 20px;
		}

		.meaning {
			color: coral;
		}

		.example {
			margin-bottom: 15px;
			line-height: 2em;
		}

		.example-title {
			font-size: 20px;
			font-style: oblique;
			text-decoration: underline;
		}

		.list-title {
			font-size: 20px;
			color: #008080;
			text-align: center;
		}

		@media screen and (max-width: 640px) {
			.flex-content {
				width: 100%;
			}

			.flex-list {
				display: none;
			}
		}
	</style>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr />
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link">
					<a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<div class="flex-container">
			<div class="flex-content">
				<!-- Phần 1 -->
				<div class="title" id="1">
					1. Động từ nguyên dạng / Động từ thể ない + ように ~
				</div>
				<div class="meaning">Nghĩa : để</div>
				<div class="structure">
					Khi diễn tả một hành động nào đó có mục đích ta dùng [ように] Vế đầu
					chỉ mục đích, vế 2 chỉ hành động có chủ ý để đạt được mục đích ở vế
					1 đưa ra
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					しんぶんが よめるように、かんじを べんきょう します<br />
					Để đọc được báo, tôi học chữ Hán<br />
					みんなが わかるように、大きな こえで 言います<br />
					Để mọi người nghe rõ, tôi nói to.<br />
					かぜを ひかないように、セーターを きます<br />
					Để không bị cảm cúm, tôi mặc áo len<br />*Động từ nguyên dạng đứng
					trước [ように] trong mẫu câu này là động từ không bao hàm chủ ý mà
					là động từ thể khả năng, và những động từ như
					[できる]、[わかる]、[みえる]、[きこえる]、[なる]
				</div>
				<!-- Phần 2 -->
				<div class="title" id="2">
					2. Động từ nguyên dạng ように なりました
				</div>
				<div class="structure">
					Cách dùng: biểu hiện sự biến đổi trạng thái, từ không thể được thành
					có thể được
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					日本語が 話せるように なりました<br />
					Tôi đã có thể nói được tiếng Nhật.<br />
					はじめは 日本料理が あまり 食べられませんでしたが、今は 何でも
					食べら れるように なりました<br />
					Lúc đầu tôi không thể ăn được đồ Nhật nhiều lắm nhưng bây giờ có thể
					ăn được mọi thứ.
				</div>
				<div class="example">
					<div class="example-title">Chú ý:</div>
					Động từ nguyên dạng đứng trước [ように] trong mẫu câu này là động từ
					thể khả năng và những động từ như<br />
					[できる]、[わかる]、[みえる]、[きこえる]、[なる],…​<br />
					Trong câu nghi vấn Động từ nguyên dạng ように なりましたか nếu trả
					lời bằng [いいえ] thì sẽ như sau:<br />
					かんじが かけるように なりましたか<br />
					Bạn đã viết được chữ Hán chưa<br />
					いいえ、まだ かけません<br />
					Chưa, tôi vẫn chưa viết được
				</div>
				<!-- Phần 3 -->
				<div class="title" id="3">
					3. Động từ nguyên dạng /động từ thể ない + ように して
					います/ください
				</div>
				<div class="structure">
					Động từ nguyên dạng /động từ thể ない + ように しています
				</div>
				<div class="meaning">Nghĩa: cố gắng</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					まいにちうんどうしています<br />
					Mỗi ngày tôi cố gắng vận động<br />
					あまいものをたべないようにしています<br />
					Tôi cố gắng không ăn đồ ngọt
				</div>
				<div class="structure">
					Động từ nguyên dạng /động từ thể ない + ように してください
				</div>
				<div class="meaning">Nghĩa : xin hãy cố gắng ~</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					じかんを まもるように して ください<br />
					Xin hãy cố gắng giữ được thời gian<br />
					この スイッチに ぜったいに さわらないように して ください<br />
					Xin hãy cố gắng tuyệt đối không chạm vào công tắc này
				</div>
				<!-- Phần 4 -->
				<div class="title" id="4">
					4. とか
				</div>
				<div class="structure">
					Liệt kê các ví dụ <br />Giống với [や] nhưng [とか] mang tính khẩu
					ngữ<br />
					Đặt ở cuối câu
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					どんなスポーツをしていますか？<br />
					Anh chị chơi môn thể thao nào<br />
					そうですね、テニスとか、すいえいとか、。。。<br />
					À,..Tôi chơi quần vợt, bơi,…
				</div>
			</div>

			<div class="flex-list">
				<div class="list-title">Danh sách tổng hợp</div>
				<ul>
					<a href="#1">
						<li>1. Động từ nguyên dạng / Động từ thể ない + ように ~</li>
					</a>
					<a href="#2">
						<li>
							2. Động từ nguyên dạng ように なりました
						</li>
					</a>
					<a href="#3">
						<li>
							3. Động từ nguyên dạng /động từ thể ない + ように して
							います/ください
						</li>
					</a>
					<a href="#4">
						<li>4. とか</li>
					</a>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".menu-toggle").click(function () {
				$("nav").toggleClass("active");
			});
			$(".link").click(function () {
				$("nav").toggleClass("active");
			});
		});
	</script>
</body>

</html>