<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>開きます</td>
						<td>KHAI</td>
						<td>あきます<br>　[ドアが～]</td>
					</tr>
					<tr>
						<td>閉まります</td>
						<td>BẾ</td>
						<td>しまります<br>　[ドアが～]</td>
					</tr>
					<tr>
						<td>つきます<br>[電気が～]</td>
						<td>ĐIỆN KHÍ</td>
						<td>つきます<br>　[でんきが～]</td>
					</tr>
					<tr>
						<td>消えます<br>[電気が～]</td>
						<td>TIÊU<br>ĐIỆN KHÍ </td>
						<td>きえます<br>　[でんきが～]</td>
					</tr>
					<tr>
						<td>壊れます</td>
						<td>HOẠI</td>
						<td>こわれます<br>　[いすが～]</td>
					</tr>
					<tr>
						<td>割れます</td>
						<td>CÁT</td>
						<td>われます<br>　[コップが～]</td>
					</tr>
					<tr>
						<td>折れます<br>[木が～]</td>
						<td>TRIẾT<br>MỘC </td>
						<td>おれます<br>　[きが～] </td>
					</tr>
					<tr>
						<td>破れます<br>[紙が～]</td>
						<td>PHÁ<br>CHỈ </td>
						<td>やぶれます<br>　[かみが～]</td>
					</tr>
					<tr>
						<td>汚れます<br>[服が～]</td>
						<td>Ô<br>PHỤC </td>
						<td>よごれます<br>　[ふくが～]</td>
					</tr>
					<tr>
						<td>付きます</td>
						<td>PHÓ</td>
						<td>つきます<br>　[ポケットが～]</td>
					</tr>
					<tr>
						<td>外れます</td>
						<td>NGOẠI</td>
						<td>はずれます<br>　[ボタンが～]</td>
					</tr>
					<tr>
						<td>止まります</td>
						<td>CHỈ</td>
						<td>とまります<br>　[くるまが～]</td>
					</tr>
					<tr>
						<td>落とします</td>
						<td>LẠC</td>
						<td>おとします</td>
					</tr>
					<tr>
						<td>掛かります</td>
						<td>QUẢI</td>
						<td>かかります<br>　[かぎが～]</td>
					</tr>
					<tr>
						<td>取り替えます</td>
						<td>THỦ HOÁN</td>
						<td>とりかえます</td>
					</tr>
					<tr>
						<td>片づけます</td>
						<td>PHIẾN</td>
						<td>かたづけます</td>
					</tr>
					<tr>
						<td>[お]皿</td>
						<td>MÃNH</td>
						<td>[お]さら</td>
					</tr>
					<tr>
						<td>袋</td>
						<td>ĐẠI</td>
						<td>ふくろ</td>
					</tr>
					<tr>
						<td>書類</td>
						<td>THƯ LOẠI</td>
						<td>しょるい</td>
					</tr>
					<tr>
						<td>枝</td>
						<td>CHI</td>
						<td>えだ</td>
					</tr>
					<tr>
						<td>駅員</td>
						<td>DỊCH VIÊN</td>
						<td>えきいん</td>
					</tr>
					<tr>
						<td>交番</td>
						<td>GIAO PHIÊN</td>
						<td>こうばん</td>
					</tr>
					<tr>
						<td>返事</td>
						<td>PHẢN SỰ</td>
						<td>へんじ</td>
					</tr>
					<tr>
						<td>お先にどうぞ。</td>
						<td>TIÊN</td>
						<td>おさきにどうぞ。</td>
					</tr>
					<tr>
						<td>源氏物語</td>
						<td>NGUYÊN THỊ <br>VẬT NGỮ</td>
						<td>げんじものがたり</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>