<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>包みます</td>
						<td>BAO</td>
						<td>つつみます</td>
					</tr>
					<tr>
						<td>沸かします</td>
						<td>PHẮT/PHI</td>
						<td>わかします</td>
					</tr>
					<tr>
						<td>混ぜます</td>
						<td>HỖN</td>
						<td>まぜます</td>
					</tr>
					<tr>
						<td>計算します</td>
						<td>KẾ TOÁN</td>
						<td>けいさんします</td>
					</tr>
					<tr>
						<td>並びます</td>
						<td>TỊNH</td>
						<td>ならびます</td>
					</tr>
					<tr>
						<td>丈夫[な]</td>
						<td>TRƯỢNG PHU</td>
						<td>じょうぶ[な]</td>
					</tr>
					<tr>
						<td>弁護士</td>
						<td>BIỆN HỘ SĨ</td>
						<td>べんごし</td>
					</tr>
					<tr>
						<td>音楽家</td>
						<td>ÂM NHẠC GIA</td>
						<td>おんがくか</td>
					</tr>
					<tr>
						<td>子どもたち</td>
						<td>TỬ</td>
						<td>こどもたち</td>
					</tr>
					<tr>
						<td>自然</td>
						<td>TỰ NHIÊN</td>
						<td>しぜん</td>
					</tr>
					<tr>
						<td>教育</td>
						<td>GIÁO DỤC</td>
						<td>きょういく</td>
					</tr>
					<tr>
						<td>文化</td>
						<td>VĂN HÓA</td>
						<td>ぶんか</td>
					</tr>
					<tr>
						<td>社会</td>
						<td>XÃ HỘI</td>
						<td>しゃかい</td>
					</tr>
					<tr>
						<td>政治</td>
						<td>CHÍNH TRỊ</td>
						<td>せいじ</td>
					</tr>
					<tr>
						<td>法律</td>
						<td>PHÁP LUẬT</td>
						<td>ほうりつ</td>
					</tr>
					<tr>
						<td>戦争</td>
						<td>CHIẾN TRANH</td>
						<td>せんそう</td>
					</tr>
					<tr>
						<td>平和</td>
						<td>BÌNH HÒA</td>
						<td>へいわ</td>
					</tr>
					<tr>
						<td>目的</td>
						<td>MỤC ĐÍCH</td>
						<td>もくてき</td>
					</tr>
					<tr>
						<td>論文</td>
						<td>LUẬN VĂN</td>
						<td>ろんぶん</td>
					</tr>
					<tr>
						<td>楽しみ</td>
						<td>LẠC</td>
						<td>たのしみ</td>
					</tr>
					<tr>
						<td>栓抜き</td>
						<td>XUYÊN BẠT</td>
						<td>せんぬき</td>
					</tr>
					<tr>
						<td>缶切り</td>
						<td>PHẪU THIẾT</td>
						<td>かんきり</td>
					</tr>
					<tr>
						<td>缶詰</td>
						<td>PHẪU CẬT</td>
						<td>かんづめ</td>
					</tr>
					<tr>
						<td>のし袋</td>
						<td>ĐẠI</td>
						<td>のしぶくろ</td>
					</tr>
					<tr>
						<td>体温計</td>
						<td>THỂ ÔN KẾ</td>
						<td>たいおんけい</td>
					</tr>
					<tr>
						<td>材料</td>
						<td>TÀI LIỆU</td>
						<td>ざいりょう</td>
					</tr>
					<tr>
						<td>一生懸命</td>
						<td>NHẤT SINH <br>HUYỀN MỆNH</td>
						<td>いっしょうけんめい</td>
					</tr>
					<tr>
						<td>国連</td>
						<td>QUỐC LIÊN</td>
						<td>こくれん</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>