<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>数えます</td>
						<td>SỐ</td>
						<td>かぞえます</td>
					</tr>
					<tr>
						<td>測ります、<br>量ります</td>
						<td>TRẮC <br>LƯỢNG</td>
						<td>はかります</td>
					</tr>
					<tr>
						<td>確かめます</td>
						<td>XÁC</td>
						<td>たしかめます</td>
					</tr>
					<tr>
						<td>合います<br>[サイズが～]</td>
						<td>HỢP</td>
						<td>あいます<br> [サイズが～]</td>
					</tr>
					<tr>
						<td>出発します</td>
						<td>XUẤT PHÁT</td>
						<td>しゅっぱつします</td>
					</tr>
					<tr>
						<td>到着します</td>
						<td>ĐÁO TRƯỚC</td>
						<td>とうちゃくします</td>
					</tr>
					<tr>
						<td>酔います</td>
						<td>TÚY</td>
						<td>よいます</td>
					</tr>
					<tr>
						<td>出ます<br>[問題が～]</td>
						<td>XUẤT<br>VẤN ĐỀ</td>
						<td>でます<br>　[もんだいが～]</td>
					</tr>
					<tr>
						<td>相談します</td>
						<td>TƯƠNG ĐÀM</td>
						<td>そうだんします</td>
					</tr>
					<tr>
						<td>必要[な]</td>
						<td>TẤT YẾU</td>
						<td>ひつよう[な]</td>
					</tr>
					<tr>
						<td>天気予報</td>
						<td>THIÊN KHÍ DỰ BÁO</td>
						<td>てんきよほう</td>
					</tr>
					<tr>
						<td>忘年会</td>
						<td>VONG NIÊN HỘI</td>
						<td>ぼうねんかい</td>
					</tr>
					<tr>
						<td>新年会</td>
						<td>TÂN NIÊN HỘI</td>
						<td>しんねんかい</td>
					</tr>
					<tr>
						<td>二次会</td>
						<td>NHỊ THỨ HỘI</td>
						<td>にじかい</td>
					</tr>
					<tr>
						<td>発表会</td>
						<td>PHÁT BIỂU HỘI</td>
						<td>はっぴょうかい</td>
					</tr>
					<tr>
						<td>大会</td>
						<td>ĐẠI HỘI</td>
						<td>たいかい</td>
					</tr>
					<tr>
						<td>表</td>
						<td>BIỂU</td>
						<td>おもて</td>
					</tr>
					<tr>
						<td>裏</td>
						<td>LÝ</td>
						<td>うら</td>
					</tr>
					<tr>
						<td>傷</td>
						<td>THƯƠNG</td>
						<td>きず</td>
					</tr>
					<tr>
						<td>[お]年寄り</td>
						<td>NIÊN KÝ</td>
						<td>[お]としより</td>
					</tr>
					<tr>
						<td>長さ</td>
						<td>TRƯỜNG</td>
						<td>ながさ</td>
					</tr>
					<tr>
						<td>重さ</td>
						<td>TRỌNG</td>
						<td>おもさ</td>
					</tr>
					<tr>
						<td>高さ</td>
						<td>CAO</td>
						<td>たかさ</td>
					</tr>
					<tr>
						<td>大きさ</td>
						<td>ĐẠI</td>
						<td>おおきさ</td>
					</tr>
					<tr>
						<td>[－]便</td>
						<td>TIỆN</td>
						<td>[－]びん</td>
					</tr>
					<tr>
						<td>－個</td>
						<td>CÁ</td>
						<td>―ご</td>
					</tr>
					<tr>
						<td>―本</td>
						<td>BỔN</td>
						<td>―ほん<br> （―ぽん、―ぼん）</td>
					</tr>
					<tr>
						<td>―杯</td>
						<td>BÔI</td>
						<td>―はい<br> （―ぱい、―ばい）</td>
					</tr>
					<tr>
						<td>～以上</td>
						<td>DĨ THƯỢNG</td>
						<td>～いじょう</td>
					</tr>
					<tr>
						<td>～以下</td>
						<td>DĨ HẠ ~</td>
						<td>～いか</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>