<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleother.css">
    <link rel="stylesheet" href="responsiveAll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        .List-Body>.List-table {
            padding: 0 10% 5% 10%;
        }
        
        .List-Body>.List-table>table {
            border-collapse: collapse;
            width: 100%;
            padding: 0 10% 0 10%;
            height: 22px;
            font-size: 20px;
            line-height: 3rem;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="headpage">
            <div class="container">
                <div id="mySidebar" class="sidebar">
                    <div class="logo" style="font-size: 25px; color: #737373;">
                        <a th:href="homepage" style="font-weight: 700;">日本語の勉強</a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a th:href="news" style="text-decoration: none;"><i class="fa fa-newspaper-o"></i> News</a>
                    <a th:href="N5-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N5</a>
                    <a th:href="N4-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N4</a>
                    <a th:href="N3-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N3</a>
                    <a th:href="listhappyo" style="text-decoration: none;"><i class="fa fa-comments-o"></i> Happyo</a>
                    <a th:href="weekly-words" style="text-decoration: none;"><i class="fa fa-calendar"></i> Weekly</a>
                    <a th:href="recipe" style="text-decoration: none;"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    <a target="_blank" href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                    </a>
                </div>
            </div>
            <div class="container" style="margin-top: 10%;">
                <div id="main" style="position: fixed;">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
            </div>
            <div class="container">
                <div class="logo-page">
                    <img src="https://images.pexels.com/photos/3380875/pexels-photo-3380875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                </div>
                <div class="review">
                    <div class="name" style="font-family: cursive; font-size: 30px; color: #ff9a04;">All N4 Grammar's Soumatome</div>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="content-body">
                <div class="container">


                    <div class="List-Body">
                        <div class="List-table" style="margin-top: 3%;">
                            <table>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-1">1. ごみは　どこに　出したら　いいですか
                                        </a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-2">2. 何でも　作れるんですね</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-3">3. 出張も　多いし、試験も　あるし･･･</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-4">4. 忘れ物を　して　しまったです</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-5">5. 非常袋を　準備して　おかないと</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-6">6. 料理を　習おうと　思って　います</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-7">7. 無理を　しない　ほうが　いいですよ</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-8">8. これは　どういう　意味ですか</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-9">9. わたしが　した　とおりに、して　ください</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-10">10. どこか　いい　所、ありませんか</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-11">11. 毎日　運動するように　して　います</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-12">12. 金閣寺は　14世紀に　建てられました</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-13">13. 片づけるのが　好きなんです</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-14">14. 遅れて、すみません</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-15">15. 友達が　できたか　どうか、心配です</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-16">16. ご結婚　おめでとう　ございます</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-17">17. ボーナスは　何に　使いますか</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-18">18. 毎日　楽しそうです</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-19">19. この写真みたいに　して　ください</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-20">20.
                                            コースを　まちがえた　場合は、どう　したら　いいですか</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-21">21.
                                            先週　直して　もらった　ばかりなのに、また･･･</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-22">22. 婚約したそうです</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-23">23. 休ませて　いただけませんか</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-24">24. よろしく　お伝え　ください</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://urbanlearning.herokuapp.com/N4-gramma-25">25. 心から　感謝いたします</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="footer">
                    <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>