<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="homepage" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="N5-detail" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="N4-detail" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="N3-detail" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="listhappyo" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="weekly-words" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="List-Body">
                <div class="List-Grammar" style="background-image: url('https://i.pinimg.com/originals/d9/5e/09/d95e0951aacb25246d2fda9373194918.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <img style="border-radius: 50%; width: 120px; height: 120px;" src="https://images.pexels.com/photos/3380875/pexels-photo-3380875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 ">
                    <p style="font-family: cursive; font-size: 50px; color: yellow;">All N4 Vocabulary's Soumatome</p>
                </div>
                <div class="Table-content">
                    <p>Content</p>
                </div>
                <div class="List-table">
                    <table>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-1">1. ごみは　どこに　出したら　いいですか
                                </a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-2">2. 何でも　作れるんですね</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-3">3. 出張も　多いし、試験も　あるし･･･</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-4">4. 忘れ物を　して　しまったです</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-5">5. 非常袋を　準備して　おかないと</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-6">6. 料理を　習おうと　思って　います</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-7">7. 無理を　しない　ほうが　いいですよ</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-8">8. これは　どういう　意味ですか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-9">9. わたしが　した　とおりに、して　ください</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-10">10. どこか　いい　所、ありませんか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-11">11. 毎日　運動するように　して　います</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-12">12. 金閣寺は　14世紀に　建てられました</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-13">13. 片づけるのが　好きなんです</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-14">14. 遅れて、すみません</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-15">15. 友達が　できたか　どうか、心配です</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-16">16. ご結婚　おめでとう　ございます</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-17">17. ボーナスは　何に　使いますか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-18">18. 毎日　楽しそうです</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-19">19. この写真みたいに　して　ください</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-20">20.
                                    コースを　まちがえた　場合は、どう　したら　いいですか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-21">21.
                                    先週　直して　もらった　ばかりなのに、また･･･</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-22">22. 婚約したそうです</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-23">23. 休ませて　いただけませんか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-24">24. よろしく　お伝え　ください</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N4-voca-25">25. 心から　感謝いたします</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>