/* max-width: 600px */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .head-bg {
        width: 100%;
    }
    .logo-page {
        text-align: center;
    }
    .logo-page img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    .review {
        margin-top: 10%;
        text-align: center;
        font-weight: 700;
    }
    .greeting {
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        color: #989898;
    }
    .name {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: none;
        color: #1d1d1d;
    }
    .infomation {
        font-size: 20px;
        text-transform: none;
        color: #8f8f8f;
    }
    .bodypage {
        top: 10;
    }
    .content-title {
        margin-top: 7%;
        text-align: center;
        font-weight: 700;
    }
    .activity {
        background-color: #fff;
        width: 70%;
        margin: auto;
        margin-top: 10%;
        padding: 10;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.75);
    }
    .activity>.activity_image {
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    .activity>.activity_image>img {
        background-size: cover;
        width: 100%;
        height: 300px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: all 0.5s;
        transform: scale(1.0);
    }
    .activity>.activity_image>img:hover {
        background-color: #000;
        filter: brightness(50%);
        transform: scale(1.5);
    }
    .activity>.activity_detail {
        padding: 10px;
    }
    .img-detail img {
        width: 100%;
    }
    .detail-title {
        font-size: 20px;
        font-weight: 700;
    }
    .List-table table tr th {
        font-size: 20px;
    }
    .List-Grammar {
        text-align: center;
        padding: 10%;
        font-family: cursive;
        font-size: 30px;
    }
    .Table-content {
        margin: 1%;
        font-size: 20px;
    }
    .list-tutor {
        display: inline-block;
    }
    .list-img img {
        width: 100%;
    }
    .list-img {
        width: 100%;
    }
    .footer {
        background-color: #212a39;
        height: 50px;
        font-size: 16px;
    }
}