/* max width 600 */

@media (max-width: 600px) {
    .read p {
        padding: 10 0 10 0;
        font-size: 16px;
    }
    .item {
        border: none;
    }
    .topnav {
        padding: 0;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .bottomnav a:not(:first-child) {
        display: none;
    }
    .bottomnav a.icon {
        float: left;
        display: block;
    }
    .bottomnav.responsive {
        position: relative;
    }
    .bottomnav.responsive .icon {
        /* float: left; */
        position: absolute;
        right: 0;
        top: 0;
    }
    .bottomnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .toppage ul {
        display: flex;
        padding: 10 10 10 0;
    }
    .left {
        padding: 0;
        width: 100%;
    }
    .right {
        padding: 20 10 20 10;
        width: 100%;
    }
    .topnav {
        background-color: #c7c7c7;
    }
    ul {
        display: flex;
        padding: 0;
    }
    ul li {
        padding: 10 10 10 10;
        list-style: none;
        white-space: nowrap;
    }
    ul li a {
        font-size: 10px;
        font-weight: 700;
    }
    .bottomnav {
        padding: 10;
        border-bottom: 1px solid #c7c7c7;
    }
    .bottomnav ul li {
        padding: 10 7 10 7;
    }
    .bodypage {
        display: block;
        padding: 15 0 15 0;
    }
    .item img {
        width: auto;
    }
    .item-title a {
        font-size: 12px;
        font-weight: 700;
    }
    .title-content {
        padding: 10 0 10 0;
        font-size: 15px;
        font-weight: 700;
    }
    .title-right {
        margin-top: 18px;
        padding: 0 5 0 5px;
    }
    .title-left .img img {
        width: 100%;
    }
    .title-right .content .title-content {
        font-size: 12px;
    }
    .news-content {
        padding: 10 0 10 0;
    }
    .news-content .title-content {
        font-size: 12px;
    }
    .news-content .img img {
        width: 100%;
    }
    .footer {
        font-size: 12px;
    }
    .media .item {
        border: none;
        display: flex;
        padding: 0 0 0 0;
    }
    .title-media {
        padding: 0 0 0 0;
    }
}


/* max width 800 and min width 601 */

@media (max-width: 800px) and (min-width: 601px) {
    .item {
        border: none;
    }
    .topnav {
        padding: 0;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .toppage ul {
        display: flex;
        padding: 10 10 10 0;
    }
    .left {
        padding: 0;
        width: 70%;
    }
    .right {
        padding: 0;
        width: 30%;
    }
    .topnav {
        background-color: #c7c7c7;
    }
    ul {
        display: flex;
        padding: 0;
    }
    ul li {
        padding: 10 10 10 10;
        list-style: none;
        white-space: nowrap;
        justify-content: center;
    }
    ul li a {
        font-size: 12px;
        font-weight: 700;
    }
    .bottomnav {
        border-bottom: 1px solid #c7c7c7;
    }
    .bottomnav ul li {
        padding: 10 7 10 7;
    }
    .bodypage {
        display: flex;
        padding: 15 0 15 0;
    }
    .item img {
        width: auto;
    }
    .item-title a {
        font-size: 13px;
        font-weight: 700;
    }
    .title-content {
        padding: 10 0 10 0;
        font-size: 15px;
        font-weight: 700;
    }
    .title-right {
        margin-top: 18px;
        padding: 0 5 0 5px;
    }
    .title-left .img img {
        width: 100%;
    }
    .title-right .content .title-content {
        font-size: 12px;
    }
    .news-content {
        padding: 10 0 10 0;
    }
    .news-content .title-content {
        font-size: 13px;
    }
    .news-content .img img {
        width: 100%;
    }
    .footer {
        font-size: 13px;
    }
    .media .item {
        border: none;
        display: flex;
        padding: 0 0 0 0;
    }
    .title-media {
        padding: 0 0 0 0;
    }
}


/* max width 1000 and min width 801 */

@media (max-width: 1100px) and (min-width: 801px) {
    .topnav {
        padding: 0;
    }
    .toppage ul {
        padding: 10 10 10 115;
    }
    .left {
        padding: 0;
        width: 70%;
    }
    .right {
        padding: 0;
        width: 30%;
    }
    .topnav {
        background-color: #c7c7c7;
    }
    ul {
        display: flex;
        padding: 0;
    }
    ul li {
        padding: 10 10 10 10;
        list-style: none;
        white-space: nowrap;
        justify-content: center;
    }
    ul li a {
        font-size: 14px;
        font-weight: 700;
    }
    .bottomnav {
        border-bottom: 1px solid #c7c7c7;
    }
    .bottomnav ul li {
        padding: 10 7 10 7;
    }
    .bodypage {
        display: flex;
        padding: 15 0 15 0;
    }
    .item img {
        width: auto;
    }
    .item-title a {
        font-size: 14px;
        font-weight: 700;
    }
    .title-content {
        padding: 10 0 10 0;
        font-size: 15px;
        font-weight: 700;
    }
    .title-right {
        margin-top: 18px;
        padding: 0 5 0 5px;
    }
    .title-left .img img {
        width: 100%;
    }
    .title-right .content .title-content {
        font-size: 14px;
    }
    .news-content {
        padding: 10 0 10 0;
    }
    .news-content .title-content {
        font-size: 14px;
    }
    .news-content .img img {
        width: 100%;
    }
    .footer {
        font-size: 14px;
    }
    .media .item {
        border: none;
        display: flex;
        padding: 0 0 0 0;
    }
    .title-media {
        padding: 0 0 0 0;
    }
}


/* max width 1300 and min width 1101 */

@media (max-width: 1300px) and (min-width: 1101px) {
    .topnav {
        padding: 0;
    }
    .toppage ul {
        padding: 10 10 10 115;
    }
    .left {
        padding: 0;
        width: 70%;
    }
    .right {
        padding: 0;
        width: 30%;
    }
    .topnav {
        background-color: #c7c7c7;
    }
    ul {
        display: flex;
        padding: 0;
    }
    ul li {
        padding: 10 10 10 10;
        list-style: none;
        white-space: nowrap;
        justify-content: center;
    }
    ul li a {
        font-size: 16px;
        font-weight: 700;
    }
    .bottomnav {
        border-bottom: 1px solid #c7c7c7;
    }
    .bottomnav ul li {
        padding: 10 7 10 7;
    }
    .bodypage {
        display: flex;
        padding: 15 0 15 0;
    }
    .item img {
        width: auto;
    }
    .item-title a {
        font-size: 16px;
        font-weight: 700;
    }
    .title-content {
        padding: 10 0 10 0;
        font-size: 15px;
        font-weight: 700;
    }
    .title-right {
        margin-top: 18px;
        padding: 0 5 0 5px;
    }
    .title-left .img img {
        width: 100%;
    }
    .title-right .content .title-content {
        font-size: 16px;
    }
    .news-content {
        padding: 10 0 10 0;
    }
    .news-content .title-content {
        font-size: 14px;
    }
    .news-content .img img {
        width: 100%;
    }
    .footer {
        font-size: 16px;
    }
    .media .item {
        border: none;
        display: flex;
        padding: 0 0 0 0;
    }
    .title-media {
        padding: 0 0 0 0;
    }
}