<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="homepage" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="N5-detail" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="N4-detail" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="N3-detail" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="listhappyo" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="weekly-words" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">

            <div class="list-title">
                <p style="color: #73e600">N3 Tutorial</p>
            </div>

            <div class="list-tutor">

                <div class="list-img">
                    <img src="https://images.pexels.com/photos/301926/pexels-photo-301926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>

                <div class="content-list">

                    <div class="list-name">
                        <p>vocabulary</p>
                        <p><a th:href="N3-vocabulary">SOMATOME</a></p>
                    </div>
                    <div class="list-content">
                        <p>This is a list of the vocabulary that you need to know in order to pass the JLPT N3. In total, you will need to have a vocabulary of about 3,750 words. This list includes lessons for the most common and important words for you
                            to know, all listed in alphabetical order...</p>
                    </div>
                </div>

            </div>


            <div class="list-tutor">

                <div class="list-img">
                    <img src="https://images.pexels.com/photos/239548/pexels-photo-239548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>

                <div class="content-list">

                    <div class="list-name">
                        <p>GRAMMAR</p>
                        <p><a th:href="N3-gramma">SOMATOME</a></p>
                    </div>
                    <div class="list-content">
                        <p>This is a complete list of the Japanese grammar rules needed to study for and pass the N3 Japanese Language Proficiency Test. Although there is no official JLPT N3 grammar list, most grammar points that have been featured on previous
                            tests are included in this list...</p>
                    </div>
                </div>

            </div>

            <div class="list-tutor">

                <div class="list-img">
                    <img src="https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>

                <div class="content-list">

                    <div class="list-name">
                        <p>KANJI</p>
                        <p><a th:href="N3-kanji">SOMATOME</a></p>
                    </div>
                    <div class="list-content">
                        <p>This is the JLPT N3 kanji list, which includes 370 characters specific to the N3 level. complete JLPT N3 Kanji List You must know about 650 kanji in total in order to pass the JLPT N3, including kanji from N4 & N5, so make sure
                            to review those lists as well...</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>