<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="homepage" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="N5-detail" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="N4-detail" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="N3-detail" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="listhappyo" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="weekly-words" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="List-Body">
                <div class="List-Grammar" style="background-image: url('https://i.pinimg.com/originals/d9/5e/09/d95e0951aacb25246d2fda9373194918.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <img style="border-radius: 50%; width: 120px; height: 120px;" src="https://images.pexels.com/photos/3380875/pexels-photo-3380875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 ">
                    <p style="font-family: cursive; font-size: 50px; color: yellow;">All N3 Kanji's Soumatome</p>
                </div>
                <div class="Table-content ">
                    <p>Content</p>
                </div>
                <div class="List-table ">
                    <table>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-1 ">1. 駐車場</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-2 ">2. 横断歩道</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-3 ">3. サイン</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-4 ">4. 駅のホーム</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-5 ">5. 特急電車</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-6 ">6. バス</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-7 ">7. レストラン</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-8 ">8. 禁煙</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-9 ">9. 観光地図</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-10 ">10. 町の地図</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-11 ">11. 病院</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-12 ">12. 困ったときは</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-13 ">13. 要冷蔵</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-14 ">14. 賞味期限</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-15 ">15. 自動販売機</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-16 ">16. レシピ</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-17 ">17. コピー機、留守番電話</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-18 ">18. 携帯電話</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-19 ">19. 日用品</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-20 ">20. 広告メール</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-21 ">21. 通信販売</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-22 ">22. 申込書</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-23 ">23. 注文</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-24 ">24. 不在通知</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-25 ">25. メールを送る</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-26 ">26. アンケート</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-27 ">27. 日本語クラス</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-28 ">28. く作文</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-29 ">29. 問診票、歯科で</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-30 ">30. 問診票 - 健康診断</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-31 ">31. 天気情報</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-32 ">32. 求人広告</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-33 ">33. スポーツ記事</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-34 ">34. W経済</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-35 ">35.地球温暖化</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N3-kanji-36 ">36.政治</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="footer " style="height:80px ">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px; ">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>