<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="homepage" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="N5-detail" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="N4-detail" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="N3-detail" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="listhappyo" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="weekly-words" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="List-Body">
                <div class="List-Grammar"
                    style="background-image: url('https://i.pinimg.com/originals/d9/5e/09/d95e0951aacb25246d2fda9373194918.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <img style="border-radius: 50%; width: 120px; height: 120px;"
                        src="https://images.pexels.com/photos/3380875/pexels-photo-3380875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 ">
                    <p style="font-family: cursive; font-size: 50px; color: yellow;">All N5 Grammar's Soumatome</p>
                </div>
                <div class="Table-content">
                    <p>Content</p>
                </div>
                <div class="List-table">
                    <table>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-1">1. はじめまして
                                </a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-2">2. これから　お世話に　なります</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-3">3. これを　ください･･･</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-4">4. そちらは　何時までですか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-5">5. この電車は　甲子園へ　行きま</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-6">6. いっしょに　行きませんか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-7">7. いらっしゃい</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-8">8. そろそろ　失礼します</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-9">9. 残念ですが</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-10">10. ナンプラー、ありますか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-11">11. これ、お願いします</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-12">12. 祇園祭は　どうでしたか？</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-13">13. 別々に　お願いします</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-14">14. みどり町まで　お願いします</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-15">15. ご家族は？</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-16">16. 使い方を　教えて　ください</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-17">17. どう　しましたか？</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-18">18. 趣味は　何ですか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-19">19. ダイエットは　あしたから　します</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-20">20. いっしょに　行かない？</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-21">21. わたしも　そう　思います</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-22">22. どんな　部屋を　お探しですか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-23">23. どうやって　行きますか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-24">24. 手伝いに　行きましょうか</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://urbanlearning.herokuapp.com/N5-gramma-25">25. いろいろ　お世話に　なりました</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All
                    Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>