<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="homepage">Home</a></li>
                <li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
                <li class="link"><a th:href="happyo">Happyo</a></li>
                <li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
    	<div>
    		<p class="units">UNITS</p>
    		<P class="units-stt">Learn now</P>
    	</div>
        <div class="unitpage-content" >
            <section class="units-title">
                <tutorial-title>UNIT 1</tutorial-title>
                <title-detail>はじめまして</title-detail> 
                <div class="read-btn"><a href="N5-voca-1">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 2</tutorial-title>
                <title-detail>これから　お世話に　なります</title-detail>
                <div class="read-btn"><a href="N5-voca-2">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 3</tutorial-title>
                <title-detail>これを　ください</title-detail>
                <div class="read-btn"><a href="N5-voca-3">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 4</tutorial-title>
                <title-detail>そちらは　何時までですか</title-detail>
                <div class="read-btn"><a href="N5-voca-4">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 5</tutorial-title>
                <title-detail>この電車は　甲子園へ　行きま</title-detail>
                <div class="read-btn"><a href="N5-voca-5">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 6</tutorial-title>
                <title-detail>いっしょに　行きませんか</title-detail>
                <div class="read-btn"><a href="N5-voca-6">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 7</tutorial-title>
                <title-detail>いらっしゃい</title-detail>
                <div class="read-btn"><a href="N5-voca-7">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 8</tutorial-title>
                <title-detail>そろそろ　失礼します</title-detail>
                <div class="read-btn"><a href="N5-voca-8">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 9</tutorial-title>
                <title-detail>残念ですが</title-detail>
                <div class="read-btn"><a href="N5-voca-9">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 10</tutorial-title>
                <title-detail>ナンプラー、ありますか</title-detail>
                <div class="read-btn"><a href="N5-voca-10">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 11</tutorial-title>
                <title-detail>これ、お願いします</title-detail>
                <div class="read-btn"><a href="N5-voca-11">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 12</tutorial-title>
                <title-detail>祇園祭は　どうでしたか？</title-detail>
                <div class="read-btn"><a href="N5-voca-12">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 13</tutorial-title>
                <title-detail>別々に　お願いします</title-detail>
                <div class="read-btn"><a href="N5-voca-13">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 14</tutorial-title>
                <title-detail>みどり町まで　お願いします</title-detail>
                <div class="read-btn"><a href="N5-voca-14">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 15</tutorial-title>
                <title-detail>ご家族は？</title-detail>
                <div class="read-btn"><a href="N5-voca-15">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 16</tutorial-title>
                <title-detail>使い方を　教えて　ください</title-detail>
                <div class="read-btn"><a href="N5-voca-16">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 17</tutorial-title>
                <title-detail>どう　しましたか？</title-detail>
                <div class="read-btn"><a href="N5-voca-17">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 18</tutorial-title>
                <title-detail>趣味は　何ですか</title-detail>
                <div class="read-btn"><a href="N5-voca-18">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 19</tutorial-title>
                <title-detail>ダイエットは　あしたから　します</title-detail>
                <div class="read-btn"><a href="N5-voca-19">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 20</tutorial-title>
                <title-detail>いっしょに　行かない？</title-detail>
                <div class="read-btn"><a href="N5-voca-20">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 21</tutorial-title>
                <title-detail>わたしも　そう　思います</title-detail>
                <div class="read-btn"><a href="N5-voca-21">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 22</tutorial-title>
                <title-detail>どんな　部屋を　お探しですか</title-detail>
                <div class="read-btn"><a href="N5-voca-22">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 23</tutorial-title>
                <title-detail>どうやって　行きますか</title-detail>
                <div class="read-btn"><a href="N5-voca-23">Read more</a></div>
            </section>
            <section class="units-title">
                <tutorial-title>UNIT 24</tutorial-title>
                <title-detail>手伝いに　行きましょうか</title-detail>
                <div class="read-btn"><a href="N5-voca-24">Read more</a></div>
            </section>
        </div>
        <div class="unitpage-content" style="margin-top: 3%;">
            <section class="units-title">
                <tutorial-title>UNIT 25</tutorial-title>
                <title-detail>いろいろ　お世話に　なりました</title-detail>
                <div class="read-btn"><a href="N5-voca-25">Read more</a></div>
            </section>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
    </script>
</body>

</html>