<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<title>日本語</title>
	<style>
		.flex-container {
			display: flex;
			flex-wrap: wrap;
		}

		.flex-content {
			width: 65%;
			height: auto;
			margin: 0 10px 0 0;
			border: #888 1px solid;
			padding: 15px;
			box-shadow: 3px 8px #888888;
		}

		.flex-list {
			width: 30%;
			height: 300px;
			padding: 5px;
			position: sticky;
			top: 0;
			border: 1px solid #888;
			box-shadow: 5px 10px #888888;
		}

		.title {
			font-size: 2em;
			letter-spacing: -1px;
			text-align: left;
		}

		.structure {
			color: #008080;
			font-size: 20px;
		}

		.meaning {
			color: coral;
		}

		.example {
			margin-bottom: 15px;
			line-height: 2em;
		}

		.example-title {
			font-size: 20px;
			font-style: oblique;
			text-decoration: underline;
		}

		.list-title {
			font-size: 20px;
			color: #008080;
			text-align: center;
		}

		@media screen and (max-width: 640px) {
			.flex-content {
				width: 100%;
			}

			.flex-list {
				display: none;
			}
		}
	</style>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr />
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link">
					<a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<div class="flex-container">
			<div class="flex-content">
				<!-- 1 -->
				<div class="title" id="1">
					1.<span style="color: #ff0000;"><span style="font-size: 24px;">Nの／Vる／Vた</span></span><span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">ついでに</span>
				</div>
				<div class="meaning">Nhân tiện (làm gì) thì .....</div>
				<div class="structure">
					Một hành động chính nào đó đang thực hiện thì nhân tiện đó thực hiện
					thêm một hành động phụ khác
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						<ruby>散歩<rp>(</rp>
							<rt>さんぽ</rt>
							<rp>)</rp>
						</ruby>のついでに、この<ruby>手紙<rp>(</rp>
							<rt>てがみ</rt>
							<rp>)</rp>
						</ruby>を<ruby>出<rp>(</rp>
							<rt>だ</rt>
							<rp>)</rp>
						</ruby>してきてくれませんか。
					</div>
					<div>
						<ruby>郵便局<rp>(</rp>
							<rt>ゆうびんきょく</rt>
							<rp>)</rp>
						</ruby>へ<ruby>行<rp>(</rp>
							<rt>い</rt>
							<rp>)</rp>
						</ruby>ったついでに、はがきを<ruby>買<rp>(</rp>
							<rt>か</rt>
							<rp>)</rp>
						</ruby>ってきた。
					</div>
				</div>
				<!-- 2 -->
				<div class="title" id="2">
					2.
					<span style="font-size: 24px;">Nの／Vる</span><span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">たびに</span>
				</div>
				<div class="meaning">
					Mỗi khi, mỗi lần
				</div>
				<div class="structure">
					<p>
						Dùng trong trường hợp nhắc đến một sự việc thường xảy ra mỗi khi
						có 1 tình huống cụ thể nào đó
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						<ruby>買<rp>(</rp>
							<rt>か</rt>
							<rp>)</rp>
						</ruby>い<ruby>物<rp>(</rp>
							<rt>もの</rt>
							<rp>)</rp>
						</ruby>のたびに、<ruby>袋<rp>(</rp>
							<rt>ふくろ</rt>
							<rp>)</rp>
						</ruby>をたくさんもらう。
					</div>
					<div>
						この<ruby>曲<rp>(</rp>
							<rt>きょく</rt>
							<rp>)</rp>
						</ruby>を<ruby>聞<rp>(</rp>
							<rt>き</rt>
							<rp>)</rp>
						</ruby>くたびに、ふるさとを<ruby>思<rp>(</rp>
							<rt>おも</rt>
							<rp>)</rp>
						</ruby>い<ruby>出<rp>(</rp>
							<rt>だ</rt>
							<rp>)</rp>
						</ruby>す。
					</div>
				</div>
				<!-- 3 -->
				<div class="title" id="3">
					3.
					<span style="color: rgb(255, 0, 0);"><span style="font-size: 24px;">Vた。</span></span>
					<font color="#ff0000" size="5">とたん</font>
				</div>
				<div class="meaning">
					Vừa mới (làm gì) thì....
				</div>
				<div class="structure">
					<p>
						Dùng trong trường hợp một sự việc xảy ra ngay khi một hành động
						nào đó vừa được thực hiện.
					</p>
					<p>
						Vế sau không dùng các mẫu câu nghĩa chủ động (tha động từ) hoặc
						dùng thể sai khiến, bắt buộc
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						<ruby>窓<rp>(</rp>
							<rt>まど</rt>
							<rp>)</rp>
						</ruby>を<ruby>開<rp>(</rp>
							<rt>あ</rt>
							<rp>)</rp>
						</ruby>けたとたん、<ruby>強<rp>(</rp>
							<rt>つよ</rt>
							<rp>)</rp>
						</ruby>い<ruby>風<rp>(</rp>
							<rt>かぜ</rt>
							<rp>)</rp>
						</ruby>が<ruby>入<rp>(</rp>
							<rt>はい</rt>
							<rp>)</rp>
						</ruby>ってきた。
					</div>
					<div>
						お<ruby>酒<rp>(</rp>
							<rt>さけ</rt>
							<rp>)</rp>
						</ruby>を<ruby>飲<rp>(</rp>
							<rt>の</rt>
							<rp>)</rp>
						</ruby>んだとたん、<ruby>顔<rp>(</rp>
							<rt>かお</rt>
							<rp>)</rp>
						</ruby>が<ruby>赤<rp>(</rp>
							<rt>あか</rt>
							<rp>)</rp>
						</ruby>くなった。
					</div>
				</div>
				<!-- 4 -->
				<div class="title" id="4">
					4.
					<span style="font-size: 24px;">Nの／Vている</span><span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              "><ruby>最中<rp>(</rp>
							<rt>さいちゅう</rt>
							<rp>)</rp>
						</ruby></span>
				</div>
				<div class="meaning">
					Trong khi, đang lúc, giữa lúc
				</div>
				<div class="structure">
					<p>
						Dùng nói đến một hành động đột ngột diễn ra giữa tiến trình đang
						diễn ra của một hành động khác
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						<ruby>食事<rp>(</rp>
							<rt>しょくじ</rt>
							<rp>)</rp>
						</ruby>の<ruby>最中<rp>(</rp>
							<rt>さいちゅう</rt>
							<rp>)</rp>
						</ruby>に、お<ruby>客<rp>(</rp>
							<rt>きゃく</rt>
							<rp>)</rp>
						</ruby>さんが<ruby>来<rp>(</rp>
							<rt>き</rt>
							<rp>)</rp>
						</ruby>た
					</div>
					<div>
						<ruby>会議<rp>(</rp>
							<rt>かいぎ</rt>
							<rp>)</rp>
						</ruby>をしている<ruby>最中<rp>(</rp>
							<rt>さいちゅう</rt>
							<rp>)</rp>
						</ruby>に、<ruby>携帯<rp>(</rp>
							<rt>けいたい</rt>
							<rp>)</rp>
						</ruby><ruby>電話<rp>(</rp>
							<rt>でんわ</rt>
							<rp>)</rp>
						</ruby>が<ruby>鳴<rp>(</rp>
							<rt>な</rt>
							<rp>)</rp>
						</ruby>った。
					</div>
				</div>
			</div>
			<div class="flex-list">
				<div class="list-title">Danh sách tổng hợp</div>
				<ul>
					<a href="#1">
						<li>
							1.
							<span>～<ruby>散歩<rp>(</rp>
									<rt>さんぽ</rt>
									<rp>)</rp>
								</ruby>のついでに</span>
						</li>
					</a>
					<a href="#2">
						<li>
							2.
							<span>～<ruby>買<rp>(</rp>
									<rt>か</rt>
									<rp>)</rp>
								</ruby>い<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby>のたびに</span>
						</li>
					</a>
					<a href="#3">
						<li>
							3.<span>～<ruby>開<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>けたとたん</span>
						</li>
					</a>
					<a href="#4">
						<li>
							4.
							<span>～<ruby>食事<rp>(</rp>
									<rt>しょくじ</rt>
									<rp>)</rp>
								</ruby>の<ruby>最中<rp>(</rp>
									<rt>さいちゅう</rt>
									<rp>)</rp>
								</ruby>に</span>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".menu-toggle").click(function () {
				$("nav").toggleClass("active");
			});
			$(".link").click(function () {
				$("nav").toggleClass("active");
			});
		});
	</script>
</body>

</html>