<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<title>日本語</title>
	<style>
		.flex-container {
			display: flex;
			flex-wrap: wrap;
		}

		.flex-content {
			width: 65%;
			height: auto;
			margin: 0 10px 0 0;
			border: #888 1px solid;
			padding: 15px;
			box-shadow: 3px 8px #888888;
		}

		.flex-list {
			width: 30%;
			height: 300px;
			padding: 5px;
			position: sticky;
			top: 0;
			border: 1px solid #888;
			box-shadow: 5px 10px #888888;
		}

		.title {
			font-size: 2em;
			letter-spacing: -1px;
			text-align: left;
		}

		.structure {
			color: #008080;
			font-size: 20px;
		}

		.meaning {
			color: coral;
		}

		.example {
			margin-bottom: 15px;
			line-height: 2em;
		}

		.example-title {
			font-size: 20px;
			font-style: oblique;
			text-decoration: underline;
		}

		.list-title {
			font-size: 20px;
			color: #008080;
			text-align: center;
		}

		@media screen and (max-width: 640px) {
			.flex-content {
				width: 100%;
			}

			.flex-list {
				display: none;
			}
		}
	</style>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr />
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link">
					<a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<div class="flex-container">
			<div class="flex-content">
				<!-- 1 -->
				<div class="title" id="1">
					1.
					<span style="font-size: 24px; color: rgb(255, 0, 0);">たとえ </span><span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">Vても/<span style="
                  color: rgb(255, 0, 0);
                  font-size: 24px;
                  text-align: center;
                ">Aくても</span>/<span style="
                  color: rgb(255, 0, 0);
                  font-size: 24px;
                  text-align: center;
                ">A（な）でも</span>/<span style="
                  color: rgb(255, 0, 0);
                  font-size: 24px;
                  text-align: center;
                ">Nでも</span></span>
				</div>
				<div class="meaning">
					Giả sử là...đi nữa thì..../ Thậm chí là....thì cũng...
				</div>
				<div class="structure">
					<p>
						Dùng khi muốn nhấn mạnh ý khẳng định một sự việc, hành động nào đó
						bất chấp có điều kiện khác xảy ra
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						たとえ<ruby>反対<rp>(</rp>
							<rt>はんたい</rt>
							<rp>)</rp>
						</ruby>されても<ruby>留学<rp>(</rp>
							<rt>りゅうがく</rt>
							<rp>)</rp>
						</ruby>します。
					</div>
					<div>
						たとえ<ruby>元気<rp>(</rp>
							<rt>げんき</rt>
							<rp>)</rp>
						</ruby>じゃなくても、<ruby>家族<rp>(</rp>
							<rt>かぞく</rt>
							<rp>)</rp>
						</ruby>への<ruby>手紙<rp>(</rp>
							<rt>てがみ</rt>
							<rp>)</rp>
						</ruby>には<ruby>元気<rp>(</rp>
							<rt>げんき</rt>
							<rp>)</rp>
						</ruby>だと<ruby>書<rp>(</rp>
							<rt>か</rt>
							<rp>)</rp>
						</ruby>きます。
					</div>
				</div>
				<!-- 2 -->
				<div class="title" id="2">
					2.
					<span style="font-size: 24px;">もしかすると +
						<font color="#ff0000" size="5">V／A／N（<ruby>普通<rp>(</rp>
								<rt>ふつう</rt>
								<rp>)</rp>
							</ruby><ruby>形<rp>(</rp>
								<rt>けい</rt>
								<rp>)</rp>
							</ruby>）</font></span>/<span style="font-size: 24px;">もしかしたら +
						<font color="#ff0000" size="5">N<strike>だ</strike>／A<strike>な</strike></font></span><span style="
                color: rgb(255, 0, 0);
                text-align: center;
                font-size: x-large;
              ">かもしれない</span>
				</div>
				<div class="meaning">Có lẽ là, có khả năng là</div>
				<div class="structure">
					<p>
						Dùng khi miêu tả suy đoán của người nói, thường dựa trên cảm tính
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						もしかすると<ruby>彼<rp>(</rp>
							<rt>かれ</rt>
							<rp>)</rp>
						</ruby>の<ruby>話<rp>(</rp>
							<rt>はなし</rt>
							<rp>)</rp>
						</ruby>はうそかもしれない。
					</div>
					<div>
						もしかしたら、<ruby>明日<rp>(</rp>
							<rt>あした</rt>
							<rp>)</rp>
						</ruby><ruby>行<rp>(</rp>
							<rt>い</rt>
							<rp>)</rp>
						</ruby>けないかもしれません。
					</div>
				</div>
				<!-- 3 -->
				<div class="title" id="3">
					3.
					<span style="color: rgb(255, 0, 0); font-size: 24px;"><ruby>必<rp>(</rp>
							<rt>かなら</rt>
							<rp>)</rp>
						</ruby>ずしも</span>
					+
					<span style="color: rgb(255, 0, 0); font-size: 24px;">V／A／N（<ruby>普通<rp>(</rp>
							<rt>ふつう</rt>
							<rp>)</rp>
						</ruby><ruby>形<rp>(</rp>
							<rt>けい</rt>
							<rp>)</rp>
						</ruby>）/
						<font color="#ff0000" size="5">Nだ</font>/<font color="#ff0000" size="5">Aな</font></span>
					+
					<span style="color: rgb(255, 0, 0); font-size: x-large;">とは<ruby>限<rp>(</rp>
							<rt>かぎ</rt>
							<rp>)</rp>
						</ruby>らない</span>
				</div>
				<div class="meaning">
					Không chắc chắn là/ không nhất thiết là/ Không giới hạn là
				</div>
				<div class="structure">
					<p>
						Thường dùng trong trường hợp phủ định một mệnh đề, tình huống nào
						đó không phải áp dụng cho toàn bộ, không phải dùng cho tất cả các
						trường hợp
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						（お）<ruby>金持<rp>(</rp>
							<rt>かねも</rt>
							<rp>)</rp>
						</ruby>ちが<ruby>必<rp>(</rp>
							<rt>かなら</rt>
							<rp>)</rp>
						</ruby>ずしも<ruby>幸福<rp>(</rp>
							<rt>こうふく</rt>
							<rp>)</rp>
						</ruby>だとは<ruby>限<rp>(</rp>
							<rt>かぎ</rt>
							<rp>)</rp>
						</ruby>らない。
					</div>
					<div>
						<ruby>高<rp>(</rp>
							<rt>たか</rt>
							<rp>)</rp>
						</ruby>いものが<ruby>必<rp>(</rp>
							<rt>かなら</rt>
							<rp>)</rp>
						</ruby>ずいいものだとは<ruby>限<rp>(</rp>
							<rt>かぎ</rt>
							<rp>)</rp>
						</ruby>らない。
					</div>
				</div>
				<!-- 4 -->
				<div class="title" id="4">
					4.
					<font color="#ff0000" size="5">まるで</font>+
					<span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">Nの</span>/<span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">V（<ruby>普通<rp>(</rp>
							<rt>ふつう</rt>
							<rp>)</rp>
						</ruby><ruby>形<rp>(</rp>
							<rt>けい</rt>
							<rp>)</rp>
						</ruby>）</span>+<span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">よう</span><br />
					<span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">まるで</span>+
					<font color="#ff0000" size="5">V／<font color="#ff0000" size="5">
							N<strike>だ</strike>／A<strike>な</strike></font>（<ruby>普通<rp>(</rp>
							<rt>ふつう</rt>
							<rp>)</rp>
						</ruby><ruby>形<rp>(</rp>
							<rt>けい</rt>
							<rp>)</rp>
						</ruby>）</font>+<span style="
                color: rgb(255, 0, 0);
                font-size: 24px;
                text-align: center;
              ">みたい</span>
				</div>
				<div class="meaning">
					(Hoàn toàn) Cứ như là, giống như là
				</div>
				<div class="structure">
					<p>
						Dùng trong trường hợp muốn so sánh một sự việc, hành động ở mức
						cao, tương đương với điều mà người khác không thể hình dung ra
						nổi, khó tin.
					</p>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					<div>
						<ruby>合格<rp>(</rp>
							<rt>ごうかく</rt>
							<rp>)</rp>
						</ruby>した！まるで<ruby>夢<rp>(</rp>
							<rt>ゆめ</rt>
							<rp>)</rp>
						</ruby>のようだ。
					</div>
					<div>
						<ruby>彼<rp>(</rp>
							<rt>かれ</rt>
							<rp>)</rp>
						</ruby>の<ruby>日本語<rp>(</rp>
							<rt>にほんご</rt>
							<rp>)</rp>
						</ruby>はまるで<ruby>日本人<rp>(</rp>
							<rt>にほんじん</rt>
							<rp>)</rp>
						</ruby>が<ruby>話<rp>(</rp>
							<rt>はな</rt>
							<rp>)</rp>
						</ruby>しているみたいに<ruby>聞<rp>(</rp>
							<rt>き</rt>
							<rp>)</rp>
						</ruby>こえる。
					</div>
				</div>
			</div>
			<div class="flex-list">
				<div class="list-title">Danh sách tổng hợp</div>
				<ul>
					<a href="#1">
						<li>
							1.
							<span>～たとえ<ruby>反対<rp>(</rp>
									<rt>はんたい</rt>
									<rp>)</rp>
								</ruby>されても</span>
						</li>
					</a>
					<a href="#2">
						<li>2.<span>～もしかするとうそかもしれない</span></li>
					</a>
					<a href="#3">
						<li>
							3.<span>～<ruby>必<rp>(</rp>
									<rt>かなら</rt>
									<rp>)</rp>
								</ruby>ずしもいいとはない</span>
						</li>
					</a>
					<a href="#4">
						<li>
							4.<span>～まるで<ruby>夢<rp>(</rp>
									<rt>ゆめ</rt>
									<rp>)</rp>
								</ruby>のよう</span>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".menu-toggle").click(function () {
				$("nav").toggleClass("active");
			});
			$(".link").click(function () {
				$("nav").toggleClass("active");
			});
		});
	</script>
</body>

</html>