<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<title>日本語</title>
	<style>
		.flex-container {
			display: flex;
			flex-wrap: wrap;
		}

		.flex-content {
			width: 65%;
			height: auto;
			margin: 0 10px 0 0;
			border: #888 1px solid;
			padding: 15px;
			box-shadow: 3px 8px #888888;
		}

		.flex-list {
			width: 30%;
			height: 300px;
			padding: 5px;
			position: sticky;
			top: 0;
			border: 1px solid #888;
			box-shadow: 5px 10px #888888;
		}

		.title {
			font-size: 2em;
			letter-spacing: -1px;
			text-align: left;
		}

		.structure {
			color: #008080;
			font-size: 20px;
		}

		.meaning {
			color: coral;
		}

		.example {
			margin-bottom: 15px;
			line-height: 2em;
		}

		.example-title {
			font-size: 20px;
			font-style: oblique;
			text-decoration: underline;
		}

		.list-title {
			font-size: 20px;
			color: #008080;
			text-align: center;
		}

		@media screen and (max-width: 640px) {
			.flex-content {
				width: 100%;
			}

			.flex-list {
				display: none;
			}
		}
	</style>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr />
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link">
					<a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<div class="flex-container">
			<div class="flex-content">
				<!-- Phần 1 -->
				<div class="title" id="1">
					1. Động từ/ tính từ / danh từ + て/で,~
				</div>
				<div class="meaning">
					Chỉ nguyên nhân, mệnh đề sau là kết quả của mệnh đề đầu (nguyên
					nhân)
				</div>
				<div class="structure">
					<b>Động từ</b><br />
					Khẳng định : động từ thể て,~<br />
					Phủ định : Động từ thể ない　なくて,~<br />
					<b>Tính từ</b><br />
					Tính từ đuôi い: Bỏ [い] thêm [くて]<br />
					Tính từ đuôi な: Bỏ [な] thêm [で]<br />
					<b>Danh từ </b>:<br />
					Thêm [で]
				</div>
				<div class="example">
					<b>Tính từ, động từ biểu hiện cảm giác, tâm trạng</b><br />
					Ví dụ :<br />
					ニュースをきいて、びっくりしました<br />
					Tôi đã ngạc nhiên khi nghe tin<br />
					かそくにあえなくて、さびしいです<br />
					Không gặp được gia đình nên tôi buồn<br />
					<b>Động từ chỉ khả năng, trạng thái</b><br />
					Ví dụ :<br />
					どようびは つごうがわるくて、いけません<br />
					Tôi không thể đi được vì thứ 7 bận rồi<br />
					はなしがふくざつで、あまりわかりませんでした<br />
					Tôi không hiểu lắm vì câu chuyện phức tạp<br />
					<b>Tình huống trong quá khứ</b><br />
					Ví dụ :<br />
					じこがあって、バスが おくれてしまいました<br />
					Vì có tai nạn nên xe buýt đã đến muộn<br />
					じゅぎょうにおくれて、せんせいにしかられました<br />
					Vì đến muộn giờ học nên tôi bị thầy giáo mắng
				</div>
				<div class="example">
					<b>Khi mệnh đề sau có nội dung bao hàm chủ ý thì mệnh đề trước không
						sử dụng thể [て]、thay vào đó dùng [から]
					</b>
					<br />Ví dụ: <br />
					あぶないですから、きかいにさわらないで ください <br />
					Vì nguy hiểm, xin đừng sờ vào máy. <br />
					あぶなくて、きかいに さわらないで ください（ Sai ） <br />
					<b>Khi mệnh đề trước và mệnh đề sau của câu có sự liên hệ trước sau
						về mặt thời gian　hay nói cách khác sự việc của mệnh đề trước có
						trước, sự việc của mệnh đề sau có sau thì ta không thể dùng [て]
						mà phải dùng [から]
					</b>
					<br />Ví dụ : <br />あした かいぎが ありますから、きょう
					じゅんびしなければ なりません <br />
					Vì ngày mai có cuộc họp nên hôm nay phải chuẩn bị あした かいぎが
					あって、きょう じゅんびしなければなりません（Sai）
				</div>
				<!-- Phần 2 -->
				<div class="title" id="2">
					2. Danh từ + で
				</div>
				<div class="structure">
					khi chỉ nguyên nhân do các danh từ chỉ các hiện tượng tự nhiên hay
					các biến cố như じこ(tai nạn), じしん (động đất), かじ (hỏa hoạn),…
					gây ra
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					じこで でんしゃが とまりました<br />
					Tai nạn khiến xe điện ngừng chạy<br />
					ゆきで しんかんせんが おくれました<br />
					Tuyết rơi khiến tàu Shinkansen bị trễ
				</div>
				<div class="structure">
					Chú ý : Không thể sử dụng mẫu câu này nếu mệnh đề sau biểu thi chủ ý
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					びょうきで あした かいしゃを やすみたいです ( SAi ）<br />
					Vì bị ốm nên ngày mai tôi muốn nghỉ làm
				</div>
				<!-- Phần 3 -->
				<div class="title" id="3">
					3. Thể thông thường + ので,…
				</div>
				<div class="meaning">
					Nghĩa : Bởi vì
				</div>
				<div class="structure">
					Giống như [~から], [~ので] chỉ nguyên nhân, lý do
					<br />
					Trong khi [～から ] nhấn mạnh nguyên nhân, lý do một cách chủ quan
					thì
					<b>[～ので] là cách biểu hiện trình bày một cách khách quan về liên
						hệ giữa nguyên nhân và kết quả theo diễn biến tự nhiên</b>
					<br />
					*Danh từ thể thông thường ở đâu phải thay [な] bằng [だ]
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					きぶんがわるいので、おさきに かえっても いいですか
					<br />
					Vì trong người cảm thấy khó chịu nên tôi có thể về trước được không
					ạ?
					<br />
					バスが なかなか きなかったので、だいがくにおくれました
					<br />
					Vì xe buýt mãi không đến nên tôi bị đi học muộn
				</div>
				<div class="structure">
					<b>Chú ý : Do là sự biểu hiện nhẹ nhàng, mang tính khách quan nên
						không thể sử dụng thể mệnh lệnh, thể cấm đoán ở mệnh đề sau</b>
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					あぶないから、きかいにさわるな<br />
					Vì nguy hiểm, cấm sờ vào máy<br />
					あぶないので、きかいにさわるな ( Sai )<br />
					<b>
						Nếu muốn diễn đạt một cách lịch sự hơn thì có thể nối [の] với thể
						lịch sự</b><br />
					レポートを かかなければなりませんので、きょうは はやく
					かえります。<br />
					Vì phải viết báo cáo, nên hôm nay tôi sẽ về sớm
				</div>
				<!-- Phần 4 -->
				<div class="title" id="4">
					4. とちゅうで
				</div>
				<div class="meaning">
					Nghĩa : Trên đường …
				</div>
				<div class="structure">
					Cách dùng : Danh từ の /　Động từ nguyên dạng + とちゅうで
				</div>
				<div class="example">
					<div class="example-title">Ví dụ</div>
					じつは　くるとちゅうで　じこがあってので、ばすがおくれてしまったんです<br />
					Sự tình là trên đường đến đây có xảy ra một vụ tai nạn nên xe buýt
					đến trễ<br />
					マラトンのとちゅうで　きぶんがわるくなりました<br />
					Trên đường chạy maratong, tôi cảm thấy không khỏe
				</div>
			</div>

			<div class="flex-list">
				<div class="list-title">Danh sách tổng hợp</div>
				<ul>
					<a href="#1">
						<li>1. Động từ/ tính từ / danh từ + て/で,~</li>
					</a>
					<a href="#2">
						<li>
							2. Danh từ + で
						</li>
					</a>
					<a href="#3">
						<li>
							3. Thể thông thường + ので,…
						</li>
					</a>
					<a href="#4">
						<li>4. とちゅうで</li>
					</a>
				</ul>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".menu-toggle").click(function () {
				$("nav").toggleClass("active");
			});
			$(".link").click(function () {
				$("nav").toggleClass("active");
			});
		});
	</script>
</body>

</html>