<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link
      rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"
	/>
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="homepage">Home</a></li>
                <li class="link"><a th:href="detail">N5</a></li>
                <li class="link"><a th:href="detail">N4</a></li>
                <li class="link"><a th:href="detail">N3</a></li>
                <li class="link"><a th:href="happyo">Happyo</a></li>
                <li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
    </header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead class="thead-dark">
				<tr>
				  <th>Từ Vựng</th>
				  <th>Hán Tự</th>
				  <th>Âm Hán</th>
				  <th>Nghĩa</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th>きります</th>
				  <td>切ります</td>
				  <td>THIẾT</td>
				  <td>cắt</td>
				</tr>
				<tr>
				  <th>おくります</th>
				  <td>送ります</td>
				  <td>TỐNG</td>
				  <td>gửi</td>
				</tr>
				<tr>
				  <th>あげます</th>
				  <td></td>
				  <td></td>
				  <td>cho, tặng</td>
				</tr>
				<tr>
				  <th>もらいます</th>
				  <td></td>
				  <td></td>
				  <td>nhận</td>
				</tr>
				<tr>
				  <th>かします</th>
				  <td>貸します</td>
				  <td>THẢI</td>
				  <td>cho mượn, cho vay</td>
				</tr>
				<tr>
				  <th>かります</th>
				  <td>借ります</td>
				  <td>TÁ</td>
				  <td>mượn, vay</td>
				</tr>
				<tr>
				  <th>おしえます</th>
				  <td>教えます</td>
				  <td>GIÁO</td>
				  <td>dạy</td>
				</tr>
				<tr>
				  <th>ならいます</th>
				  <td>習います</td>
				  <td>TẬP</td>
				  <td>học, tập</td>
				</tr>
				<tr>
				  <th>
					かけます<br />
					[でんわを～]
				  </th>
				  <td>かけます<br />[電話を～]</td>
				  <td>ĐIỆN THOẠI</td>
				  <td>gọi [điện thoại]</td>
				</tr>
				<tr>
				  <th>はし</th>
				  <td></td>
				  <td></td>
				  <td>đũa</td>
				</tr>
				<tr>
				  <th>スプーン</th>
				  <td></td>
				  <td></td>
				  <td>thìa</td>
				</tr>
				<tr>
				  <th>ナイフ</th>
				  <td></td>
				  <td></td>
				  <td>dao</td>
				</tr>
				<tr>
				  <th>フォーク</th>
				  <td></td>
				  <td></td>
				  <td>nĩa</td>
				</tr>
				<tr>
				  <th>はさみ</th>
				  <td></td>
				  <td></td>
				  <td>kéo</td>
				</tr>
				<tr>
				  <th>パソコン</th>
				  <td></td>
				  <td></td>
				  <td>máy vi tính cá nhân</td>
				</tr>
				<tr>
				  <th>ケータイ</th>
				  <td></td>
				  <td></td>
				  <td>điện thoại di động</td>
				</tr>
				<tr>
				  <th>て</th>
				  <td>手</td>
				  <td>THỦ</td>
				  <td>tay</td>
				</tr>
				<tr>
				  <th>メール</th>
				  <td></td>
				  <td></td>
				  <td>thư điện tử, email</td>
				</tr>
				<tr>
				  <th>ねんがじょう</th>
				  <td>年賀状</td>
				  <td>NIÊN HẠ TRẠNG</td>
				  <td>thiệp mừng năm mới</td>
				</tr>
				<tr>
				  <th>パンチ</th>
				  <td></td>
				  <td></td>
				  <td>cái đục lỗ</td>
				</tr>
				<tr>
				  <th>ホッチキス</th>
				  <td></td>
				  <td></td>
				  <td>cái dập ghim</td>
				</tr>
				<tr>
				  <th>セロテープ</th>
				  <td></td>
				  <td></td>
				  <td>băng dính</td>
				</tr>
				<tr>
				  <th>けしゴム</th>
				  <td></td>
				  <td></td>
				  <td>cái tẩy</td>
				</tr>
				<tr>
				  <th>かみ</th>
				  <td>紙</td>
				  <td>CHỈ</td>
				  <td>giấy</td>
				</tr>
				<tr>
				  <th>はな</th>
				  <td>花</td>
				  <td>HOA</td>
				  <td>hoa</td>
				</tr>
				<tr>
				  <th>シャツ</th>
				  <td></td>
				  <td></td>
				  <td>áo sơ mi</td>
				</tr>
				<tr>
				  <th>プレゼント</th>
				  <td></td>
				  <td></td>
				  <td>quà tặng, tặng phẩm</td>
				</tr>
				<tr>
				  <th>にもつ</th>
				  <td>荷物</td>
				  <td>HÀ VẬT</td>
				  <td>đồ đạc, hành lý</td>
				</tr>
				<tr>
				  <th>おかね</th>
				  <td>お金</td>
				  <td>KIM</td>
				  <td>tiền</td>
				</tr>
				<tr>
				  <th>きっぷ</th>
				  <td>切符</td>
				  <td>THIẾT PHÙ</td>
				  <td>vé</td>
				</tr>
				<tr>
				  <th>クリスマス</th>
				  <td></td>
				  <td></td>
				  <td>Giáng sinh</td>
				</tr>
				<tr>
				  <th>ちち</th>
				  <td>父</td>
				  <td>PHỤ</td>
				  <td>bố (dùng khi nói về bố mình)</td>
				</tr>
				<tr>
				  <th>はは</th>
				  <td>母</td>
				  <td>MẪU</td>
				  <td>mẹ (dùng khi nói về mẹ mình)</td>
				</tr>
				<tr>
				  <th>おとうさん</th>
				  <td>お父さん</td>
				  <td>PHỤ</td>
				  <td>
					bố (dùng khi nói về bố người khác và <br />dùng khi xưng hô với
					bố mình)
				  </td>
				</tr>
				<tr>
				  <th>おかあさん</th>
				  <td>お母さん</td>
				  <td>MẪU</td>
				  <td>
					mẹ (dùng khi nói về mẹ người khác và <br />dùng khi xưng hô với
					mẹ mình)
				  </td>
				</tr>
				<tr>
				  <th>もう</th>
				  <td></td>
				  <td></td>
				  <td>đã, rồi</td>
				</tr>
				<tr>
				  <th>まだ</th>
				  <td></td>
				  <td></td>
				  <td>chưa</td>
				</tr>
				<tr>
				  <th>これから</th>
				  <td></td>
				  <td></td>
				  <td>từ bây giờ, sau đây</td>
				</tr>
				<tr>
				  <th colspan="3">[～、]すてきですね。</th>
				  <td>[~] hay nhỉ./ đẹp nhỉ.</td>
				</tr>
				<tr>
				  <th colspan="3">いらっしゃい。</th>
				  <td>Chào mừng anh/chị đã đến chơi.</td>
				</tr>
				<tr>
				  <th colspan="3">どうぞ　おあがりください。</th>
				  <td>Mời anh/chị vào.</td>
				</tr>
				<tr>
				  <th colspan="3">しつれいします。</th>
				  <td>Xin thất lễ</td>
				</tr>
				<tr>
				  <th colspan="3">[～は]いかがですか。</th>
				  <td>Anh/chị dùng [~] có được không?</td>
				</tr>
				<tr>
				  <th colspan="3">いただきます。</th>
				  <td>Xin nhận ~. (cách nói dùng trước khi ăn hoặc uống)</td>
				</tr>
				<tr>
				  <th colspan="3">ごちそうさま［でした］</th>
				  <td>
					Xin cám ơn anh/chị đã đãi tôi bữa ăn ngon (cách nói dùng sau khi
					ăn xong)
				  </td>
				</tr>
				<tr>
				  <th colspan="3">スペイン</th>
				  <td>Tây Ban Nha</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		<!-- End Table -->
	  </div>
	  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>