<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>かんがえます</th>
						<td>考えます</td>
						<td>KHẢO</td>
						<td>nghĩ, suy nghĩ</td>
					</tr>
					<tr>
						<th>つきます</th>
						<td>着きます</td>
						<td>TRƯỚC</td>
						<td>đến</td>
					</tr>
					<tr>
						<th>とります<br />[としを～]</th>
						<td>取ります<br />[年を～]</td>
						<td>THỦ<br />NIÊN</td>
						<td>thêm [tuổi]</td>
					</tr>
					<tr>
						<th>たります</th>
						<td>足ります</td>
						<td>ĐỦ</td>
						<td>đủ</td>
					</tr>
					<tr>
						<th>いなか</th>
						<td>&nbsp;田舎</td>
						<td>ĐIỀN XÁ</td>
						<td>quê, nông thôn</td>
					</tr>
					<tr>
						<th>チャンス</th>
						<td></td>
						<td></td>
						<td>cơ hội</td>
					</tr>
					<tr>
						<th>おく</th>
						<td>&nbsp;億</td>
						<td>ỨC</td>
						<td>một trăm triệu</td>
					</tr>
					<tr>
						<th>もし[～たら]</th>
						<td></td>
						<td></td>
						<td>nếu [~ thì]</td>
					</tr>
					<tr>
						<th>いみ</th>
						<td>意味</td>
						<td>Ý VỊ</td>
						<td>nghĩa, ý nghĩa</td>
					</tr>
					<tr>
						<th colspan="3">もしもし</th>
						<td>A-lô</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>転勤<rp>（</rp>
								<rt>てんきん</rt>
								<rp>）</rp>
							</ruby>
						</th>
						<td>
							việc chuyển địa điểm làm việc<br />(～します：chuyển địa điểm
							làm việc)
						</td>
					</tr>
					<tr>
						<th colspan="3">こと</th>
						<td>việc , chuyện (~の　こと: việc ~)</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>暇<rp>（</rp>
								<rt>ひま</rt>
								<rp>）</rp>
							</ruby>
						</th>
						<td>thời gian rảnh</td>
					</tr>
					<tr>
						<th colspan="3">
							[いろいろ]お<ruby>世話<rp>（</rp>
								<rt>せわ</rt>
								<rp>）</rp>
							</ruby>になりました。
						</th>
						<td>Anh/chị đã giúp tôi (nhiều).</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>頑張<rp>（</rp>
								<rt>がんば</rt>
								<rp>）</rp>
							</ruby>ります
						</th>
						<td>cố, cố gắng</td>
					</tr>
					<tr>
						<th colspan="3">
							どうぞお<ruby>元気<rp>（</rp>
								<rt>げんき</rt>
								<rp>）</rp>
							</ruby>で。
						</th>
						<td>Chúc anh/chị mạnh khỏe.</td>
					</tr>
					<tr>
						<th colspan="3">ベトナム</th>
						<td>Việt Nam</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>