<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>かんたん「な」</th>
						<td>簡単「な」</td>
						<td>GIẢN ĐƠN</td>
						<td>đơn giản, dễ</td>
					</tr>
					<tr>
						<th>ちかい</th>
						<td>近い</td>
						<td>CẬN</td>
						<td>gần</td>
					</tr>
					<tr>
						<th>とおい</th>
						<td>遠い</td>
						<td>VIỄN</td>
						<td>xa</td>
					</tr>
					<tr>
						<th>はやい</th>
						<td>速い, 早い</td>
						<td>TỐC、TẢO</td>
						<td>nhanh, sớm</td>
					</tr>
					<tr>
						<th>おそい</th>
						<td>遅い</td>
						<td>TRÌ</td>
						<td>chậm, muộn</td>
					</tr>
					<tr>
						<th>[ひとが～] おおい</th>
						<td>[人が～]多い</td>
						<td>NHÂN ĐA</td>
						<td>nhiều [người]</td>
					</tr>
					<tr>
						<th>[ひとが～]すくない</th>
						<td>[人が～]少ない</td>
						<td>NHÂN, THIỂU/THIẾU</td>
						<td>ít [người]</td>
					</tr>
					<tr>
						<th>あたたかい</th>
						<td>温かい,暖かい</td>
						<td>ÔN、NOÃN</td>
						<td>ấm</td>
					</tr>
					<tr>
						<th>すずしい</th>
						<td>涼しい</td>
						<td>LƯƠNG</td>
						<td>mát</td>
					</tr>
					<tr>
						<th>あまい</th>
						<td>甘い</td>
						<td>CAM</td>
						<td>ngọt</td>
					</tr>
					<tr>
						<th>からい</th>
						<td>辛い</td>
						<td>TÂN</td>
						<td>cay</td>
					</tr>
					<tr>
						<th>おもい</th>
						<td>重い</td>
						<td>TRỌNG</td>
						<td>nặng</td>
					</tr>
					<tr>
						<th>かるい</th>
						<td>軽い</td>
						<td>KHINH</td>
						<td>nhẹ</td>
					</tr>
					<tr>
						<th>[コーヒーが～]いい</th>
						<td></td>
						<td></td>
						<td>thích, chọn, dùng [cafe]</td>
					</tr>
					<tr>
						<th>きせつ</th>
						<td>季節</td>
						<td>QUÝ TIẾT</td>
						<td>mùa</td>
					</tr>
					<tr>
						<th>はる</th>
						<td>春</td>
						<td>XUÂN</td>
						<td>mùa xuân</td>
					</tr>
					<tr>
						<th>なつ</th>
						<td>夏</td>
						<td>HẠ</td>
						<td>mùa hè</td>
					</tr>
					<tr>
						<th>あき</th>
						<td>秋</td>
						<td>THU</td>
						<td>mùa thu</td>
					</tr>
					<tr>
						<th>ふゆ</th>
						<td>冬</td>
						<td>ĐÔNG</td>
						<td>mùa đông</td>
					</tr>
					<tr>
						<th>てんき</th>
						<td>天気</td>
						<td>THIÊN KHÍ</td>
						<td>thời tiết</td>
					</tr>
					<tr>
						<th>あめ</th>
						<td>雨</td>
						<td>VŨ</td>
						<td>mưa</td>
					</tr>
					<tr>
						<th>ゆき</th>
						<td>雪</td>
						<td>TUYẾT</td>
						<td>tuyết</td>
					</tr>
					<tr>
						<th>くもり</th>
						<td>曇り</td>
						<td>ĐÀM</td>
						<td>có mây</td>
					</tr>
					<tr>
						<th>ホテル</th>
						<td></td>
						<td></td>
						<td>khách sạn</td>
					</tr>
					<tr>
						<th>くうこう</th>
						<td>空港</td>
						<td>KHÔNG CẢNG</td>
						<td>sân bay</td>
					</tr>
					<tr>
						<th>うみ</th>
						<td>海</td>
						<td>HẢI</td>
						<td>biển, đại dương</td>
					</tr>
					<tr>
						<th>せかい</th>
						<td>世界</td>
						<td>THẾ GIỚI</td>
						<td>thế giới</td>
					</tr>
					<tr>
						<th>パーティー</th>
						<td></td>
						<td></td>
						<td>tiệc (~をします：tổ chức tiệc)</td>
					</tr>
					<tr>
						<th>[お]まつり</th>
						<td>[お]祭り</td>
						<td>TẾ</td>
						<td>lễ hội</td>
					</tr>
					<tr>
						<th>すきやき</th>
						<td>すき焼き</td>
						<td>THIÊU</td>
						<td>Sukiyaki (món thịt bò nấu rau)</td>
					</tr>
					<tr>
						<th>さしみ</th>
						<td>刺身</td>
						<td>THÍCH THÂN</td>
						<td>Sashimi (món gỏi cá sống)</td>
					</tr>
					<tr>
						<th>[お]すし</th>
						<td></td>
						<td></td>
						<td>Sushi</td>
					</tr>
					<tr>
						<th>てんぷら</th>
						<td></td>
						<td></td>
						<td>Tempura (món hải sản và rau chiên tẩm bột)</td>
					</tr>
					<tr>
						<th>ぶたにく</th>
						<td>豚肉</td>
						<td>ĐỒN NHỤC</td>
						<td>thịt heo, thịt lợn</td>
					</tr>
					<tr>
						<th>とりにく</th>
						<td>とり肉</td>
						<td>NHỤC</td>
						<td>thịt gà</td>
					</tr>
					<tr>
						<th>ぎゅうにく</th>
						<td>牛肉</td>
						<td>NGƯU NHỤC</td>
						<td>thịt bò</td>
					</tr>
					<tr>
						<th>レモン</th>
						<td></td>
						<td></td>
						<td>chanh tây</td>
					</tr>
					<tr>
						<th>いけばな</th>
						<td>生け花</td>
						<td>SINH HOA</td>
						<td>Nghệ thuật cắm hoa (～をします：cắm hoa)</td>
					</tr>
					<tr>
						<th>もみじ</th>
						<td>紅葉</td>
						<td>HỒNG DIỆP</td>
						<td>lá đỏ</td>
					</tr>
					<tr>
						<th>どちら</th>
						<td></td>
						<td></td>
						<td>cái nào</td>
					</tr>
					<tr>
						<th>どちらも</th>
						<td></td>
						<td></td>
						<td>cả hai</td>
					</tr>
					<tr>
						<th>いちばん</th>
						<td></td>
						<td></td>
						<td>nhất</td>
					</tr>
					<tr>
						<th>ずっと</th>
						<td></td>
						<td></td>
						<td>(hơn) hẳn , suốt</td>
					</tr>
					<tr>
						<th>はじめて</th>
						<td>初めて</td>
						<td>SƠ</td>
						<td>lần đầu tiên</td>
					</tr>
					<tr>
						<th colspan="3">ただいま。</th>
						<td>Tôi đã về đây. (dùng nói khi về đến nhà)</td>
					</tr>
					<tr>
						<th colspan="3">
							お<ruby>帰<rp>（</rp>
								<rt>かえ</rt>
								<rp>）</rp>
							</ruby>りなさい
						</th>
						<td>
							Anh/Chị đã về đấy à.<br />
							(dùng để nói với ai đó mới về đến nhà)
						</td>
					</tr>
					<tr>
						<th colspan="3">
							わあ、すごい<ruby>人<rp>（</rp>
								<rt>ひと</rt>
								<rp>）</rp>
							</ruby>ですね。
						</th>
						<td>Ôi, (người) đông quá nhỉ!</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>疲<rp>（</rp>
								<rt>つか</rt>
								<rp>）</rp>
							</ruby>れました。
						</th>
						<td>Tôi mệt rồi</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>祗園<rp>（</rp>
								<rt>ぎおん</rt>
								<rp>）</rp>
							</ruby><ruby>祭<rp>（</rp>
								<rt>まつり</rt>
								<rp>）</rp>
							</ruby>
						</th>
						<td>Lễ hội Gi-ôn (lễ hội nổi tiếng nhất ở Kyoto)</td>
					</tr>
					<tr>
						<th colspan="3">ホンコン</th>
						<td>Hồng Kông</td>
					</tr>
					<tr>
						<th colspan="3">シンガポール</th>
						<td>Singapore</td>
					</tr>
					<tr>
						<th colspan="3">ＡＣＢストア</th>
						<td>tên một siêu thị (giả định)</td>
					</tr>
					<tr>
						<th colspan="3">ジャパン</th>
						<td>tên một siêu thị (giả định)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>