<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life Topic Speeches</h1>
                    </div>
                    <div class="detail-inform">
                        <img style=" border-radius: 50%;"
                            src="https://secure.gravatar.com/avatar/f793421032410f8d9e0eda8a6a0233d3?s=50&d=mm&r=g"
                            alt="">
                        <p style="margin:0; display:inline; padding: 15px 5px 0px 10px;">Postt By: </p><p style="margin:0; display:inline; padding: 14px 5px 0px 5px;" th:text="${happyo.author}"></p>
                    </div>
                </div>

                <div class="img-detail">
                    <img src="https://demo.goodlayers.com/akea/homepage3/wp-content/uploads/2018/11/pexels-photo-871053-1300x530.jpeg"
                        alt="">
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                        <p th:text="${happyo.date}"></p>
                    </div>
                    <div class="detail-body-title">
                        <p th:text="${happyo.title}" style="font-size: larger; font-weight: bold;"></p>
                    </div>
                    <div class="detail-body-content">
                        <p th:text="${happyo.content}">
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All
                    Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>