<!DOCTYPE html>
<html lang="en">
  <!-- Nếu ko nhét thêm link thì sửa thành ~{} thay vì ~{::link} -->
  <head th:replace="fragments/fragment :: common_header(~{::title},~{::link})">
    <title>Awesome - Main</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}" />
  </head>
  <body>
    <div th:insert="~{fragments/fragment :: copy}"></div>
    <div th:replace="~{fragments/fragment :: copy}"></div>
    <div th:include="~{fragments/fragment :: copy}"></div>
    <!-- 3 cái trên sẽ render tương ứng 3 cái dưới -->
    <!-- <div>
      <footer>
        This is footer
      </footer>
    </div>

    <footer>
      This is footer
    </footer>

    <div>
      This is footer
    </div> -->
  </body>
</html>
