<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleother.css">
    <link rel="stylesheet" href="responsiveAll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="headpage">
            <div class="container">
                <div id="mySidebar" class="sidebar">
                    <div class="logo" style="font-size: 25px; color: #737373;">
                        <a th:href="homepage" style="font-weight: 700;">日本語の勉強</a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a th:href="news" style="text-decoration: none;"><i class="fa fa-newspaper-o"></i> News</a>
                    <a th:href="N5-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N5</a>
                    <a th:href="N4-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N4</a>
                    <a th:href="N3-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N3</a>
                    <a th:href="listhappyo" style="text-decoration: none;"><i class="fa fa-comments-o"></i> Happyo</a>
                    <a th:href="weekly-words" style="text-decoration: none;"><i class="fa fa-calendar"></i> Weekly</a>
                    <a th:href="recipe" style="text-decoration: none;"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    <a target="_blank" href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                    </a>
                </div>
            </div>
            <div class="container" style="margin-top: 10%;">
                <div id="main" style="position: fixed;">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
            </div>
            <div class="container">
                <div class="logo-page">
                    <img src="https://images.pexels.com/photos/3380875/pexels-photo-3380875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                </div>
                <div class="review">
                    <div class="greeting">Hello Everyone</div>
                    <div class="name">This is the Japanese learning website of urban Vietnam</div>
                    <p class="infomation">Hoping to create a website that can help people improve their Japanese knowledge, hope can help a part of learners.</p>
                </div>
            </div>
            <img class="head-bg" src="./hp2-hero-bg.jpg">
        </div>
        <div class="bodypage">
            <div class="content-title">
                <p>Recent Activities</p>
            </div>
            <div class="content-body">
                <div class="container">
                    <div class="row">
                        <div class="activity">
                            <div class="activity_image">
                                <img class="" src="https://images.pexels.com/photos/3786153/pexels-photo-3786153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">HAPPYO</p>
                                <p style="font-size: 20px; font-weight: bolder;">免疫力</p>
                                <p>免疫力というのは、体を病気から守る力のことです。免疫力が弱くなると、病気にかかりやすくなります。この免疫力を強くするためには、どのようにすればいいのでしょうか。...
                                </p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="activity_image">
                                <img src="https://japanesetest4you.com/infographic/057/jpvocab-kotoba-s.jpg" alt="">
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">WEEKLY</p>
                                <p style="font-size: 20px; font-weight: bolder;">毎週の言葉</p>
                                <p>つながる<br> ひょう<br> かんしゃ...
                                </p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="activity_image">
                                <img src="https://cdn.daotaobeptruong.vn/wp-content/uploads/2020/03/cach-nau-pho-bo.jpg" alt="">
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">HAPPYO</p>
                                <p style="font-size: 20px; font-weight: bolder;">ベトナムのフォー</p>
                                <p>フォーはベトナムの伝統的な（でんとうてきな）料理で、ナムディンに由来されています。特にベトナム料理の代表的な（だいひょうてきな）料理の1つと考えることもできます。...
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="activity">
                            <div class="activity_image">
                                <img src="https://giangbe.com/wp-content/uploads/2020/05/BFDA2C5D-BF58-427A-8AA6-590FAA0DD0F4.png" alt=""></a>
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">N5 Tutorial</p>
                                <p style="font-size: 20px; font-weight: bolder;">
                                    <a th:href="N5-gramma">Grammar</a> </p>
                                <p>This is a list of grammar rules you need to study for the Japanese Language Proficiency Test level N5. JLPT N5 Grammar List. Click on each grammar for more ...
                                </p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="activity_image">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/BTS_N4.png" alt="">
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">N4 Tutorial</p>
                                <p style="font-size: 20px; font-weight: bolder;">
                                    <a th:href="N4-gramma">Grammar</a>
                                </p>
                                <p>This is the list of the Japanese grammar rules needed to study for the Japanese Language Proficiency Test N4. (JLPT N4 Grammar List)...</p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="activity_image">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/BTS_N3.svg" alt="">
                            </div>
                            <div class="activity_detail">
                                <p style="color: lightcoral; font-size: 15px;">N3 Tutorial</p>
                                <p style="font-size: 20px; font-weight: bolder;"><a th:href="N3-gramma">Grammar</a></p>
                                <p>This is a complete list of the Japanese grammar rules needed to study for and pass the N3 Japanese Language Proficiency Test. Although there is no official ...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>