<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Login Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-login.css}" />
  </head>
  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <img
                th:src="@{/images/urban.png}"
                style="height: 100%; width: 100%;"
              />
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form th:method="POST" th:action="@{/login}">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="username"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                    />
                  </div>

                  <div class="form-group">
                    <label for="password">Password </label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      required
                    />
                  </div>

                  <div class="form-group no-margin">
                    <button type="submit" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">
              Copyright &copy; Urban 2020
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>