<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylenew.css">
    <style>
        .centernav .title a:hover {
            color: #636363;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="toppage">
            <div class="topnav">
                <div class="container">
                    <nav>
                        <ul>
                            <!-- <li><a href="">日本語勉強</a></li> -->
                            <li><a th:href="news">News</a></li>
                            <li><a th:href="N5-detail">N5</a></li>
                            <li><a th:href="N4-detail">N4</a></li>
                            <li><a th:href="N3-detail">N3</a></li>
                            <li><a th:href="listhappyo">Happyo</a></li>
                            <li><a th:href="Weekly-words">Weekly</a></li>
                            <li><a th:href="recipe">Receipt's Cooking</a></li>
                            <li>
                                <a href="https://e-jan.vn/">
                                    <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="centernav">
                <div class="title">
                    <p> <a href="homepage">日本語勉強</a></p>
                </div>
            </div>
            <div class="bottomnav">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory" class="dropbtn">News</a>
                                    <div class="dropdown-content">
                                        <a href="#">Politic</a>
                                        <a href="#">Traffic</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a th:href="menucategory2" class="dropbtn">World</a>
                                    <div class="dropdown-content">
                                        <a href="#">Data</a>
                                        <a href="#">Analysis</a>
                                        <a href="#">Military</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory3" class="dropbtn">Business</a>
                                    <div class="dropdown-content">
                                        <a href="#">International</a>
                                        <a href="#">Enterprise</a>
                                        <a href="#">Startup</a>
                                        <a href="#">Stock</a>
                                        <a href="#">Real Estate</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory4" class="dropbtn">Entertainment</a>
                                    <div class="dropdown-content">
                                        <a href="#">World Stars</a>
                                        <a href="#">Video</a>
                                        <a href="#">Movie</a>
                                        <a href="#">Music</a>
                                        <a href="#">Fashion</a>
                                        <a href="#">Makeup</a>
                                        <a href="#">Art, Book</a>
                                        <a href="#">Comedy</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory5" class="dropbtn">Sport</a>
                                    <div class="dropdown-content">
                                        <a href="#">Soccer</a>
                                        <a href="#">Tennis</a>
                                        <a href="#">Other Subject</a>
                                        <a href="#">Schedule</a>
                                        <a href="#">World Cup</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a style="border-bottom: 1px solid #222;" href="menucategory6" class="dropbtn">Law</a>
                                    <div class="dropdown-content">
                                        <a href="#">Criminal</a>
                                        <a href="#">Advisory</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory7" class="dropbtn">Education</a>
                                    <div class="dropdown-content">
                                        <a href="#">Heath & Life</a>
                                        <a href="#">Admissions</a>
                                        <a href="#">Study Aboard</a>
                                        <a href="#">Study Language</a>
                                        <a href="#">Education 4.0</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory8" class="dropbtn">Travel</a>
                                    <div class="dropdown-content">
                                        <a href="#">Destination</a>
                                        <a href="#">Image</a>
                                        <a href="#">Advisory</a>
                                        <a href="">Hand's Book</a>
                                        <a href="">Safe Trip</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="menucategory9" class="dropbtn">Science</a>
                                    <div class="dropdown-content">
                                        <a href="#">News</a>
                                        <a href="#">Invention</a>
                                        <a href="#">Advisory</a>
                                        <a href="#">Application</a>
                                        <a href="#">Nature World</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="left">
                <div class="container">
                    <div class="title-left">
                        <div class="img">
                            <a href="">
                                <img src="https://image.thanhnien.vn/660x370/uploaded/dongns/2021_01_22/hoangtung_mnok.jpg" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="" class="title-content ">Chairman of H. Nha Be People's Committee is Chairman of Thu Duc City People's Committee</a>
                        </div>
                        <div class="date">
                            <p>2021-01-17: 3 hours ago</p>
                        </div>
                    </div>
                    <div class="nav-left">
                        <nav>
                            <ul>
                                <li class="active">
                                    <div class="title-left">
                                        <a href="">LASTEST NEWS</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="item-left">
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/lamvien/2021_01_22/h-06_ztpe.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Da Lat: Building a hotel with 5 basements, causing subsidence and damage to 12 houses</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/khatm/2021_01_22/daidien_diqd.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Ho Chi Minh City: Rescued 7 people trapped in the fire</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/lequan/2021_01_22/dinhlathang_ljsw.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">HCMC: Investigation of a shooting at a gas station in Binh Tan District</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/thutuong_qxmh.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Australia looks forward to elevating relations with Vietnam to a Comprehensive Strategic Partnership by 2023</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/3_avke.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Buy firecrackers through social networks to sell for a profit</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/nguyen-thanh-binh_ahqc_cckd.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">LETTER XIII must have a steady transition between generations</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/nguyenphutrong_exmf.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">The State President's Office has improved comprehensively in all working aspects</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/uploaded/hoangnam/2021_01_22/xet-nghiem-5_pfmm_mlxw.gif" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Two more people entering from the US on Covid-19 positive flight VN441’</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/congthang/2021_01_21/3wecan_llrm.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Warming with K warriors</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/linhnt.qc/2021_01_21/bigo/bigo_ava_qltr.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Meet Vietnam's top idols at the 2021 BIGO Awards Gala</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="nav-left">
                        <nav>
                            <ul>
                                <li class="active">
                                    <div class="title-left">
                                        <a href="">POPULAR NEWS</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="title-left">
                                        <a href="">RECENT NEWS</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="title-left" style="padding-top: 10;">
                        <div class="img">
                            <a href="">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/hoangnam/2021_01_15/5b5251315dmy__pha__m_tro_i_no__i_du_o__c_ba_y_ba_n_ta_i_cho___de_m_la_ng_da_i_ho_c__qua__n_thu__du__c__tp_fhix.jpg" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="" class="title-content ">Counterfeit stalls and goods bloomed in the Tet market</a>
                        </div>
                        <div class="date">
                            <p>2021-01-17: 3 hours ago</p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <div class="title-right" style="margin-top: 0;">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">JANUARY EVENT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Exposing the shirt in front of the lower projection team, Coach Truong Viet Hoang: 'Viettel is lacking a leader'</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Iran is constantly launching rockets</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> 6 amazing benefits of black carrots you may not know yet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content">  Nguyen Quoc Tram, former director of the Khanh Hoa Department of Foreign Affairs, was sentenced to 7 years in prison</a>
                        </div>
                    </div>

                    <div class="title-right">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">READ A LOT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">1. Revealing the secret why 'young pilot' likes to 'fly a granny plane'? </a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">2. Nominated 4 key leadership titles of term XIII</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">3. Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">4. Russia is about to restore its flight to Vietnam</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">5. US Vice President Mike Pence congratulates the opponent</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">6. Having been promised a free Covid-19 vaccine by China, the Philippines still mentioned the South China Sea</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">7. Nam Em - Lanh Thanh walked sweetly on the golden carpet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">8. Premier League results: 'Fox' Leicester warmed up the great war between Liverpool and MU</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">9. Superstar Cristiano Ronaldo was suddenly criticized by the 'Juventus family' before Derby d'Italia</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">10. USD price today 17.1.2021: Increased despite the US economic relief</a>
                        </div>
                    </div>

                    <div class="title-right">
                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/hoangnam/2021_01_22/a1-trang17-022_dsns.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content "> There will be an 'unprecedented' multi-disciplinary university model in Vietnam</a>
                            </div>
                        </div>

                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/chicuong/2021_01_04/nbox/honda_kurukuru_cabin_air_filter_mask_lmod.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content ">Air-conditioning filter prevents Covid from Honda from being able to fit in other brands</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="container">
                <div class="title-media">
                    <p>MEDIA NEWS</p>
                </div>
                <div class="item">
                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/150x100/uploaded/maiphuong/2021_01_16/hinh1dautuongan_wxst.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Listed enterprises have reported profits during the year Covid</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/than/dautieng_zing_7_zwjz.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">5 solar power projects were fined, tax arrears 210 billion VND</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/%E1%BA%A3nh%20h%C3%A0ng%20gi%E1%BA%A3/2_gdwg_kuvl.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Natural disasters, extreme storms and floods ranked the top 10 outstanding natural</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/than/xe_hhew_qbpk.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Prime Minister directs to move away from using coal, honeycomb as early as 2021</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
        </div>
    </div>
</body>