<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylenew.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="toppage">
            <div class="topnav" id="myTopnav">
                <div class="container">
                    <a href="homepage"><i class="fa fa-home"></i> Home</a>
                    <a href="news">News</a>
                    <a href="N5-detail">N5</a>
                    <a href="N4-detail">N4</a>
                    <a href="N3-detail">N3</a>
                    <a href="listhappyo">Happyo</a>
                    <a href="Weekly-words">Weekly</a>
                    <a href="recipe">Receipt's Cooking</a>
                    <a href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="">
                    </a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="centernav">
                <div class="title">
                    <p>日本語勉強</p>
                </div>
            </div>
            <div class="bottomnav">
                <div class="container">
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory" class="dropbtn">News</a>
                                <div class="dropdown-content">
                                    <a href="#">Politic</a>
                                    <a href="#">Traffic</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory2" class="dropbtn">World</a>
                                <div class="dropdown-content">
                                    <a href="#">Data</a>
                                    <a href="#">Analysis</a>
                                    <a href="#">Military</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a style="border-bottom: 3px solid #333;" href="menucategory3" class="dropbtn">Business</a>
                                <div class="dropdown-content">
                                    <a href="#">International</a>
                                    <a href="#">Enterprise</a>
                                    <a href="#">Startup</a>
                                    <a href="#">Stock</a>
                                    <a href="#">Real Estate</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory4" class="dropbtn">Entertainment</a>
                                <div class="dropdown-content">
                                    <a href="#">World Stars</a>
                                    <a href="#">Video</a>
                                    <a href="#">Movie</a>
                                    <a href="#">Music</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Makeup</a>
                                    <a href="#">Art, Book</a>
                                    <a href="#">Comedy</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory5" class="dropbtn">Sport</a>
                                <div class="dropdown-content">
                                    <a href="#">Soccer</a>
                                    <a href="#">Tennis</a>
                                    <a href="#">Other Subject</a>
                                    <a href="#">Schedule</a>
                                    <a href="#">World Cup</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory6" class="dropbtn">Law</a>
                                <div class="dropdown-content">
                                    <a href="#">Criminal</a>
                                    <a href="#">Advisory</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory7" class="dropbtn">Education</a>
                                <div class="dropdown-content">
                                    <a href="#">Admissions</a>
                                    <a href="#">Study Aboard</a>
                                    <a href="#">Study Language</a>
                                    <a href="#">Education 4.0</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory8" class="dropbtn">Travel</a>
                                <div class="dropdown-content">
                                    <a href="#">Destination</a>
                                    <a href="#">Image</a>
                                    <a href="#">Advisory</a>
                                    <a href="">Hand's Book</a>
                                    <a href="">Safe Trip</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory9" class="dropbtn">Science</a>
                                <div class="dropdown-content">
                                    <a href="#">News</a>
                                    <a href="#">Invention</a>
                                    <a href="#">Advisory</a>
                                    <a href="#">Application</a>
                                    <a href="#">Nature World</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="left">
                <div class="container">
                    <div class="title-left">
                        <div class="img">
                            <a href="morenewsdetail4">
                                <img src="https://image.thanhnien.vn/660x370/uploaded/maiha/2021_01_22/anhmaybayvna-hm_jcco.jpg" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="morenewsdetail4" class="title-content ">Passengers 'criticizing' flights on Tet's night?</a>
                        </div>
                        <div class="date">
                            <p>2021-01-17: 3 hours ago</p>
                        </div>
                    </div>
                    <div class="nav-left">
                        <nav>
                            <ul>
                                <li class="active">
                                    <div class="title-left">
                                        <a href="">LASTEST NEWS</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="item-left">
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2021_01_22/kiem/hinh-2_aohb.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Portrait of Entrepreneur - Labor Hero in the doi moi era: Le Van Kiem - Tran Cam Nhung</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/maiphuong/2021_01_22/anhvangbloombergb_emuq_ladn.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Gold price today 22.1.2021: Continue to maintain over 56.5 million / tael</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/5b5254885d2f00341a_3025_4d34_a315_cf7cd19be5ac_snnd.jpeg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Going to the city, Phu Quoc real estate "wakes up"</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hoangnam/2021_01_22/hang-tet-_anh-nguyen-nga-4_hukj.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Vietnamese New Year, Vietnamese goods ascended the throne</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hangnga/xang%20dau%20the%20gioi/oilpumpjacksworkatsunsetnearmidland2ctexas_anhreuters_qmeh.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Gasoline prices today 22.1.2021: Slight fluctuations</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/maiha/2021_01_27/xe-cu-nat2_uodw_qmen.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Motorbikes will increase emissions by nearly 70,000 tons / year</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/maiha/2021_01_26/ngapngocduong_nbnp.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">1/4 of HCMC will be submerged in water?</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/hangnga/dulich/z2299991222621_a99d384a76ce367be706c9cb02213fcd_klym.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Ho Chi Minh City tourism lost more than 55,000 billion VND because of Covid- 19s</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/thanhxuan/2021_01_27/img_0240_zgrc.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">Gold price today, January 27, 2121: 'Slipping' slightly, waiting for news from the Fed</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="">
                                    <img src="https://image.thanhnien.vn/150x100/uploaded/ngocthanh/2021_01_27/duongsatgacailan_huyloc_ksge.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="">The Ministry of Transport supported early investment in Buon Ma Thuot - Tuy Hoa</a>
                                <div class="date">
                                    <p>3 hours ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <div class="title-right" style="margin-top: 0;">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">JANUARY EVENT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Exposing the shirt in front of the lower projection team, Coach Truong Viet Hoang: 'Viettel is lacking a leader'</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Iran is constantly launching rockets</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> 6 amazing benefits of black carrots you may not know yet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content">  Nguyen Quoc Tram, former director of the Khanh Hoa Department of Foreign Affairs, was sentenced to 7 years in prison</a>
                        </div>
                    </div>

                    <div class="title-right">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">READ A LOT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">1. Revealing the secret why 'young pilot' likes to 'fly a granny plane'? </a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">2. Nominated 4 key leadership titles of term XIII</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">3. Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">4. Russia is about to restore its flight to Vietnam</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">5. US Vice President Mike Pence congratulates the opponent</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">6. Having been promised a free Covid-19 vaccine by China, the Philippines still mentioned the South China Sea</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">7. Nam Em - Lanh Thanh walked sweetly on the golden carpet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">8. Premier League results: 'Fox' Leicester warmed up the great war between Liverpool and MU</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">9. Superstar Cristiano Ronaldo was suddenly criticized by the 'Juventus family' before Derby d'Italia</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">10. USD price today 17.1.2021: Increased despite the US economic relief</a>
                        </div>
                    </div>

                    <div class="title-right">
                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/hoangnam/2021_01_22/a1-trang17-022_dsns.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content "> There will be an 'unprecedented' multi-disciplinary university model in Vietnam</a>
                            </div>
                        </div>

                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/chicuong/2021_01_04/nbox/honda_kurukuru_cabin_air_filter_mask_lmod.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content ">Air-conditioning filter prevents Covid from Honda from being able to fit in other brands</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
        </div>
    </div>
    <script src="responsive.js"></script>
</body>