<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-thethao.vnecdn.net/2020/12/14/Y2G5E327YVGVZNHSENWT2MQUPA-jfi-6581-5720-1607912244.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=LI_sn7Ovf5AUyw-6L2jeEw" alt="">
                    <a href="" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> Ronaldo: 'The win over Barca raises Juventus'
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>Cristiano Ronaldo believes that the high confidence in Juventus is now due to the effect of winning at Camp Nou five days ago.
                        </p>
                        <p>
                            "Victory over Barca is very important", Cristiano Ronaldo shared with Sky Sports after winning Genoa 3-1 on the evening of December 13. "Beating such a big opponent on their pitch greatly boosts our confidence and elevates us. People have seen results
                            tonight. Winning three points in the Champions League has always been difficult. We are. "We had to move to Serie A and stay in shape. It was a challenge, but the coach helped the team realize what needed to be improved and
                            we won."
                        </p>
                        <p>
                            With a double from a distance of 11 meters against Genoa, Ronaldo rose to the top of the Serie A scoring list this season with the same 10 goals as Zlatan Ibrahimovic. After 100 matches for Juventus, the Portuguese striker scored 79 goals. Ronaldo is
                            also the first player in the 21st century to reach 400 wins in Europe's top five leagues.
                        </p>
                        <p>
                            "My goal is always to win with the team", emphasized Ronaldo. "The individual record is always very good but the biggest goal is still three points. It is a difficult game when the opponent defends a lot. However, we adjusted the game play and got good
                            results. We need to stay in this form for as long as possible.
                        </p>
                        <p>
                            Three points at Genoa helped Juventus climb to fourth Serie A with 23 points, three points behind top Milan and more than one match. With the above teams not being too far behind, Juventus still has many opportunities to surpass and defend the Scudetto
                            title. Last season, Ronaldo and his teammates won the championship with just one point more than Inter.
                        </p>
                        <p>
                            "The annual goal of Juventus is always the Champions League and Serie A", the 35-year-old star confirmed. "There is only one champion in each tournament and we know it will be difficult. What Juventus needs to do is believe in itself. We aspire to win
                            great titles and to maintain that desire is very difficult." important".
                        </p>
                        <p>
                            Juventus have three games left in 2020, meeting Atalanta, Parma and Fiorentina respectively. After that, they will have a winter break from Christmas until January 4 to meet Udinese again. Three days after this match, coach Andrea Pirlo's army had an
                            important match with Milan.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Nhan Dat (according to Football-Italia)
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>