<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylenew.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="toppage">
            <div class="topnav" id="myTopnav">
                <div class="container">
                    <a href=""><i class="fa fa-home"></i> Home</a>
                    <a href="">News</a>
                    <a href="">N5</a>
                    <a href="">N4</a>
                    <a href="">N3</a>
                    <a href="">Happyo</a>
                    <a href="">Weekly</a>
                    <a href="">Receipt's Cooking</a>
                    <a href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="">
                    </a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="centernav">
                <div class="title">
                    <p>日本語勉強</p>
                </div>
            </div>
            <div class="bottomnav">
                <div class="container">
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory" class="dropbtn">News</a>
                                <div class="dropdown-content">
                                    <a href="#">Politic</a>
                                    <a href="#">Traffic</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory2" class="dropbtn">World</a>
                                <div class="dropdown-content">
                                    <a href="#">Data</a>
                                    <a href="#">Analysis</a>
                                    <a href="#">Military</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory3" class="dropbtn">Business</a>
                                <div class="dropdown-content">
                                    <a href="#">International</a>
                                    <a href="#">Enterprise</a>
                                    <a href="#">Startup</a>
                                    <a href="#">Stock</a>
                                    <a href="#">Real Estate</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory4" class="dropbtn">Entertainment</a>
                                <div class="dropdown-content">
                                    <a href="#">World Stars</a>
                                    <a href="#">Video</a>
                                    <a href="#">Movie</a>
                                    <a href="#">Music</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Makeup</a>
                                    <a href="#">Art, Book</a>
                                    <a href="#">Comedy</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory5" class="dropbtn">Sport</a>
                                <div class="dropdown-content">
                                    <a href="#">Soccer</a>
                                    <a href="#">Tennis</a>
                                    <a href="#">Other Subject</a>
                                    <a href="#">Schedule</a>
                                    <a href="#">World Cup</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory6" class="dropbtn">Law</a>
                                <div class="dropdown-content">
                                    <a href="#">Criminal</a>
                                    <a href="#">Advisory</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory7" class="dropbtn">Education</a>
                                <div class="dropdown-content">
                                    <a href="#">Admissions</a>
                                    <a href="#">Study Aboard</a>
                                    <a href="#">Study Language</a>
                                    <a href="#">Education 4.0</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory8" class="dropbtn">Travel</a>
                                <div class="dropdown-content">
                                    <a href="#">Destination</a>
                                    <a href="#">Image</a>
                                    <a href="#">Advisory</a>
                                    <a href="">Hand's Book</a>
                                    <a href="">Safe Trip</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="menucategory9" class="dropbtn">Science</a>
                                <div class="dropdown-content">
                                    <a href="#">News</a>
                                    <a href="#">Invention</a>
                                    <a href="#">Advisory</a>
                                    <a href="#">Application</a>
                                    <a href="#">Nature World</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="left">
                <div class="container">
                    <div class="title-left">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/660/uploaded/gianglao/2021_01_21/thiago_oivj.jpg" alt="">
                        </div>
                        <br>
                        <div class="content">
                            <a class="title-content ">Thiago Alcantara will do Liverpool's beat-up attack: Play for funs!
                            </a>
                        </div>
                        <div class="date">
                            <p>2021-01-17: 3 hours ago</p>
                        </div>
                        <div class="read">
                            <p>In general, Hamann thinks that Thiago 's slow technique will delay the pace of a Liverpool that everyone knows is always attacking.
                            </p>
                            <p>
                                With the same idea, the pen world is more "beautiful": Liverpool's "heavy metal" football will be turned into "slow rock" by Thiago!
                            </p>
                            <p>
                                Let's ask the reverse: music should just be "heavy metal" to be the standard? In contrast the other behind. You have the right to like, depending on the "taste" of each person, but it is never a standard thing for people to aim for. "Heavy metal" believers
                                are definitely not the majority of music lovers.
                            </p>
                            <p>
                                In life, sometimes "good but not new" ideas, or "new but not good", are ... useless. Hamann's opinion sounded good at first. Unfortunately, it's 30 years old.

                            </p>
                            <p>
                                In the past, England had Glenn Hoddle - a rare talent favoring the technical style produced by his native football (Hamann was only a 6-year-old boy when Hoddle wore England for the first time). Hoddle that passes must be "unique" and correct. With his
                                excellent ball holding technique, he always looks up before passing. The situation is not "delicious", then Hoddle continues to keep the ball, waiting for his teammates to move to a more favorable situation before passing.
                            </p>
                            <p>
                                In the 1980s, English football was still "running and kicking", so commentators criticized Hoddle: his play made the team's attack postponed, a rhythm error (like what Hamann was pointing at). from Thiago in Liverpool today). In England, Hoddle is never
                                evaluated adequately for his talent. He went to Monaco and immediately became the best foreign player on the French pitch. He took Monaco to the championship - most likely many times to build a "dynasty", if not hindered
                                by Marseille. Later, it was discovered that Marseille's dirty "buy-in" game during that period.
                            </p>
                            <p>
                                Arsene Wenger is the one who invited Hoddle to Monaco. Later, he went to Arsenal , becoming a legendary coach, teaching his home football many good lessons about football. Wenger's coaching career is closely related to his forte "looking at people", worth
                                calling it the most skillful. Wenger saw a great tanker Hoddle, while the English people only saw that it was the player who made the team break the rhythm. And don't say Wenger doesn't like speed!
                            </p>
                            <p>
                                With Juergen Klopp, speed is not only the important factor. It is also philosophy. Did he not know that his Liverpool was speed-oriented, and did not see that the rhythm failure was harmful? After all, Thiago was recruited by Klopp. Just look at Virgil
                                Van Dijk , Fabinho, Diogo Jota, see how Klopp chose the excellent person.
                            </p>
                            <p>
                                Football only has different ways of playing, there is no right or wrong way to play. And in top football, the distinctive style of strong teams like Liverpool, Man City , and Bayern Munich does not say that these teams cannot play the other way. Usually,
                                teams have only one immutable play that is easy ... self-destructive. Not to mention, this is a crazy season, extremely unfavorable for speed-oriented teams (due to no corresponding preparation conditions). No wonder Liverpool
                                kept playing "heavy metal" all the time (and succeeded forever).
                            </p>
                            <p>
                                The idea that Thiago will do Liverpool's attack is out of rhythm, so it's just worth ... listening for fun. The important thing here is, that opinion suggests something much better. With a special technical and creative "volleyball" like Thiago Alcantara
                                (from Barcelona's famous La Masia youth center) in midfield, Liverpool fans have the right to wait for new features. far more engaging than the rushing gameplay, now out of date. If Thiago's habit of holding the ball before
                                passing makes Liverpool's attack speed slow, it makes the decisive pass faster, in thought.
                            </p>
                            <p>
                                From winning the Champions League to winning the Premier League, Liverpool has never really had a big midfielder, comparable to Thiago Alcantara in theory. I'm glad that it's not over when I strengthened this star, I'm afraid of the attack!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <div class="title-right" style="margin-top: 0;">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">JANUARY EVENT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Exposing the shirt in front of the lower projection team, Coach Truong Viet Hoang: 'Viettel is lacking a leader'</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">  Iran is constantly launching rockets</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content "> 6 amazing benefits of black carrots you may not know yet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content">  Nguyen Quoc Tram, former director of the Khanh Hoa Department of Foreign Affairs, was sentenced to 7 years in prison</a>
                        </div>
                    </div>

                    <!-- <div class="title-right">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">READ A LOT</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">1. Revealing the secret why 'young pilot' likes to 'fly a granny plane'? </a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">2. Nominated 4 key leadership titles of term XIII</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">3. Never drink alcohol at these bad times</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">4. Russia is about to restore its flight to Vietnam</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">5. US Vice President Mike Pence congratulates the opponent</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">6. Having been promised a free Covid-19 vaccine by China, the Philippines still mentioned the South China Sea</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">7. Nam Em - Lanh Thanh walked sweetly on the golden carpet</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">8. Premier League results: 'Fox' Leicester warmed up the great war between Liverpool and MU</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">9. Superstar Cristiano Ronaldo was suddenly criticized by the 'Juventus family' before Derby d'Italia</a>
                        </div>
                        <div class="news-content">
                            <a href="" class="title-content ">10. USD price today 17.1.2021: Increased despite the US economic relief</a>
                        </div>
                    </div> -->

                    <div class="title-right">
                        <div class="content">
                            <a style="color: blue;" href="" class="title-content ">RECENT NEWS</a>
                        </div>
                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/hoangnam/2021_01_22/a1-trang17-022_dsns.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content "> There will be an 'unprecedented' multi-disciplinary university model in Vietnam</a>
                            </div>
                        </div>

                        <div class="news-content">
                            <div class="img">
                                <img src="https://image.thanhnien.vn/390x245/uploaded/chicuong/2021_01_04/nbox/honda_kurukuru_cabin_air_filter_mask_lmod.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="" class="title-content ">Air-conditioning filter prevents Covid from Honda from being able to fit in other brands</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="container">
                <div class="title-media">
                    <p>MEDIA NEWS</p>
                </div>
                <div class="item">
                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/150x100/uploaded/maiphuong/2021_01_16/hinh1dautuongan_wxst.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Listed enterprises have reported profits during the year Covid</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/than/dautieng_zing_7_zwjz.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">5 solar power projects were fined, tax arrears 210 billion VND</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/%E1%BA%A3nh%20h%C3%A0ng%20gi%E1%BA%A3/2_gdwg_kuvl.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Natural disasters, extreme storms and floods ranked the top 10 outstanding natural</a>
                        </div>
                    </div>

                    <div class="news-content">
                        <div class="img">
                            <img src="https://image.thanhnien.vn/185x125/uploaded/xuanvu/than/xe_hhew_qbpk.jpg" alt="">
                        </div>
                        <div class="news-title" style="margin-top: 10;">
                            <a style="color: #f2f2f2;" href="" class="title-content ">Prime Minister directs to move away from using coal, honeycomb as early as 2021</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
        </div>
    </div>
    <script src="responsive.js"></script>
</body>