<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-vnexpress.vnecdn.net/2020/12/13/cmt-cu-9549-1607851230.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=yAfV7_N6OfhBpBN-u6lCVw" alt="">
                    <a href="" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> Change history of identity cards, citizen identification cards
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>The first ID was issued in 1957 and has been changed 6 times. It is expected that by 2021, 50 million citizens will be provided with chip cards.
                        </p>
                        <p>
                            In 1957 , in order to meet the people's wishes, wanting to have identity certificates, convenient to use in everyday transactions, the Government issued Decree 577 providing for the Placing of Paper and the regulations for issuing identity cards.
                        </p>
                        <p>
                            All Vietnamese citizens aged 18 years or over in cities and towns, cadres, employees and people in important economic and defense regions will be issued with 9-digit ID, valid for 5 years.
                        </p>
                        <p>
                            In 1964, the Government issued a new Decree on the issuance of identity cards. The age, style, data ... of the new identity card is the same as the old one, adding cases that are not in the category such as: People with dementia, people being detained,
                            being on probation.
                        </p>
                        <p>
                            In addition, there is a new point that people between 14 and 17 years old will be issued with an Identification Certificate.
                        </p>
                        <p>
                            In 1976 , in order to serve the travel needs of people in the North and the South, unifying a common identity form, the Government issued Decision No. 143 Granting identification to all citizens of the Socialist Republic of Vietnam. Vietnameseism started
                            at the age of 15 and up, instead of 18 as before.
                        </p>
                        <p>
                            The identity card at this time was granted a new unified name and national name to replace the identity papers that were previously issued and used in the North and the old regime in the South.
                        </p>
                        <p>
                            In 1999, in order to overcome shortcomings such as easy counterfeiting, one person had many ID numbers or many people had the same number of ID cards, the Government issued Decree 05/1999 with new regulations. This is the first year, the ID is printed
                            with light blue pattern and two-dimensional barcode is added on the back to prevent counterfeiting. In addition, citizens who are full 14 years old or older will be issued an ID card instead of being full 15 years old as in
                            the Decree since 1976.
                        </p>
                        <p>
                            By 2012, the Ministry of Public Security applied to issue ID cards according to new technology, using plastic materials designed in accordance with the industry's own technical and security standards, compact size, no breakage, flaking, peeling ... and
                            difficult to fake. This is the first year that an ID card has 12 digits (instead of 9 numbers like the old model), the photo of the first citizen is printed directly on the card, with 2-dimensional barcode.
                        </p>
                        <p>
                            At this time, the ID card is added with the information field on the name of the biological parent on the back, causing controversy. According to legal experts, the regulation of recording parents' names on identity cards will cause "trouble" for special
                            cases such as artificial insemination, creating advantages for individuals whose parents make "big, big grandmothers".
                        </p>
                        <p>
                            The Department of Justice then must admit errors regarding the identity cards of the parents. Not long after the new regulation took effect, the Ministry of Public Security ordered to stop issuing identity cards with parent information on the back.
                        </p>
                        <p>
                            In 2016, according to the Law on Citizen's Identity, the Ministry of Public Security first issued a citizen's identity card instead of an ID card. Citizen's identity cards can use technology printed on hard plastic materials, have anti-counterfeiting
                            stamps and are printed with personal identification numbers (12 digits) instead of the old ID number.
                        </p>
                        <p>
                            A new point is that the back of the card also has electronic barcodes, encoding information fields of citizens. This card type is considered to be suitable with the world's trends and can replace a passport in case Vietnam and foreign countries sign a
                            treaty.
                        </p>
                        <p>
                            Due to the difficulties in investing in machinery and technology systems, from 2016 to now, only 16 provinces and cities are equipped to issue identification cards with personal identification numbers. The remaining 47 provinces and cities are still issuing
                            9-digit and 12-digit identity cards.
                        </p>
                        <p>
                            In September 2020, at the proposal of the Ministry of Public Security, the Prime Minister approved the project of manufacturing and exchanging citizen identification cards from magnetic cards to electronic chip cards to meet the requirements of administrative
                            reform and development. E-government helps people in the future to go through the procedure less having to carry many papers at the same time.
                        </p>
                        <p>
                            Chip-mounted ID cards are assessed to be better responsive in terms of security, retain more information, can add information fields in other fields such as banking, insurance ... Expected, in addition to data data managed by the police includes about
                            20 fields of information (full name, hometown, permanent residence, fingerprint, identity ...), can supplement and integrate data of the tax industry, Customs, insurance, driver's license ... on chip tag.
                        </p>
                        <p>
                            After more than 3 months of building the project, Major General To Van Hue, Head of Police Administration of the Social Order, Ministry of Public Security, said that up to now, the production of chip cards is meeting the requirements. It is expected that
                            in early January 2021, the national police could issue new cards to citizens.
                        </p>
                        <p>
                            On December 11, the Government Office announced the conclusion of Deputy Prime Minister Vu Duc Dam assigned ministries, branches and localities to coordinate with the Ministry of Public Security to integrate necessary data into citizenship identification
                            cards, facilitating most for the people and savings for the state apparatus; assign the Vietnam Social Security to the Ministry of Public Security to synchronize data and integrate information into the card.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Hoang Thuy
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>