<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-giaitri.vnecdn.net/2020/12/12/tien-chi-tai-3-6013-1607745392.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=I0GcyjzzDctmEhMUeHvSBQ" alt="">
                    <a href="" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> Artist visits Chi Tai
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>Singer Tuan Ngoc, husband and wife Truong Giang - Nha Phuong, artists Tan Beo, Trinh Kim Chi ... visited Chi Tai, 12/12 morning.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-giaitri.vnecdn.net/2020/12/12/tang-le-chi-tai-7-3313-1607748721.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=zDjLq1AIJ1SzsdyDKI6Pjg" alt="">
                        </p>
                        <p>
                            Comedian funeral was held at the National Funeral House in the South (Go Vap district). He died of a stroke on the afternoon of December 9. Chi Tai's full name is Nguyen Chi Tai, born in 1958. In the years 1999-2000, Chi Tai took the role of a comedian
                            and was quickly loved by the audience. Together with Hoai Linh, he has many famous skits, such as Ru to chants, Flute across the river, Yin and Yang for a couple of roads, Luong Son Ba, Chuc Anh Dai ... He is also a familiar
                            face of the screen with TV series - movies, including Winning No. (2015), The nostalgic nightmare (2017) ...
                        </p>
                        <p>
                            Comedian Hoai Linh - the head of the funeral committee - and his colleagues displayed 20 photo frames to record memorable moments in Chi Tai's life and career. In the middle of the funeral, the song "Hey Little" (composed by Dao Quang Nhat) - the hit
                            song Chi Tai once performed - sometimes resounded.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-giaitri.vnecdn.net/2020/12/12/nghe-si-chi-tai-vnexpress38-16-5088-3427-1607746858.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=d0-EFTr6fhAEuPRMB_WC-w" alt="">
                        </p>
                        <p>
                            Hoai Linh has been on duty since early to do the ceremony of import for close colleagues. The comedian's face showed a tired expression with dark circles eyes.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-giaitri.vnecdn.net/2020/12/12/Hoai-Linh-VnExpress-Huu-Khoa2-6833-1607749744.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=M9x3fu8pvpPpuHXLFcxtFw" alt="">
                        </p>
                        <p>
                            According to an acquaintance, since Chi Tai died, Hoai Linh rarely slept. When artist Tuyet Thu and a colleague came to share, the three hugged each other and cried.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-giaitri.vnecdn.net/2020/12/12/tang-le-1-7571-1607750081.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=2QFhTYqBusuRYlFbrwUjHQ" alt="">
                        </p>
                        <p>
                            Every turn of the audience, the artist came to light incense and leave, the comedian on behalf of family and friends bowed to give thanks.
                        </p>
                        <p>
                            Viet Huong women Hoai Linh shop around for the funeral. She said: "Your wife - Ms. Be Heo (the nickname of singer Phuong Loan) - is very depressed. We live stream your entire funeral in Vietnam for you to watch. Tonight, the flight will carry the remains.
                            You go to America ".
                        </p>
                        <p>
                            Musician Duc Huy was the owner of the marriage ceremony of Chi Tai couple in 1987. Later, they kept their love affair. Chi Tai used to sing many songs by Duc Huy. He said: "Chi Tai sang any song well, to the point that many people said that Tai sang my
                            music better than myself. We even scheduled to perform the same music night in Dalat early next year."
                        </p>
                        <p>
                            Nha Phuong - Truong Giang couple is one of the earliest visitors. Occasionally, Truong Giang was comforted by his wife wiping her tears. He was shocked when the close elder passed away. Truong Giang confided: "From now on, no one will be gentle to me,
                            there is no one left to play for me to sing."
                        </p>
                        <p>
                            Vu Thanh said that recently Chi Tai had come home to ask him to write a script to bring to America to act. "The script is finished, but now he is gone." Vu Thanh said the memory he remembered the most was in the 38th anniversary liveshow at Trong Dong
                            stage. Both practiced together for many days. At times, he said that his father-in-law was "you" and was abused by Chi Tai, making both laugh.
                        </p>
                        <p>
                            Tan Beo said the late comedian was one of the artists closest to him. On the day when Chi Tai just returned to his country, he still had "wet feet" to perform, the artists had many opportunities to talk. Later, they went to the United States to film together.
                            For him, the artist always keeps an innocent and carefree smile even in difficult circumstances. When I first got acquainted, Chi Tai donated a stack of leopard prints. Up to now, the gift is still carefully stored in the closet.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-giaitri.vnecdn.net/2020/12/12/Tang-le-Chi-Tai-QuynhTran-2048-6419-9231-1607745393.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=SVH0KwWia9He6K5O1OgNow" alt="">
                        </p>
                        <p>
                            The organizers arranged 180 people in security and logistics forces, of which 100 people played the role of ensuring security and order.
                        </p>
                        <p>
                            The audience stood outside the fence area, commemorating the comedian from afar. The visit ceremony is expected to last until 16:00, then the coffin is taken to Tan Son Nhat airport, back to America according to the wishes of the family .
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Nhat Tam
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>