<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-vnexpress.vnecdn.net/2020/12/19/1608371906006-7739-1608372184.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=UCRcAyi6iI2fpEr7OLZmpw" alt="">
                    <a href="translate6" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> 'Vietnam needs to prepare to adapt to an aging population'
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>Assoc.Prof.Dr. Giang Thanh Long, Director of Public Policy and Management (National Economics University) answered VnExpress about the challenge of Vietnam entering an aging population period...</p>
                        <p>- How do you assess the current situation of population aging in Vietnam?
                        </p>
                        <p>
                            - The golden population structure is that children (0-14 years old) are less than 30%, people over 65 are younger than 15% of the total population. The old population when the number of people over 65 years old accounts for more than 10%; very old population
                            when people over 65 years old make up more than 20%; super-old population when people over 65 years old account for more than 30%.
                        </p>
                        <p>
                            In Vietnam, the aging population (when the proportion of the elderly in the population structure increased rapidly) began in the late 1980s, after 5 decades of implementing population and family planning policies, both water has been successful in its
                            fertility reduction goal. If in 1979, on average, a woman had 3.5 children, but after 10 years, only 2.6. By 2019, the total fertility rate (the number of children per woman) will drop to 2.09, lower than the replacement fertility
                            rate of 2.1 (on average, each woman has 2.1 children).
                        </p>
                        <p>
                            Life expectancy of Vietnamese people in recent years has been improved rapidly, so the number of elderly people has increased rapidly. As a low-middle-income country, but the average life expectancy of Vietnamese is nearly 74.
                        </p>
                        <p>
                            In the past 10 years, the country's population has increased by 11 million, while the number of the elderly has also increased by nearly 4 million. This is a very high growth rate of the aging population compared to other countries in the region, almost
                            the same as Thailand. Currently there are 11.4 million people over 60 years old, accounting for nearly 12% of the population. The aging index increases from 36% in 2009 to nearly 49% in 2019.
                        </p>
                        <p>
                            - How does the aging population affect the socio-economic development of the country?
                        </p>
                        <p>
                            Currently, Vietnam is a country with low middle income, so a rapidly aging population is a huge challenge if it cannot maintain growth and increase average income.
                        </p>
                        <p>
                            Another challenge is that the average life expectancy is high, but the healthy life expectancy index of Vietnamese people is still low, the number of years of illness and illness is high. The average life expectancy of Vietnamese people is as high as
                            that of Thailand and Malaysia, but the average number of years of illness per person is higher. We live long but not well.
                        </p>
                        <p>
                            The main income of the elderly in Vietnam today is largely based on their labor force (30%), on their descendants (30%). The number of people living on social security resources such as pensions, social insurance ... only accounts for 20%. This is the
                            risk when entering the period of an old population, the number of children in families is small, but many elderly people must be taken care of. If in the past, each family used to take care of their parents with three or four
                            children, with the current trend of having few children, in the future, each family would have only one or two children to take care of their parents. This is a big burden for young people, as well as the main labor force of
                            society.
                        </p>
                        <p>
                            This situation has happened in China, when implementing the policy of one child per family, the whole family consists of paternal grandparents, maternal grandparents, the couple taking care of a child. But after a few decades, when the son becomes an
                            adult, he has to take care of five or six old people alone. This is a lesson for many countries, including Vietnam.
                        </p>
                        <p>
                            I am also concerned about the fact that the population is aging fast but is not healthy. The evidence is that the number of people suffering from non-communicable diseases such as cardiovascular disease, osteoarthritis, diabetes ... is increasingly common.
                            These diseases will persist for a lifetime, leading to large costs when the population ages rapidly, creating a burden on society for diseases.
                        </p>
                        <p>
                            - How well are the experiences of countries in the world adapting to the population aging period, sir?
                        </p>
                        <p>
                            - Many countries with very old population but still in the top of developed countries with high income are Japan and South Korea. In particular, Korea is leading the world in applying advanced information technology to care for the elderly, to compensate
                            for the very low birth rate in this country (below 1).
                        </p>
                        <p>
                            In Southeast Asia, Thailand recognized challenges early and has been proactively formulating policies to adapt to the aging population for many years. First, the government created management profiles for the prevalent non-communicable diseases among
                            the elderly in health facilities across the country, from a young age. Health records of each person are updated into the system, monitoring diseases of bones and joints, diabetes, cardiovascular ... The government expands
                            the coverage of health insurance, forcing everyone to participate. . The difficult people, the informal working sector are supported by the Government. Officials in this country also require workers, both formal and informal,
                            to join the social insurance system.
                        </p>
                        <p>
                            In Japan, in 1989, the Ministry of Health and Welfare issued the 80-20 policy which means that when citizens live to the age of 80, they still keep 20 healthy teeth. When there are 2/3 of healthy teeth, the person will chew well, digest well, leading
                            to not many diseases related to digestion and stomach. In addition, good oral health will help the elderly to be healthy both physically and socially, because if their teeth smell they will be afraid to communicate, having
                            a great mental impact. When proposing this policy, the Japanese authorities statistic that only 7% of people over 80 years old have 20 good teeth. However, by 2019, to celebrate the 30th anniversary of this policy, the whole
                            country has 55% of the elderly with 20 good teeth. Therefore, Japan is a country with a long and healthy population with few diseases.

                        </p>
                        <p>
                            These are lessons for Vietnam to prepare to enter an aging population.
                        </p>
                        <p>
                            - What preparation does Vietnam need to prepare to adapt to the aging population?
                        </p>
                        <p>
                            - The aging population is both a challenge and an opportunity. If the government wants to adapt well, the government needs to have macro-level policies right now. The first is economic preparation. Vietnam is a low-middle-income country, so after more
                            than 30 years, the super-old population is susceptible to the challenge of low pensions, even many elderly people who do not have a salary because they do not participate in social insurance when they are young. Currently,
                            the rate of participation in social insurance is only 26% of the population. There is a fact that many young people today abuse alcohol, stimulants, sedentary ... so when old age will be a serious consequence to the society
                            in terms of health.
                        </p>
                        <p>
                            Therefore, the authorities need to have policies to encourage people of working age to increase productivity, prepare well in terms of economic resources, to accumulate old age and have a sense of health. People of working age, especially the informal
                            sector, need support to participate in social insurance so that when they get old they can take care of themselves, instead of relying on their children or grandchildren. Welfare policy from the Government.
                        </p>
                        <p>
                            Over the past 10 years, Vietnam has begun to prepare for an aging population. The social insurance system was reformed, attracting many people to join. This is an important policy to ensure income and pensions for the elderly in the future. Some diseases
                            that often occur in the elderly, such as blood pressure, have been brought into the management system to the commune health care unit.
                        </p>
                        <p>
                            The rapid aging of the population makes the workforce shrinking. When the labor force is too little, it will put great pressure on creating income for society and contributing to welfare resources. The risk of labor shortage in the future will not only
                            occur in Vietnam but also in many countries. However, developed countries in the region such as Japan, Singapore ... have good income conditions and facilities to attract high-quality workers from countries, including Vietnam.
                            This is also the risk that should be taken into account in order to develop policies to improve skills, productivity and conditions for employees.
                        </p>
                        <p>
                            To limit the rate of population aging, the authorities need to develop policies so that couples can feel secure in giving birth and raising children. Because nowadays, many families, especially in big cities tend to have few children. The main reason
                            is that the cost of raising children is very expensive, including education, health care, housing, rest, play ... Designing cost reduction policies is a way to encourage childbirth.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Ba Do
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>