<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    <a th:href="homepage" style="text-decoration: none; color: #737373; font-weight: 700;">日本語の勉強</a>
                </div>
                <ul>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373"><i class="fa fa-newspaper-o"></i> News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373"><i class="fa fa-comments-o"></i> Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373"><i class="fa fa-calendar"></i> Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/">
                            <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-suckhoe.vnecdn.net/2020/11/27/merlin-177700350-c07e0642-457d-4679-9113-1606439317.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=lipiuWCJklH2aU1qfE_7RQ" alt="">
                    <a href="translate5" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> Trump: Next week starts to vaccinate Covid-19
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>President Donald Trump said it would launch vaccinations for doctors, health workers and the elderly next week.
                        </p>
                        <p>
                            Mr. Trump announced the plans on November 26, during a video meeting with the US military on Thanksgiving. It is not clear what vaccines will be distributed. Up to now, the US has two "candidates" with 94-95% efficiency, of two pharmaceutical companies
                            Moderna and Pfizer. The US has also booked hundreds of thousands of doses of AstraZeneca's vaccine in advance.
                        </p>
                        <p>
                            "Vaccines will be available next week and next week. Frontline doctors, nurses and a lot of people will be vaccinated," Trump said.
                        </p>
                        <p>
                            The US Food and Drug Administration (FDA) will meet on November 30 on the emergency approval of the Pfizer vaccine. This is "a miracle of medicine", Mr. Trump said. "Usually it takes four or five years to do this and get FDA approval. We have been trying
                            to speed up that process," he said.
                        </p>
                        <p>
                            Earlier, on November 25, the government announced plans to send 64 million doses of Pfizer's vaccine to communities across the US within 24 hours of the product's approval. General Gustave Perna, logistics supervisor for Operation Express, said the allocation
                            would be based on the population of each state.
                        </p>
                        <p>
                            The initial supply of vaccines will be enough for only a fraction of the country's 20 million health workers, not to mention 330 million Americans. But General Perna announced stable vaccines will be added later, when production capacity increases.
                        </p>
                        <p>
                            Perna said the FDA may license the vaccine between December 10 and December 14.
                        </p>
                        <p>
                            Moderna and Pfizer vaccines are both prepared using mRNA technology, which stimulates human cells to make viral proteins. The immune system then comes into contact with the protein and produces antibodies, the immune cells recognize and destroy the pathogen.
                        </p>
                        <p>
                            A single shot of Pfizer costs about $ 19.5. Moderna plans to sell the vaccine for $ 32-37 a shot, each with two injections. The two other major US pharmaceutical companies, Johnson & Johnson and Novavax, are expected to announce the results of vaccine
                            trials in the near future. These two "candidates" are both in phase three clinical trials.
                        </p>
                        <p>
                            To date, the world has more than 100 vaccines in development, 12 types have proceeded to phase three research. Russia and China are two countries that have approved emergency vaccines.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Shu Linh ( Reuters, Daily Mail )
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>