<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail">
                    <img src="https://i1-vnexpress.vnecdn.net/2020/11/26/Thu-tuong-4932-1606365063.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=5eOPC-m1k5yzhJvyBRpTUQ" alt="">
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> ASEAN strengthens cooperation in combating transnational crime
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>ASEAN countries increase the building of trust, high-level information exchanges between law enforcement agencies, and prevent organizations and individuals from taking advantage of the territory of one country against another...</p>
                        <p>
                            Prime Minister Nguyen Xuan Phuc mentioned the above proposal in his remarks at the opening ceremony of the 14th ASEAN Ministerial Conference on Transnational Crime Prevention and Control (AMMTC 14), on the morning of November 26. This is the conference
                            within the framework of activities of the year Vietnam is the Chairman of ASEAN (2020), chaired by the Ministry of Public Security of Vietnam, held online for the first time.
                        </p>
                        <p>
                            According to the Prime Minister, in the past year, ASEAN countries, which have both been against the Covid-19 epidemic, have faced another "dangerous enemy", that is, transnational crime is increasing with many forms and tricks. new and sophisticated.
                        </p>
                        <p>
                            "This fact requires ASEAN, especially law enforcement agencies, to find solutions and directions to prevent and fight crime in the new situation," he said and suggested a number of priorities. including strengthening cooperation relations, enhancing sharing
                            of information and experiences among ASEAN countries in the fight against transnational crime ...
                        </p>
                        <p>
                            At the plenary session of the AMMTC 14 this morning, the Minister of Public Security, General To Lam said that social stretching and increasing online work have led to an increase in criminal activity using high technology. on the number of cases, the
                            nature and severity with many new methods and tricks.
                        </p>
                        <p>
                            In addition, the issue of fake news, false information related to epidemics, confusion in social public opinion also adversely affects security and order.
                        </p>
                        <p>
                            Faced with the trend of legalizing marijuana use in Western countries, Southeast Asia is forecast to become a transshipment hub for drugs, increasing drug crime, causing insecurity. self, affects the stable and peaceful development of the region.
                        </p>
                        <p>
                            Notably, according to Mr. To Lam, some countries in the region have discovered a link between drug gangs and terrorist crimes. Accordingly, terrorist groups have approved the illegal drug trade to make profits, buy weapons to carry out attacks ...
                        </p>
                        <p>
                            "The Ministry of Public Security of Vietnam commits to actively and responsibly participate in ASEAN cooperation frameworks, contributing to maintaining a peaceful and stable space for countries to focus on overcoming the consequences of epidemics and
                            recovery. ", Minister To Lam confirmed.
                        </p>
                        <p>
                            The first AMMTC has been held since 1997 in the Philippines on the basis of the 1997 Manila Declaration on transnational crime. The Vietnamese Ministry of Public Security officially joined the AMMTC mechanism in 2004 and organized the 5th AMMTC Conference
                            in 2005.
                        </p>
                        <p>
                            2020 marks the second time the Vietnamese Ministry of Public Security has hosted the AMMTC. Along with the ASEAN Foreign Ministers Meeting, ASEAN Defense Ministers Meeting, AMMTC is one of the core and most inclusive cooperation mechanisms on transnational
                            crime prevention and control under the Political Pillar - Security of ASEAN.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Ba Do
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>