<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    <a th:href="homepage" style="text-decoration: none; color: #737373; font-weight: 700;">日本語の勉強</a>
                </div>
                <ul>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373"><i class="fa fa-newspaper-o"></i> News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373"><i class="fa fa-book"></i> N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373"><i class="fa fa-comments-o"></i> Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373"><i class="fa fa-calendar"></i> Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/">
                            <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-thethao.vnecdn.net/2020/11/27/vocon-1414-1606441750.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=DGdfYtn27LvU-iqVV5M3NQ" alt="">
                    <a href="translate2" style="font-weight: 700; color: blue;">Switch to Japan</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> Maradona returned to his final resting place </p>
                    </div>
                    <div class="detail-body-content">
                        <p>ARGENTINE Two days after his death, Maradona was buried on the evening of November 26 at Bella Vista cemetery, where his parents were buried.
                        </p>
                        <p>
                            Around 20:00 November 26, Buenos Aires time (around 6am of November 27, Hanoi time), Diego Maradona was buried at the Jardin de Bella Vista cemetery, after a religious ceremony with the participation of 25 people. Family allowed. According to Ole, these
                            people include ex-wife Claudia Villafane and two daughters Dalma and Gianinna, ex-girlfriend Veronica Ojeda, and daughter Jana Maradona.
                        </p>
                        <p>
                            Before that, around 18 o'clock, Maradona's cuckoo left the Argentinian presidential palace - Casa Rosada - where the funeral was celebrated, with the escort of the police. From the moment they entered Paseo Colon Avenue, the funeral convoy was recognized
                            by many. The cars running in the opposite direction ring their horn loudly. Many others climbed tall buildings, clapping their hands to greet the football legend as the funeral car passed by.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-thethao.vnecdn.net/2020/11/27/q-7503-1606438024.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=LzUJe8BvXZoWO1_zR4bwGA" alt="">
                        </p>
                        <p>
                            As the convoy passed through Velez Stadium, fireworks were fired. During the journey around the city of Buenos Aires, funerals are awaited at bridges or by highways. Many people take cars or motorbikes in turn to join the procession, with the Argentina
                            team shirt or Boca Juniors on them.
                        </p>
                        <p>
                            Upon reaching Ituzaingo, the funeral convoy got on the wrong way, delaying the burial of Maradona until nearly 20 o'clock. At the Bella Vista burial place, commotion broke out about 150 meters from the funeral site. Even when the Maradona family returned,
                            security remained around the "Golden Boy" remains, in order to prevent the rampaging crowd.
                        </p>
                        <p>
                            Bella Vista is also where Maradona's parents are buried.
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-thethao.vnecdn.net/2020/11/27/3DKI-pvM8-720x0-1-7697-1606438024.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=lzHEBgsA2-nIRzvesva27g" alt="">
                        </p>
                        <p style="text-align: center;">
                            <img style="width: 600px; height: auto;" src="https://i1-thethao.vnecdn.net/2020/11/27/umYmFEWuH-720x0-1-2645-1606438024.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=KiL6Uf30oXHs7Xz5o-N9AA" alt="">
                        </p>
                        <p>
                            The Maradona visit ceremony was originally scheduled to end at 4:00 p.m. on Thursday, November 26, Buenos Aires time (2 am, November 27, Hanoi time). But after the organizers announced the end of the visit, there were still many fans waiting in line.
                            They were outraged at not being able to see Maradona's coffin for the last time, leading to violence outside Casa Rosada - Argentina's presidential palace. The Argentine government, therefore, asked the Maradona family's permission
                            to extend the visit period and was approved.
                        </p>
                        <p>
                            Maradona died at her home in Buenos Aires on November 25. He was doing his normal routine, before dying in his nap. Shortly thereafter, the President of Argentina announced a three-day national mourning.
                        </p>
                        <p style="float: right; font-weight: 700;">
                            Author: Thang Nguyen (according to Ole).
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>