<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleother.css">
    <link rel="stylesheet" href="reponsiveAll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="headpage">
            <div class="container">
                <div id="mySidebar" class="sidebar">
                    <div class="logo" style="font-size: 25px; color: #737373;">
                        <a th:href="homepage" style="font-weight: 700;">日本語の勉強</a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a th:href="news" style="text-decoration: none;"><i class="fa fa-newspaper-o"></i> News</a>
                    <a th:href="N5-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N5</a>
                    <a th:href="N4-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N4</a>
                    <a th:href="N3-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N3</a>
                    <a th:href="listhappyo" style="text-decoration: none;"><i class="fa fa-comments-o"></i> Happyo</a>
                    <a th:href="weekly-words" style="text-decoration: none;"><i class="fa fa-calendar"></i> Weekly</a>
                    <a th:href="recipe" style="text-decoration: none;"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    <a target="_blank" href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                    </a>
                </div>
            </div>
            <div class="container" style="margin-top: 5%;">
                <div id="main" style="position: fixed;">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="content-detail">
                <div class="detail-top" style="text-align: center;">
                    <div class="detail-title">
                        <h1>Daily life food</h1>
                    </div>
                </div>

                <div class="img-detail" style="text-align: center; padding: 2%;">
                    <img src="http://media.doisongphapluat.com/598/2019/3/1/com.png" alt="">
                </div>

                <div style="text-align: center;">
                    <a href="translaterecipe">Switch to Japan</a>
                </div>

                <div class="container">
                    <div class="detail-body" style="padding: 5%;">
                        <div class="detail-body-title" style="text-align: center;">
                            <p style="font-size: 40px; font-weight: bold; color: red;"> Com Tam </p>
                        </div>
                        <div class="detail-body-content">
                            <p>
                                Com tam is a famous delicacy originating from Saigon land. Let's learn how to make com tam with this standard Saigon com tam recipe!
                            </p>
                            <br>
                            <ul>
                                <li>
                                    1 kg of lean shoulder meat, lean ham or bacon.
                                </li>
                                <li>
                                    4 garlic cloves.
                                </li>
                                <li>
                                    2 purple onions.
                                </li>
                                <li>
                                    3 white scallion heads.
                                </li>
                                <li>
                                    1/2 teaspoon of pepper.
                                </li>
                                <li>
                                    2 tablespoons oyster oil.
                                </li>
                                <li>
                                    0.5 tbsp of sesame oil.
                                </li>
                                <li>
                                    2 tablespoons delicious fish sauce.
                                </li>
                                <li>
                                    1 tbsp soy sauce.
                                </li>
                                <li>
                                    0.5 tbsp of seasoning seeds.
                                </li>
                                <li>
                                    1 tablespoon honey. 2 tablespoons condensed milk. 0.5 teaspoons of colored water.
                                </li>
                                <li>
                                    1 pinch of five flavors. Just a little to not stop the smell of grilled meat characteristic of eating com tam.
                                </li>
                                <li>
                                    1 little ground pepper.
                                </li>
                                <li>
                                    1 tablespoon of oil.
                                </li>
                            </ul>
                            <br>
                            <p>
                                Step 1: The meat is washed, sliced ​​not too thick. Using a knife handle or hammer to slam the meat, gradually evenly onto both sides of the meat (This way, when grilled, it will be soft, but also have a bigger, more attractive look). </p>
                            <p>
                                Step 2: Top green onion + garlic + chopped purple onion. Put it all in a blender or puree.
                            </p>
                            <p>
                                Step 3: Put the mixture of ground onion garlic (step 2) into the bowl with the remaining spices above and mix well (leave cooking oil). Finally, put the meat in a two-sided marinade. Remember, after 15 minutes add oil to the meat. Cover the meat, put
                                the meat in the refrigerator cooler overnight or at least 4-5 hours before baking. </p>
                            <p>
                                Step 4: Meat is arranged on the blister. The oven preheats 15 minutes at a temperature of 180 - 200 degrees C. Put the meat griddle in the oven for 20-22 minutes or faster depending on the temperature of the oven (coal fire is better). When the flesh
                                is slightly discolored, use a brush to brush the marinade over the meat. Turn the meat when you see it burning next to it, turn it over and make a wall for the other side. When the meat is burned next to the golden edge,
                                turn off the oven to remove the meat blister. </p>
                            <p>
                                When preparing the marinade, if you want to be sure, taste it after adding all the marinade to the taste before adding the meat. Family decrease depending on family taste. </p>
                            <p>
                                All ingredients are mixed and beaten and then steamed. To check whether the pie is cooked or not, we use a toothpick to stab it. If the toothpick doesn't stick, the pie is ripe. </p>
                            <p>
                                2 crushed yolks with a little water. Take this mixture and sweep it on the surface of the sausage after steaming and then bring it to a 180-200 degree C oven for 5-7 minutes. Orange-yellow rolls are satisfactory.
                            </p>
                            <p>
                                Fish sauce with com tam: Ratio of 4 or 5 fish sauce: 2 sugar: 1 boiling water, minced garlic and chili depending on taste.
                            </p>
                            <p>
                                Serve hot rice, egg rolls, ribs with chili garlic fish sauce and a little sour food to balance the flavor. You can add spring rolls, omelets if you want. </p>
                            <p>
                                The weather is getting cold like this and enjoying a delicious dish like com tam, maybe nothing more "pleasing to the stomach"? </p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>