<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life food</h1>
                    </div>
                    <div class="detail-inform">
                        <img style=" border-radius: 50%;" src="https://secure.gravatar.com/avatar/f793421032410f8d9e0eda8a6a0233d3?s=50&d=mm&r=g" alt="">
                        <p style="margin:0; display:inline; padding: 15px 5px 0px 10px;">Post By: </p>
                        <p style="margin:0; display:inline; padding: 14px 5px 0px 5px;">Huy</p>
                    </div>
                </div>

                <div class="img-detail">
                    <img src="http://f.imgs.vietnamnet.vn/2017/12/12/15/khoi-mat-cong-ra-quan-vi-cong-thuc-com-tam-chuan-vi-nhat-ngay-day.jpg" alt="">
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                        <p>2020-11-19</p>
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: larger; font-weight: bold;"> Com Tam </p>
                    </div>
                    <div class="detail-body-content">
                        <p>
                            Com tam is a famous delicacy originating from Saigon land. Let's learn how to make com tam with this standard Saigon com tam recipe!
                        </p>
                        <ul>
                            <li>
                                1 kg of lean shoulder meat, lean ham or bacon.
                            </li>
                            <li>
                                4 garlic cloves.
                            </li>
                            <li>
                                2 purple onions.
                            </li>
                            <li>
                                3 white scallion heads.
                            </li>
                            <li>
                                1/2 teaspoon of pepper.
                            </li>
                            <li>
                                2 tablespoons oyster oil.
                            </li>
                            <li>
                                0.5 tbsp of sesame oil.
                            </li>
                            <li>
                                2 tablespoons delicious fish sauce.
                            </li>
                            <li>
                                1 tbsp soy sauce.
                            </li>
                            <li>
                                0.5 tbsp of seasoning seeds.
                            </li>
                            <li>
                                1 tablespoon honey. 2 tablespoons condensed milk. 0.5 teaspoons of colored water.
                            </li>
                            <li>
                                1 pinch of five flavors. Just a little to not stop the smell of grilled meat characteristic of eating com tam.
                            </li>
                            <li>
                                1 little ground pepper.
                            </li>
                            <li>
                                1 tablespoon of oil.
                            </li>
                        </ul>
                        <p>
                            Step 1: The meat is washed, sliced ​​not too thick. Using a knife handle or hammer to slam the meat, gradually evenly onto both sides of the meat (This way, when grilled, it will be soft, but also have a bigger, more attractive look). </p>
                        <p>
                            Step 2: Top green onion + garlic + chopped purple onion. Put it all in a blender or puree.
                        </p>
                        <p>
                            Step 3: Put the mixture of ground onion garlic (step 2) into the bowl with the remaining spices above and mix well (leave cooking oil). Finally, put the meat in a two-sided marinade. Remember, after 15 minutes add oil to the meat. Cover the meat, put
                            the meat in the refrigerator cooler overnight or at least 4-5 hours before baking. </p>
                        <p>
                            Step 4: Meat is arranged on the blister. The oven preheats 15 minutes at a temperature of 180 - 200 degrees C. Put the meat griddle in the oven for 20-22 minutes or faster depending on the temperature of the oven (coal fire is better). When the flesh
                            is slightly discolored, use a brush to brush the marinade over the meat. Turn the meat when you see it burning next to it, turn it over and make a wall for the other side. When the meat is burned next to the golden edge, turn
                            off the oven to remove the meat blister. </p>
                        <p>
                            When preparing the marinade, if you want to be sure, taste it after adding all the marinade to the taste before adding the meat. Family decrease depending on family taste. </p>
                        <p>
                            All ingredients are mixed and beaten and then steamed. To check whether the pie is cooked or not, we use a toothpick to stab it. If the toothpick doesn't stick, the pie is ripe. </p>
                        <p>
                            2 crushed yolks with a little water. Take this mixture and sweep it on the surface of the sausage after steaming and then bring it to a 180-200 degree C oven for 5-7 minutes. Orange-yellow rolls are satisfactory.
                        </p>
                        <p>
                            Fish sauce with com tam: Ratio of 4 or 5 fish sauce: 2 sugar: 1 boiling water, minced garlic and chili depending on taste.
                        </p>
                        <p>
                            Serve hot rice, egg rolls, ribs with chili garlic fish sauce and a little sour food to balance the flavor. You can add spring rolls, omelets if you want. </p>
                        <p>
                            The weather is getting cold like this and enjoying a delicious dish like com tam, maybe nothing more "pleasing to the stomach"? </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>