<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleother.css">
    <link rel="stylesheet" href="reponsiveAll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="headpage">
            <div class="container">
                <div id="mySidebar" class="sidebar">
                    <div class="logo" style="font-size: 25px; color: #737373;">
                        <a th:href="homepage" style="font-weight: 700;">日本語の勉強</a>
                    </div>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a th:href="news" style="text-decoration: none;"><i class="fa fa-newspaper-o"></i> News</a>
                    <a th:href="N5-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N5</a>
                    <a th:href="N4-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N4</a>
                    <a th:href="N3-detail" style="text-decoration: none;"><i class="fa fa-book"></i> N3</a>
                    <a th:href="listhappyo" style="text-decoration: none;"><i class="fa fa-comments-o"></i> Happyo</a>
                    <a th:href="weekly-words" style="text-decoration: none;"><i class="fa fa-calendar"></i> Weekly</a>
                    <a th:href="recipe" style="text-decoration: none;"><i class="fa fa-cutlery"></i> Recipe's cooking</a>
                    <a target="_blank" href="https://e-jan.vn/">
                        <img src="https://theme.hstatic.net/1000351702/1000458192/14/logo.png?v=302" alt="" style="width: 100px; height: 30px; margin-top: -3px;">
                    </a>
                </div>
            </div>
            <div class="container" style="margin-top: 5%;">
                <div id="main" style="position: fixed;">
                    <button class="openbtn" onclick="openNav()">☰</button>
                </div>
            </div>
        </div>
        <div class="bodypage">
            <div class="content-detail">
                <div class="detail-top" style="text-align: center;">
                    <div class="detail-title">
                        <h1>Daily life food</h1>
                    </div>
                </div>

                <div class="img-detail" style="text-align: center; padding: 2%;">
                    <img src="https://vnn-imgs-a1.vgcloud.vn/cdn.24h.com.vn/upload/2-2020/images/2020-04-13//1586774811-41603084bbb2ba78ec1df2fc908a1137.jpg" alt="">
                </div>

                <div style="text-align: center;">
                    <a href="translaterecipe">Switch to English</a>
                </div>

                <div class="container">
                    <div class="detail-body" style="padding: 5%;">
                        <div class="detail-body-title" style="text-align: center;">
                            <p style="font-size: 40px; font-weight: bold; color: red;"> Pho </p>
                        </div>
                        <div class="detail-body-content">
                            <p>
                                良いフォーのボウルを手に入れるには、加工業者、特にスープの鍋の経験とノウハウに大きく依存します。 「本物のビーフオイスターフォーは非常に洗練されている必要がありますが、私たちが行うことはすべてシンプルで優しく、それでも美味しく感じます」-主婦のマイナは彼女のホームヌードルレシピを以下の秘密と共有しています。
                            </p>
                            <br>
                            <ul>
                                <li>
                                    牛骨/豚骨（標準の牛骨が望ましい）：1kg </li>
                                <li>
                                    牛肉：500グラム </li>
                                <li>
                                    麺：1kg </li>
                                <li>
                                    カルダモン：2件の結果 </li>
                                <li>
                                    生姜：小枝（80gr） </li>
                                <li>
                                    エピソード：2個 </li>
                                <li>
                                    シナモン：枝 </li>
                                <li>
                                    乾燥玉ねぎ：球根2個 </li>
                                <li>
                                    タマネギ：1/2電球 </li>
                                <li>
                                    ねぎ、漢方薬、コリアンダー、新鮮な唐辛子、氷砂糖、グルタミン酸ナトリウム、塩、調味料の種 </li>
                            </ul>
                            <br>
                            <p>
                                骨を洗い、少量の塩で煮ます。牛骨の場合は、骨を通して焼いてから煮て、最初の水を入れて煮ます。多くの場合、家では、母親はすぐにそれを行うので、それは長くは続かない。事前に準備しておけば、誰もが骨を少なくとも6時間（最大12時間）煮て、とても美味しいスープを作る必要があります。前夜から作って、骨を煮て翌日美味しいスープを入れることができます。 </p>
                            <p>
                                生姜、乾燥玉ねぎ、シナモン、アニス、カルダモン、そして砕いたものをすべて骨スープの鍋に入れます。閉じたら、玉ねぎ1個を鍋に入れて炊きます。スープが完成したら、味に調味料の種を加えます（硬化​​プロセス中に泡を取り除くように注意してください） </p>
                            <p>
                                牛肉をカットして味わう。玉ねぎ、コリアンダー、コリアンダー/バジルを洗い、短く切る。麺ケーキは沸騰したお湯で湯通しします。</p>
                            <p>
                                すべてボウルに入れ、スープを入れ、レモン、チリを加えて、自宅に本物のフォーのボウルを用意しました。牛肉を調理するには、スープを茹でる必要があることに注意してください。香ばしくて甘い！標準的なハノイビーフヌードルスープにいくつかのフリップを追加します。</p>
                            <p>
                                実際にフォーを作るには、スープを作るのに多くの作業が必要です。ですから、時間を節約するために、スープを煮るたびに、みんなたくさん煮て、スープを少し濃くする必要があります。麺やフォーを作る必要があるたびに、水を加えて他の材料をすばやく準備し、家族全員のための温かい麺料理を手に入れます！便利で美味しいです </p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>