<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-suckhoe.vnecdn.net/2020/11/27/merlin-177700350-c07e0642-457d-4679-9113-1606439317.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=lipiuWCJklH2aU1qfE_7RQ" alt="">
                    <a href="newsdetail5" style="font-weight: 700; color: blue;">Switch to English</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> トランプ：来週はCovid-19の予防接種を開始します
                        </p>
                    </div>
                    <div class="detail-body-content">
                        <p>
                            ドナルド・トランプ大統領は、来週、医師、医療従事者、高齢者向けの予防接種を開始すると述べた。 </p>
                        <p>
                            トランプ氏は、感謝祭に関する米軍とのビデオ会議中に、11月26日に計画を発表しました。どのワクチンが配布されるかは明確ではありません。これまで、米国には、ModernaとPfizerの2つの製薬会社のうち、効率が94〜95％の2つの「候補」があります。米国はまた、アストラゼネカのワクチンの数十万回分を事前に予約しています。
                        </p>
                        <p>
                            「ワクチンは来週と来週に利用可能になるでしょう。最前線の医師、看護師、そして多くの人々が予防接種を受けるでしょう」とトランプは言いました。
                        </p>
                        <p>
                            米国食品医薬品局（FDA）は、ファイザーワクチンの緊急承認について11月30日に会合します。これは「医学の奇跡」だとトランプ氏は語った。 「通常、これを行ってFDAの承認を得るには4〜5年かかります。私たちはそのプロセスをスピードアップしようとしています」と彼は言いました。
                        </p>
                        <p>
                            以前、11月25日、政府は、製品の承認から24時間以内に、6,400万回分のファイザーワクチンを全米のコミュニティに送る計画を発表しました。 OperationExpressのロジスティクススーパーバイザーであるGustavePerna将軍は、割り当ては各州の人口に基づくと述べました。
                        </p>
                        <p>
                            ワクチンの最初の供給は、3億3000万人のアメリカ人は言うまでもなく、国の2000万人の医療従事者のほんの一部に十分です。しかし、ペルナ将軍は、生産能力が増加したときに、安定したワクチンが後で追加されると発表しました。 </p>
                        <p>
                            ペルナは、FDAが12月10日から12月14日までワクチンを認可する可能性があると述べた。 </p>
                        <p>
                            ModernaワクチンとPfizerワクチンはどちらも、ヒト細胞を刺激してウイルスタンパク質を生成するmRNAテクノロジーを使用して調製されています。次に、免疫系がタンパク質と接触して抗体を生成し、免疫細胞が病原体を認識して破壊します。 </p>
                        <p>
                            ファイザーのシングルショットの費用は約19.5ドルです。 Modernaは、ワクチンを1回あたり32〜37ドルで販売し、それぞれに2回の注射を行う予定です。他の2つの主要な米国の製薬会社、ジョンソン＆ジョンソンとノヴァヴァックスは、近い将来、ワクチン試験の結果を発表する予定です。これら2つの「候補」は両方とも第3相臨床試験中です。
                        </p>
                        <p>
                            現在までに、世界では100を超えるワクチンが開発中であり、12種類がフェーズ3の研究に進んでいます。ロシアと中国は緊急ワクチンを承認した2つの国です。 </p>
                        <p style="float: right; font-weight: 700;">
                            著者：Shu Linh（ロイター、デイリーメール） </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>