<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life new</h1>
                    </div>
                    <div class="detail-inform">

                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="https://i1-kinhdoanh.vnecdn.net/2020/11/27/im-265122-1606412418-1463-1606412726.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=lSdpLCLnizqBpnhGVk8rKQ" alt="">
                    <a href="newsdetail4" style="font-weight: 700; color: blue;">Switch to English</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: 40px; font-weight: bold; color: blue;"> ウォルトディズニーは32,000人の従業員を解雇します </p>
                    </div>
                    <div class="detail-body-content">
                        <p>
                            Covid-19がディズニーの遊園地やリゾートに被害を与え続けている2021年3月末に、32,000人の従業員が退職します。 </p>
                        <p>
                            解雇計画は11月25日の米国証券取引委員会への提出で開示された。したがって、新しい計画は2020年9月に発表された28,000から4,000ポジション増加し、削減された。最新の年次報告書によると、ディズニー約223,000人の従業員を雇用しています。
                        </p>
                        <p>
                            ディズニーはまた、将来の配当を停止し、退職金と医療退職金を減らすか、支払わないことを余儀なくされる可能性があると警告した。同社はまた、テレビや映画製品への投資を削減し、一時解雇を増やしたり、より多くの従業員を解雇したりする可能性があります。 </p>
                        <p>
                            「これらの措置のいくつかは、当社の事業に悪影響を与える可能性がある」とディズニーは提出書類で述べた。 </p>
                        <p>
                            このパンデミックはディズニーの公園事業に深刻な影響を及ぼし、米国には10万人以上の従業員がいます。同社はまた、クルーズ船事業を停止し、今年最大の大ヒット作の1つになると予想される「ブラックウィドウ」などの主要な映画の公開を延期しなければなりませんでした。
                        </p>
                        <p>
                            北米、アジア、ヨーロッパの12のディズニーパークはすべて、3月から5月まで閉鎖されました。その後、ディズニーは上海とフロリダのテーマパークを再開しましたが、カリフォルニアの店頭は少なくとも2020年末まで閉鎖されたままです。ディズニーランドパリは先月末、フランスが2度目の全国的な閉鎖を課したときに再び閉鎖を余儀なくされました。
                        </p>
                        <p>
                            同社の輝かしいスポットの1つは、オンラインTVサービスのDisney +でした。これは、現在7400万人の加入者を抱えており、メディアおよびエンターテインメント部門を見直した後、ビジネスの焦点となっています。 CEOのBobChapekは先週、この事業を運営することが会社の将来にとって「鍵」であると語った。
                        </p>
                        <p>
                            ディズニーは、9月30日までの会計年度で28億ドルを失いました。これは、同社が104億ドルの利益を上げた前年とはまったく対照的です。 </p>
                        <p style="float: right; font-weight: 700;">
                            著者：セッションAn（CNNによる） </p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>