<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-item">
                <div class="logo" style="font-size: 25px; color: #737373;">
                    日本語の勉強
                </div>
                <ul>
                    <li>
                        <a th:href="@{/homepage}" style="text-decoration: none; color: #737373">Home</a>
                    </li>
                    <li>
                        <a th:href="news" style="text-decoration: none; color: #737373">News</a>
                    </li>
                    <li>
                        <a th:href="@{/N5-detail}" style="text-decoration: none; color: #737373">N5</a>
                    </li>
                    <li>
                        <a th:href="@{/N4-detail}" style="text-decoration: none; color: #737373">N4</a>
                    </li>
                    <li>
                        <a th:href="@{/N3-detail}" style="text-decoration: none; color: #737373">N3</a>
                    </li>
                    <li>
                        <a th:href="@{/listhappyo}" style="text-decoration: none; color: #737373">Happyo</a>
                    </li>
                    <li>
                        <a th:href="@{/weekly-words}" style="text-decoration: none; color: #737373">Weekly</a>
                    </li>
                    <li>
                        <a href="recipe" style="text-decoration: none; color: #737373">Recipe's cooking</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://e-jan.vn/" style="text-decoration: none; color: #737373">e-jan</a>
                    </li>
                </ul>
                <div class="icon">
                    <ul>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-google"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-vimeo"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content-detail">
                <div class="detail-top">
                    <div class="detail-title">
                        <h1>Daily life food</h1>
                    </div>
                    <div class="detail-inform">
                    </div>
                </div>

                <div class="img-detail" style="text-align: center;">
                    <img src="http://f.imgs.vietnamnet.vn/2017/12/12/15/khoi-mat-cong-ra-quan-vi-cong-thuc-com-tam-chuan-vi-nhat-ngay-day.jpg" alt="">
                    <a href="recipe-detail4">Switch to English</a>
                </div>

                <div class="detail-body">
                    <div class="detail-body-item">
                    </div>
                    <div class="detail-body-title">
                        <p style="font-size: larger; font-weight: bold; color: red;"> コムタム </p>
                    </div>
                    <div class="detail-body-content">
                        <p>
                            コムタムはサイゴンの土地に由来する有名な珍味です。この標準的なサイゴンコムタムレシピでコムタムを作る方法を学びましょう！ </p>
                        <ul>
                            <li>
                                赤身の肩肉、赤身のハムまたはベーコン1kg。 </li>
                            <li>
                                にんにく4片。 </li>
                            <li>
                                紫玉ねぎ2個。 </li>
                            <li>
                                3つの白いネギの頭。 </li>
                            <li>
                                コショウ小さじ1/2。 </li>
                            <li>
                                オイスターオイル大さじ2。 </li>
                            <li>
                                ごま油大さじ0.5。 </li>
                            <li>
                                おいしい魚醤大さじ2。 </li>
                            <li>
                                醤油大さじ1。 </li>
                            <li>
                                調味料大さじ0.5。 </li>
                            <li>
                                蜂蜜大さじ1。練乳大さじ2。小さじ0.5杯の着色水。 </li>
                            <li>
                                5つの味の1つのピンチ。コムタムを食べるのが特徴の焼き肉のにおいが止まらないように少しだけ。 </li>
                            <li>
                                挽いたコショウ1個。 </li>
                            <li>
                                油大さじ1。 </li>
                        </ul>
                        <p>
                            ステップ1：肉を洗い、厚すぎないようにスライスします。ナイフの柄またはハンマーを使用して肉を叩き、肉の両側に徐々に均等に塗ります（このように、グリルすると柔らかくなりますが、大きくて魅力的な外観になります）。</p>
                        <p>
                            ステップ2：トップネギ+ニンニク+みじん切りネギ。すべてをブレンダーまたはピューレに入れます。 </p>
                        <p>
                            ステップ3：挽いたタマネギにんにくの混合物（ステップ2）を、残りのスパイスを上にしてボウルに入れ、よく混ぜます（食用油を残します）。最後に、肉を両面マリネに入れます。 15分後に肉に油を加えることを忘れないでください。肉を覆い、一晩または少なくとも4-5時間前に冷蔵庫のクーラーに入れます。 </p>
                        <p>
                            ステップ4：肉はブリスターに配置されます。オーブンは180〜200℃の温度で15分間予熱します。オーブンの温度に応じて、肉のグリドルを20〜22分以上オーブンに入れます（石炭の火が良いです）。肉が少し変色したら、ブラシを使ってマリネを肉に塗ります。肉が燃えているのが見えたら裏返し、裏返して反対側の壁を作ります。金色の縁の隣で肉が焼けたら、オーブンの電源を切り、肉の水ぶくれを取り除きます。 </p>
                        <p>
                            マリネを作るときは、念のため、マリネを全部加えてから肉を入れて味わってください。家族は家族の好みに応じて減少します。</p>
                        <p>
                            すべての材料を混ぜ合わせて叩き、蒸します。パイが調理されているかどうかを確認するために、つまようじを使ってパイを刺します。つまようじがくっつかない場合、パイは熟しています。</p>
                        <p>
                            少量の水で2つの砕いた卵黄。この混合物を取り、蒸した後、ソーセージの表面でそれを一掃し、次にそれを180-200℃のオーブンに5-7分間持ってきます。オレンジイエローのロールパンで十分です。 </p>
                        <p>
                            魚醤とコンタム：魚醤4または5の比率：砂糖2：沸騰したお湯1、ニンニクのみじん切り、唐辛子。 </p>
                        <p>
                            温かいご飯、エッグロール、リブに唐辛子にんにく魚醤、少し酸っぱい食べ物を添えて風味のバランスを取ります。必要に応じて、春巻き、オムレツを追加できます。</p>
                        <p>
                            こんなに寒くなり、コムタムのような美味しい料理を楽しんでいるのではないでしょうか。</p>
                    </div>
                </div>
            </div>
            <div class="footer" style="height:80px">
                <p style="text-align: center; color: #e6e6e6; padding-top: 20px;">Copyright 2020 URBAN Viet Nam, All Right Reserved</p>
            </div>
        </div>

    </div>
</body>

</html>