<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="@{/index.html}">Home</a></li>
                <li class="link"><a th:href="@{/detail.html}">N5</a></li>
                <li class="link"><a th:href="@{/detail.html}">N4</a></li>
                <li class="link"><a th:href="@{/detail.html}">N3</a></li>
                <li class="link"><a th:href="@{/happyo.html}">Happyo</a></li>
                <li class="link"><a th:href="@{/weekly.html}">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <div class="test1">
        <div class="vocabulary-part" >
            <section class="vocabulary-container" style="padding: 0; background-image: url('./images/1.jpg'); height: 300px;">
                <div style="background-color: black; height: 100%; width: 100%; opacity: 0.7; position: relative;"></div>
                <div style="position: absolute;">
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write" style="color: #fff">繋がる</p>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Type:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Động từ nhóm 1 -ru, tự động từ</p>    
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Meaning:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Ex:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vocabulary-container" style="padding: 0; background-image: url('./images/1.jpg'); height: 300px;">
                <div style="background-color: black; height: 100%; width: 100%; opacity: 0.7; position: relative;"></div>
                <div style="position: absolute;">
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write" style="color: #fff">繋がる</p>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Type:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Động từ nhóm 1 -ru, tự động từ</p>    
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Meaning:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Ex:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vocabulary-container" style="padding: 0; background-image: url('./images/1.jpg'); height: 300px;">
                <div style="background-color: black; height: 100%; width: 100%; opacity: 0.7; position: relative;"></div>
                <div style="position: absolute;">
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write" style="color: #fff">繋がる</p>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Type:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Động từ nhóm 1 -ru, tự động từ</p>    
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Meaning:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p" style="color: #fff;">Ex:</p>
                            <p class="weekly-content-explain-p" style="color: #fff;">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
        </div>

        <div class="test2">
        <div class="weekly-items">
            <div><img style="width: 100%; height: 100%" th:src="@{/images/cox.png}"></div>
            <div class="weekly-content">
                <div>
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write">繋がる</p>
                </div>
                <div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Type:</p>
                            <p class="weekly-content-explain-p">Động từ nhóm 1 -ru, tự động từ</p>    
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Meaning:</p>
                            <p class="weekly-content-explain-p">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Ex:</p>
                            <p class="weekly-content-explain-p">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weekly-items">
            <div><img style="width: 100%; height: 100%" th:src="@{/images/cox.png}"></div>
            <div class="weekly-content">
                <div>
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write">繋がる</p>
                </div>
                <div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Type:</p>
                            <p class="weekly-content-explain-p">Động từ nhóm 1 -ru, tự động từ</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">        
                            <p class="weekly-content-explain-p">Meaning:</p>
                            <p class="weekly-content-explain-p">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Ex:</p>
                            <p class="weekly-content-explain-p">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weekly-items">
            <div><img style="width: 100%; height: 100%" th:src="@{/images/cox.png}"></div>
            <div class="weekly-content">
                <div>
                    <p class="weekly-content-word">つながる</p>
                    <p class="weekly-content-write">繋がる</p>
                </div>
                <div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Type:</p>
                            <p class="weekly-content-explain-p">Động từ nhóm 1 -ru, tự động từ</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Meaning:</p>
                            <p class="weekly-content-explain-p">Nối; buộc vào; liên hệ; liên quan</p>
                        </div>
                    </div>
                    <div class="weekly-content-part">
                        <div class="weekly-content-icon">
                            <img class="small-star"  th:src="@{/images/star.svg}" alt="">
                        </div>
                        <div class="weekly-content-explain">
                            <p class="weekly-content-explain-p">Ex:</p>
                            <p class="weekly-content-explain-p">事故につながる：Dẫn đến sự cố<br>
                            血が繋がってない ： không có quan hệ máu mủ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
    </script>
</body>

</html>