<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>教室</td>
						<td>GIÁO THẤT</td>
						<td>きょうしつ</td>
					</tr>
					<tr>
						<td>食堂</td>
						<td>THỰC ĐƯỜNG</td>
						<td>しょくどう</td>
					</tr>
					<tr>
						<td>事務所</td>
						<td>SỰ VỤ SỞ</td>
						<td>じむしょ</td>
					</tr>
					<tr>
						<td>会議室</td>
						<td>HỘI NGHỊ THẤT</td>
						<td>かいぎしつ</td>
					</tr>
					<tr>
						<td>受付</td>
						<td>THỤ PHÓ</td>
						<td>うけつけ</td>
					</tr>
					<tr>
						<td>部屋</td>
						<td>BỘ ỐC</td>
						<td>へや</td>
					</tr>
					<tr>
						<td>(お手洗い)</td>
						<td>THỦ TẨY</td>
						<td>トイレ<br>（おてあらい）</td>
					</tr>
					<tr>
						<td>階段</td>
						<td>GIAI ĐOẠN</td>
						<td>かいだん</td>
					</tr>
					<tr>
						<td>自動販売機</td>
						<td>TỰ ĐỘNG<br>PHIẾN MẠI CƠ</td>
						<td>じどうはんばいき</td>
					</tr>
					<tr>
						<td>電話</td>
						<td>ĐIỆN THOẠI</td>
						<td>でんわ</td>
					</tr>
					<tr>
						<td>[お]国</td>
						<td>QUỐC</td>
						<td>[お]くに</td>
					</tr>
					<tr>
						<td>会社</td>
						<td>HỘI XÃ</td>
						<td>かいしゃ</td>
					</tr>
					<tr>
						<td>靴</td>
						<td>NGOA</td>
						<td>くつ</td>
					</tr>
					<tr>
						<td>売り場</td>
						<td>MẠI TRƯỜNG</td>
						<td>うりば</td>
					</tr>
					<tr>
						<td>地下</td>
						<td>ĐỊA HẠ</td>
						<td>ちか</td>
					</tr>
					<tr>
						<td>－階</td>
						<td>GIAI</td>
						<td>―かい（－がい）</td>
					</tr>
					<tr>
						<td>何階</td>
						<td>HÀ GIAI</td>
						<td>なんがい</td>
					</tr>
					<tr>
						<td>―円</td>
						<td>VIÊN</td>
						<td>―えん</td>
					</tr>
					<tr>
						<td>百</td>
						<td>BÁCH</td>
						<td>ひゃく</td>
					</tr>
					<tr>
						<td>千</td>
						<td>THIÊN</td>
						<td>せん</td>
					</tr>
					<tr>
						<td>万</td>
						<td>VẠN</td>
						<td>まん</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>