<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>起きます</td>
						<td>KHỞI</td>
						<td>おきます</td>
					</tr>
					<tr>
						<td>寝ます</td>
						<td>TẨM</td>
						<td>ねます</td>
					</tr>
					<tr>
						<td>働きます</td>
						<td>ĐỘNG</td>
						<td>はたらきます</td>
					</tr>
					<tr>
						<td>休みます</td>
						<td>HƯU</td>
						<td>やすみます</td>
					</tr>
					<tr>
						<td>勉強します</td>
						<td>MIỄN CƯỜNG</td>
						<td>べんきょうします</td>
					</tr>
					<tr>
						<td>終わります</td>
						<td>CHUNG</td>
						<td>おわります</td>
					</tr>
					<tr>
						<td>銀行</td>
						<td>NGÂN HÀNH</td>
						<td>ぎんこう</td>
					</tr>
					<tr>
						<td>郵便局</td>
						<td>BƯU TIỆN CỤC</td>
						<td>ゆうびんきょく</td>
					</tr>
					<tr>
						<td>図書館</td>
						<td>ĐỒ THƯ QUÁN</td>
						<td>としょかん</td>
					</tr>
					<tr>
						<td>美術館</td>
						<td>MỸ THUẬT QUÁN</td>
						<td>びじゅつかん</td>
					</tr>
					<tr>
						<td>今</td>
						<td>KIM</td>
						<td>いま</td>
					</tr>
					<tr>
						<td>－時</td>
						<td>THỜI</td>
						<td>―じ</td>
					</tr>
					<tr>
						<td>―分</td>
						<td>PHÂN</td>
						<td>―ふん（－ぷん）</td>
					</tr>
					<tr>
						<td>半</td>
						<td>BÁN</td>
						<td>はん</td>
					</tr>
					<tr>
						<td>何時</td>
						<td>HÀ THỜI</td>
						<td>なんじ</td>
					</tr>
					<tr>
						<td>何分</td>
						<td>HÀ PHÂN</td>
						<td>なんぷん</td>
					</tr>
					<tr>
						<td>午前</td>
						<td>NGỌ TIỀN</td>
						<td>ごぜん</td>
					</tr>
					<tr>
						<td>午後</td>
						<td>NGỌ HẬU</td>
						<td>ごご</td>
					</tr>
					<tr>
						<td>朝</td>
						<td>TRIỀU</td>
						<td>あさ</td>
					</tr>
					<tr>
						<td>昼</td>
						<td>TRÚ</td>
						<td>ひる</td>
					</tr>
					<tr>
						<td>晩(夜)</td>
						<td>VÃN(DẠ)</td>
						<td>ばん（よる）</td>
					</tr>
					<tr>
						<td>今晩</td>
						<td>KIM VÃN</td>
						<td>こんばん</td>
					</tr>
					<tr>
						<td>休み</td>
						<td>HƯU</td>
						<td>やすみ</td>
					</tr>
					<tr>
						<td>昼休み</td>
						<td>TRÚ HƯU</td>
						<td>ひるやすみ</td>
					</tr>
					<tr>
						<td>試験</td>
						<td>THÍ NGHIỆM</td>
						<td><ruby>試験<rp>（</rp>
								<rt>しけん</rt>
								<rp>）</rp>
							</ruby></td>
					</tr>
					<tr>
						<td>会議</td>
						<td>HỘI NGHỊ</td>
						<td><ruby>会議<rp>（</rp>
								<rt>かいぎ</rt>
								<rp>）</rp>
							</ruby></td>
					</tr>
					<tr>
						<td>映画</td>
						<td>ÁNH HỌA</td>
						<td><ruby>映画<rp>（</rp>
								<rt>えいが</rt>
								<rp>）</rp>
							</ruby></td>
					</tr>
					<tr>
						<td>毎朝</td>
						<td>MỖI TRIỀU</td>
						<td>まいあさ</td>
					</tr>
					<tr>
						<td>毎晩</td>
						<td>MỖI VÃN</td>
						<td>まいばん</td>
					</tr>
					<tr>
						<td>毎日</td>
						<td>MỖI NHẬT</td>
						<td>まいにち</td>
					</tr>
					<tr>
						<td>月曜日</td>
						<td>NGUYỆT DIỆU NHẬT</td>
						<td>げつようび</td>
					</tr>
					<tr>
						<td>火曜日</td>
						<td>HỎA DIỆU NHẬT</td>
						<td>かようび</td>
					</tr>
					<tr>
						<td>水曜日</td>
						<td>THỦY DIỆU NHẬT</td>
						<td>すいようび</td>
					</tr>
					<tr>
						<td>木曜日</td>
						<td>MỘC DIỆU NHẬT</td>
						<td>もくようび</td>
					</tr>
					<tr>
						<td>金曜日</td>
						<td>KIM DIỆU NHẬT</td>
						<td>きんようび</td>
					</tr>
					<tr>
						<td>土曜日</td>
						<td>THỔ DIỆU NHẬT</td>
						<td>どようび</td>
					</tr>
					<tr>
						<td>日曜日</td>
						<td>NHẬT DIỆU NHẬT</td>
						<td>にちようび</td>
					</tr>
					<tr>
						<td>何曜日</td>
						<td>HÀ DIỆU NHẬT</td>
						<td>なんようび</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>