<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>直します</td>
						<td>TRỰC</td>
						<td>なおします</td>
					</tr>
					<tr>
						<td>連れて行きます</td>
						<td>LIÊN HÀNH</td>
						<td>つれていきます</td>
					</tr>
					<tr>
						<td>連れて来ます</td>
						<td>LIÊN LAI</td>
						<td>つれてきます</td>
					</tr>
					<tr>
						<td>送ります<br>[人を～]</td>
						<td>TỐNG<br>NHÂN </td>
						<td>おくります<br>[ひとを～]</td>
					</tr>
					<tr>
						<td>紹介します</td>
						<td>THIỆU GIỚI</td>
						<td>しょうかいします</td>
					</tr>
					<tr>
						<td>案内します</td>
						<td>ÁN NỘI</td>
						<td>あんないします</td>
					</tr>
					<tr>
						<td>説明します</td>
						<td>THUYẾT MINH</td>
						<td>せつめいします</td>
					</tr>
					<tr>
						<td>準備</td>
						<td>CHUẨN BỊ</td>
						<td>じゅんび</td>
					</tr>
					<tr>
						<td>引っ越し</td>
						<td>DẪN VIỆT</td>
						<td>ひっこし</td>
					</tr>
					<tr>
						<td>[お]菓子</td>
						<td>QUẢ TỬ</td>
						<td>[お]かし</td>
					</tr>
					<tr>
						<td>全部</td>
						<td>TOÀN BỘ</td>
						<td>ぜんぶ</td>
					</tr>
					<tr>
						<td>自分で</td>
						<td>TỰ PHÂN</td>
						<td>じぶんで</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>