<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>[子供が～]</td>
						<td>TỬ CUNG</td>
						<td>[こどもが～] います</td>
					</tr>
					<tr>
						<td>[日本に～]</td>
						<td>NHẬT BẢN</td>
						<td>[にほんに～] います</td>
					</tr>
					<tr>
						<td>休みます<br>[会社を～]</td>
						<td>HƯU<br>HỘI XÃ </td>
						<td>やすみます<br>[かいしゃを～] </td>
					</tr>
					<tr>
						<td>１つ</td>
						<td></td>
						<td>ひとつ</td>
					</tr>
					<tr>
						<td>２つ</td>
						<td></td>
						<td>ふたつ</td>
					</tr>
					<tr>
						<td>３つ</td>
						<td></td>
						<td>みっつ</td>
					</tr>
					<tr>
						<td>４つ</td>
						<td></td>
						<td>よっつ</td>
					</tr>
					<tr>
						<td>５つ</td>
						<td></td>
						<td>いつつ</td>
					</tr>
					<tr>
						<td>６つ</td>
						<td></td>
						<td>むっつ</td>
					</tr>
					<tr>
						<td>７つ</td>
						<td></td>
						<td>ななつ</td>
					</tr>
					<tr>
						<td>８つ</td>
						<td></td>
						<td>やっつ</td>
					</tr>
					<tr>
						<td>９つ</td>
						<td></td>
						<td>ここのつ</td>
					</tr>
					<tr>
						<td>10</td>
						<td></td>
						<td>とお</td>
					</tr>
					<tr>
						<td>１人</td>
						<td>NHÂN</td>
						<td>ひとり</td>
					</tr>
					<tr>
						<td>２人</td>
						<td>NHÂN</td>
						<td>ふたり</td>
					</tr>
					<tr>
						<td>－人</td>
						<td>NHÂN</td>
						<td>―にん</td>
					</tr>
					<tr>
						<td>－台</td>
						<td>ĐÀI</td>
						<td>―だい</td>
					</tr>
					<tr>
						<td>－枚</td>
						<td>MAI</td>
						<td>―まい</td>
					</tr>
					<tr>
						<td>―回</td>
						<td>HỒI</td>
						<td>―かい</td>
					</tr>
					<tr>
						<td>切手</td>
						<td>THIẾT THỦ</td>
						<td>きって</td>
					</tr>
					<tr>
						<td>封筒</td>
						<td>PHONG ĐỒNG</td>
						<td>ふうとう</td>
					</tr>
					<tr>
						<td>両親</td>
						<td>LƯỠNG THÂN</td>
						<td>りょうしん</td>
					</tr>
					<tr>
						<td>兄弟</td>
						<td>HUYNH ĐỆ</td>
						<td>きょうだい</td>
					</tr>
					<tr>
						<td>兄</td>
						<td>HUYNH</td>
						<td>あに</td>
					</tr>
					<tr>
						<td>お兄さん</td>
						<td>HUYNH</td>
						<td>おにいさん</td>
					</tr>
					<tr>
						<td>姉</td>
						<td>TỶ</td>
						<td>あね</td>
					</tr>
					<tr>
						<td>お姉さん</td>
						<td>TỶ</td>
						<td>おねえさん</td>
					</tr>
					<tr>
						<td>弟</td>
						<td>ĐỆ</td>
						<td>おとうと</td>
					</tr>
					<tr>
						<td>弟さん</td>
						<td>ĐỆ</td>
						<td>おとうとさん</td>
					</tr>
					<tr>
						<td>妹</td>
						<td>MUỘI</td>
						<td>いもうと</td>
					</tr>
					<tr>
						<td>妹さん</td>
						<td>MUỘI</td>
						<td>いもうとさん</td>
					</tr>
					<tr>
						<td>外国</td>
						<td>NGOẠI QUỐC</td>
						<td>がいこく</td>
					</tr>
					<tr>
						<td>留学生</td>
						<td>LƯU HỌC SINH</td>
						<td>りゅうがくせい</td>
					</tr>
					<tr>
						<td>―時間</td>
						<td>THỜI GIAN</td>
						<td>―じかん</td>
					</tr>
					<tr>
						<td>―週間</td>
						<td>CHU GIAN</td>
						<td>―しゅうかん</td>
					</tr>
					<tr>
						<td>－か月</td>
						<td>NGUYỆT</td>
						<td>―かげつ</td>
					</tr>
					<tr>
						<td>―年</td>
						<td>NIÊN</td>
						<td>―ねん</td>
					</tr>
					<tr>
						<td>全部で</td>
						<td>TOÀN BỘ</td>
						<td>ぜんぶで</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>