<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="ht">Hán Tự</th>
						<th class="ah">Âm Hán</th>
						<th class="tv">Từ Vựng</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>消します</td>
						<td>TIÊU</td>
						<td>けします</td>
					</tr>
					<tr>
						<td>開けます</td>
						<td>KHAI</td>
						<td>あけます</td>
					</tr>
					<tr>
						<td>閉めます</td>
						<td>BẾ</td>
						<td>しめます</td>
					</tr>
					<tr>
						<td>急ぎます</td>
						<td>CẤP</td>
						<td>いそぎます</td>
					</tr>
					<tr>
						<td>待ちます</td>
						<td>ĐÃI</td>
						<td>まちます</td>
					</tr>
					<tr>
						<td>持ちます</td>
						<td>TRÌ</td>
						<td>もちます</td>
					</tr>
					<tr>
						<td>取ります</td>
						<td>THỦ</td>
						<td>とります</td>
					</tr>
					<tr>
						<td>手伝います</td>
						<td>THỦ TRUYỀN</td>
						<td>てつだいます</td>
					</tr>
					<tr>
						<td>呼びます</td>
						<td>HÔ</td>
						<td>よびます</td>
					</tr>
					<tr>
						<td>話します</td>
						<td>THOẠI</td>
						<td>はなします</td>
					</tr>
					<tr>
						<td>使います</td>
						<td>SỬ</td>
						<td>つかいます</td>
					</tr>
					<tr>
						<td>止めます</td>
						<td>CHỈ</td>
						<td>とめます</td>
					</tr>
					<tr>
						<td>見せます</td>
						<td>KIẾN</td>
						<td>みせます</td>
					</tr>
					<tr>
						<td>教えます<br>[住所を～]</td>
						<td>TRÚ SỞ GIÁO</td>
						<td>おしえます<br>[じゅうしょを～]</td>
					</tr>
					<tr>
						<td>座ります</td>
						<td>TỌA</td>
						<td>すわります</td>
					</tr>
					<tr>
						<td>立ちます</td>
						<td>LẬP</td>
						<td>たちます</td>
					</tr>
					<tr>
						<td>入ります<br>[喫茶店に～]</td>
						<td>NHẬP<br>KHIẾT TRÀ ĐIẾM</td>
						<td>はいります<br>[きっさてんに～]</td>
					</tr>
					<tr>
						<td>出ます<br>[喫茶店に～]</td>
						<td>XUẤT<br>KHIẾT TRÀ ĐIẾM</td>
						<td>でます<br>[きっさてんを～]</td>
					</tr>
					<tr>
						<td>降ります<br>[雨が～]</td>
						<td>GIÁNG<br>VŨ</td>
						<td>ふります<br>[あめが～] </td>
					</tr>
					<tr>
						<td>電気</td>
						<td>ĐIỆN KHÍ</td>
						<td>でんき</td>
					</tr>
					<tr>
						<td>名前</td>
						<td>DANH TIỀN</td>
						<td>なまえ</td>
					</tr>
					<tr>
						<td>住所</td>
						<td>TRÚ SỞ</td>
						<td>じゅうしょ</td>
					</tr>
					<tr>
						<td>地図</td>
						<td>ĐỊA ĐỒ</td>
						<td>ちず</td>
					</tr>
					<tr>
						<td>塩</td>
						<td>DIÊM</td>
						<td>しお</td>
					</tr>
					<tr>
						<td>砂糖</td>
						<td>SA ĐƯỜNG</td>
						<td>さとう</td>
					</tr>
					<tr>
						<td>問題</td>
						<td>VẤN ĐỀ</td>
						<td>もんだい</td>
					</tr>
					<tr>
						<td>答え</td>
						<td>ĐÁP</td>
						<td>こたえ</td>
					</tr>
					<tr>
						<td>読み方</td>
						<td>ĐỘC PHƯƠNG</td>
						<td>よみかた</td>
					</tr>
					<tr>
						<td>～方</td>
						<td>PHƯƠNG</td>
						<td>～かた</td>
					</tr>
					<tr>
						<td>もう少し</td>
						<td>THIẾU</td>
						<td>もう　すこし</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>