<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①身
						</td>
						<td>
							THÂN</td>
						<td>
							しん／み</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							身長
						</td>
						<td>
							THÂN TRƯỞNG</td>
						<td>
							しんちょう</td>
						<td>
							Chiều cao</td>
					</tr>
					<tr>
						<td>

							独身&nbsp;
						</td>
						<td>
							ĐỘC&nbsp;THÂN</td>
						<td>
							どくしん</td>
						<td>
							Độc thân</td>
					</tr>
					<tr>
						<td>

							身分
						</td>
						<td>
							THÂN PHẦN</td>
						<td>
							みぶん</td>
						<td>
							Vị trí xã hội</td>
					</tr>
					<tr>
						<td>

							刺身
						</td>
						<td>
							THÍCH&nbsp;THÂN</td>
						<td>
							さしみ</td>
						<td>
							Món sashimi</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②酒
						</td>
						<td>
							TỬU</td>
						<td>
							しゅ／さけ／さか</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							日本酒
						</td>
						<td>
							NHẬT BẢN&nbsp;TỬU</td>
						<td>
							にほんしゅ</td>
						<td>
							Rượu Nhật</td>
					</tr>
					<tr>
						<td>

							料理酒
						</td>
						<td>
							LIỆU LÝ&nbsp;TỬU</td>
						<td>
							りょうりしゅ</td>
						<td>
							Rượu dùng nấu ăn</td>
					</tr>
					<tr>
						<td>

							お酒
						</td>
						<td>
							TỬU</td>
						<td>
							おさけ</td>
						<td>
							Rượu</td>
					</tr>
					<tr>
						<td>

							&nbsp;酒屋
						</td>
						<td>
							TỬU ỐC</td>
						<td>
							さかや</td>
						<td>
							Quán rượu</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③吸
						</td>
						<td>
							HẤP</td>
						<td>
							きゅう／す・う</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							呼吸
						</td>
						<td>
							HÔ&nbsp;HẤP</td>
						<td>
							こきゅう</td>
						<td>
							Hô hấp, thở</td>
					</tr>
					<tr>
						<td>

							吸う
						</td>
						<td>
							HẤP</td>
						<td>

							すう
						</td>
						<td>
							Hút (thuốc)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④欲
						</td>
						<td>
							DỤC</td>
						<td>
							よく／ほ・しい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							食欲&nbsp;
						</td>
						<td>
							THỰC&nbsp;DỤC</td>
						<td>
							しょくよく</td>
						<td>
							Sự thèm ăn, ngon miệng</td>
					</tr>
					<tr>
						<td>

							意欲
						</td>
						<td>
							Ý&nbsp;DỤC</td>
						<td>
							いよく</td>
						<td>
							Mong muốn, ước muốn, động lực, hăng hái</td>
					</tr>
					<tr>
						<td>

							欲しい
						</td>
						<td>
							DỤC</td>
						<td>
							ほしい</td>
						<td>
							Muốn, mong</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤眠
						</td>
						<td>
							MIÊN</td>
						<td>

							みん／

							ねむ・い／ねむ・る
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							睡眠
						</td>
						<td>
							THỤY MIÊN</td>
						<td>
							すいみん</td>
						<td>
							Giấc ngủ</td>
					</tr>
					<tr>
						<td>

							眠い
						</td>
						<td>
							MIÊN</td>
						<td>
							ねむい</td>
						<td>
							Buồn ngủ</td>
					</tr>
					<tr>
						<td>

							眠る
						</td>
						<td>
							MIÊN</td>
						<td>
							ねむる</td>
						<td>
							Ngủ</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥疲
						</td>
						<td>
							BÌ</td>
						<td>
							つかれ・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							疲れる
						</td>
						<td>
							BÌ</td>
						<td>
							つかれる</td>
						<td>
							Mệt mỏi</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦息
						</td>
						<td>
							TỨC</td>
						<td>
							いき</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							息
						</td>
						<td>
							TỨC</td>
						<td>
							いき</td>
						<td>
							Hơi thở</td>
					</tr>
					<tr>
						<td>

							息切れ
						</td>
						<td>
							TỨC THIẾT</td>
						<td>
							いきぎれ</td>
						<td>
							Hết hơi, hụt hơi</td>
					</tr>
					<tr>
						<td>

							息子
						</td>
						<td>
							TỨC TỬ</td>
						<td>
							むすこ</td>
						<td>
							Con trai</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧呼
						</td>
						<td>
							HÔ</td>
						<td>
							こ／よ・ぶ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							呼吸</td>
						<td>

							HÔ HẤP
						</td>
						<td>
							こきゅう</td>
						<td>
							Hô hấp, thở</td>
					</tr>
					<tr>
						<td>
							呼ぶ</td>
						<td>

							HÔ
						</td>
						<td>
							よぶ</td>
						<td>
							Gọi, kêu</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>