<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 150px;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 150px;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①準&nbsp;
						</td>
						<td>
							CHUẨN</td>
						<td>
							じゅん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							準備
						</td>
						<td>
							CHUẨN BỊ</td>
						<td>
							じゅんび</td>
						<td>
							Chuẩn bị</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②備
						</td>
						<td>
							BỊ</td>
						<td>
							び／そな・える</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							準備
						</td>
						<td>
							CHUẨN BỊ</td>
						<td>
							じゅんび</td>
						<td>
							Chuẩn bị</td>
					</tr>
					<tr>
						<td>

							備える
						</td>
						<td>
							BỊ</td>
						<td>
							そなえる</td>
						<td>
							Chuẩn bị</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③営
						</td>
						<td>
							DOANH</td>
						<td>
							えい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							営業
						</td>
						<td>
							DOANH NGHIỆP</td>
						<td>
							えいぎょう</td>
						<td>
							Kinh doanh, doanh nghiệp</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④閉
						</td>
						<td>
							BẾ</td>
						<td>

							へい

							し・まる／し・める
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							&nbsp;開閉
						</td>
						<td>
							KHAI BẾ</td>
						<td>
							かいへい</td>
						<td>
							Mở và đóng</td>
					</tr>
					<tr>
						<td>

							閉まる
						</td>
						<td>
							BẾ</td>
						<td>
							しまる</td>
						<td>
							Đóng (tự động từ)</td>
					</tr>
					<tr>
						<td>

							閉める
						</td>
						<td>
							BẾ</td>
						<td>
							しめる</td>
						<td>
							Đóng (tha động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤案
						</td>
						<td>
							ÁN</td>
						<td>

							あん
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							案内&nbsp;
						</td>
						<td>
							ÁN NỘI</td>
						<td>
							あんない</td>
						<td>
							Hướng dẫn, thông tin</td>
					</tr>
					<tr>
						<td>

							案
						</td>
						<td>
							ÁN</td>
						<td>
							あん</td>
						<td>
							Đề án, đề nghị</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥内
						</td>
						<td>
							NỘI</td>
						<td>
							ない／うち</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							家内
						</td>
						<td>
							GIA NỘI</td>
						<td>
							かない</td>
						<td>
							Vợ</td>
					</tr>
					<tr>
						<td>

							以内
						</td>
						<td>
							DĨ NỘI</td>
						<td>
							いない</td>
						<td>
							trong vòng</td>
					</tr>
					<tr>
						<td>

							内側
						</td>
						<td>
							NỘI TRẮC</td>
						<td>
							うちがわ</td>
						<td>
							Phía trong</td>
					</tr>
					<tr>
						<td>

							国内
						</td>
						<td>
							QUỐC NỘI</td>
						<td>
							こくない</td>
						<td>
							Trong nước</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦予
						</td>
						<td>
							DỰ</td>
						<td>
							よ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							予定&nbsp;
						</td>
						<td>
							DỰ ĐỊNH</td>
						<td>
							よてい</td>
						<td>
							Dự định</td>
					</tr>
					<tr>
						<td>

							予習
						</td>
						<td>
							DỰ TẬP</td>
						<td>
							よしゅう</td>
						<td>
							Học trước bài, chuẩn bị trước</td>
					</tr>
					<tr>
						<td>

							<span style="text-align: left; ">⑧約</span>
						</td>
						<td>
							ƯỚC</td>
						<td>
							やく</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							予<span style="text-align: left; ">約</span>
						</td>
						<td>
							DỰ ƯỚC</td>
						<td>
							よやく</td>
						<td>
							Cuộc hẹn, đặt trước</td>
					</tr>
					<tr>
						<td>

							<span style="text-align: left; ">約～</span>
						</td>
						<td>
							ƯỚC</td>
						<td>
							やく</td>
						<td>
							KHoảng, ước chừng ~</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>