<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①停
						</td>
						<td>
							ĐÌNH</td>
						<td>
							てい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							停車
						</td>
						<td>
							ĐÌNH XA</td>
						<td>
							ていしゃ</td>
						<td>
							Sự dừng xe</td>
					</tr>
					<tr>
						<td>

							バス停
						</td>
						<td>
							ĐÌNH</td>
						<td>
							ばすてい</td>
						<td>
							Bến xe buýt</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②整 &nbsp;
						</td>
						<td>
							CHỈNH</td>
						<td>
							せい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							整理
						</td>
						<td>
							CHỈNH LÝ</td>
						<td>
							せいり</td>
						<td>
							Chỉnh lý</td>
					</tr>
					<tr>
						<td>

							整理券
						</td>
						<td>
							CHỈNH LÝ KHOÁN</td>
						<td>
							せいりけん</td>
						<td>
							vé đánh số</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③券
						</td>
						<td>
							KHOÁN</td>
						<td>
							けん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							駐車券
						</td>
						<td>
							TRÚ XA KHOÁN</td>
						<td>
							ちゅうしゃけん</td>
						<td>
							Vé đỗ xe</td>
					</tr>
					<tr>
						<td>

							乗車券
						</td>
						<td>
							THỪA XA KHOÁN</td>
						<td>
							じょうしゃけん</td>
						<td>
							Vé lên tàu xe</td>
					</tr>
					<tr>
						<td>

							回数券&nbsp;
						</td>
						<td>
							HỒI SỐ KHOÁN</td>
						<td>
							かいすうけん</td>
						<td>
							Cuốn sổ vé, tập vé</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④現
						</td>
						<td>
							HIỆN</td>
						<td>
							げん／あらわれる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							現金
						</td>
						<td>
							HIỆN KIM</td>
						<td>
							げんきん</td>
						<td>
							Tiền mặt</td>
					</tr>
					<tr>
						<td>

							表現
						</td>
						<td>
							BIỂU HIỆN</td>
						<td>

							ひょうげん
						</td>
						<td>
							Biểu hiện, thể hiện</td>
					</tr>
					<tr>
						<td>

							現れる
						</td>
						<td>
							HIỆN</td>
						<td>
							あらわれる</td>
						<td>
							Ló dạng, xuất hiện</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤両
						</td>
						<td>
							LƯỠNG</td>
						<td>
							りょう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							両親
						</td>
						<td>
							LƯỠNG THÂN</td>
						<td>
							りょうしん</td>
						<td>
							Ba mẹ</td>
					</tr>
					<tr>
						<td>

							～両
						</td>
						<td>
							LƯỠNG</td>
						<td>
							～りょう</td>
						<td>
							~xe trên chuyến xe lửa, (toa)xe,...</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥替
						</td>
						<td>
							THẾ</td>
						<td>
							か・える</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							取り替える
						</td>
						<td>
							THỦ THẾ</td>
						<td>
							とりかえる</td>
						<td>
							Đổi</td>
					</tr>
					<tr>
						<td>

							両替
						</td>
						<td>
							LƯỠNG THẾ</td>
						<td>
							りょうがえ</td>
						<td>
							Đổi tiền</td>
					</tr>
					<tr>
						<td>

							着替える
						</td>
						<td>
							TRƯỚC THẾ</td>
						<td>
							きがえる</td>
						<td>
							Thay quần áo</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦優
						</td>
						<td>
							ƯU</td>
						<td>
							ゆう／やさ・しい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							優先席
						</td>
						<td>
							ƯU TIÊN TỊCH</td>
						<td>
							ゆうせんせき</td>
						<td>
							Ghế ưu tiên</td>
					</tr>
					<tr>
						<td>

							女優
						</td>
						<td>
							NỮ ƯU</td>
						<td>
							じょゆう</td>
						<td>
							Nữ diễn viên</td>
					</tr>
					<tr>
						<td>

							優しい
						</td>
						<td>
							ƯU</td>
						<td>
							やさしい</td>
						<td>
							Dịu dàng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧座&nbsp;
						</td>
						<td>
							TỌA</td>
						<td>
							ざ／すわ・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							座席
						</td>
						<td>
							TỌA TỊCH</td>
						<td>
							ざせき</td>
						<td>
							Ghế ngồi</td>
					</tr>
					<tr>
						<td>

							正座
						</td>
						<td>
							CHÍNH TỌA</td>
						<td>
							せいざ</td>
						<td>
							Ngồi ngay ngắn kiểu Nhật</td>
					</tr>
					<tr>
						<td>

							座る
						</td>
						<td>
							TỌA</td>
						<td>
							すわる</td>
						<td>
							Ngồi</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑨降&nbsp;
						</td>
						<td>
							GIÁNG/ HÀNG</td>
						<td>
							こう／ふ・る／お・りる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							降車口
						</td>
						<td>
							GIÁNG XA KHẨU</td>
						<td>
							こうしゃぐち</td>
						<td>
							Lối ra khỏi xe, xuống xe</td>
					</tr>
					<tr>
						<td>

							以降
						</td>
						<td>
							DĨ GIÁNG</td>
						<td>
							いこう</td>
						<td>
							Sau~</td>
					</tr>
					<tr>
						<td>

							降りる
						</td>
						<td>
							GIÁNG</td>
						<td>
							おりる</td>
						<td>
							Xuống khỏi (xe, tàu)</td>
					</tr>
					<tr>
						<td>

							降る
						</td>
						<td>
							GIÁNG</td>
						<td>
							ふる</td>
						<td style="text-align: left; ">
							&nbsp;Rơi xuống &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
							&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
							&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
							&nbsp; &nbsp; &nbsp;&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>