<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①留
						</td>
						<td>
							LƯU</td>
						<td>

							りゅう／

							る／と・める
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							留学
						</td>
						<td>
							LƯU HỌC</td>
						<td>
							りゅうがく</td>
						<td>
							Du học</td>
					</tr>
					<tr>
						<td>

							留守番
						</td>
						<td>
							LƯU THỦ PHIÊN</td>
						<td>
							るすばん</td>
						<td>
							Giữ nhà</td>
					</tr>
					<tr>
						<td>

							保留
						</td>
						<td>
							BẢO LƯU</td>
						<td>
							ほりゅう</td>
						<td>
							Bảo lưu</td>
					</tr>
					<tr>
						<td>

							書留
						</td>
						<td>
							THƯ LƯU</td>
						<td>
							かきとめ</td>
						<td>
							Đăng ký (mail đăng ký)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②守
						</td>
						<td>
							THỦ</td>
						<td>
							しゅ／す／まも・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							守備
						</td>
						<td>
							THỦ BỊ</td>
						<td>
							しゅび</td>
						<td>
							Bảo vệ, phòng thủ</td>
					</tr>
					<tr>
						<td>

							留守
						</td>
						<td>
							LƯU THỦ</td>
						<td>
							るす</td>
						<td>
							Vắng mặt</td>
					</tr>
					<tr>
						<td>

							守る
						</td>
						<td>
							THỦ</td>
						<td>
							まもる</td>
						<td>
							Bảo vệ</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							&nbsp;③濃
						</td>
						<td>
							NỒNG</td>
						<td>
							こ・い</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							濃い
						</td>
						<td>
							NỒNG</td>
						<td>
							こい</td>
						<td>
							Nồng, đậm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④薄
						</td>
						<td>
							BẠC</td>
						<td>
							うす・い</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							薄い
						</td>
						<td>
							BẠC</td>
						<td>

							うすい
						</td>
						<td>
							Lạt, nhạt</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤部
						</td>
						<td>
							BỘ</td>
						<td>
							ぶ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							部分
						</td>
						<td>
							BỘ PHẬN</td>
						<td>
							ぶぶん</td>
						<td>
							Bộ phận</td>
					</tr>
					<tr>
						<td>

							学部
						</td>
						<td>
							HỌC BỘ</td>
						<td>
							がくぶ</td>
						<td>
							ngành học, khoa</td>
					</tr>
					<tr>
						<td>

							部長
						</td>
						<td>
							BỘ TRƯỞNG</td>
						<td>
							ぶちょう</td>
						<td>
							trưởng phòng</td>
					</tr>
					<tr>
						<td>

							部屋&nbsp;
						</td>
						<td>
							BỘ ỐC</td>
						<td>
							へや</td>
						<td>
							Căn phòng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥数&nbsp;
						</td>
						<td>
							SỐ</td>
						<td>

							すう／かず／

							かぞ・える
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							数字
						</td>
						<td>
							SỐ TỰ</td>
						<td>
							すうじ</td>
						<td>
							Con số</td>
					</tr>
					<tr>
						<td>

							数学
						</td>
						<td>
							SỐ HỌC</td>
						<td>
							すうがく</td>
						<td>
							Toán</td>
					</tr>
					<tr>
						<td>

							数
						</td>
						<td>
							SỐ</td>
						<td>
							かず</td>
						<td>
							Số</td>
					</tr>
					<tr>
						<td>

							&nbsp;数える
						</td>
						<td>
							SỐ</td>
						<td>
							かぞえる</td>
						<td>
							Đếm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦件
						</td>
						<td>
							KIỆN</td>
						<td>
							けん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							件名
						</td>
						<td>
							KIỆN DANH</td>
						<td>
							けんめい</td>
						<td>
							Tựa đề</td>
					</tr>
					<tr>
						<td>

							事件
						</td>
						<td>
							SỰ KIỆN</td>
						<td>
							じけん</td>
						<td>
							Sự kiện</td>
					</tr>
					<tr>
						<td>

							用件
						</td>
						<td>
							DỤNG KIỆN</td>
						<td>
							ようけん</td>
						<td>
							Vấn đề, việc</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧再
						</td>
						<td>
							TÁI</td>
						<td>
							さい／さ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							再入国
						</td>
						<td>
							TÁI NHẬP QUỐC</td>
						<td>
							さいにゅうこく</td>
						<td>
							Vào lại một quốc gia</td>
					</tr>
					<tr>
						<td>

							再ダイヤル
						</td>
						<td>
							TÁI</td>
						<td>
							さいだいやる</td>
						<td>
							Re-dial</td>
					</tr>
					<tr>
						<td>

							再生
						</td>
						<td>
							TÁI SINH</td>
						<td>
							さいせい</td>
						<td>
							Tái chế</td>
					</tr>
					<tr>
						<td>

							再来週
						</td>
						<td>
							TÁI LAI CHU</td>
						<td>
							さらいしゅう</td>
						<td>
							Tuần tới nữa</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>