<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>

							①要
						</td>
						<td>
							YẾU</td>
						<td>
							よう／い・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							必要
						</td>
						<td>
							TẤT YẾU</td>
						<td>
							ひつよう</td>
						<td>
							Cần thiết</td>
					</tr>
					<tr>
						<td>

							要る
						</td>
						<td>
							YẾU</td>
						<td>
							いる</td>
						<td>
							Cần</td>
					</tr>
					<tr>
						<td>

							重要
						</td>
						<td>
							TRỌNG YẾU</td>
						<td>
							じゅうよう</td>
						<td>
							Quan trọng</td>
					</tr>
					<tr>
						<td>

							②冷
						</td>
						<td>
							LÃNH</td>
						<td>

							れい

							つめ・たい

							ひ・やす

							ひ・える

							さ・める

							さ・ます
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							冷房
						</td>
						<td>
							LÃNH PHÒNG</td>
						<td>
							れいぼう</td>
						<td>
							Máy lạnh</td>
					</tr>
					<tr>
						<td>

							冷たい
						</td>
						<td>
							LÃNH</td>
						<td>
							つめたい</td>
						<td>
							Lạnh</td>
					</tr>
					<tr>
						<td>

							冷やす
						</td>
						<td>
							LÃNH</td>
						<td>
							ひやす</td>
						<td>
							Làm lạnh (tha động từ)</td>
					</tr>
					<tr>
						<td>

							&nbsp;冷える
						</td>
						<td>
							LÃNH</td>
						<td>
							ひえる</td>
						<td>
							trở nên lạnh (tự động từ)</td>
					</tr>
					<tr>
						<td>

							&nbsp;冷める
						</td>
						<td>
							LÃNH</td>
						<td>
							さめる</td>
						<td>
							Lạnh xuống&nbsp;(tự động từ)</td>
					</tr>
					<tr>
						<td>

							冷ます
						</td>
						<td>
							LÃNH</td>
						<td>
							さます</td>
						<td>
							Làm lạnh (tha động từ)</td>
					</tr>
					<tr>
						<td>

							③凍
						</td>
						<td>
							ĐÔNG</td>
						<td>
							とう／こお・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							冷凍庫
						</td>
						<td>
							LÃNH ĐÔNG KHỐ</td>
						<td>

							れいとうこ
						</td>
						<td>
							Tủ làm lạnh, tủ đá</td>
					</tr>
					<tr>
						<td>

							凍る
						</td>
						<td>
							ĐÔNG</td>
						<td>
							こおる</td>
						<td>
							Làm đông đá</td>
					</tr>
					<tr>
						<td>

							④庫
						</td>
						<td>
							KHỐ</td>
						<td>
							こ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							金庫&nbsp;
						</td>
						<td>
							KIM&nbsp;KHỐ</td>
						<td>
							きんこ</td>
						<td>
							Ngân khố, kho báu</td>
					</tr>
					<tr>
						<td>

							車庫
						</td>
						<td>
							XA&nbsp;KHỐ</td>
						<td>
							しゃこ</td>
						<td>
							Nhà để xe</td>
					</tr>
					<tr>
						<td>

							⑤召
						</td>
						<td>
							TRIỆU</td>
						<td>
							め・す</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							召し上がる
						</td>
						<td>
							TRIỆU THƯỢNG</td>
						<td>
							めしあがる</td>
						<td>
							Ăn (lịch sự)</td>
					</tr>
					<tr>
						<td>

							⑥保
						</td>
						<td>
							BẢO</td>
						<td>
							ほ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							保存する
						</td>
						<td>
							BẢO TỒN</td>
						<td>
							ほぞんする</td>
						<td>
							Bảo tồn. cất trữ. lưu trữ</td>
					</tr>
					<tr>
						<td>

							⑦存
						</td>
						<td>
							TỒN</td>
						<td>
							ぞん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							ご存じです
						</td>
						<td>
							TỒN</td>
						<td>
							ごぞんじです</td>
						<td>
							Biết (trang trọng)</td>
					</tr>
					<tr>
						<td>

							存じません
						</td>
						<td>
							TỒN</td>
						<td>
							ぞんじません</td>
						<td>
							Tôi không biết</td>
					</tr>
					<tr>
						<td>

							⑧必
						</td>
						<td>
							TẤT</td>
						<td>
							ひつ／かなら・ず</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							必要
						</td>
						<td>
							TẤT YẾU</td>
						<td>
							ひつよう</td>
						<td>
							Cần thiết</td>
					</tr>
					<tr>
						<td>

							必死
						</td>
						<td>
							TẤT TỬ</td>
						<td>
							ひっし</td>
						<td>
							Quyết tâm</td>
					</tr>
					<tr>
						<td>

							必ず
						</td>
						<td>
							TẤT</td>
						<td>
							かならず</td>
						<td>
							Chắc chắn. luôn luôn</td>
					</tr>
					<tr>
						<td style="text-align: center;">
							<b>⑨蔵</b></td>
						<td>
							TÀN</td>
						<td>

							ぞう
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							冷蔵庫</td>
						<td>
							LÃNH TÀN KHỐ</td>
						<td>

							れいぞうこ
						</td>
						<td>
							Tủ lạnh</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>