<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①在
						</td>
						<td>
							TẠI</td>
						<td>
							ざい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							不在
						</td>
						<td>
							BẤT&nbsp;TẠI</td>
						<td>
							ふざい</td>
						<td>
							Vắng mặt</td>
					</tr>
					<tr>
						<td>

							現在
						</td>
						<td>
							HIỆN&nbsp;TẠI</td>
						<td>
							げんざい</td>
						<td>
							Hiện tại</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②取
						</td>
						<td>
							THỦ</td>
						<td>
							と・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							取る
						</td>
						<td>
							THỦ</td>
						<td>
							とる</td>
						<td>
							Lấy, hái, ngắt</td>
					</tr>
					<tr>
						<td>

							受け取る
						</td>
						<td>
							THỤ&nbsp;THỦ</td>
						<td>
							うけとる</td>
						<td>
							Nhận, lấy</td>
					</tr>
					<tr>
						<td>

							受取人
						</td>
						<td>
							THỤ&nbsp;THỦ NHÂN</td>
						<td>
							うけとりにん</td>
						<td>
							Người nhận</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③預
						</td>
						<td>
							DỰ</td>
						<td>
							よ／あず・ける</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							預金
						</td>
						<td>
							DỰ KIM</td>
						<td>
							よきん</td>
						<td>
							Tiền gửi</td>
					</tr>
					<tr>
						<td>

							&nbsp;預ける
						</td>
						<td>
							DỰ</td>
						<td>
							あずける</td>
						<td>
							Gửi, giao phó</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④衣
						</td>
						<td>
							Y</td>
						<td>
							い</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							衣類
						</td>
						<td>
							Y LOẠI</td>
						<td>
							いるい</td>
						<td>
							Quần áo vải vóc</td>
					</tr>
					<tr>
						<td>
							衣服</td>
						<td>
							Y PHỤC</td>
						<td>

							いふく
						</td>
						<td>
							Quần áo</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤参
						</td>
						<td>
							THAM</td>
						<td>
							さん／まい・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							参加
						</td>
						<td>
							THAM GIA</td>
						<td>
							さんか</td>
						<td>
							Tham gia</td>
					</tr>
					<tr>
						<td>

							参考書
						</td>
						<td>
							THAM KHẢO THƯ</td>
						<td>
							さんこうしょ</td>
						<td>
							Sách tham khảo</td>
					</tr>
					<tr>
						<td>

							参る
						</td>
						<td>
							THAM</td>
						<td>
							まいる</td>
						<td>
							Đến, đi (khiêm nhường)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center; ">

							⑥達&nbsp;
						</td>
						<td>
							ĐẠT</td>
						<td>
							たつ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							上達
						</td>
						<td>
							THƯỢNG&nbsp;ĐẠT</td>
						<td>
							じょうたつ</td>
						<td>
							Tiến bộ, tiến triển</td>
					</tr>
					<tr>
						<td>

							速達
						</td>
						<td>
							TỐC&nbsp;ĐẠT</td>
						<td>
							そくたつ</td>
						<td>
							Giao hàng nhanh</td>
					</tr>
					<tr>
						<td>

							友達
						</td>
						<td>
							HỮU&nbsp;ĐẠT</td>
						<td>
							ともだち</td>
						<td>
							Bạn bè</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦勤
						</td>
						<td>
							CẦN</td>
						<td>
							きん／つと・める</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							通勤
						</td>
						<td>
							THÔNG&nbsp;CẦN</td>
						<td>
							つうきん</td>
						<td>
							Đi làm</td>
					</tr>
					<tr>
						<td>

							勤める
						</td>
						<td>
							CẦN</td>
						<td>
							つとめる</td>
						<td>
							Làm việc</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧帯
						</td>
						<td>
							ĐỚI</td>
						<td>
							たい／おび</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							携帯（電話）
						</td>
						<td>
							HUỀ ĐỚI</td>
						<td>
							けいたい</td>
						<td>
							ĐIện thoại di động</td>
					</tr>
					<tr>
						<td>

							時間帯&nbsp;
						</td>
						<td>
							THỜI GIAN&nbsp;ĐỚI</td>
						<td>
							じかんたい</td>
						<td>
							Khoảng thời gian</td>
					</tr>
					<tr>
						<td>

							帯
						</td>
						<td>
							ĐỚI</td>
						<td>
							おび</td>
						<td>
							Dây đeo, thắt lưng obi</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>