<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							①球</td>
						<td>
							CẦU</td>
						<td>
							きゅう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							地球</td>
						<td>
							ĐỊA&nbsp;CẦU</td>
						<td>
							ちきゅう</td>
						<td>
							Trái đất</td>
					</tr>
					<tr>
						<td>
							野球</td>
						<td>
							DÃ&nbsp;CẦU</td>
						<td>
							やきゅう</td>
						<td>
							Bóng chày</td>
					</tr>
					<tr>
						<td>
							電球</td>
						<td>
							ĐIỆN&nbsp;CẦU</td>
						<td>
							でんきゅう</td>
						<td>
							Bóng đèn tròn</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							②決</td>
						<td>
							QUYẾT</td>
						<td>
							けつ／き・める／き・まる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							決して</td>
						<td>
							QUYẾT</td>
						<td>
							けっして</td>
						<td>
							Nhất định, nhất quyết....không....</td>
					</tr>
					<tr>
						<td>
							決定</td>
						<td>
							QUYẾT ĐỊNH</td>
						<td>
							けってい</td>
						<td>
							Quyết định</td>
					</tr>
					<tr>
						<td>
							決める</td>
						<td>
							QUYẾT</td>
						<td>
							きめる</td>
						<td>
							Quyết định (tha động từ)</td>
					</tr>
					<tr>
						<td>
							決まる</td>
						<td>
							QUYẾT</td>
						<td>
							きまる</td>
						<td>
							Quyết định (tự động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							③勝</td>
						<td>
							THẮNG</td>
						<td>
							しょう／か・つ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							優勝</td>
						<td>
							ƯU&nbsp;THẮNG</td>
						<td>
							ゆうしょう</td>
						<td>
							Chiến thắng</td>
					</tr>
					<tr>
						<td>
							決勝</td>
						<td>
							QUYẾT&nbsp;THẮNG</td>
						<td>
							けっしょう</td>
						<td>
							Trận chung kết/ Quyết thắng</td>
					</tr>
					<tr>
						<td>
							勝つ</td>
						<td>
							THẮNG</td>
						<td>
							かつ</td>
						<td>
							Chiến thắng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							④対</td>
						<td>
							ĐỐI</td>
						<td>
							たい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							１対２</td>
						<td>
							ĐỐI</td>
						<td>
							たい</td>
						<td>
							(tỷ số) 1:2</td>
					</tr>
					<tr>
						<td>
							反対</td>
						<td>
							PHẢN&nbsp;ĐỐI</td>
						<td>
							はんたい</td>
						<td>
							Phản đối</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑤流</td>
						<td>
							LƯU</td>
						<td>
							なが・す／なが・れる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							流れる</td>
						<td>
							LƯU</td>
						<td>
							ながれる</td>
						<td>
							Trôi theo (tự động từ)</td>
					</tr>
					<tr>
						<td>
							流す</td>
						<td>
							LƯU</td>
						<td>
							ながす</td>
						<td>
							Thả trôi (tha động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑥負</td>
						<td>
							PHỤ</td>
						<td>
							ふ／まけ・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							勝負</td>
						<td>
							THẮNG PHỤ</td>
						<td>
							しょうぶ</td>
						<td>
							Thắng bại</td>
					</tr>
					<tr>
						<td>
							負ける</td>
						<td>
							PHỤ</td>
						<td>
							まける</td>
						<td>
							Thua, thất bại</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑦投</td>
						<td>
							ĐẦU</td>
						<td>

							とう／な・げる
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							投手</td>
						<td>
							ĐẦU THỦ</td>
						<td>
							とうしゅ</td>
						<td>
							Người phát bóng (bóng chày)</td>
					</tr>
					<tr>
						<td>
							投げる</td>
						<td>
							ĐẦU</td>
						<td>
							なげる</td>
						<td>
							Ném</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑧果</td>
						<td>
							QUẢ</td>
						<td>
							か</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							結果</td>
						<td>
							KẾT QUẢ</td>
						<td>
							けっか</td>
						<td>
							Kết quả</td>
					</tr>
					<tr>
						<td>
							*果物</td>
						<td>
							QUẢ VẬT</td>
						<td>
							くだもの</td>
						<td>
							Trái cây</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>