<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<table border="0" cellpadding="0" cellspacing="0" class="khung2" style=" width: 100%">
						<thead>
							<tr>
								<th scope="col" style="width: 23%;">
									Chữ Hán</th>
								<th scope="col" style="width: 15%;">
									Âm Hán Việt</th>
								<th scope="col" style="width: 23%;">
									Phát âm</th>
								<th scope="col">
									Nghĩa</th>
							</tr>
						</thead>
						<tbody>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									①昨
								</td>
								<td>
									TẠC</td>
								<td>
									さく</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									昨日
								</td>
								<td>
									TẠC NHẬT</td>
								<td>
									さくじつ／きのう</td>
								<td>
									Hôm qua</td>
							</tr>
							<tr>
								<td>

									昨夜
								</td>
								<td>
									TẠC DẠ</td>
								<td>
									さくや</td>
								<td>
									Tối qua</td>
							</tr>
							<tr>
								<td>

									昨年
								</td>
								<td>
									TẠC NIÊN</td>
								<td>
									さくねん</td>
								<td>
									Năm trước</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									②君
								</td>
								<td>
									QUÂN</td>
								<td>
									くん／きみ</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									○○君
								</td>
								<td>
									QUÂN</td>
								<td>
									くん</td>
								<td>
									Cậu....(cách gọi dùng cho nam)</td>
							</tr>
							<tr>
								<td>

									君
								</td>
								<td>
									QUÂN</td>
								<td>
									きみ</td>
								<td>
									Bạn, cậu</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									③結
								</td>
								<td>
									KẾT</td>
								<td>
									けつ／むす・ぶ</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									結構（な）
								</td>
								<td>
									KẾT CẤU</td>
								<td>
									けっこう</td>
								<td>
									Đủ, tốt</td>
							</tr>
							<tr>
								<td>

									結局
								</td>
								<td>
									KẾT CỤC</td>
								<td>
									けっきょく</td>
								<td>
									Kết quả, sau cùng thì</td>
							</tr>
							<tr>
								<td>

									結ぶ
								</td>
								<td>
									KẾT</td>
								<td>
									むすぶ</td>
								<td>
									Kết nối lại, gắn lại</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									④婚
								</td>
								<td>
									HÔN</td>
								<td>
									こん</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>
									結婚</td>
								<td>
									KẾT HÔN</td>
								<td>

									けっこん
								</td>
								<td>
									Kết hôn</td>
							</tr>
							<tr>
								<td>

									新婚旅行
								</td>
								<td>
									TÂN HÔN LỮ HÀNH</td>
								<td>
									しんこんりょこう</td>
								<td>
									Du lịch trăng mật</td>
							</tr>
							<tr>
								<td>

									婚約
								</td>
								<td>
									HÔN ƯỚC</td>
								<td>
									こんやく</td>
								<td>
									Đính hôn</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									⑤祝
								</td>
								<td>
									CHÚC</td>
								<td>
									しゅく／いわ・う</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									祝日
								</td>
								<td>
									CHÚC NHẬT</td>
								<td>
									しゅくじつ</td>
								<td>
									Ngày lễ, ngày nghỉ</td>
							</tr>
							<tr>
								<td>

									祝う
								</td>
								<td>
									CHÚC</td>
								<td>
									いわう</td>
								<td>
									Chúc mừng</td>
							</tr>
							<tr>
								<td>

									お祝い
								</td>
								<td>
									CHÚC</td>
								<td>
									おいわい</td>
								<td>
									Lời chúc</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									⑥曲
								</td>
								<td>
									KHÚC</td>
								<td>

									きょく

									まが・る／まげ・る
								</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									曲
								</td>
								<td>
									KHÚC</td>
								<td>
									きょく</td>
								<td>
									Khúc, đoạn nhạc</td>
							</tr>
							<tr>
								<td>

									曲線
								</td>
								<td>
									KHÚC TUYẾN</td>
								<td>
									きょくせん</td>
								<td>
									Đường cong</td>
							</tr>
							<tr>
								<td>

									曲がる
								</td>
								<td>
									KHÚC</td>
								<td>
									まがる</td>
								<td>
									Quẹo, rẽ</td>
							</tr>
							<tr>
								<td>

									曲げる
								</td>
								<td>
									KHÚC</td>
								<td>
									まげる</td>
								<td>
									Bẻ cong</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									⑦奥
								</td>
								<td>
									ÁO</td>
								<td>
									おく</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									奥さん
								</td>
								<td>
									ÁO</td>
								<td>
									おくさん</td>
								<td>
									Vợ</td>
							</tr>
							<tr>
								<td>

									奥
								</td>
								<td>
									ÁO</td>
								<td>
									おく</td>
								<td>
									Bên trong, phía trong</td>
							</tr>
							<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
								<td>

									⑧寝
								</td>
								<td>
									TẨM</td>
								<td>
									ね・る</td>
								<td>
									&nbsp;</td>
							</tr>
							<tr>
								<td>

									寝る
								</td>
								<td>
									TẨM</td>
								<td>
									ねる</td>
								<td>
									Ngủ</td>
							</tr>
							<tr>
								<td>

									寝坊
								</td>
								<td>
									TẨM PHƯỜNG</td>
								<td>
									ねぼう</td>
								<td>
									Ngủ quên, ngủ nướng</td>
							</tr>
							<tr>
								<td>

									昼寝
								</td>
								<td>
									TRÚ&nbsp;TẨM</td>
								<td>
									ひるね</td>
								<td>
									Ngủ trưa</td>
							</tr>
						</tbody>
					</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>