<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①受&nbsp;
						</td>
						<td>
							THỤ</td>
						<td>
							じゅ／う・ける</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							受信
						</td>
						<td>
							THỤ TÍN</td>
						<td>
							じゅしん</td>
						<td>
							Nhận (tin, email...)</td>
					</tr>
					<tr>
						<td>

							&nbsp;受験
						</td>
						<td>
							THỤ NGHIỆM</td>
						<td>
							じゅけん</td>
						<td>
							Tham dự thi</td>
					</tr>
					<tr>
						<td>

							受ける
						</td>
						<td>
							THỤ</td>
						<td>
							うける</td>
						<td>
							Nhận</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②付
						</td>
						<td>
							PHÓ</td>
						<td>
							つ・く／つ・ける</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							付ける
						</td>
						<td>
							PHÓ</td>
						<td>
							つける</td>
						<td>
							Gắn lên, đính lên (tha động từ)</td>
					</tr>
					<tr>
						<td>

							片付ける
						</td>
						<td>

							PHIẾN&nbsp;PHÓ
						</td>
						<td>
							かたづける</td>
						<td>
							Dọn dẹp</td>
					</tr>
					<tr>
						<td>

							受付
						</td>
						<td>
							THỤ PHÓ</td>
						<td>
							うけつけ</td>
						<td>
							Tiếp tân</td>
					</tr>
					<tr>
						<td>

							付く
						</td>
						<td>
							PHÓ</td>
						<td>
							つく</td>
						<td>
							Dính (tự động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							&nbsp;③科
						</td>
						<td>
							KHOA</td>
						<td>
							か</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							科学&nbsp;
						</td>
						<td>
							KHOA HỌC</td>
						<td>
							かがく</td>
						<td>
							Khoa học</td>
					</tr>
					<tr>
						<td>

							外科
						</td>
						<td>
							NGOẠI KHOA</td>
						<td>
							げか</td>
						<td>
							Ngoại khoa</td>
					</tr>
					<tr>
						<td>

							内科
						</td>
						<td>
							NỘI KHOA</td>
						<td>

							ないか
						</td>
						<td>
							Nội khoa</td>
					</tr>
					<tr>
						<td>

							&nbsp;教科書
						</td>
						<td>
							GIÁO KHOA THƯ</td>
						<td>
							きょうかしょ</td>
						<td>
							sách giáo khoa</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④鼻
						</td>
						<td>
							TỴ</td>
						<td>
							はな／び</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							耳鼻科
						</td>
						<td>
							NHĨ TỴ KHOA</td>
						<td>
							じびか</td>
						<td>
							Khoa tai mũi họng</td>
					</tr>
					<tr>
						<td>

							鼻
						</td>
						<td>
							TỴ</td>
						<td>
							はな</td>
						<td>
							Mũi</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤婦
						</td>
						<td>
							PHỤ</td>
						<td>
							ふ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							婦人
						</td>
						<td>
							PHỤ NHÂN</td>
						<td>
							ふじん</td>
						<td>
							Phụ nữ</td>
					</tr>
					<tr>
						<td>

							産婦人科
						</td>
						<td>
							SẢN PHỤ NHÂN KHOA</td>
						<td>
							さんふじんか</td>
						<td>
							Khoa sản phụ</td>
					</tr>
					<tr>
						<td>

							主婦
						</td>
						<td>
							CHỦ PHỤ</td>
						<td>
							しゅふ</td>
						<td>
							Vợ</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥形
						</td>
						<td>
							HÌNH</td>
						<td>
							けい／ぎょう／かたち</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							形式
						</td>
						<td>
							HÌNH THỨC</td>
						<td>
							けいしき</td>
						<td>
							Hình thức</td>
					</tr>
					<tr>
						<td>

							図形
						</td>
						<td>
							ĐỒ HÌNH</td>
						<td>
							ずけい</td>
						<td>
							Đồ thị, đồ hình, hình vẽ</td>
					</tr>
					<tr>
						<td>

							整形外科
						</td>
						<td>
							CHỈNH HÌNH NGOẠI KHOA</td>
						<td>
							せいけいげか</td>
						<td>
							KHoa chỉnh hình</td>
					</tr>
					<tr>
						<td>

							人形
						</td>
						<td>
							NHÂN HÌNH</td>
						<td>
							にんぎょう</td>
						<td>
							Búp bê</td>
					</tr>
					<tr>
						<td>

							形
						</td>
						<td>
							HÌNH</td>
						<td>
							かたち</td>
						<td>
							Hình dạng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦骨
						</td>
						<td>
							CỐT</td>
						<td>
							こつ／ほね</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							骨折&nbsp;
						</td>
						<td>
							CỐT CHIẾT</td>
						<td>
							こっせつ</td>
						<td>
							Gãy xương</td>
					</tr>
					<tr>
						<td>

							骨
						</td>
						<td>
							CỐT</td>
						<td>
							ほね</td>
						<td>
							Xương</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧折
						</td>
						<td>
							CHIẾT</td>
						<td>
							せつ／おる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							右折
						</td>
						<td>
							HỮU CHIẾT</td>
						<td>
							うせつ</td>
						<td>
							Rẽ phải</td>
					</tr>
					<tr>
						<td>

							左折
						</td>
						<td>
							TẢ CHIẾT</td>
						<td>
							させつ</td>
						<td>
							Rẽ trái</td>
					</tr>
					<tr>
						<td>

							折る
						</td>
						<td>
							CHIẾT</td>
						<td>
							おる</td>
						<td>
							Bẻ, gấp (tha động từ)</td>
					</tr>
					<tr>
						<td>

							折り紙
						</td>
						<td>
							CHIẾT CHỈ</td>
						<td>
							おりがみ</td>
						<td>
							Môn gấp giấy</td>
					</tr>
					<tr>
						<td>

							折れる
						</td>
						<td>
							CHIẾT</td>
						<td>
							おれる</td>
						<td>
							Bị bẻ, gấp (tự động từ)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>