<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>①申
						</td>
						<td>
							THÂN</td>
						<td>

							しん

							もう・す
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							申し込む
						</td>
						<td>
							THÂN NHẬP</td>
						<td>
							もうしこむ</td>
						<td>
							Đăng ký</td>
					</tr>
					<tr>
						<td>

							申込書
						</td>
						<td>
							THÂN NHẬP THƯ</td>
						<td>
							もうしこみしょ</td>
						<td>
							Đơn đăng ký</td>
					</tr>
					<tr>
						<td>

							申告
						</td>
						<td>
							THÂN CÁO</td>
						<td>
							しんこく</td>
						<td>
							Tờ khai</td>
					</tr>
					<tr>
						<td>

							申請
						</td>
						<td>
							THÂN THỈNH</td>
						<td>
							しんせい</td>
						<td>
							Đơn đề nghị, yêu cầu</td>
					</tr>
					<tr>
						<td>

							申す
						</td>
						<td>
							THÂN</td>
						<td>
							もうす</td>
						<td>
							Nói (lịch sự)</td>
					</tr>
					<tr>
						<td>

							申し上げる
						</td>
						<td>
							THÂN THƯỢNG</td>
						<td>
							もうしあげる</td>
						<td>
							Nói (lịch sự, trang trọng)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②記
						</td>
						<td>
							KÝ</td>
						<td>
							き</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							記入
						</td>
						<td>
							KÝ NHẬP</td>
						<td>
							きにゅう</td>
						<td>
							Ghi vào</td>
					</tr>
					<tr>
						<td>

							日記
						</td>
						<td>
							NHẬT&nbsp;KÝ</td>
						<td>
							にっき</td>
						<td>
							Nhật ký</td>
					</tr>
					<tr>
						<td>

							記号
						</td>
						<td>
							KÝ HIỆU</td>
						<td>
							きごう</td>
						<td>
							Ký hiệu</td>
					</tr>
					<tr>
						<td>

							記事
						</td>
						<td>
							KÝ SỰ</td>
						<td>
							きじ</td>
						<td>
							Ký sự</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>③例
						</td>
						<td>
							LỆ</td>
						<td>

							れい

							たと・えば
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							例
						</td>
						<td>
							LỆ</td>
						<td>
							れい</td>
						<td>
							Ví dụ</td>
					</tr>
					<tr>
						<td>

							例えば
						</td>
						<td>
							LỆ</td>
						<td>
							たとえば</td>
						<td>
							Ví dụ</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④齢
						</td>
						<td>
							LINH</td>
						<td>
							れい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							年齢
						</td>
						<td>
							NIÊN&nbsp;LINH</td>
						<td>
							ねんれい</td>
						<td>
							Tuổi</td>
					</tr>
					<tr>
						<td>

							高齢
						</td>
						<td>
							CAO&nbsp;LINH</td>
						<td>
							こうれい</td>
						<td>
							Tuổi cao</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤歳
						</td>
						<td>
							TUẾ</td>
						<td>
							さい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							～歳
						</td>
						<td>
							TUẾ</td>
						<td>
							さい</td>
						<td>
							(mấy) Tuổi</td>
					</tr>
					<tr>
						<td>

							二十歳
						</td>
						<td>
							NHỊ THẬP TUẾ</td>
						<td>

							はたち　・

							にじゅうさい
						</td>
						<td>
							20 tuổi</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥性
						</td>
						<td>
							TÍNH</td>
						<td>
							せい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							性別
						</td>
						<td>
							TÍNH BIỆT</td>
						<td>
							せいべつ</td>
						<td>
							Giới tính</td>
					</tr>
					<tr>
						<td>

							性格
						</td>
						<td>
							TÍNH CÁCH</td>
						<td>
							せいかく</td>
						<td>
							Tính cách</td>
					</tr>
					<tr>
						<td>

							女性
						</td>
						<td>
							NỮ&nbsp;TÍNH</td>
						<td>
							じょせい</td>
						<td>
							Nữ</td>
					</tr>
					<tr>
						<td>

							男性
						</td>
						<td>
							NAM&nbsp;TÍNH</td>
						<td>
							だんせい</td>
						<td>
							Nam&nbsp;</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦連
						</td>
						<td>
							LIÊN</td>
						<td>
							れん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							連休
						</td>
						<td>
							LIÊN HƯU</td>
						<td>
							れんきゅう</td>
						<td>
							Kỳ nghỉ</td>
					</tr>
					<tr>
						<td>

							連れて行く
						</td>
						<td>
							LIÊN HÀNH</td>
						<td>
							つれていく</td>
						<td>
							Dắt đi...</td>
					</tr>
					<tr>
						<td>

							連れて来る
						</td>
						<td>
							LIÊN LAI</td>
						<td>
							つれてくる</td>
						<td>
							Dắt về...</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧絡
						</td>
						<td>
							LẠC</td>
						<td>
							らく</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							連絡
						</td>
						<td>
							LIÊN LẠC</td>
						<td>
							れんらく</td>
						<td>
							Liên lạc</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>