<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							①化</td>
						<td>
							HÓA</td>
						<td>
							か／け</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							文化</td>
						<td>
							VĂN&nbsp;HÓA</td>
						<td>
							ぶんか</td>
						<td>
							Văn hóa</td>
					</tr>
					<tr>
						<td>
							○○化</td>
						<td>
							HÓA</td>
						<td>
							か</td>
						<td>
							(thay đổi theo hướng....) ~ hóa</td>
					</tr>
					<tr>
						<td>
							化学</td>
						<td>
							HÓA HỌC</td>
						<td>
							かがく</td>
						<td>
							Hóa học</td>
					</tr>
					<tr>
						<td>
							化粧</td>
						<td>
							HÓA TRANG</td>
						<td>
							けしょう</td>
						<td>
							Trang điểm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							②比</td>
						<td>
							TỶ</td>
						<td>
							くら・べる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							比べる</td>
						<td>
							TỶ</td>
						<td>
							くらべる</td>
						<td>
							So sánh</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							③原</td>
						<td>
							NGUYÊN</td>
						<td>
							げん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							原料</td>
						<td>
							NGUYÊN LIỆU</td>
						<td>
							げんりょう</td>
						<td>
							Nguyên liệu</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							④因</td>
						<td>
							NHÂN</td>
						<td>
							いん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							原因</td>
						<td>
							NGUYÊN NHÂN</td>
						<td>
							げんいん</td>
						<td>
							Nguyên nhân</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							⑤際</td>
						<td>
							TẾ</td>
						<td>
							さい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							国際</td>
						<td>
							QUỐC&nbsp;TẾ</td>
						<td>
							こくさい</td>
						<td>
							Quốc tế</td>
					</tr>
					<tr>
						<td>
							交際</td>
						<td>
							GIAO&nbsp;TẾ</td>
						<td>
							こうさい</td>
						<td>
							Giao du, mối quan hệ</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							⑥議</td>
						<td>
							NGHỊ</td>
						<td>
							ぎ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							会議</td>
						<td>
							HỘI&nbsp;NGHỊ</td>
						<td>
							かいぎ</td>
						<td>
							Hội nghị</td>
					</tr>
					<tr>
						<td>
							議員</td>
						<td>
							NGHỊ VIÊN</td>
						<td>
							ぎいん</td>
						<td>
							Nghị viện, nghị sĩ, đại biểu quốc hội</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							⑦活</td>
						<td>
							HOẠT</td>
						<td>
							かつ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							生活</td>
						<td>
							SINH&nbsp;HOẠT</td>
						<td>
							せいかつ</td>
						<td>
							Sinh hoạt, cuộc sống</td>
					</tr>
					<tr>
						<td>
							活動</td>
						<td>
							HOẠT ĐỘNG</td>
						<td>
							かつどう</td>
						<td>
							Hoạt động</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td style="text-align: center;">
							⑧変</td>
						<td>
							BIẾN</td>
						<td>
							へん／か・える／か・わる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							大変（な）</td>
						<td>
							ĐẠI&nbsp;BIẾN</td>
						<td>
							たいへん</td>
						<td>
							Rất, kinh khủng, mệt mỏi, ghê gớm</td>
					</tr>
					<tr>
						<td>
							変化</td>
						<td>
							BIẾN HÓA</td>
						<td>
							へんか</td>
						<td>
							Biến đổi, thay đổi</td>
					</tr>
					<tr>
						<td>
							変わる</td>
						<td>
							BIẾN</td>
						<td>
							かわる</td>
						<td>
							Thay đổi (tự dộng từ)</td>
					</tr>
					<tr>
						<td>
							変える</td>
						<td>
							BIẾN</td>
						<td>
							かえる</td>
						<td>
							Thay đổi (tha dộng từ)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>