<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							<strong>①横&nbsp;</strong>
						</td>
						<td>
							HOÀNH</td>
						<td>
							おう　／　よこ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							横断 &nbsp;
						</td>
						<td>
							HOÀNH ĐOẠN</td>
						<td>
							おうだん</td>
						<td>
							Qua đường, băng qua</td>
					</tr>
					<tr>
						<td>

							横断歩道
						</td>
						<td>
							HOÀNH ĐOẠN BỘ ĐẠO</td>
						<td>
							おうだんほどう</td>
						<td>
							Đường dành cho người đi bộ</td>
					</tr>
					<tr>
						<td>
							横</td>
						<td>

							HOÀNH
						</td>
						<td>
							よこ</td>
						<td>
							Ngang, bề ngang</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>②押</strong>
						</td>
						<td>

							ÁP
						</td>
						<td>
							おす／おさえる</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							押す
						</td>
						<td>
							ÁP</td>
						<td>
							おす</td>
						<td>
							Ấn (nút)</td>
					</tr>
					<tr>
						<td>

							押さえる
						</td>
						<td>
							ÁP</td>
						<td>
							おさえる</td>
						<td>
							Ấn và giữ xuống</td>
					</tr>
					<tr>
						<td>

							押し入れ
						</td>
						<td>
							ÁP NHẬP</td>
						<td>
							おしいれ</td>
						<td>
							Tủ âm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>③式</strong>
						</td>
						<td>
							THỨC</td>
						<td>
							しき</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							押しボタン式&nbsp;
						</td>
						<td>
							ÁP THỨC</td>
						<td>
							おしぼたんしき</td>
						<td>

							Nút ấn xuống

							(thường ở các cột tín hiệu để người đi bộ bấm khi muốn băng qua đường)
						</td>
					</tr>
					<tr>
						<td>

							入学式
						</td>
						<td>
							NHẬP HỌC THỨC</td>
						<td>
							にゅうがくしき</td>
						<td>
							Lễ nhập học</td>
					</tr>
					<tr>
						<td>

							数式
						</td>
						<td>
							SỐ THỨC</td>
						<td>
							すうしき</td>
						<td>
							Dãy số, công thức số</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>④信&nbsp;</strong>
						</td>
						<td>
							TÍN/ TIN</td>
						<td>

							しん
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							送信
						</td>
						<td>
							TỐNG TIN</td>
						<td>
							そうしん</td>
						<td>
							Đưa tin</td>
					</tr>
					<tr>
						<td>

							信じる
						</td>
						<td>
							TÍN</td>
						<td>
							しんじる</td>
						<td>
							Tin tưởng</td>
					</tr>
					<tr>
						<td>

							自信
						</td>
						<td>
							TỰ TIN</td>
						<td>
							じしん</td>
						<td>
							Tự tin</td>
					</tr>
					<tr>
						<td>

							信用
						</td>
						<td>
							TÍN DỤNG</td>
						<td>
							しんよう</td>
						<td>
							Sự tín nhiệm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>⑤号&nbsp;</strong>
						</td>
						<td>
							HIỆU</td>
						<td>
							ごう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							信号
						</td>
						<td>
							TÍN HIỆU</td>
						<td>
							しんごう</td>
						<td>
							Tín hiệu</td>
					</tr>
					<tr>
						<td>

							～号車
						</td>
						<td>
							HIỆU XA</td>
						<td>
							ごうしゃ</td>
						<td>
							Xe số....</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>⑥確</strong>
						</td>
						<td>
							XÁC</td>
						<td>

							かく

							たしか／たしかめる
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							正確
						</td>
						<td>
							CHÍNH XÁC</td>
						<td>
							せいかく</td>
						<td>
							Chính xác</td>
					</tr>
					<tr>
						<td>

							確かめる
						</td>
						<td>
							XÁC</td>
						<td>
							たしかめる</td>
						<td>
							Xác nhận</td>
					</tr>
					<tr>
						<td>

							確か（な）
						</td>
						<td>
							XÁC</td>
						<td>
							たしか</td>
						<td>
							Chắc là, quả thật là</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>⑦認</strong>
						</td>
						<td>
							NHẬN</td>
						<td>

							にん

							みとめる
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							確認
						</td>
						<td>
							XÁC NHẬN</td>
						<td>
							かくにん</td>
						<td>
							Xác nhận</td>
					</tr>
					<tr>
						<td>

							認める
						</td>
						<td>
							NHẬN</td>
						<td>
							みとめる</td>
						<td>
							Chấp nhận, thừa nhận</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							<strong>⑧飛&nbsp;</strong>
						</td>
						<td>
							PHI</td>
						<td>

							ひ／とぶ
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							飛行場
						</td>
						<td>
							PHI HÀNH TRƯỜNG</td>
						<td>
							ひこうじょう</td>
						<td>
							Sân bay</td>
					</tr>
					<tr>
						<td>

							飛ぶ
						</td>
						<td>
							PHI</td>
						<td>
							とぶ</td>
						<td>
							Bay</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>