<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①販
						</td>
						<td>
							PHIẾN</td>
						<td>
							はん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							販売
						</td>
						<td>
							PHIẾN MẠI</td>
						<td>
							はんばい</td>
						<td>
							Bán, buôn bán</td>
					</tr>
					<tr>
						<td>

							自動販売機
						</td>
						<td>
							TỰ ĐỘNG PHIẾN MẠI CƠ</td>
						<td>
							じどうはんばいき</td>
						<td>
							Máy bán hàng tự động</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②機
						</td>
						<td>
							CƠ</td>
						<td>
							き</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							飛行機
						</td>
						<td>
							PHI HÀNH CƠ</td>
						<td>
							ひこうき</td>
						<td>
							Máy bay</td>
					</tr>
					<tr>
						<td>

							機械
						</td>
						<td>
							CƠ GIỚI</td>
						<td>
							きかい</td>
						<td>
							Máy móc</td>
					</tr>
					<tr>
						<td>

							機会
						</td>
						<td>
							CƠ HỘI</td>
						<td>
							きかい</td>
						<td>
							Cơ hội</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③増
						</td>
						<td>
							TĂNG</td>
						<td>
							ぞう／ふ・える／ふ・やす</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							増加
						</td>
						<td>
							TĂNG GIA</td>
						<td>
							ぞうか</td>
						<td>
							Thêm vào, tăng lên</td>
					</tr>
					<tr>
						<td>

							増える&nbsp;
						</td>
						<td>
							TĂNG</td>
						<td>
							ふえる</td>
						<td>
							Tăng (tự động từ )</td>
					</tr>
					<tr>
						<td>

							増やす
						</td>
						<td>
							TĂNG</td>
						<td>
							ふやす</td>
						<td>
							Làm tăng (tha động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④減
						</td>
						<td>
							GIẢM</td>
						<td>

							げん

							へ・る／へ・らす
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							減少</td>
						<td>
							GIẢM THIỂU</td>
						<td>

							げんしょう
						</td>
						<td>
							Sự Giảm thiểu, giảm xuống</td>
					</tr>
					<tr>
						<td>

							減る
						</td>
						<td>
							GIẢM&nbsp;</td>
						<td>
							へる</td>
						<td>
							Giảm (tự động từ)</td>
					</tr>
					<tr>
						<td>

							減らす
						</td>
						<td>
							GIẢM</td>
						<td>
							へらす</td>
						<td>
							Làm giảm (tha động từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤量
						</td>
						<td>
							LƯỢNG</td>
						<td>
							りょう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							量
						</td>
						<td>
							LƯỢNG</td>
						<td>
							りょう</td>
						<td>
							Lượng, số lượng</td>
					</tr>
					<tr>
						<td>

							数量
						</td>
						<td>
							SỐ LƯỢNG</td>
						<td>
							すうりょう</td>
						<td>
							Số lượng</td>
					</tr>
					<tr>
						<td>

							増量
						</td>
						<td>
							TĂNG LƯỢNG</td>
						<td>
							ぞうりょう</td>
						<td>
							Tăng số lượng</td>
					</tr>
					<tr>
						<td>

							減量
						</td>
						<td>
							GIẢM LƯỢNG</td>
						<td>
							げんりょう</td>
						<td>
							Giảm lượng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥氷
						</td>
						<td>
							BĂNG</td>
						<td>
							こおり</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							氷
						</td>
						<td>
							BĂNG</td>
						<td>
							こおり</td>
						<td>
							Băng, đá</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦返
						</td>
						<td>
							PHẢN</td>
						<td>
							へん／かえ・す</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							返事
						</td>
						<td>
							PHẢN SỰ</td>
						<td>
							へんじ</td>
						<td>
							Trả lời</td>
					</tr>
					<tr>
						<td>

							返却
						</td>
						<td>
							PHẢN KHỨỚC</td>
						<td>
							へんきゃく</td>
						<td>
							Trả lại</td>
					</tr>
					<tr>
						<td>

							返す
						</td>
						<td>
							PHẢN</td>
						<td>
							かえす</td>
						<td>
							Trả (cái gì đó)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧湯
						</td>
						<td>
							THANG</td>
						<td>
							ゆ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							（お）湯
						</td>
						<td>
							THANG</td>
						<td>
							ゆ</td>
						<td>
							Nước nóng</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>