<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							①費
						</td>
						<td>
							PHÍ</td>
						<td>
							ひ</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							費用
						</td>
						<td>
							PHÍ DỤNG</td>
						<td>
							ひよう</td>
						<td>
							Chi phí</td>
					</tr>
					<tr>
						<td>

							消費者
						</td>
						<td>
							TIÊU PHÍ GIẢ</td>
						<td>
							しょうひしゃ</td>
						<td>
							Người tiêu dùng</td>
					</tr>
					<tr>
						<td>

							旅費
						</td>
						<td>
							LỮ PHÍ</td>
						<td>
							りょひ</td>
						<td>
							Chi phí du lịch</td>
					</tr>
					<tr>
						<td>

							会費
						</td>
						<td>
							HỘI PHÍ</td>
						<td>
							かいひ</td>
						<td>
							Hội phí</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							②期
						</td>
						<td>
							KỲ</td>
						<td>
							き</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							期間
						</td>
						<td>
							KỲ GIAN</td>
						<td>
							きかん</td>
						<td>
							Khoảng thời gian</td>
					</tr>
					<tr>
						<td>

							定期券
						</td>
						<td>
							ĐỊNH KỲ KHOÁN</td>
						<td>
							ていきけん</td>
						<td>
							Vé định kỳ</td>
					</tr>
					<tr>
						<td>

							長期
						</td>
						<td>
							TRƯỜNG KỲ</td>
						<td>
							ちょうき</td>
						<td>
							Thời kỳ dài</td>
					</tr>
					<tr>
						<td>

							&nbsp;短期
						</td>
						<td>
							ĐOẢN KỲ</td>
						<td>
							たんき</td>
						<td>
							Thời kỳ ngắn</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③限
						</td>
						<td>
							HẠN</td>
						<td>
							げん／かぎ・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							期限
						</td>
						<td>
							KỲ HẠN</td>
						<td>
							きげん</td>
						<td>
							Kỳ hạn</td>
					</tr>
					<tr>
						<td>

							限度
						</td>
						<td>
							HẠN ĐỘ</td>
						<td>

							げんど
						</td>
						<td>
							Giới hạn</td>
					</tr>
					<tr>
						<td>

							限る
						</td>
						<td>
							HẠN</td>
						<td>
							かぎる</td>
						<td>
							Giới hạn</td>
					</tr>
					<tr>
						<td>

							限定
						</td>
						<td>
							HẠN ĐỊNH</td>
						<td>
							げんてい</td>
						<td>
							Hạn định</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							④製
						</td>
						<td>
							CHẾ</td>
						<td>
							せい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							～製
						</td>
						<td>
							CHẾ</td>
						<td>
							せい</td>
						<td>
							Làm tại, ở</td>
					</tr>
					<tr>
						<td>

							製品
						</td>
						<td>
							CHẾ PHẨM</td>
						<td>
							せいひん</td>
						<td>
							Sản phẩm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑤造
						</td>
						<td>
							TẠO</td>
						<td>
							ぞう／つく・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							製造
						</td>
						<td>
							CHẾ TẠO</td>
						<td>
							せいぞう</td>
						<td>
							Chế tạo, làm ra</td>
					</tr>
					<tr>
						<td>

							造る
						</td>
						<td>
							TẠO</td>
						<td>
							つくる</td>
						<td>
							Chế tạo, làm ra</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑥賞
						</td>
						<td>
							THƯỞNG</td>
						<td>
							しょう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							賞
						</td>
						<td>
							THƯỞNG</td>
						<td>
							しょう</td>
						<td>
							Giải thưởng, phần thưởng</td>
					</tr>
					<tr>
						<td>

							賞味期限
						</td>
						<td>
							THƯỞNG VỊ KỲ HẠN</td>
						<td>
							しょうみきげん</td>
						<td>
							Kỳ hạn sử dụng tốt nhất</td>
					</tr>
					<tr>
						<td>

							賞金
						</td>
						<td>
							THƯỞNG KIM</td>
						<td>
							しょうきん</td>
						<td>
							Tiền thưởng</td>
					</tr>
					<tr>
						<td>

							賞品
						</td>
						<td>
							THƯỞNG PHẨM</td>
						<td>
							しょうひん</td>
						<td>
							Sản phẩm thưởng. giải thưởng</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑦法
						</td>
						<td>
							PHÁP</td>
						<td>
							ほう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							方法
						</td>
						<td>
							PHƯƠNG PHÁP</td>
						<td>
							ほうほう</td>
						<td>
							Phương pháp</td>
					</tr>
					<tr>
						<td>

							文法
						</td>
						<td>
							VĂN PHÁP</td>
						<td>
							ぶんぽう</td>
						<td>
							Văn phạm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							⑧温
						</td>
						<td>
							ÔN</td>
						<td>
							おん／あたた・かい</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							温度
						</td>
						<td>
							ÔN ĐỘ</td>
						<td>
							おんど</td>
						<td>
							Nhiệt độ</td>
					</tr>
					<tr>
						<td>

							気温
						</td>
						<td>
							KHÍ ÔN</td>
						<td>
							きおん</td>
						<td>
							Nhiệt độ</td>
					</tr>
					<tr>
						<td>

							温かい
						</td>
						<td>
							ÔN</td>
						<td>
							あたたかい</td>
						<td>
							Ấm</td>
					</tr>
					<tr>
						<td>

							常温
						</td>
						<td>
							THƯỜNG ÔN</td>
						<td>
							じょうおん</td>
						<td>
							Nhiệt độ thông thường</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>