<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 23%;">
							Chữ Hán</th>
						<th scope="col" style="width: 15%;">
							Âm Hán Việt</th>
						<th scope="col" style="width: 23%;">
							Phát âm</th>
						<th scope="col">
							Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							①駐
						</td>
						<td>
							TRÚ</td>
						<td>
							ちゅう</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							駐車
						</td>
						<td>
							TRÚ XA</td>
						<td>
							ちゅうしゃ</td>
						<td>
							Đỗ xe</td>
					</tr>
					<tr>
						<td>

							駐車場
						</td>
						<td>
							TRÚ XA TRƯỜNG</td>
						<td>
							ちゅうしゃじょう</td>
						<td>
							Bãi đỗ xe</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							②無
						</td>
						<td>
							VÔ</td>
						<td>
							む／ない</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							無休
						</td>
						<td>
							VÔ HƯU</td>
						<td>
							むきゅう</td>
						<td>
							Làm việc không có ngày nghỉ</td>
					</tr>
					<tr>
						<td>

							無料
						</td>
						<td>
							VÔ LIỆU</td>
						<td>
							むりょう</td>
						<td>
							Không mất tiền phí</td>
					</tr>
					<tr>
						<td>

							無理（な）
						</td>
						<td>
							VÔ LÝ</td>
						<td>
							むり</td>
						<td>
							Vô lý, quá sức</td>
					</tr>
					<tr>
						<td>

							無い
						</td>
						<td>
							VÔ</td>
						<td>
							ない</td>
						<td>
							Không có</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>

							③満
						</td>
						<td>
							MÃN</td>
						<td>
							まん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							満車&nbsp;
						</td>
						<td>
							MÃN XA</td>
						<td>
							まんしゃ</td>
						<td>
							Đầy xe</td>
					</tr>
					<tr>
						<td>

							満員
						</td>
						<td>
							MÃN VIÊN</td>
						<td>
							まんいん</td>
						<td>
							Đầy người</td>
					</tr>
					<tr>
						<td>

							不満（な）
						</td>
						<td>
							BẤT MÃN</td>
						<td>
							ふまん</td>
						<td>
							Bất mãn</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							④向
						</td>
						<td>
							HƯỚNG</td>
						<td>

							こう／む・こう／

							む・かう／む・き
						</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							方向
						</td>
						<td>
							PHƯƠNG HƯỚNG</td>
						<td>
							ほうこう</td>
						<td>
							Phương hướng</td>
					</tr>
					<tr>
						<td>

							向こう
						</td>
						<td>
							HƯỚNG</td>
						<td>
							むこう</td>
						<td>
							Phía bên kia</td>
					</tr>
					<tr>
						<td>

							向かう&nbsp;
						</td>
						<td>
							HƯỚNG</td>
						<td>
							むかう</td>
						<td>
							Hướng về</td>
					</tr>
					<tr>
						<td>

							○○向き
						</td>
						<td>
							HƯỚNG</td>
						<td>
							むき</td>
						<td>
							Phù hợp, dành cho + N (danh từ)</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑤禁
						</td>
						<td>
							CẤM</td>
						<td>
							きん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							禁止
						</td>
						<td>
							CẤM CHỈ</td>
						<td>
							きんし</td>
						<td>
							Cấm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑥関
						</td>
						<td>
							QUAN</td>
						<td>
							かん</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							関心
						</td>
						<td>
							QUAN TÂM</td>
						<td>
							かんしん</td>
						<td>
							Quan tâm</td>
					</tr>
					<tr>
						<td>
							関する
						</td>
						<td>
							QUAN</td>
						<td>
							かんする</td>
						<td>
							Có liên quan</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑦係
						</td>
						<td>
							HỆ</td>
						<td>
							けい／かかり</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							関係
						</td>
						<td>
							QUAN HỆ</td>
						<td>
							かんけい</td>
						<td>
							Quan hệ</td>
					</tr>
					<tr>
						<td>
							係
						</td>
						<td>
							HỆ</td>
						<td>
							かかり</td>
						<td>
							Người chịu trách nhiệm</td>
					</tr>
					<tr style="background-color: burlywood; font-weight: bold; text-align-last: left;">
						<td>
							⑧断
						</td>
						<td>
							ĐOẠN</td>
						<td>
							だん／ことわ・る</td>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>

							無断
						</td>
						<td>
							VÔ ĐOẠN</td>
						<td>
							むだん</td>
						<td>
							Tự ý, không có sự cho phép</td>
					</tr>
					<tr>
						<td>

							断水
						</td>
						<td>
							ĐOẠN THỦY</td>
						<td>
							だんすい</td>
						<td>
							Cắt nguồn nước</td>
					</tr>
					<tr>
						<td>

							断る
						</td>
						<td>
							ĐOẠN</td>
						<td>
							ことわる</td>
						<td>
							Từ chối</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>