<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link
      rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"
	/>
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="homepage">Home</a></li>
                <li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
                <li class="link"><a th:href="happyo">Happyo</a></li>
                <li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
    </header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead class="thead-dark">
				<tr>
				  <th>Từ Vựng</th>
				  <th>Hán Tự</th>
				  <th>Âm Hán</th>
				  <th>Nghĩa</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th>ハンサム[な]</th>
				  <td></td>
				  <td></td>
				  <td>đẹp trai</td>
				</tr>
				<tr>
				  <th>きれい[な]</th>
				  <td></td>
				  <td></td>
				  <td>đẹp, sạch</td>
				</tr>
				<tr>
				  <th>しずか[な]</th>
				  <td>静か[な]</td>
				  <td>TĨNH</td>
				  <td>yên tĩnh</td>
				</tr>
				<tr>
				  <th>にぎやか[な]</th>
				  <td></td>
				  <td></td>
				  <td>náo nhiệt</td>
				</tr>
				<tr>
				  <th>ゆうめい[な]</th>
				  <td>有名[な]</td>
				  <td>HỮU DANH</td>
				  <td>nổi tiếng</td>
				</tr>
				<tr>
				  <th>しんせつ[な]</th>
				  <td>親切[な]</td>
				  <td>THÂN THIẾT</td>
				  <td>tốt bụng, thân thiện</td>
				</tr>
				<tr>
				  <th>げんき[な]</th>
				  <td>元気[な]</td>
				  <td>NGUYÊN KHÍ</td>
				  <td>khỏe</td>
				</tr>
				<tr>
				  <th>ひま[な]</th>
				  <td>暇[な]</td>
				  <td>HẠ</td>
				  <td>rảnh rỗi</td>
				</tr>
				<tr>
				  <th>べんり[な]</th>
				  <td>便利[な]</td>
				  <td>TIỆN LỢI</td>
				  <td>tiện lợi</td>
				</tr>
				<tr>
				  <th>すてき[な]</th>
				  <td></td>
				  <td></td>
				  <td>đẹp, hay</td>
				</tr>
				<tr>
				  <th>おおきい</th>
				  <td>大きい</td>
				  <td>ĐẠI</td>
				  <td>lớn, to</td>
				</tr>
				<tr>
				  <th>ちいさい</th>
				  <td>小さい</td>
				  <td>TIỂU</td>
				  <td>bé, nhỏ</td>
				</tr>
				<tr>
				  <th>あたらしい</th>
				  <td>新しい</td>
				  <td>TÂN</td>
				  <td>mới</td>
				</tr>
				<tr>
				  <th>ふるい</th>
				  <td>古い</td>
				  <td>CỔ</td>
				  <td>cũ</td>
				</tr>
				<tr>
				  <th>いい（よい）</th>
				  <td></td>
				  <td></td>
				  <td>tốt</td>
				</tr>
				<tr>
				  <th>わるい</th>
				  <td>悪い</td>
				  <td>ÁC</td>
				  <td>xấu</td>
				</tr>
				<tr>
				  <th>あつい</th>
				  <td>暑い, 熱い</td>
				  <td>THỬ, NHIỆT</td>
				  <td>nóng</td>
				</tr>
				<tr>
				  <th>さむい</th>
				  <td>寒い</td>
				  <td>HÀN</td>
				  <td>lạnh, rét (dùng cho thời tiết)</td>
				</tr>
				<tr>
				  <th>つめたい</th>
				  <td>冷たい</td>
				  <td>LÃNH</td>
				  <td>lạnh, buốt (dùng cho cảm giác)</td>
				</tr>
				<tr>
				  <th>むずかしい</th>
				  <td>難しい</td>
				  <td>NAN</td>
				  <td>khó</td>
				</tr>
				<tr>
				  <th>やさしい</th>
				  <td>易しい</td>
				  <td>DỊ</td>
				  <td>dễ</td>
				</tr>
				<tr>
				  <th>たかい</th>
				  <td>高い</td>
				  <td>CAO</td>
				  <td>đắt, cao</td>
				</tr>
				<tr>
				  <th>やすい</th>
				  <td>安い</td>
				  <td>AN</td>
				  <td>rẻ</td>
				</tr>
				<tr>
				  <th>ひくい</th>
				  <td>低い</td>
				  <td>ĐÊ</td>
				  <td>thấp</td>
				</tr>
				<tr>
				  <th>おもしろい</th>
				  <td></td>
				  <td></td>
				  <td>thú vị, hay</td>
				</tr>
				<tr>
				  <th>おいしい</th>
				  <td></td>
				  <td></td>
				  <td>ngon</td>
				</tr>
				<tr>
				  <th>いそがしい</th>
				  <td>忙しい</td>
				  <td>MANG</td>
				  <td>bận</td>
				</tr>
				<tr>
				  <th>たのしい</th>
				  <td>楽しい</td>
				  <td>LẠC, NHẠC</td>
				  <td>vui</td>
				</tr>
				<tr>
				  <th>しろい</th>
				  <td>白い</td>
				  <td>BẠCH</td>
				  <td>trắng</td>
				</tr>
				<tr>
				  <th>くろい</th>
				  <td>黒い</td>
				  <td>HẮC</td>
				  <td>đen</td>
				</tr>
				<tr>
				  <th>あかい</th>
				  <td>赤い</td>
				  <td>XÍCH</td>
				  <td>đỏ</td>
				</tr>
				<tr>
				  <th>あおい</th>
				  <td>青い</td>
				  <td>THANH</td>
				  <td>xanh da trời</td>
				</tr>
				<tr>
				  <th>さくら</th>
				  <td>桜</td>
				  <td>ANH</td>
				  <td>anh đào (hoa, cây)</td>
				</tr>
				<tr>
				  <th>やま</th>
				  <td>山</td>
				  <td>SƠN, SAN</td>
				  <td>núi</td>
				</tr>
				<tr>
				  <th>まち</th>
				  <td>町</td>
				  <td>ĐINH</td>
				  <td>thị trấn, thị xã, thành phố</td>
				</tr>
				<tr>
				  <th>たべもの</th>
				  <td>食べ物</td>
				  <td>THỰC VẬT</td>
				  <td>đồ ăn</td>
				</tr>
				<tr>
				  <th>ところ</th>
				  <td>所</td>
				  <td>SỞ</td>
				  <td>nơi, chỗ</td>
				</tr>
				<tr>
				  <th>りょう</th>
				  <td>寮</td>
				  <td>LIÊU</td>
				  <td>kí túc xá</td>
				</tr>
				<tr>
				  <th>レストラン</th>
				  <td></td>
				  <td></td>
				  <td>nhà hàng</td>
				</tr>
				<tr>
				  <th>せいかつ</th>
				  <td>生活</td>
				  <td>SINH HOẠT</td>
				  <td>cuộc sống, sinh hoạt</td>
				</tr>
				<tr>
				  <th>[お]しごと</th>
				  <td>[お]仕事</td>
				  <td>SĨ SỰ</td>
				  <td>công việc (～をします：làm việc)</td>
				</tr>
				<tr>
				  <th>どう</th>
				  <td></td>
				  <td></td>
				  <td>thế nào</td>
				</tr>
				<tr>
				  <th>どんな～</th>
				  <td></td>
				  <td></td>
				  <td>~ như thế nào</td>
				</tr>
				<tr>
				  <th>とても</th>
				  <td></td>
				  <td></td>
				  <td>rất, lắm</td>
				</tr>
				<tr>
				  <th>あまり</th>
				  <td></td>
				  <td></td>
				  <td>không ~ lắm</td>
				</tr>
				<tr>
				  <th>そして</th>
				  <td></td>
				  <td></td>
				  <td>và, thêm nữa (dùng để nối 2 câu)</td>
				</tr>
				<tr>
				  <th>～が、～</th>
				  <td></td>
				  <td></td>
				  <td>~, nhưng ~</td>
				</tr>
				<tr>
				  <th colspan="3">
					お<ruby>元気<rp>（</rp><rt>げんき</rt><rp>）</rp></ruby>ですか。
				  </th>
				  <td>Anh/chị có khỏe không?</td>
				</tr>
				<tr>
				  <th colspan="3">そうですね。</th>
				  <td>Thế à. Như vậy nhỉ</td>
				</tr>
				<tr>
				  <th colspan="3">
					[～、]もう<ruby
					  >一杯<rp>（</rp><rt>いっぱい</rt><rp>）</rp></ruby
					>いかがですか。
				  </th>
				  <td>
					Anh/ chị dùng thêm một chén/ly [~] <br />
					nữa được không ạ?
				  </td>
				</tr>
				<tr>
				  <th colspan="3">いいえ、けっこうです。</th>
				  <td>Không, đủ rồi ạ.</td>
				</tr>
				<tr>
				  <th colspan="3">もう～です[ね]。</th>
				  <td>Đã ~ rồi nhỉ./ Đã ~ rồi, đúng không ạ?</td>
				</tr>
				<tr>
				  <th colspan="3">
					そろそろ<ruby>失礼<rp>（</rp><rt>しつれい</rt><rp>）</rp></ruby
					>します。
				  </th>
				  <td>
					Sắp đến lúc tôi phải xin phép rồi.<br />Đã đến lúc tôi phải về.
				  </td>
				</tr>
				<tr>
				  <th colspan="3">いいえ。</th>
				  <td>Không có gì./ Không sao cả.</td>
				</tr>
				<tr>
				  <th colspan="3">また　いらっしゃってください。</th>
				  <td>Lần sau anh/ chị lại đến chơi nhé.</td>
				</tr>
				<tr>
				  <th colspan="3">
					<ruby>上海<rp>（</rp><rt>しゃんはい</rt><rp>）</rp></ruby>
				  </th>
				  <td>Thượng Hải</td>
				</tr>
				<tr>
				  <th colspan="3">
					<ruby>金閣寺<rp>（</rp><rt>きんかくじ</rt><rp>）</rp></ruby>
				  </th>
				  <td>Chùa Kinkaku-ji (chùa vàng)</td>
				</tr>
				<tr>
				  <th colspan="3">
					<ruby>奈良<rp>（</rp><rt>なら</rt><rp>）</rp></ruby
					><ruby>公園<rp>（</rp><rt>こうえん</rt><rp>）</rp></ruby>
				  </th>
				  <td>Công viên Nara</td>
				</tr>
				<tr>
				  <th colspan="3">
					<ruby>富士山<rp>（</rp><rt>ふじさん</rt><rp>）</rp></ruby>
				  </th>
				  <td>Núi Phú Sĩ (ngọn núi cao nhất Nhật Bản)</td>
				</tr>
				<tr>
				  <th colspan="3">
					<ruby>七人<rp>（</rp><rt>しちにん</rt><rp>）</rp></ruby>の<ruby
					  >侍<rp>（</rp><rt>さむらい</rt><rp>）</rp></ruby
					>
				  </th>
				  <td>bảy chàng võ sĩ Samurai (tên phim)</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		<!-- End Table -->
	  </div>
	  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>