<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Từ Vựng</th>
						<th>Hán Tự</th>
						<th>Âm Hán</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>あそびます</th>
						<td>遊びます</td>
						<td>DU</td>
						<td>chơi</td>
					</tr>
					<tr>
						<th>およぎます</th>
						<td>泳ぎます</td>
						<td>VỊNH</td>
						<td>bơi</td>
					</tr>
					<tr>
						<th>むかえます</th>
						<td>迎えます</td>
						<td>NGHINH</td>
						<td>đón</td>
					</tr>
					<tr>
						<th>つかれます</th>
						<td>疲れます</td>
						<td>BÌ</td>
						<td>mệt</td>
					</tr>
					<tr>
						<th>けっこんします</th>
						<td>結婚します</td>
						<td>KẾT HÔN</td>
						<td>kết hôn, lập gia đình, cưới</td>
					</tr>
					<tr>
						<th>かいものします</th>
						<td>買い物します</td>
						<td>MÃI VẬT</td>
						<td>mua hàng</td>
					</tr>
					<tr>
						<th>しょくじします</th>
						<td>食事します</td>
						<td>THỰC SỰ</td>
						<td>ăn cơm</td>
					</tr>
					<tr>
						<th>さんぽします<br />[こうえんを～]</th>
						<td>散歩します<br />[公園を～]</td>
						<td>TÁN BỘ<br />CÔNG VIÊN</td>
						<td>đi dạo [ở công viên]</td>
					</tr>
					<tr>
						<th>たいへん「な」</th>
						<td>大変「な」</td>
						<td>ĐẠI BIẾN</td>
						<td>vất vả, khó khăn, khổ</td>
					</tr>
					<tr>
						<th>ほしい</th>
						<td>欲しい</td>
						<td>DỤC</td>
						<td>muốn có</td>
					</tr>
					<tr>
						<th>ひろい</th>
						<td>広い</td>
						<td>QUẢNG</td>
						<td>rộng</td>
					</tr>
					<tr>
						<th>せまい</th>
						<td>狭い</td>
						<td>HIỆP</td>
						<td>chật, hẹp</td>
					</tr>
					<tr>
						<th>プール</th>
						<td></td>
						<td></td>
						<td>bể bơi</td>
					</tr>
					<tr>
						<th>かわ</th>
						<td>川</td>
						<td>XUYÊN</td>
						<td>sông</td>
					</tr>
					<tr>
						<th>びじゅつ</th>
						<td>美術</td>
						<td>MỸ THUẬT</td>
						<td>mỹ thuật</td>
					</tr>
					<tr>
						<th>つり</th>
						<td>釣り</td>
						<td>ĐIẾU</td>
						<td>việc câu cá (~をします：câu cá)</td>
					</tr>
					<tr>
						<th>スキー</th>
						<td></td>
						<td></td>
						<td>việc trượt tuyết (~をします：trượt tuyết)</td>
					</tr>
					<tr>
						<th>しゅうまつ</th>
						<td>週末</td>
						<td>CHU MẠT</td>
						<td>cuối tuần</td>
					</tr>
					<tr>
						<th>[お]しょうがつ</th>
						<td>[お]正月</td>
						<td>CHÍNH NGUYỆT</td>
						<td>Tết</td>
					</tr>
					<tr>
						<th>～ごろ</th>
						<td></td>
						<td></td>
						<td>khoảng ~ (dùng cho thời gian)</td>
					</tr>
					<tr>
						<th>なにか</th>
						<td>何か</td>
						<td>HÀ</td>
						<td>cái gì đó</td>
					</tr>
					<tr>
						<th>どこか</th>
						<td></td>
						<td></td>
						<td>đâu đó, chỗ nào đó</td>
					</tr>
					<tr>
						<th colspan="3">のどが　かわきます</th>
						<td>(tôi) khát.</td>
					</tr>
					<tr>
						<th colspan="3">おなかが　すきます</th>
						<td>(tôi) đói rồi.</td>
					</tr>
					<tr>
						<th colspan="3">そうしましょう。</th>
						<td>Nhất trí./ Chúng ta thống nhất như thế.</td>
					</tr>
					<tr>
						<th colspan="3">
							ご<ruby>注文<rp>（</rp>
								<rt>ちゅうもん</rt>
								<rp>）</rp>
							</ruby>は？
						</th>
						<td>Anh/Chị dùng món gì ạ</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>定食<rp>（</rp>
								<rt>ていしょく</rt>
								<rp>）</rp>
							</ruby>
						</th>
						<td>cơm suất, cơm phần</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>牛<rp>（</rp>
								<rt>ぎゅう</rt>
								<rp>）</rp>
							</ruby>どん
						</th>
						<td>món cơm thịt bò</td>
					</tr>
					<tr>
						<th colspan="3">
							[しょうしょう]お<ruby>待<rp>（</rp>
								<rt>ま</rt>
								<rp>）</rp>
							</ruby>ちください
						</th>
						<td>Xin anh/chị vui lòng đợi [một chút].</td>
					</tr>
					<tr>
						<th colspan="3">～でございます。</th>
						<td>(cách nói lịch sự của です)</td>
					</tr>
					<tr>
						<th colspan="3">
							<ruby>別々<rp>（</rp>
								<rt>べつべつ</rt>
								<rp>）</rp>
							</ruby>に
						</th>
						<td>riêng ra/ để riêng</td>
					</tr>
					<tr>
						<th colspan="3">アキックス</th>
						<td>tên một công ty (giả định)</td>
					</tr>
					<tr>
						<th colspan="3">おはようテレビ</th>
						<td>tên một chương trình truyền hình (giả định)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>