<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link
      rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"
	/>
    <title>日本語</title>
</head>

<body>
    <header>
        <header-title>日本の勉強</header-title>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <hr>
        <nav>
            <ul>
                <li class="link"><a th:href="homepage">Home</a></li>
                <li class="link"><a th:href="N5-detail">N5</a></li>
                <li class="link"><a th:href="N4-detail">N4</a></li>
                <li class="link"><a th:href="N3-detail">N3</a></li>
                <li class="link"><a th:href="happyo">Happyo</a></li>
                <li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
                <li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
            </ul>
        </nav>
    </header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
			  <thead class="thead-dark">
				<tr>
				  <th>Từ Vựng</th>
				  <th>Hán Tự</th>
				  <th>Âm Hán</th>
				  <th>Nghĩa</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th>たべます</th>
				  <td>食べます</td>
				  <td>THỰC</td>
				  <td>ăn</td>
				</tr>
				<tr>
				  <th>のみます</th>
				  <td>飲みます</td>
				  <td>ẨM</td>
				  <td>uống</td>
				</tr>
				<tr>
				  <th>すいます</th>
				  <td>吸います</td>
				  <td>HẤP</td>
				  <td></td>
				</tr>
				<tr>
				  <th>[たばこを～]</th>
				  <td>[たばこを～]</td>
				  <td></td>
				  <td>hút [thuốc lá]</td>
				</tr>
				<tr>
				  <th>みます</th>
				  <td>見ます</td>
				  <td>KIẾN</td>
				  <td>xem, nhìn, trông</td>
				</tr>
				<tr>
				  <th>ききます</th>
				  <td>聞きます</td>
				  <td>VĂN</td>
				  <td>nghe</td>
				</tr>
				<tr>
				  <th>よみます</th>
				  <td>読みます</td>
				  <td>ĐỘC</td>
				  <td>đọc</td>
				</tr>
				<tr>
				  <th>かきます</th>
				  <td>書きます</td>
				  <td>THƯ</td>
				  <td>viết, vẽ</td>
				</tr>
				<tr>
				  <th>かいます</th>
				  <td>買います</td>
				  <td>MÃI</td>
				  <td>mua</td>
				</tr>
				<tr>
				  <th>とります[しゃしんを～]</th>
				  <td>撮ります[写真を～]</td>
				  <td>TOÁT TẢ CHÂN</td>
				  <td>chụp [ảnh]</td>
				</tr>
				<tr>
				  <th>します</th>
				  <td></td>
				  <td></td>
				  <td>làm</td>
				</tr>
				<tr>
				  <th>あいます[ともだちに～]</th>
				  <td>会います[友達に～]</td>
				  <td>HỘI HỮU ĐẠT</td>
				  <td>gặp [bạn]</td>
				</tr>
				<tr>
				  <th>ごはん</th>
				  <td></td>
				  <td></td>
				  <td>cơm, bữa ăn</td>
				</tr>
				<tr>
				  <th>あさごはん</th>
				  <td>朝ごはん</td>
				  <td>TRIỀU</td>
				  <td>cơm sáng</td>
				</tr>
				<tr>
				  <th>ひるごはん</th>
				  <td>昼ごはん</td>
				  <td>TRÚ</td>
				  <td>cơm trưa</td>
				</tr>
				<tr>
				  <th>ばんごはん</th>
				  <td>晩ごはん</td>
				  <td>VÃN</td>
				  <td>cơm tối</td>
				</tr>
				<tr>
				  <th>パン</th>
				  <td></td>
				  <td></td>
				  <td>bánh mì</td>
				</tr>
				<tr>
				  <th>たまご</th>
				  <td>卵</td>
				  <td>NOÃN</td>
				  <td>trứng</td>
				</tr>
				<tr>
				  <th>にく</th>
				  <td>肉</td>
				  <td>NHỤC</td>
				  <td>thịt</td>
				</tr>
				<tr>
				  <th>さかな</th>
				  <td>魚</td>
				  <td>NGƯ</td>
				  <td>cá</td>
				</tr>
				<tr>
				  <th>やさい</th>
				  <td>野菜</td>
				  <td>DÃ THÁI</td>
				  <td>rau</td>
				</tr>
				<tr>
				  <th>くだもの</th>
				  <td>果物</td>
				  <td>QUẢ VẬT</td>
				  <td>hoa quả, trái cây</td>
				</tr>
				<tr>
				  <th>みず</th>
				  <td>水</td>
				  <td>THỦY</td>
				  <td>nước</td>
				</tr>
				<tr>
				  <th>おちゃ</th>
				  <td>お茶</td>
				  <td>TRÀ</td>
				  <td>trà (nói chung)</td>
				</tr>
				<tr>
				  <th>こうちゃ</th>
				  <td>紅茶</td>
				  <td>HỒNG TRÀ</td>
				  <td>trà đen</td>
				</tr>
				<tr>
				  <th>ぎゅうにゅう</th>
				  <td>牛乳</td>
				  <td>NGƯU NHŨ</td>
				  <td>sữa bò</td>
				</tr>
				<tr>
				  <th>(ミルク)</th>
				  <td></td>
				  <td></td>
				  <td></td>
				</tr>
				<tr>
				  <th>ジュース</th>
				  <td></td>
				  <td></td>
				  <td>nước hoa quả</td>
				</tr>
				<tr>
				  <th>ビール</th>
				  <td></td>
				  <td></td>
				  <td>bia</td>
				</tr>
				<tr>
				  <th>[お]さけ</th>
				  <td>[お]酒</td>
				  <td>TỬU</td>
				  <td>rượu, rượu sake</td>
				</tr>
				<tr>
				  <th>ビデオ</th>
				  <td></td>
				  <td></td>
				  <td>video, băng video, đầu video</td>
				</tr>
				<tr>
				  <th>えいが</th>
				  <td>映画</td>
				  <td>ẢNH HỌA</td>
				  <td>phim, điện ảnh</td>
				</tr>
				<tr>
				  <th>ＣＤ</th>
				  <td></td>
				  <td></td>
				  <td>đĩa CD</td>
				</tr>
				<tr>
				  <th>てがみ</th>
				  <td>手紙</td>
				  <td>THỦ CHỈ</td>
				  <td>thư</td>
				</tr>
				<tr>
				  <th>レポート</th>
				  <td></td>
				  <td></td>
				  <td>báo cáo</td>
				</tr>
				<tr>
				  <th>しゃしん</th>
				  <td>写真</td>
				  <td>TẢ CHÂN</td>
				  <td>ảnh</td>
				</tr>
				<tr>
				  <th>みせ</th>
				  <td>店</td>
				  <td>ĐIẾM</td>
				  <td>cửa hàng, tiệm</td>
				</tr>
				<tr>
				  <th>レストラン</th>
				  <td></td>
				  <td></td>
				  <td>nhà hàng</td>
				</tr>
				<tr>
				  <th>にわ</th>
				  <td>庭</td>
				  <td>ĐÌNH</td>
				  <td>vườn</td>
				</tr>
				<tr>
				  <th>しゅくだい</th>
				  <td>宿題</td>
				  <td>TÚC ĐỀ</td>
				  <td>bài tập về nhà (～をします: làm bài tập)</td>
				</tr>
				<tr>
				  <th>テニス</th>
				  <td></td>
				  <td></td>
				  <td>quần vợt (～をします: đánh quần vợt)</td>
				</tr>
				<tr>
				  <th>サッカー</th>
				  <td></td>
				  <td></td>
				  <td>bóng đá (～をします: chơi bóng đá)</td>
				</tr>
				<tr>
				  <th>[お]はなみ</th>
				  <td>[お]花見</td>
				  <td>HOA KIẾN</td>
				  <td>việc ngắm hoa anh đào (～をします: ngắm hoa anh đào)</td>
				</tr>
				<tr>
				  <th>なに</th>
				  <td>何</td>
				  <td>HÀ</td>
				  <td>cái gì</td>
				</tr>
				<tr>
				  <th>いっしょに</th>
				  <td></td>
				  <td></td>
				  <td>cùng, cùng nhau</td>
				</tr>
				<tr>
				  <th>ちょっと</th>
				  <td></td>
				  <td></td>
				  <td>một chút</td>
				</tr>
				<tr>
				  <th>いつも</th>
				  <td></td>
				  <td></td>
				  <td>luôn luôn, lúc nào cũng</td>
				</tr>
				<tr>
				  <th>ときどき</th>
				  <td>時々</td>
				  <td>THÌ (KÉP)</td>
				  <td>thỉnh thoảng</td>
				</tr>
				<tr>
				  <th>それから</th>
				  <td></td>
				  <td></td>
				  <td>sau đó, tiếp theo</td>
				</tr>
				<tr>
				  <th>ええ</th>
				  <td></td>
				  <td></td>
				  <td>vâng, được (cách nói thân mật của 「はい」)</td>
				</tr>
				<tr>
				  <th>いいですね。</th>
				  <td></td>
				  <td></td>
				  <td>Được đấy nhỉ./ hay quá.</td>
				</tr>
				<tr>
				  <th>わかりました。</th>
				  <td></td>
				  <td></td>
				  <td>Tôi hiểu rồi/ vâng ạ.</td>
				</tr>
				<tr>
				  <th>（なんですか）</th>
				  <td>何ですか。</td>
				  <td>HÀ</td>
				  <td>Có gì đấy ạ?/ cái gì vậy?</td>
				</tr>
				<tr>
				  <th>じゃ、また[あした]。</th>
				  <td></td>
				  <td></td>
				  <td>Hẹn gặp lại [ngày mai].</td>
				</tr>
				<tr>
				  <th>メキシコ</th>
				  <td></td>
				  <td></td>
				  <td>Mexico</td>
				</tr>
				<tr>
				  <th>おおさかじょうこうえん</th>
				  <td>大阪城公園</td>
				  <td>ĐẠI PHẢN THÀNH CÔNG VIÊN</td>
				  <td>Công viên lâu đài Osaka</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		<!-- End Table -->
	  </div>
	  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active');
            });
            $('.link').click(function () {
                $('nav').toggleClass('active');
            })
        })
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>