<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>フロントガラス</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							kính trước</td>
					</tr>
					<tr>
						<td>
							<strong>ワイパー</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							cần gạt nước (kính xe ô tô)</td>
					</tr>
					<tr>
						<td>
							<strong>ボンネット</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							bạt mui xe</td>
					</tr>
					<tr>
						<td>
							<strong>ライト</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							đèn ô tô</td>
					</tr>
					<tr>
						<td>
							<strong>バックミラー</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							kính chiếu hậu</td>
					</tr>
					<tr>
						<td>
							<strong>トランク</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							thùng xe</td>
					</tr>
					<tr>
						<td>
							<strong>サイドミラー</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							kính chiếu hậu gắn 2 bên</td>
					</tr>
					<tr>
						<td>
							<strong>じょしゅせき</strong></td>
						<td>
							<strong><ruby>助手席<rp>(</rp>
									<rt>じょしゅせき</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							ghế bên cạnh ghế của người cầm lái</td>
					</tr>
					<tr>
						<td>
							<strong>タイヤ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							bánh xe</td>
					</tr>
					<tr>
						<td>
							<strong>カーナビ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							hệ thống dẫn đường ô tô</td>
					</tr>
					<tr>
						<td>
							<strong>ハンドル</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							tay lái</td>
					</tr>
					<tr>
						<td>
							<strong>うんてんせき</strong></td>
						<td>
							<strong><ruby>運転席<rp>(</rp>
									<rt>うんてんせき</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							ghế người lái</td>
					</tr>
					<tr>
						<td>
							<strong>キー</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							chìa khóa</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>うんてんめんきょしょう</strong></td>
							<td>
								<strong><ruby>運転<rp>(</rp>
										<rt>うんてん</rt>
										<rp>)</rp>
									</ruby><ruby>免許証<rp>(</rp>
										<rt>めんきょしょう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								bằng lái xe</td>
						</tr>
						<tr>
							<td>
								<strong>ドライブ（を）する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								lái xe</td>
						</tr>
						<tr>
							<td>
								<strong>レンタカーをかりる</strong></td>
							<td>
								<strong>レンタカーを<ruby>借<rp>(</rp>
										<rt>か</rt>
										<rp>)</rp>
									</ruby>りる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thuê xe</td>
						</tr>
						<tr>
							<td>
								<strong>トランクににもつをつむ</strong></td>
							<td>
								<strong>トランクに<ruby>荷物<rp>(</rp>
										<rt>にもつ</rt>
										<rp>)</rp>
									</ruby>を<ruby>積<rp>(</rp>
										<rt>つ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								&nbsp;</td>
							<td>
								chất hành lý vào thùng xe</td>
						</tr>
						<tr>
							<td>
								<strong>ひとをのせる</strong></td>
							<td>
								<strong><ruby>人<rp>(</rp>
										<rt>ひと</rt>
										<rp>)</rp>
									</ruby>を<ruby>乗<rp>(</rp>
										<rt>の</rt>
										<rp>)</rp>
									</ruby>せる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cho người lên</td>
						</tr>
						<tr>
							<td>
								<strong>シートベルトをしめる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								thắt dây an toàn</td>
						</tr>
						<tr>
							<td>
								<strong>エンジンをかける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								khởi động động cơ</td>
						</tr>
						<tr>
							<td>
								<strong>バックミラーでかくにん（を）する</strong></td>
							<td>
								<strong>バックミラーで<ruby>確認<rp>(</rp>
										<rt>かくにん</rt>
										<rp>)</rp>
									</ruby>（を）する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								xác nhận nhìn gương chiếu hậu</td>
						</tr>
						<tr>
							<td>
								<strong>ハンドルをにぎる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								nắm tay lái</td>
						</tr>
						<tr>
							<td>
								<strong>アクセスをふむ</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								giậm chân ga</td>
						</tr>
						<tr>
							<td>
								<strong>ブレーキをかける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								giậm thắng</td>
						</tr>
						<tr>
							<td>
								<strong>きゅうブレーキ</strong></td>
							<td>
								<strong><ruby>急<rp>(</rp>
										<rt>きゅう</rt>
										<rp>)</rp>
									</ruby><ruby>ブレーキ<rp>(</rp>
										<rt>ぶれーき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								thắng gấp</td>
						</tr>
						<tr>
							<td>
								<strong>ライトをつける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								bật đèn</td>
						</tr>
						<tr>
							<td>
								<strong>ワイパーをうごかす</strong></td>
							<td>
								<strong>ワイパーを<ruby>動<rp>(</rp>
										<rt>うご</rt>
										<rp>)</rp>
									</ruby>かす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								bật cần gạt</td>
						</tr>
						<tr>
							<td>
								<strong>ガソリンスタンドによる</strong></td>
							<td>
								<strong>ガソリンスタンドに<ruby>寄<rp>(</rp>
										<rt>よ</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								ghé vào trạm đổ xăng</td>
						</tr>
						<tr>
							<td>
								<strong>こうそく（どうろ）にのる</strong></td>
							<td>
								<strong><ruby>高速<rp>(</rp>
										<rt>こうそく</rt>
										<rp>)</rp>
									</ruby>（<ruby>道路<rp>(</rp>
										<rt>どうろ</rt>
										<rp>)</rp>
									</ruby>）に<ruby>乗<rp>(</rp>
										<rt>の</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								vào đường cao tốc</td>
						</tr>
						<tr>
							<td>
								<strong>タイヤがパンクする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								bánh xe bị bể</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>