<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>かぞくそろって</strong></td>
						<td>
							<strong><ruby>家族<rp>(</rp>
									<rt>かぞく</rt>
									<rp>)</rp>
								</ruby>そろって</strong></td>
						<td>
							&nbsp;</td>
						<td>
							tập trung gia đình lại</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをつれる</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもを<ruby>連<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>れる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							dẫn theo trẻ em</td>
					</tr>
					<tr>
						<td>
							<strong>こどもづれ</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども<ruby>連<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>れ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							dẫn theo trẻ em</td>
					</tr>
					<tr>
						<td>
							<strong>はらがへる</strong></td>
						<td>
							<strong><ruby>腹<rp>(</rp>
									<rt>はら</rt>
									<rp>)</rp>
								</ruby>がへる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đói bụng</td>
					</tr>
					<tr>
						<td>
							<strong>がいしょくをする</strong></td>
						<td>
							<strong><ruby>外食<rp>(</rp>
									<rt>がいしょく</rt>
									<rp>)</rp>
								</ruby>をする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đi ăn ngoài</td>
					</tr>
					<tr>
						<td>
							<strong>おひるをたべる</strong></td>
						<td>
							<strong>お<ruby>昼<rp>(</rp>
									<rt>ひる</rt>
									<rp>)</rp>
								</ruby>を<ruby>食<rp>(</rp>
									<rt>た</rt>
									<rp>)</rp>
								</ruby>べる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							ăn trưa</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうしょくをとる</strong></td>
						<td>
							<strong><ruby>昼食<rp>(</rp>
									<rt>ちゅうしょく</rt>
									<rp>)</rp>
								</ruby>をとる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							ăn trưa</td>
					</tr>
					<tr>
						<td>
							<strong>ランチ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							&nbsp;</td>
						<td>
							bữa trưa</td>
					</tr>
					<tr>
						<td>
							<strong>ふんいきのいいみせ</strong></td>
						<td>
							<strong><ruby>雰囲気<rp>(</rp>
									<rt>ふんいき</rt>
									<rp>)</rp>
								</ruby>のいい<ruby>店<rp>(</rp>
									<rt>みせ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							tiệm có bầu không khí tốt</td>
					</tr>
					<tr>
						<td>
							<strong>まんせき</strong></td>
						<td>
							<strong><ruby>満席<rp>(</rp>
									<rt>まんせき</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							không còn chỗ trống</td>
					</tr>
					<tr>
						<td>
							<strong>すいている</strong></td>
						<td>
							&nbsp;</td>
						<td>
							&nbsp;</td>
						<td>
							trống</td>
					</tr>
					<tr>
						<td>
							<strong>れつにならぶ</strong></td>
						<td>
							<strong><ruby>列<rp>(</rp>
									<rt>れつ</rt>
									<rp>)</rp>
								</ruby>に<ruby>並<rp>(</rp>
									<rt>なら</rt>
									<rp>)</rp>
								</ruby>ぶ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							xếp thành hàng dọc</td>
					</tr>
					<tr>
						<td>
							<strong>ぎょうれつができる</strong></td>
						<td>
							<strong><ruby>行列<rp>(</rp>
									<rt>ぎょうれつ</rt>
									<rp>)</rp>
								</ruby>ができる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							người xếp thành hàng</td>
					</tr>
					<tr>
						<td>
							<strong>きんえんせき</strong></td>
						<td>
							<strong><ruby>禁煙席<rp>(</rp>
									<rt>きんえんせき</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							ghế cấm hút thuốc</td>
					</tr>
					<tr>
						<td>
							<strong>きつえんせき</strong></td>
						<td>
							<strong><ruby>喫煙席<rp>(</rp>
									<rt>きつえんせき</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							ghế được phép hút thuốc</td>
					</tr>
					<tr>
						<td>
							<strong>ウエートレスにおすすめをきく</strong></td>
						<td>
							<strong>ウ</strong><strong>エ</strong><strong>ートレスにおすすめを<ruby>聞<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hỏi người phục vụ giới thiệu món</td>
					</tr>
					<tr>
						<td>
							<strong>りょうがおおい</strong></td>
						<td>
							<strong><ruby>量<rp>(</rp>
									<rt>りょう</rt>
									<rp>)</rp>
								</ruby>が<ruby>多<rp>(</rp>
									<rt>おお</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							&nbsp;</td>
						<td>
							lượng nhiều</td>
					</tr>
					<tr>
						<td>
							<strong>りょうがすくない</strong></td>
						<td>
							<strong><ruby>量<rp>(</rp>
									<rt>りょう</rt>
									<rp>)</rp>
								</ruby>が<ruby>少<rp>(</rp>
									<rt>すく</rt>
									<rp>)</rp>
								</ruby>ない</strong></td>
						<td>
							&nbsp;</td>
						<td>
							lượng ít</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうもんがきまる</strong></td>
						<td>
							<strong><ruby>注文<rp>(</rp>
									<rt>ちゅうもん</rt>
									<rp>)</rp>
								</ruby>が<ruby>決<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>まる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							quyết định gọi món</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうもんする</strong></td>
						<td>
							<strong><ruby>注文<rp>(</rp>
									<rt>ちゅうもん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							&nbsp;</td>
						<td>
							gọi món</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうもんをとる</strong></td>
						<td>
							<strong><ruby>注文<rp>(</rp>
									<rt>ちゅうもん</rt>
									<rp>)</rp>
								</ruby>を<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							&nbsp;</td>
						<td>
							nhận món</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうもんをうける</strong></td>
						<td>
							<strong><ruby>注文<rp>(</rp>
									<rt>ちゅうもん</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							&nbsp;</td>
						<td>
							nhận món</td>
					</tr>
					<tr>
						<td>
							<strong>デザートをついかする</strong></td>
						<td>
							<strong>デザートを<ruby>追加<rp>(</rp>
									<rt>ついか</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							&nbsp;</td>
						<td>
							thêm món tráng miệng</td>
					</tr>
					<tr>
						<td>
							<strong>コーヒーのおかわり</strong></td>
						<td>
							<strong>コーヒーのおかわり</strong></td>
						<td>
							&nbsp;</td>
						<td>
							thay café bằng cái khác</td>
					</tr>
					<tr>
						<td>
							<strong>むりょう</strong></td>
						<td>
							<strong><ruby>無料<rp>(</rp>
									<rt>むりょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							miễn phí</td>
					</tr>
					<tr>
						<td>
							<strong>ただ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							&nbsp;</td>
						<td>
							miễn phí</td>
					</tr>
					<tr>
						<td>
							<strong>しょっきをさげる</strong></td>
						<td>
							<strong><ruby>食器<rp>(</rp>
									<rt>しょっき</rt>
									<rp>)</rp>
								</ruby>を<ruby>下<rp>(</rp>
									<rt>さ</rt>
									<rp>)</rp>
								</ruby>げる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							dọn chén bát xuống</td>
					</tr>
					<tr>
						<td>
							<strong>りょうりをのこす</strong></td>
						<td>
							<strong><ruby>料理<rp>(</rp>
									<rt>りょうり</rt>
									<rp>)</rp>
								</ruby>を<ruby>残<rp>(</rp>
									<rt>のこ</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							&nbsp;</td>
						<td>
							chừa đồ ăn lại</td>
					</tr>
					<tr>
						<td>
							<strong>もったいない</strong></td>
						<td>
							&nbsp;</td>
						<td>
							&nbsp;</td>
						<td>
							lãng phí</td>
					</tr>
					<tr>
						<td>
							<strong>なんめいさまですか</strong></td>
						<td>
							<strong><ruby>何名<rp>(</rp>
									<rt>なんめい</rt>
									<rp>)</rp>
								</ruby><ruby>様<rp>(</rp>
									<rt>さま</rt>
									<rp>)</rp>
								</ruby>ですか</strong></td>
						<td>
							&nbsp;</td>
						<td>
							có mấy vị ạ</td>
					</tr>
					<tr>
						<td>
							<strong>ふたりです</strong></td>
						<td>
							<strong><ruby>二人<rp>(</rp>
									<rt>ふたり</rt>
									<rp>)</rp>
								</ruby>です</strong></td>
						<td>
							&nbsp;</td>
						<td>
							2 người</td>
					</tr>
					<tr>
						<td>
							<strong>もうしわけありません</strong></td>
						<td>
							<strong><ruby>申<rp>(</rp>
									<rt>もう</rt>
									<rp>)</rp>
								</ruby>し<ruby>訳<rp>(</rp>
									<rt>わけ</rt>
									<rp>)</rp>
								</ruby>ありません</strong></td>
						<td>
							&nbsp;</td>
						<td>
							xin lỗi</td>
					</tr>
					<tr>
						<td>
							<strong>もうしょうしょうおまちください</strong></td>
						<td>
							<strong>もう<ruby>少<rp>(</rp>
									<rt>すくな</rt>
									<rp>)</rp>
								</ruby>々お<ruby>待<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>ちください</strong></td>
						<td>
							&nbsp;</td>
						<td>
							xin đợi một chút</td>
					</tr>
					<tr>
						<td>
							<strong>おまたせいたしました</strong></td>
						<td>
							<strong>お<ruby>待<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>たせいたしました</strong></td>
						<td>
							&nbsp;</td>
						<td>
							xin lỗi đã bắt quý khách đợi</td>
					</tr>
					<tr>
						<td>
							<strong>おまちどおさま</strong></td>
						<td>
							<strong>お<ruby>待<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>ちどおさま</strong></td>
						<td>
							&nbsp;</td>
						<td>
							xin lỗi đã bắt quý khách đợi</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>