<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<strong>ひたい</strong></td>
						<td>
							<strong><ruby>額<rp>(</rp>
									<rt>ひたい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							trán</td>
					</tr>
					<tr>
						<td>
							<strong>まつげ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							lông mi</td>
					</tr>
					<tr>
						<td>
							<strong>ほお</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							cái má</td>
					</tr>
					<tr>
						<td>
							<strong>ほほ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							cái má</td>
					</tr>
					<tr>
						<td>
							<strong>ネックレス</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							dây đeo cổ</td>
					</tr>
					<tr>
						<td>
							<strong>くちびる</strong></td>
						<td>
							<strong><ruby>唇<rp>(</rp>
									<rt>くちびる</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							môi</td>
					</tr>
					<tr>
						<td>
							<strong>まゆ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							lông mày</td>
					</tr>
					<tr>
						<td>
							<strong>まゆげ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							lông mày</td>
					</tr>
					<tr>
						<td>
							<strong>まぶた</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							mí mắt</td>
					</tr>
					<tr>
						<td>
							<strong>イヤリング</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							bông tai</td>
					</tr>
					<tr>
						<td>
							<strong>ベルト</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							dây nịt</td>
					</tr>
					<tr>
						<td>
							<strong>パンツ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							quần sọoc</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<table border="0" cellpadding="0" cellspacing="0" class="khung2" style=" width: 635px">
						<thead>
							<tr>
								<td scope="col" style="background-color: rgb(66, 112, 167); text-align: center; ">
									<strong><span style="color:#ffffff;">Mục từ</span></strong></td>
								<td scope="col" style="background-color: rgb(66, 112, 167); text-align: center;">
									<strong><span style="color:#ffffff;">Hán tự</span></strong></td>
								<td scope="col"
									style="background-color: rgb(66, 112, 167); text-align: center; width: 30px;">
									<strong><span style="color:#ffffff;">Loại</span></strong></td>
								<td scope="col"
									style="background-color: rgb(66, 112, 167); text-align: center; width: 250px;">
									<strong><span style="color:#ffffff;">Nghĩa</span></strong></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<strong>あさのしたくをする</strong></td>
								<td>
									<strong><ruby>朝<rp>(</rp>
											<rt>あさ</rt>
											<rp>)</rp>
										</ruby>のしたくをする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									sửa soạn đi làm (học)</td>
							</tr>
							<tr>
								<td>
									<strong>シャワーをあびる</strong></td>
								<td>
									<strong>シャワーを<ruby>浴<rp>(</rp>
											<rt>あ</rt>
											<rp>)</rp>
										</ruby>びる</strong></td>
								<td>
									&nbsp;</td>
								<td>
									tắm vòi sen</td>
							</tr>
							<tr>
								<td>
									<strong>したぎ</strong></td>
								<td>
									<strong><ruby>下着<rp>(</rp>
											<rt>したぎ</rt>
											<rp>)</rp>
										</ruby></strong></td>
								<td>
									&nbsp;</td>
								<td>
									quần lót</td>
							</tr>
							<tr>
								<td>
									<strong>うわぎ</strong></td>
								<td>
									<strong><ruby>上着<rp>(</rp>
											<rt>うわぎ</rt>
											<rp>)</rp>
										</ruby></strong></td>
								<td>
									&nbsp;</td>
								<td>
									áo vét</td>
							</tr>
							<tr>
								<td>
									<strong>はをみがく</strong></td>
								<td>
									<strong><ruby>歯<rp>(</rp>
											<rt>は</rt>
											<rp>)</rp>
										</ruby>をみがく</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đánh răng</td>
							</tr>
							<tr>
								<td>
									<strong>はみがき</strong></td>
								<td>
									<strong><ruby>歯<rp>(</rp>
											<rt>は</rt>
											<rp>)</rp>
										</ruby>みがき</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đánh răng</td>
							</tr>
							<tr>
								<td>
									<strong>はみがきこをつける</strong></td>
								<td>
									<strong><ruby>歯<rp>(</rp>
											<rt>は</rt>
											<rp>)</rp>
										</ruby>みがき<ruby>粉<rp>(</rp>
											<rt>こ</rt>
											<rp>)</rp>
										</ruby>をつける</strong></td>
								<td>
									&nbsp;</td>
								<td>
									quẹt kem đánh răng</td>
							</tr>
							<tr>
								<td>
									<strong>ひげをそる</strong></td>
								<td>
									<strong>ひげをそる</strong></td>
								<td>
									&nbsp;</td>
								<td>
									cạo râu</td>
							</tr>
							<tr>
								<td>
									<strong>ドライヤーでかみをかわかす</strong></td>
								<td>
									<strong>ドライヤーで<ruby>髪<rp>(</rp>
											<rt>かみ</rt>
											<rp>)</rp>
										</ruby>を<ruby>乾<rp>(</rp>
											<rt>かわ</rt>
											<rp>)</rp>
										</ruby>かす</strong></td>
								<td>
									&nbsp;</td>
								<td>
									làm khô tóc bắng máy sấy</td>
							</tr>
							<tr>
								<td>
									<strong>かみをとく</strong></td>
								<td>
									<strong><ruby>髪<rp>(</rp>
											<rt>かみ</rt>
											<rp>)</rp>
										</ruby>をとく</strong></td>
								<td>
									&nbsp;</td>
								<td>
									chải tóc</td>
							</tr>
							<tr>
								<td>
									<strong>かみをとかす</strong></td>
								<td>
									<strong><ruby>髪<rp>(</rp>
											<rt>かみ</rt>
											<rp>)</rp>
										</ruby>をとかす</strong></td>
								<td>
									&nbsp;</td>
								<td>
									chải tóc</td>
							</tr>
							<tr>
								<td>
									<strong>（お）けしょうをする</strong></td>
								<td>
									<strong>（お）<ruby>化粧<rp>(</rp>
											<rt>けしょう</rt>
											<rp>)</rp>
										</ruby>をする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									trang điểm</td>
							</tr>
							<tr>
								<td>
									<strong>くちべにをぬる</strong></td>
								<td>
									<strong><ruby>口紅<rp>(</rp>
											<rt>くちべに</rt>
											<rp>)</rp>
										</ruby>を<ruby>塗<rp>(</rp>
											<rt>ぬ</rt>
											<rp>)</rp>
										</ruby>る</strong></td>
								<td>
									&nbsp;</td>
								<td>
									son môi</td>
							</tr>
							<tr>
								<td>
									<strong>くちべにをつける</strong></td>
								<td>
									<strong><ruby>口紅<rp>(</rp>
											<rt>くちべに</rt>
											<rp>)</rp>
										</ruby>をつける</strong></td>
								<td>
									&nbsp;</td>
								<td>
									son môi</td>
							</tr>
							<tr>
								<td>
									<strong>ふくをきがえる</strong></td>
								<td>
									<strong><ruby>服<rp>(</rp>
											<rt>ふく</rt>
											<rp>)</rp>
										</ruby>を<ruby>着替<rp>(</rp>
											<rt>きが</rt>
											<rp>)</rp>
										</ruby>える</strong></td>
								<td>
									&nbsp;</td>
								<td>
									thay quần áo</td>
							</tr>
							<tr>
								<td>
									<strong>きがえる</strong></td>
								<td>
									<strong><ruby>着替<rp>(</rp>
											<rt>きが</rt>
											<rp>)</rp>
										</ruby>え</strong></td>
								<td>
									&nbsp;</td>
								<td>
									thay đồ</td>
							</tr>
							<tr>
								<td>
									<strong>おしゃれをする</strong></td>
								<td>
									<strong>おしゃれをする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									chưng diện, ăn mặc đẹp</td>
							</tr>
							<tr>
								<td>
									<strong>おしゃれなひと</strong></td>
								<td>
									<strong>おしゃれな<ruby>人<rp>(</rp>
											<rt>ひと</rt>
											<rp>)</rp>
										</ruby></strong></td>
								<td>
									&nbsp;</td>
								<td>
									người chưng diện</td>
							</tr>
							<tr>
								<td>
									<strong>ひもをむすぶ</strong></td>
								<td>
									<strong>ひもを<ruby>結<rp>(</rp>
											<rt>むす</rt>
											<rp>)</rp>
										</ruby>ぶ</strong></td>
								<td>
									&nbsp;</td>
								<td>
									cột dây</td>
							</tr>
							<tr>
								<td>
									<strong>ひもをほどく</strong></td>
								<td>
									<strong>ひもをほどく</strong></td>
								<td>
									&nbsp;</td>
								<td>
									tháo dây</td>
							</tr>
							<tr>
								<td>
									<strong>マフラーをまく</strong></td>
								<td>
									<strong>マフラーを<ruby>巻<rp>(</rp>
											<rt>ま</rt>
											<rp>)</rp>
										</ruby>く</strong></td>
								<td>
									&nbsp;</td>
								<td>
									cột khăn quàng</td>
							</tr>
							<tr>
								<td>
									<strong>マフラーをする</strong></td>
								<td>
									<strong>マフラーをする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									cột khăn quàng</td>
							</tr>
							<tr>
								<td>
									<strong>てぶくろをはめる</strong></td>
								<td>
									<strong><ruby>手袋<rp>(</rp>
											<rt>てぶくろ</rt>
											<rp>)</rp>
										</ruby>をはめる</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đeo găng tay</td>
							</tr>
							<tr>
								<td>
									<strong>てぶくろをする</strong></td>
								<td>
									<strong><ruby>手袋<rp>(</rp>
											<rt>てぶくろ</rt>
											<rp>)</rp>
										</ruby>をする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đeo găng tay</td>
							</tr>
							<tr>
								<td>
									<strong>ゆびわをはめる</strong></td>
								<td>
									<strong><ruby>指輪<rp>(</rp>
											<rt>ゆびわ</rt>
											<rp>)</rp>
										</ruby>をはめる</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đeo nhẫn</td>
							</tr>
							<tr>
								<td>
									<strong>ゆびわをする</strong></td>
								<td>
									<strong><ruby>指輪<rp>(</rp>
											<rt>ゆびわ</rt>
											<rp>)</rp>
										</ruby>をする</strong></td>
								<td>
									&nbsp;</td>
								<td>
									đeo nhẫn</td>
							</tr>
						</tbody>
					</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>