<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>かいだんをのぼる</strong></td>
						<td>
							<strong><ruby>階段<rp>(</rp>
									<rt>かいだん</rt>
									<rp>)</rp>
								</ruby>を<ruby>上<rp>(</rp>
									<rt>のぼ</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							bước lên cầu thang</td>
					</tr>
					<tr>
						<td>
							<strong>かいだんをあがる</strong></td>
						<td>
							<strong><ruby>階段<rp>(</rp>
									<rt>かいだん</rt>
									<rp>)</rp>
								</ruby>を<ruby>上<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>がる</strong></td>
						<td>
							v</td>
						<td>
							bước lên cầu thang</td>
					</tr>
					<tr>
						<td>
							<strong>かいだんをくだる</strong></td>
						<td>
							<strong><ruby>階段<rp>(</rp>
									<rt>かいだん</rt>
									<rp>)</rp>
								</ruby>を<ruby>下<rp>(</rp>
									<rt>くだ</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							bước xuống cầu thang</td>
					</tr>
					<tr>
						<td>
							<strong>かいだんをおりる</strong></td>
						<td>
							<strong><ruby>階段<rp>(</rp>
									<rt>かいだん</rt>
									<rp>)</rp>
								</ruby>を<ruby>下<rp>(</rp>
									<rt>お</rt>
									<rp>)</rp>
								</ruby>りる</strong></td>
						<td>
							v</td>
						<td>
							bước xuống cầu thang</td>
					</tr>
					<tr>
						<td>
							<strong>くだりでんしゃ</strong></td>
						<td>
							<strong><ruby>下<rp>(</rp>
									<rt>くだ</rt>
									<rp>)</rp>
								</ruby>り<ruby>電車<rp>(</rp>
									<rt>でんしゃ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tàu đi về hướng Hokkaido</td>
					</tr>
					<tr>
						<td>
							<strong>のぼりでんしゃ</strong></td>
						<td>
							<strong><ruby>上<rp>(</rp>
									<rt>のぼ</rt>
									<rp>)</rp>
								</ruby>り<ruby>電車<rp>(</rp>
									<rt>でんしゃ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tàu đi về hướng Tokyo</td>
					</tr>
					<tr>
						<td>
							<strong>エスカレーターののぼり</strong></td>
						<td>
							<strong>エスカレーターの<ruby>上<rp>(</rp>
									<rt>のぼ</rt>
									<rp>)</rp>
								</ruby>り</strong></td>
						<td>
							n</td>
						<td>
							thang cuốn đi lên</td>
					</tr>
					<tr>
						<td>
							<strong>エスカレーターのくだり</strong></td>
						<td>
							<strong>エスカレーターの<ruby>下<rp>(</rp>
									<rt>くだ</rt>
									<rp>)</rp>
								</ruby>り</strong></td>
						<td>
							n</td>
						<td>
							thang cuốn đi xuống</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>れっしゃのじこくをしらべる</strong></td>
							<td>
								<strong><ruby>列車<rp>(</rp>
										<rt>れっしゃ</rt>
										<rp>)</rp>
									</ruby>の<ruby>時刻<rp>(</rp>
										<rt>じこく</rt>
										<rp>)</rp>
									</ruby>を<ruby>調<rp>(</rp>
										<rt>しら</rt>
										<rp>)</rp>
									</ruby>べる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tìm kiếm giờ tàu chạy</td>
						</tr>
						<tr>
							<td>
								<strong>じこくひょう</strong></td>
							<td>
								<strong><ruby>時刻表<rp>(</rp>
										<rt>じこくひょう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								bảng giờ tàu chạy</td>
						</tr>
						<tr>
							<td>
								<strong>とうきょうはつよこはまい／ゆき</strong></td>
							<td>
								<strong><ruby>東京発<rp>(</rp>
										<rt>とうきょうはつ</rt>
										<rp>)</rp>
									</ruby><ruby>横浜<rp>(</rp>
										<rt>よこはま</rt>
										<rp>)</rp>
									</ruby><ruby>行<rp>(</rp>
										<rt>ゆ</rt>
										<rp>)</rp>
									</ruby>き</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tàu xuất phát ở Tokyo đi đến Yokohama</td>
						</tr>
						<tr>
							<td>
								<strong>してつ</strong></td>
							<td>
								<strong><ruby>私鉄<rp>(</rp>
										<rt>してつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								đường sắt tư nhân</td>
						</tr>
						<tr>
							<td>
								<strong>しんかんせん</strong></td>
							<td>
								<strong><ruby>新幹線<rp>(</rp>
										<rt>しんかんせん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								tàu siêu tốc Shinkansen</td>
						</tr>
						<tr>
							<td>
								<strong>ざせきをしていする</strong></td>
							<td>
								<strong><ruby>座席<rp>(</rp>
										<rt>ざせき</rt>
										<rp>)</rp>
									</ruby>を<ruby>指定<rp>(</rp>
										<rt>してい</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đặt ghế chỉ định</td>
						</tr>
						<tr>
							<td>
								<strong>していせき</strong></td>
							<td>
								<strong><ruby>指定席<rp>(</rp>
										<rt>していせき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								ghế chỉ định</td>
						</tr>
						<tr>
							<td>
								<strong>じゆうせき</strong></td>
							<td>
								<strong><ruby>自由席<rp>(</rp>
										<rt>じゆうせき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								ghế tự do</td>
						</tr>
						<tr>
							<td>
								<strong>まどがわ</strong></td>
							<td>
								<strong><ruby>窓側<rp>(</rp>
										<rt>まどがわ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hướng cửa sổ</td>
						</tr>
						<tr>
							<td>
								<strong>つうろがわ</strong></td>
							<td>
								<strong><ruby>通路側<rp>(</rp>
										<rt>つうろがわ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hướng về lối đi</td>
						</tr>
						<tr>
							<td>
								<strong>じょうしゃけん</strong></td>
							<td>
								<strong><ruby>乗車券<rp>(</rp>
										<rt>じょうしゃけん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé lên tàu</td>
						</tr>
						<tr>
							<td>
								<strong>かたみちきっぷ</strong></td>
							<td>
								<strong><ruby>片道<rp>(</rp>
										<rt>かたみち</rt>
										<rp>)</rp>
									</ruby><ruby>切符<rp>(</rp>
										<rt>きっぷ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé một chiều</td>
						</tr>
						<tr>
							<td>
								<strong>おうふくきっぷ</strong></td>
							<td>
								<strong><ruby>往復<rp>(</rp>
										<rt>おうふく</rt>
										<rp>)</rp>
									</ruby><ruby>切符<rp>(</rp>
										<rt>きっぷ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé khứ hồi</td>
						</tr>
						<tr>
							<td>
								<strong>とっきゅうけん</strong></td>
							<td>
								<strong><ruby>特急券<rp>(</rp>
										<rt>とっきゅうけん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé tàu tốc hành</td>
						</tr>
						<tr>
							<td>
								<strong>とっきゅうりょうきん</strong></td>
							<td>
								<strong><ruby>特急<rp>(</rp>
										<rt>とっきゅう</rt>
										<rp>)</rp>
									</ruby><ruby>料金<rp>(</rp>
										<rt>りょうきん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								cước tàu tốc hành</td>
						</tr>
						<tr>
							<td>
								<strong>かいすうけん</strong></td>
							<td>
								<strong><ruby>回数券<rp>(</rp>
										<rt>かいすうけん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé tập</td>
						</tr>
						<tr>
							<td>
								<strong>ていきけん</strong></td>
							<td>
								<strong><ruby>定期券<rp>(</rp>
										<rt>ていきけん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								vé định kỳ</td>
						</tr>
						<tr>
							<td>
								<strong>かいさつぐちをとおる</strong></td>
							<td>
								<strong><ruby>改札口<rp>(</rp>
										<rt>かいさつぐち</rt>
										<rp>)</rp>
									</ruby>を<ruby>通<rp>(</rp>
										<rt>とお</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								qua cổng soát vé</td>
						</tr>
						<tr>
							<td>
								<strong>きっぷをはらいもどす</strong></td>
							<td>
								<strong><ruby>切符<rp>(</rp>
										<rt>きっぷ</rt>
										<rp>)</rp>
									</ruby>を<ruby>払<rp>(</rp>
										<rt>はら</rt>
										<rp>)</rp>
									</ruby>い<ruby>戻<rp>(</rp>
										<rt>もど</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trả lại vé</td>
						</tr>
						<tr>
							<td>
								<strong>はらいもどし</strong></td>
							<td>
								<strong><ruby>払<rp>(</rp>
										<rt>はら</rt>
										<rp>)</rp>
									</ruby>い<ruby>戻<rp>(</rp>
										<rt>もど</rt>
										<rp>)</rp>
									</ruby>し</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hoàn trả (tiền, vé…)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>