<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>はながさく</strong></td>
						<td>
							<strong><ruby>花<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>が<ruby>咲<rp>(</rp>
									<rt>さ</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							hoa nở</td>
					</tr>
					<tr>
						<td>
							<strong>はながちる</strong></td>
						<td>
							<strong><ruby>花<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>が<ruby>散<rp>(</rp>
									<rt>ち</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							hoa rụng</td>
					</tr>
					<tr>
						<td>
							<strong>きがかれる</strong></td>
						<td>
							<strong><ruby>木<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>が<ruby>枯<rp>(</rp>
									<rt>か</rt>
									<rp>)</rp>
								</ruby>れる</strong></td>
						<td>
							v</td>
						<td>
							cây héo úa</td>
					</tr>
					<tr>
						<td>
							<strong>やまがくずれる</strong></td>
						<td>
							<strong><ruby>山<rp>(</rp>
									<rt>やま</rt>
									<rp>)</rp>
								</ruby>がくずれる</strong></td>
						<td>
							v</td>
						<td>
							lở núi</td>
					</tr>
					<tr>
						<td>
							<strong>けわしいやま</strong></td>
						<td>
							<strong><ruby>険<rp>(</rp>
									<rt>けわ</rt>
									<rp>)</rp>
								</ruby>しい<ruby>山<rp>(</rp>
									<rt>やま</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							núi dốc</td>
					</tr>
					<tr>
						<td>
							<strong>なだらかなさか</strong></td>
						<td>
							<strong>なだらかな<ruby>坂<rp>(</rp>
									<rt>さか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							dốc thoai thoải</td>
					</tr>
					<tr>
						<td>
							<strong>はこがつぶれる</strong></td>
						<td>
							<strong><ruby>箱<rp>(</rp>
									<rt>はこ</rt>
									<rp>)</rp>
								</ruby>がつぶれる</strong></td>
						<td>
							v</td>
						<td>
							cái hộp bị bẹp</td>
					</tr>
					<tr>
						<td>
							<strong>つぶす</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							nghiền; làm bẹp</td>
					</tr>
					<tr>
						<td>
							<strong>うく</strong></td>
						<td>
							<strong><ruby>浮<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							nổi; lơ lửng</td>
					</tr>
					<tr>
						<td>
							<strong>しずむ</strong></td>
						<td>
							<strong><ruby>沈<rp>(</rp>
									<rt>しず</rt>
									<rp>)</rp>
								</ruby>む</strong></td>
						<td>
							v</td>
						<td>
							chìm; đắm</td>
					</tr>
					<tr>
						<td>
							<strong>むしあつい</strong></td>
						<td>
							<strong><ruby>蒸<rp>(</rp>
									<rt>む</rt>
									<rp>)</rp>
								</ruby>し<ruby>暑<rp>(</rp>
									<rt>あつ</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							a-i</td>
						<td>
							nóng nực; oi bức</td>
					</tr>
					<tr>
						<td>
							<strong>くさる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							mục nát; thối rữa</td>
					</tr>
					<tr>
						<td>
							<strong>かびがはえる</strong></td>
						<td>
							<strong>かびが<ruby>生<rp>(</rp>
									<rt>は</rt>
									<rp>)</rp>
								</ruby>える</strong></td>
						<td>
							v</td>
						<td>
							nấm mốc</td>
					</tr>
					<tr>
						<td>
							<strong>へんなにおいがする</strong></td>
						<td>
							<strong><ruby>変<rp>(</rp>
									<rt>へん</rt>
									<rp>)</rp>
								</ruby>なにおいがする</strong></td>
						<td>
							v</td>
						<td>
							có mùi lạ</td>
					</tr>
					<tr>
						<td>
							<strong>におう</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							có mùi; bốc mùi</td>
					</tr>
					<tr>
						<td>
							<strong>きみがわるいいきもの</strong></td>
						<td>
							<strong><ruby>気味<rp>(</rp>
									<rt>きみ</rt>
									<rp>)</rp>
								</ruby>が<ruby>悪<rp>(</rp>
									<rt>わる</rt>
									<rp>)</rp>
								</ruby>い<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							sinh vật thấy sởn gai ốc</td>
					</tr>
					<tr>
						<td>
							<strong>きもち（が）わるいいきもの</strong></td>
						<td>
							<strong><ruby>気持<rp>(</rp>
									<rt>きも</rt>
									<rp>)</rp>
								</ruby>ち（が）<ruby>悪<rp>(</rp>
									<rt>わる</rt>
									<rp>)</rp>
								</ruby>い<ruby>物<rp>(</rp>
									<rt>もの</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							sinh vật thấy sởn gai ốc</td>
					</tr>
					<tr>
						<td>
							<strong>したしいゆうじん</strong></td>
						<td>
							<strong><ruby>親<rp>(</rp>
									<rt>した</rt>
									<rp>)</rp>
								</ruby>しい<ruby>友人<rp>(</rp>
									<rt>ゆうじん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							bạn thân</td>
					</tr>
					<tr>
						<td>
							<strong>しんゆう</strong></td>
						<td>
							<strong><ruby>親友<rp>(</rp>
									<rt>しんゆう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							bạn thân</td>
					</tr>
					<tr>
						<td>
							<strong>あやしいおとこ</strong></td>
						<td>
							<strong>あやしい<ruby>男<rp>(</rp>
									<rt>おとこ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							kẻ đáng ngờ</td>
					</tr>
					<tr>
						<td>
							<strong>おそろしいじけん</strong></td>
						<td>
							<strong><ruby>恐<rp>(</rp>
									<rt>おそ</rt>
									<rp>)</rp>
								</ruby>ろしい<ruby>事件<rp>(</rp>
									<rt>じけん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							vụ việc kinh khủng</td>
					</tr>
					<tr>
						<td>
							<strong>さびたほうちょう</strong></td>
						<td>
							<strong>さびた<ruby>包丁<rp>(</rp>
									<rt>ほうちょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con gao bị gỉ</td>
					</tr>
					<tr>
						<td>
							<strong>さびる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							bị gỉ</td>
					</tr>
					<tr>
						<td>
							<strong>するどい</strong></td>
						<td>
							<strong><ruby>鋭<rp>(</rp>
									<rt>するど</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							a-i</td>
						<td>
							sắc bén</td>
					</tr>
					<tr>
						<td>
							<strong>にぶい</strong></td>
						<td>
							<strong><ruby>鈍<rp>(</rp>
									<rt>にぶ</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							a-i</td>
						<td>
							cùn</td>
					</tr>
					<tr>
						<td>
							<strong>のろいくるま</strong></td>
						<td>
							<strong>のろい<ruby>車<rp>(</rp>
									<rt>くるま</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							xe chậm chạp</td>
					</tr>
					<tr>
						<td>
							<strong>あんぜんなばしょ</strong></td>
						<td>
							<strong><ruby>安全<rp>(</rp>
									<rt>あんぜん</rt>
									<rp>)</rp>
								</ruby>な<ruby>場所<rp>(</rp>
									<rt>ばしょ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							chỗ an toàn</td>
					</tr>
					<tr>
						<td>
							<strong>うすぐらいへや</strong></td>
						<td>
							<strong><ruby>薄暗<rp>(</rp>
									<rt>うすぐら</rt>
									<rp>)</rp>
								</ruby>い<ruby>部屋<rp>(</rp>
									<rt>へや</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							phòng âm u</td>
					</tr>
					<tr>
						<td>
							<strong>まぶしいあかり</strong></td>
						<td>
							<strong>まぶしい<ruby>明<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>かり</strong></td>
						<td>
							n</td>
						<td>
							ánh sáng rực rỡ</td>
					</tr>
					<tr>
						<td>
							<strong>くわしいせつめいしょ</strong></td>
						<td>
							<strong>くわしい<ruby>説明書<rp>(</rp>
									<rt>せつめいしょ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cuốn hướng dẫn cụ thể</td>
					</tr>
					<tr>
						<td>
							<strong>くわしくせつめいする</strong></td>
						<td>
							<strong>くわしく<ruby>説明<rp>(</rp>
									<rt>せつめい</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							giải thích tường tận</td>
					</tr>
					<tr>
						<td>
							<strong>くだらないしょうせつ</strong></td>
						<td>
							<strong>くだらない<ruby>小説<rp>(</rp>
									<rt>しょうせつ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tiểu thuyết tầm phào</td>
					</tr>
					<tr>
						<td>
							<strong>でたらめにこたえる</strong></td>
						<td>
							<strong>でたらめに<ruby>答<rp>(</rp>
									<rt>こた</rt>
									<rp>)</rp>
								</ruby>える</strong></td>
						<td>
							v</td>
						<td>
							trả lời linh tinh</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>