<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<strong>たなかさんとこうさいする</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>交際<rp>(</rp>
									<rt>こうさい</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							giao du với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんとつきあう</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>付<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>き<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>う</strong></td>
						<td>
							v</td>
						<td>
							kết giao với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんとけんかする</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんとけんかする</strong></td>
						<td>
							v</td>
						<td>
							cãi nhau với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんとなかなおりする</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>仲直<rp>(</rp>
									<rt>なかなお</rt>
									<rp>)</rp>
								</ruby>りする</strong></td>
						<td>
							v</td>
						<td>
							hòa giải với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんなかがいい</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>仲<rp>(</rp>
									<rt>なか</rt>
									<rp>)</rp>
								</ruby>がいい</strong></td>
						<td>
							v</td>
						<td>
							thân thiết với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんとなかよしだ</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>仲良<rp>(</rp>
									<rt>なかよ</rt>
									<rp>)</rp>
								</ruby>しだ</strong></td>
						<td>
							v</td>
						<td>
							có quan hệ tốt với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんをコンサートにさそう</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんをコンサートにさそう</strong></td>
						<td>
							v</td>
						<td>
							rủ anh Tanaka đi xem hòa nhạc</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんをいやがる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんをいやがる</strong></td>
						<td>
							v</td>
						<td>
							không ưa anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんをふる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんをふる</strong></td>
						<td>
							v</td>
						<td>
							không chơi với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさん（のこと）がきになる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さん（のこと）が<ruby>気<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>になる</strong></td>
						<td>
							v</td>
						<td>
							để ý anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさん（のこと）がすきになる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さん（のこと）が<ruby>好<rp>(</rp>
									<rt>す</rt>
									<rp>)</rp>
								</ruby>きになる</strong></td>
						<td>
							v</td>
						<td>
							thích anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさん（のこと）きらいになる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さん（のこと）がきらいになる</strong></td>
						<td>
							v</td>
						<td>
							ghét anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさん（のこと）がいやになる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さん（のこと）がいやになる</strong></td>
						<td>
							v</td>
						<td>
							không ưa anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさん（のこと）がうらやましい</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さん（のこと）がうらやましい</strong></td>
						<td>
							v</td>
						<td>
							ganh tỵ với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにすかれる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんに<ruby>好<rp>(</rp>
									<rt>す</rt>
									<rp>)</rp>
								</ruby>かれる</strong></td>
						<td>
							v</td>
						<td>
							được anh Tanaka yêu mến</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにきらわれる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんにきらわれる</strong></td>
						<td>
							v</td>
						<td>
							bị anh Tanaka ghét</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにいやがられる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんにいやがられる</strong></td>
						<td>
							v</td>
						<td>
							bị anh Tanaka không ưa</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにふられる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんにふられる</strong></td>
						<td>
							v</td>
						<td>
							bị anh Tanaka nghỉ chơi</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにきがある</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんに<ruby>気<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>がある</strong></td>
						<td>
							v</td>
						<td>
							thích anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにあこがれる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんにあこがれる</strong></td>
						<td>
							v</td>
						<td>
							ngưỡng mộ anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにむちゅうになる</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんに<ruby>夢中<rp>(</rp>
									<rt>むちゅう</rt>
									<rp>)</rp>
								</ruby>になる</strong></td>
						<td>
							v</td>
						<td>
							mê mệt anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんにこいをする</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんに<ruby>恋<rp>(</rp>
									<rt>こい</rt>
									<rp>)</rp>
								</ruby>をする</strong></td>
						<td>
							v</td>
						<td>
							yêu anh Tanaka</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>じょせいにもてる</strong></td>
							<td>
								<strong><ruby>女性<rp>(</rp>
										<rt>じょせい</rt>
										<rp>)</rp>
									</ruby>にもてる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								được các cô gái yêu thích</td>
						</tr>
						<tr>
							<td>
								<strong>（お）たがいにきにいる</strong></td>
							<td>
								<strong>（お）<ruby>互<rp>(</rp>
										<rt>たが</rt>
										<rp>)</rp>
									</ruby>いに<ruby>入<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cùng hài lòng</td>
						</tr>
						<tr>
							<td>
								<strong>あいてのよていをきく</strong></td>
							<td>
								<strong><ruby>相手<rp>(</rp>
										<rt>あいて</rt>
										<rp>)</rp>
									</ruby>の<ruby>予定<rp>(</rp>
										<rt>よてい</rt>
										<rp>)</rp>
									</ruby>を<ruby>聞<rp>(</rp>
										<rt>き</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hỏi về dự định của đối phương</td>
						</tr>
						<tr>
							<td>
								<strong>つごうをつける</strong></td>
							<td>
								<strong><ruby>都合<rp>(</rp>
										<rt>つごう</rt>
										<rp>)</rp>
									</ruby>をつける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								sắp xếp lịch trình cho thỏa đáng</td>
						</tr>
						<tr>
							<td>
								<strong>つごうがつく</strong></td>
							<td>
								<strong><ruby>都合<rp>(</rp>
										<rt>つごう</rt>
										<rp>)</rp>
									</ruby>がつく</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lịch trình được sắp xếp thỏa đáng</td>
						</tr>
						<tr>
							<td>
								<strong>つきあい</strong></td>
							<td>
								<strong><ruby>付<rp>(</rp>
										<rt>つ</rt>
										<rp>)</rp>
									</ruby>き<ruby>合<rp>(</rp>
										<rt>あ</rt>
										<rp>)</rp>
									</ruby>い</strong></td>
							<td>
								&nbsp;</td>
							<td>
								kết giao</td>
						</tr>
						<tr>
							<td>
								<strong>かいものにつきあう</strong></td>
							<td>
								<strong><ruby>買<rp>(</rp>
										<rt>か</rt>
										<rp>)</rp>
									</ruby>い<ruby>物<rp>(</rp>
										<rt>もの</rt>
										<rp>)</rp>
									</ruby>にう</strong></td>
							<td>
								&nbsp;</td>
							<td>
								mối quan hệ làm ăn, buôn bán</td>
						</tr>
						<tr>
							<td>
								<strong>こいびと</strong></td>
							<td>
								<strong><ruby>恋人<rp>(</rp>
										<rt>こいびと</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người yêu</td>
						</tr>
						<tr>
							<td>
								<strong>たなかさんのかれ</strong></td>
							<td>
								<strong><ruby>田中<rp>(</rp>
										<rt>たなか</rt>
										<rp>)</rp>
									</ruby>さんの<ruby>彼<rp>(</rp>
										<rt>かれ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người yêu của chị Tanaka</td>
						</tr>
						<tr>
							<td>
								<strong>たなかさんのかれし</strong></td>
							<td>
								<strong><ruby>田中<rp>(</rp>
										<rt>たなか</rt>
										<rp>)</rp>
									</ruby>さんの<ruby>彼氏<rp>(</rp>
										<rt>かれし</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người yêu của chị Tanaka</td>
						</tr>
						<tr>
							<td>
								<strong>かのじょ</strong></td>
							<td>
								<strong><ruby>彼女<rp>(</rp>
										<rt>かのじょ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								bạn gái</td>
						</tr>
						<tr>
							<td>
								<strong>けっこんをもうしこむ</strong></td>
							<td>
								<strong><ruby>結婚<rp>(</rp>
										<rt>けっこん</rt>
										<rp>)</rp>
									</ruby>を<ruby>申<rp>(</rp>
										<rt>もう</rt>
										<rp>)</rp>
									</ruby>し<ruby>込<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cầu hôn</td>
						</tr>
						<tr>
							<td>
								<strong>けっこんをことわる</strong></td>
							<td>
								<strong><ruby>結婚<rp>(</rp>
										<rt>けっこん</rt>
										<rp>)</rp>
									</ruby>を<ruby>断<rp>(</rp>
										<rt>ことわ</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								từ hôn</td>
						</tr>
						<tr>
							<td>
								<strong>あいまいなへんじをする</strong></td>
							<td>
								<strong>あいまいな<ruby>返事<rp>(</rp>
										<rt>へんじ</rt>
										<rp>)</rp>
									</ruby>をする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trả lời không rõ ràng</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>