<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>りそうのひとにであう</strong></td>
						<td>
							<strong><ruby>理想<rp>(</rp>
									<rt>りそう</rt>
									<rp>)</rp>
								</ruby>の<ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby>に<ruby>出会<rp>(</rp>
									<rt>であ</rt>
									<rp>)</rp>
								</ruby>う</strong></td>
						<td>
							&nbsp;</td>
						<td>
							tình cờ gặp người lý tưởng</td>
					</tr>
					<tr>
						<td>
							<strong>であい</strong></td>
						<td>
							<strong><ruby>出会<rp>(</rp>
									<rt>であ</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							&nbsp;</td>
						<td>
							tình cờ gặp</td>
					</tr>
					<tr>
						<td>
							<strong>きゃくをでむかえる</strong></td>
						<td>
							<strong><ruby>客<rp>(</rp>
									<rt>きゃく</rt>
									<rp>)</rp>
								</ruby>を<ruby>出迎<rp>(</rp>
									<rt>でむか</rt>
									<rp>)</rp>
								</ruby>える</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đón tiếp khách</td>
					</tr>
					<tr>
						<td>
							<strong>でむかえ</strong></td>
						<td>
							<strong><ruby>出迎<rp>(</rp>
									<rt>でむか</rt>
									<rp>)</rp>
								</ruby>え</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đi đón</td>
					</tr>
					<tr>
						<td>
							<strong>みおくる</strong></td>
						<td>
							<strong><ruby>見送<rp>(</rp>
									<rt>みおく</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đưa tiễn</td>
					</tr>
					<tr>
						<td>
							<strong>みおくり</strong></td>
						<td>
							<strong><ruby>見送<rp>(</rp>
									<rt>みおく</rt>
									<rp>)</rp>
								</ruby>り</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đưa tiễn</td>
					</tr>
					<tr>
						<td>
							<strong>そらをみあげる</strong></td>
						<td>
							<strong><ruby>空<rp>(</rp>
									<rt>そら</rt>
									<rp>)</rp>
								</ruby>を<ruby>見上<rp>(</rp>
									<rt>みあ</rt>
									<rp>)</rp>
								</ruby>げる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							ngước nhìn bầu trời</td>
					</tr>
					<tr>
						<td>
							<strong>とおりをみおろす</strong></td>
						<td>
							<strong><ruby>通<rp>(</rp>
									<rt>とお</rt>
									<rp>)</rp>
								</ruby>りを<ruby>見下<rp>(</rp>
									<rt>みお</rt>
									<rp>)</rp>
								</ruby>ろす</strong></td>
						<td>
							&nbsp;</td>
						<td>
							nhìn xuống đường</td>
					</tr>
					<tr>
						<td>
							<strong>きゅうにたちどまる</strong></td>
						<td>
							<strong><ruby>急<rp>(</rp>
									<rt>きゅう</rt>
									<rp>)</rp>
								</ruby>に<ruby>止<rp>(</rp>
									<rt>ど</rt>
									<rp>)</rp>
								</ruby>まる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đột ngột dừng lại</td>
					</tr>
					<tr>
						<td>
							<strong>ソファーからたちあがる</strong></td>
						<td>
							<strong>ソファーから<ruby>立<rp>(</rp>
									<rt>た</rt>
									<rp>)</rp>
								</ruby>ち<ruby>上<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>がる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đứng lên khỏi ghế sopha</td>
					</tr>
					<tr>
						<td>
							<strong>てらのまえをとおりかかる</strong></td>
						<td>
							<strong><ruby>寺<rp>(</rp>
									<rt>てら</rt>
									<rp>)</rp>
								</ruby>の<ruby>前<rp>(</rp>
									<rt>まえ</rt>
									<rp>)</rp>
								</ruby>を<ruby>通<rp>(</rp>
									<rt>とお</rt>
									<rp>)</rp>
								</ruby>りかかる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đi qua chùa</td>
					</tr>
					<tr>
						<td>
							<strong>ゆうびんきょくをとおりすぎる</strong></td>
						<td>
							<strong><ruby>郵便局<rp>(</rp>
									<rt>ゆうびんきょく</rt>
									<rp>)</rp>
								</ruby>を<ruby>通<rp>(</rp>
									<rt>とお</rt>
									<rp>)</rp>
								</ruby>り<ruby>過<rp>(</rp>
									<rt>す</rt>
									<rp>)</rp>
								</ruby>ぎる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đi ngang qua bưu điện</td>
					</tr>
					<tr>
						<td>
							<strong>となりのひとにはなしかける</strong></td>
						<td>
							<strong><ruby>隣<rp>(</rp>
									<rt>となり</rt>
									<rp>)</rp>
								</ruby>の<ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby>に<ruby>話<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>しかける</strong></td>
						<td>
							&nbsp;</td>
						<td>
							bắt chuyện với người bên cạnh</td>
					</tr>
					<tr>
						<td>
							<strong>たなかさんとはなしあう</strong></td>
						<td>
							<strong><ruby>田中<rp>(</rp>
									<rt>たなか</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>話<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>し<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>う</strong></td>
						<td>
							&nbsp;</td>
						<td>
							bàn bạc với anh Tanaka</td>
					</tr>
					<tr>
						<td>
							<strong>はなしあい</strong></td>
						<td>
							<strong><ruby>話<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>し<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							&nbsp;</td>
						<td>
							bàn bạc</td>
					</tr>
					<tr>
						<td>
							<strong>なかむらさんとしりあう</strong></td>
						<td>
							<strong><ruby>中村<rp>(</rp>
									<rt>なかむら</rt>
									<rp>)</rp>
								</ruby>さんと<ruby>知<rp>(</rp>
									<rt>し</rt>
									<rp>)</rp>
								</ruby>り<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>う</strong></td>
						<td>
							&nbsp;</td>
						<td>
							biết anh Nakamura</td>
					</tr>
					<tr>
						<td>
							<strong>しりあい</strong></td>
						<td>
							<strong><ruby>知<rp>(</rp>
									<rt>し</rt>
									<rp>)</rp>
								</ruby>り<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							&nbsp;</td>
						<td>
							người quen</td>
					</tr>
					<tr>
						<td>
							<strong>えきでまちあわせる</strong></td>
						<td>
							<strong><ruby>駅<rp>(</rp>
									<rt>えき</rt>
									<rp>)</rp>
								</ruby>で<ruby>待<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>ち<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>わせる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hẹn gặp ở ga</td>
					</tr>
					<tr>
						<td>
							<strong>まちあわせ</strong></td>
						<td>
							<strong><ruby>待<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>ち<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>わせ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hẹn gặp</td>
					</tr>
					<tr>
						<td>
							<strong>でんわでといあわせる</strong></td>
						<td>
							<strong><ruby>電話<rp>(</rp>
									<rt>でんわ</rt>
									<rp>)</rp>
								</ruby>で<ruby>問<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>い<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>わせる</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hỏi thăm qua điện thoại</td>
					</tr>
					<tr>
						<td>
							<strong>といあわせ</strong></td>
						<td>
							<strong><ruby>問<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>い<ruby>合<rp>(</rp>
									<rt>あ</rt>
									<rp>)</rp>
								</ruby>わせ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							thẩm vấn</td>
					</tr>
					<tr>
						<td>
							<strong>りょこうがいしゃにもうしこむ</strong></td>
						<td>
							<strong><ruby>旅行<rp>(</rp>
									<rt>りょこう</rt>
									<rp>)</rp>
								</ruby><ruby>会社<rp>(</rp>
									<rt>がいしゃ</rt>
									<rp>)</rp>
								</ruby>に<ruby>申<rp>(</rp>
									<rt>もう</rt>
									<rp>)</rp>
								</ruby>し<ruby>込<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>む</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đặt chỗ du lịch cả công ty</td>
					</tr>
					<tr>
						<td>
							<strong>もうしこみ</strong></td>
						<td>
							<strong><ruby>申<rp>(</rp>
									<rt>もう</rt>
									<rp>)</rp>
								</ruby>し<ruby>込<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>み</strong></td>
						<td>
							&nbsp;</td>
						<td>
							đơn xin</td>
					</tr>
					<tr>
						<td>
							<strong>もうしこみをしめきる</strong></td>
						<td>
							<strong><ruby>申<rp>(</rp>
									<rt>もう</rt>
									<rp>)</rp>
								</ruby>し<ruby>込<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>みを<ruby>締<rp>(</rp>
									<rt>し</rt>
									<rp>)</rp>
								</ruby>め<ruby>切<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hết hạn đăng ký</td>
					</tr>
					<tr>
						<td>
							<strong>しめきり</strong></td>
						<td>
							<strong><ruby>締<rp>(</rp>
									<rt>し</rt>
									<rp>)</rp>
								</ruby>め<ruby>切<rp>(</rp>
									<rt>き</rt>
									<rp>)</rp>
								</ruby>り</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hạn cuối</td>
					</tr>
					<tr>
						<td>
							<strong>もうしこみをうけつける</strong></td>
						<td>
							<strong><ruby>申<rp>(</rp>
									<rt>もう</rt>
									<rp>)</rp>
								</ruby>し<ruby>込<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>みを<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>け<ruby>付<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							&nbsp;</td>
						<td>
							chấp nhận đơn</td>
					</tr>
					<tr>
						<td>
							<strong>うけつけ</strong></td>
						<td>
							<strong><ruby>受付<rp>(</rp>
									<rt>うけつけ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							&nbsp;</td>
						<td>
							quầy lễ tân</td>
					</tr>
					<tr>
						<td>
							<strong>にもつをうけとる</strong></td>
						<td>
							<strong><ruby>荷物<rp>(</rp>
									<rt>にもつ</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>け<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							&nbsp;</td>
						<td>
							nhận lấy hành lý</td>
					</tr>
					<tr>
						<td>
							<strong>うけとり</strong></td>
						<td>
							<strong><ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>け<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>り</strong></td>
						<td>
							&nbsp;</td>
						<td>
							biên nhận; biên lai</td>
					</tr>
					<tr>
						<td>
							<strong>でんちをとりかえる</strong></td>
						<td>
							<strong><ruby>電池<rp>(</rp>
									<rt>でんち</rt>
									<rp>)</rp>
								</ruby>を<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>り<ruby>替<rp>(</rp>
									<rt>か</rt>
									<rp>)</rp>
								</ruby>える</strong></td>
						<td>
							&nbsp;</td>
						<td>
							thay pin</td>
					</tr>
					<tr>
						<td>
							<strong>よやくをとりけす</strong></td>
						<td>
							<strong><ruby>予約<rp>(</rp>
									<rt>よやく</rt>
									<rp>)</rp>
								</ruby>を<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>り<ruby>消<rp>(</rp>
									<rt>け</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							&nbsp;</td>
						<td>
							hủy cuộc hẹn</td>
					</tr>
					<tr>
						<td>
							<strong>とりけし</strong></td>
						<td>
							<strong><ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>り<ruby>消<rp>(</rp>
									<rt>け</rt>
									<rp>)</rp>
								</ruby>し</strong></td>
						<td>
							&nbsp;</td>
						<td>
							loại bỏ</td>
					</tr>
					<tr>
						<td>
							<strong>CDをとりだす</strong></td>
						<td>
							<strong>CDを<ruby>取<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>り<ruby>出<rp>(</rp>
									<rt>だ</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							&nbsp;</td>
						<td>
							rút CD ra</td>
					</tr>
					<tr>
						<td>
							<strong>こどもがとびだす</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもが<ruby>出<rp>(</rp>
									<rt>だ</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							&nbsp;</td>
						<td>
							trẻ con chạy ra; nhảy ra</td>
					</tr>
					<tr>
						<td>
							<strong>プールにとびこむ</strong></td>
						<td>
							<strong>プールに<ruby>飛<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>び<ruby>込<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>む</strong></td>
						<td>
							&nbsp;</td>
						<td>
							nhảy vào hồ bơi</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>