<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>せんたくものがたまる</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>がたまる</strong></td>
						<td>
							v</td>
						<td>
							đầy đồ cần giặt</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものがぬれている</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>がぬれている</strong></td>
						<td>
							v</td>
						<td>
							đồ ướt (quần áo)</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものがしめっている</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>が<ruby>湿<rp>(</rp>
									<rt>しめ</rt>
									<rp>)</rp>
								</ruby>っている</strong></td>
						<td>
							v</td>
						<td>
							đồ ẩm ướt</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものがかわく</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>が<ruby>乾<rp>(</rp>
									<rt>かわ</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							đồ khô</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものがまっしろにしあがる</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>が<ruby>真<rp>(</rp>
									<rt>ま</rt>
									<rp>)</rp>
								</ruby>っ<ruby>白<rp>(</rp>
									<rt>しろ</rt>
									<rp>)</rp>
								</ruby>に<ruby>仕上<rp>(</rp>
									<rt>しあ</rt>
									<rp>)</rp>
								</ruby>がる</strong></td>
						<td>
							v</td>
						<td>
							đồ trắng tinh</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものをためる</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>をためる</strong></td>
						<td>
							v</td>
						<td>
							chất đống đồ cần giặt</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものをぬらす</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>をぬらす</strong></td>
						<td>
							v</td>
						<td>
							làm ướt đồ</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものをほす</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>を<ruby>干<rp>(</rp>
									<rt>ほ</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							v</td>
						<td>
							phơi quần áo</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものをかんそうきでかわかす</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>を<ruby>乾燥機<rp>(</rp>
									<rt>かんそうき</rt>
									<rp>)</rp>
								</ruby>で<ruby>乾<rp>(</rp>
									<rt>かわ</rt>
									<rp>)</rp>
								</ruby>かす</strong></td>
						<td>
							v</td>
						<td>
							làm khô quần áo bằng máy sấy</td>
					</tr>
					<tr>
						<td>
							<strong>せんたくものをたたむ</strong></td>
						<td>
							<strong><ruby>洗濯物<rp>(</rp>
									<rt>せんたくもの</rt>
									<rp>)</rp>
								</ruby>をたたむ</strong></td>
						<td>
							v</td>
						<td>
							xếp quần áo</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>ふくをよごす</strong></td>
							<td>
								<strong><ruby>服<rp>(</rp>
										<rt>ふく</rt>
										<rp>)</rp>
									</ruby>を<ruby>汚<rp>(</rp>
										<rt>よご</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								làm dơ đồ</td>
						</tr>
						<tr>
							<td>
								<strong>そでがまっくろによごれる</strong></td>
							<td>
								<strong>そでが<ruby>真<rp>(</rp>
										<rt>ま</rt>
										<rp>)</rp>
									</ruby>っ<ruby>黒<rp>(</rp>
										<rt>くろ</rt>
										<rp>)</rp>
									</ruby>に<ruby>汚<rp>(</rp>
										<rt>よご</rt>
										<rp>)</rp>
									</ruby>れる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tay áo bị vấy bẩn đen thui</td>
						</tr>
						<tr>
							<td>
								<strong>（せんたくよう）せんざいをいれる</strong></td>
							<td>
								<strong>（<ruby>洗濯用<rp>(</rp>
										<rt>せんたくよう</rt>
										<rp>)</rp>
									</ruby>）<ruby>洗剤<rp>(</rp>
										<rt>せんざい</rt>
										<rp>)</rp>
									</ruby>を<ruby>入<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>れる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cho bột giặt vào</td>
						</tr>
						<tr>
							<td>
								<strong>（だいどころよう）せんざい）</strong></td>
							<td>
								<strong>（<ruby>台所用<rp>(</rp>
										<rt>だいどころよう</rt>
										<rp>)</rp>
									</ruby>）<ruby>洗剤<rp>(</rp>
										<rt>せんざい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								chất tẩy rửa</td>
						</tr>
						<tr>
							<td>
								<strong>スーツをクリーニングにだす</strong></td>
							<td>
								<strong>スーツをクリーニングに<ruby>出<rp>(</rp>
										<rt>だ</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi áo vét đến tiệm giặt ủi</td>
						</tr>
						<tr>
							<td>
								<strong>コインランドリーでせんたくをする</strong></td>
							<td>
								<strong>コインランドリーで<ruby>洗濯<rp>(</rp>
										<rt>せんたく</rt>
										<rp>)</rp>
									</ruby>をする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								giặt đồ ở hiệu giặt tự động</td>
						</tr>
						<tr>
							<td>
								<strong>タオルをほす</strong></td>
							<td>
								<strong>タオルを<ruby>干<rp>(</rp>
										<rt>ほ</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								phơi khăn</td>
						</tr>
						<tr>
							<td>
								<strong>ふくをつるす</strong></td>
							<td>
								<strong><ruby>服<rp>(</rp>
										<rt>ふく</rt>
										<rp>)</rp>
									</ruby>をつるす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								treo đồ lên</td>
						</tr>
						<tr>
							<td>
								<strong>ワイシャツにアイロンをかける</strong></td>
							<td>
							</td>
							<td>
								&nbsp;</td>
							<td>
								ủi áo sơ mi</td>
						</tr>
						<tr>
							<td>
								<strong>しわをのばす</strong></td>
							<td>
								<strong>しわを<ruby>伸<rp>(</rp>
										<rt>の</rt>
										<rp>)</rp>
									</ruby>ばす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								làm thẳng nếp gấp</td>
						</tr>
						<tr>
							<td>
								<strong>しわがのびる</strong></td>
							<td>
								<strong>しわが<ruby>伸<rp>(</rp>
										<rt>の</rt>
										<rp>)</rp>
									</ruby>びる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								nếp gấp thẳng ra</td>
						</tr>
						<tr>
							<td>
								<strong>ウールのセーターがちぢむ</strong></td>
							<td>
								<strong>ウールのセーターが<ruby>縮<rp>(</rp>
										<rt>ちぢ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								&nbsp;</td>
							<td>
								áo len co lại</td>
						</tr>
						<tr>
							<td>
								<strong>ジーンズのいろがおちる</strong></td>
							<td>
								<strong>ジーンズの<ruby>色<rp>(</rp>
										<rt>いろ</rt>
										<rp>)</rp>
									</ruby>が<ruby>落<rp>(</rp>
										<rt>お</rt>
										<rp>)</rp>
									</ruby>ちる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								quần jean phai màu</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>