<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>いっさくじつ</strong></td>
						<td>
							<strong><ruby>一昨日<rp>(</rp>
									<rt>いっさくじつ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							hôm kia</td>
					</tr>
					<tr>
						<td>
							<strong>さくじつ</strong></td>
						<td>
							<strong><ruby>昨日<rp>(</rp>
									<rt>きのう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							hôm qua</td>
					</tr>
					<tr>
						<td>
							<strong>あす</strong></td>
						<td>
							<strong><ruby>明日<rp>(</rp>
									<rt>あした</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							ngày mai</td>
					</tr>
					<tr>
						<td>
							<strong>さきおととい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							hôm kìa</td>
					</tr>
					<tr>
						<td>
							<strong>しあさって</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							ngày kìa; 3 ngày sau</td>
					</tr>
					<tr>
						<td>
							<strong>あさって</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							ngày mốt</td>
					</tr>
					<tr>
						<td>
							<strong>がんじつ</strong></td>
						<td>
							<strong><ruby>元日<rp>(</rp>
									<rt>がんじつ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							mùng một Tết</td>
					</tr>
					<tr>
						<td>
							<strong>がんたん</strong></td>
						<td>
							<strong><ruby>元旦<rp>(</rp>
									<rt>がんたん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							mùng một Tết</td>
					</tr>
					<tr>
						<td>
							<strong>じょうじゅん</strong></td>
						<td>
							<strong><ruby>上旬<rp>(</rp>
									<rt>じょうじゅん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							10 ngày đầu của tháng</td>
					</tr>
					<tr>
						<td>
							<strong>しょじゅん</strong></td>
						<td>
							<strong><ruby>初旬<rp>(</rp>
									<rt>しょじゅん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							10 ngày đầu của tháng</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうじゅん</strong></td>
						<td>
							<strong><ruby>中旬<rp>(</rp>
									<rt>ちゅうじゅん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							10 ngày giữa một tháng</td>
					</tr>
					<tr>
						<td>
							<strong>げじゅん</strong></td>
						<td>
							<strong><ruby>下旬<rp>(</rp>
									<rt>げじゅん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							10 ngày cuối một tháng</td>
					</tr>
					<tr>
						<td>
							<strong>げつまつ</strong></td>
						<td>
							<strong><ruby>月末<rp>(</rp>
									<rt>げつまつ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cuối tháng</td>
					</tr>
				</tbody>
			</table>
			<span style="color:#ff0000;">
				<span style="font-size: 22px;">
					<strong>もっとおぼえましょう!</strong>
				</span>
			</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>へいじつ</strong></td>
							<td>
								<strong><ruby>平日<rp>(</rp>
										<rt>へいじつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								ngày thường (thứ 2 đến thứ 6)</td>
						</tr>
						<tr>
							<td>
								<strong>しゅくじつ</strong></td>
							<td>
								<strong><ruby>祝日<rp>(</rp>
										<rt>しゅくじつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								ngày lễ</td>
						</tr>
						<tr>
							<td>
								<strong>さいじつ</strong></td>
							<td>
								<strong><ruby>祭日<rp>(</rp>
										<rt>さいじつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								ngày lễ</td>
						</tr>
						<tr>
							<td>
								<strong>さくねん</strong></td>
							<td>
								<strong><ruby>昨年<rp>(</rp>
										<rt>さくねん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								năm trước</td>
						</tr>
						<tr>
							<td>
								<strong>いっさくねん</strong></td>
							<td>
								<strong><ruby>一昨年<rp>(</rp>
										<rt>いっさくねん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								năm kia</td>
						</tr>
						<tr>
							<td>
								<strong>さらいねん</strong></td>
							<td>
								<strong><ruby>再来年<rp>(</rp>
										<rt>さらいねん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hai năm nữa</td>
						</tr>
						<tr>
							<td>
								<strong>せんせんげつ</strong></td>
							<td>
								<strong><ruby>先<rp>(</rp>
										<rt>さき</rt>
										<rp>)</rp>
									</ruby>々<ruby>月<rp>(</rp>
										<rt>つき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hai tháng trước</td>
						</tr>
						<tr>
							<td>
								<strong>せんせんしゅう</strong></td>
							<td>
								<strong><ruby>先<rp>(</rp>
										<rt>さき</rt>
										<rp>)</rp>
									</ruby>々<ruby>週<rp>(</rp>
										<rt>しゅう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hai tuần trước</td>
						</tr>
						<tr>
							<td>
								<strong>さらいげつ</strong></td>
							<td>
								<strong><ruby>再来月<rp>(</rp>
										<rt>さらいげつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hai tháng sau</td>
						</tr>
						<tr>
							<td>
								<strong>さらいしゅう</strong></td>
							<td>
								<strong><ruby>再来週<rp>(</rp>
										<rt>さらいしゅう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hai tuần sau</td>
						</tr>
						<tr>
							<td>
								<strong>せんじつ</strong></td>
							<td>
								<strong><ruby>先日<rp>(</rp>
										<rt>せんじつ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								hôm trước</td>
						</tr>
						<tr>
							<td>
								<strong>ねんまつねんし</strong></td>
							<td>
								<strong><ruby>年末<rp>(</rp>
										<rt>ねんまつ</rt>
										<rp>)</rp>
									</ruby><ruby>年始<rp>(</rp>
										<rt>ねんし</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								đầu năm cuối năm</td>
						</tr>
						<tr>
							<td>
								<strong>くれ</strong></td>
							<td>
								<strong><ruby>暮<rp>(</rp>
										<rt>く</rt>
										<rp>)</rp>
									</ruby>れ</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cuối năm</td>
						</tr>
						<tr>
							<td>
								<strong>きゅうかをとる</strong></td>
							<td>
								<strong><ruby>休暇<rp>(</rp>
										<rt>きゅうか</rt>
										<rp>)</rp>
									</ruby>を<ruby>取<rp>(</rp>
										<rt>と</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lấy phép</td>
						</tr>
						<tr>
							<td>
								<strong>よていをちょうせいする</strong></td>
							<td>
								<strong><ruby>予定<rp>(</rp>
										<rt>よてい</rt>
										<rp>)</rp>
									</ruby>を<ruby>調整<rp>(</rp>
										<rt>ちょうせい</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								điều chỉnh kế hoạch</td>
						</tr>
						<tr>
							<td>
								<strong>よていをへんこうする</strong></td>
							<td>
								<strong><ruby>予定<rp>(</rp>
										<rt>よてい</rt>
										<rp>)</rp>
									</ruby>を<ruby>変更<rp>(</rp>
										<rt>へんこう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thay đổi kế hoạch</td>
						</tr>
						<tr>
							<td>
								<strong>よていをずらす</strong></td>
							<td>
								<strong><ruby>予定<rp>(</rp>
										<rt>よてい</rt>
										<rp>)</rp>
									</ruby>をずらす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hoãn, kéo dài kế hoạch</td>
						</tr>
						<tr>
							<td>
								<strong>ひにちをちょうせいする</strong></td>
							<td>
								<strong><ruby>日<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>にちを<ruby>調整<rp>(</rp>
										<rt>ちょうせい</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								điều chỉnh ngày tháng</td>
						</tr>
						<tr>
							<td>
								<strong>ひにちをへんこうする</strong></td>
							<td>
								<strong><ruby>日<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>にちを<ruby>変更<rp>(</rp>
										<rt>へんこう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thay đổi ngày tháng</td>
						</tr>
						<tr>
							<td>
								<strong>ひにちをずらす</strong></td>
							<td>
								<strong><ruby>日<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>にちをずらす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hoãn ngày lại</td>
						</tr>
						<tr>
							<td>
								<strong>にっていをちょうせいする</strong></td>
							<td>
								<strong><ruby>日程<rp>(</rp>
										<rt>にってい</rt>
										<rp>)</rp>
									</ruby>を<ruby>調整<rp>(</rp>
										<rt>ちょうせい</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								điều chỉnh lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>にっていをへんこうする</strong></td>
							<td>
								<strong><ruby>日程<rp>(</rp>
										<rt>にってい</rt>
										<rp>)</rp>
									</ruby>を<ruby>変更<rp>(</rp>
										<rt>へんこう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thay đổi lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>にっていをずらす</strong></td>
							<td>
								<strong><ruby>日程<rp>(</rp>
										<rt>にってい</rt>
										<rp>)</rp>
									</ruby>をずらす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hoãn lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>スケジュールをちょうせいする</strong></td>
							<td>
								<strong>スケジュールを<ruby>調整<rp>(</rp>
										<rt>ちょうせい</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								điều chỉnh lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>スケジュールをへんこうする</strong></td>
							<td>
								<strong>スケジュールを<ruby>変更<rp>(</rp>
										<rt>へんこう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thay đổi lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>スケジュールをずらす</strong></td>
							<td>
								<strong>スケジュールをずらす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hoãn lịch trình</td>
						</tr>
						<tr>
							<td>
								<strong>りょこうがいしゃにもうしこむ</strong></td>
							<td>
								<strong><ruby>旅行<rp>(</rp>
										<rt>りょこう</rt>
										<rp>)</rp>
									</ruby><ruby>会社<rp>(</rp>
										<rt>がいしゃ</rt>
										<rp>)</rp>
									</ruby>に<ruby>申<rp>(</rp>
										<rt>もう</rt>
										<rp>)</rp>
									</ruby>し<ruby>込<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đăng ký du lịch cả công ty</td>
						</tr>
						<tr>
							<td>
								<strong>よやくをとりけす</strong></td>
							<td>
								<strong><ruby>予約<rp>(</rp>
										<rt>よやく</rt>
										<rp>)</rp>
									</ruby>を<ruby>取<rp>(</rp>
										<rt>と</rt>
										<rp>)</rp>
									</ruby>り<ruby>消<rp>(</rp>
										<rt>け</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hủy việc đặt trước</td>
						</tr>
						<tr>
							<td>
								<strong>よやくをキャンセルする</strong></td>
							<td>
								<strong><ruby>予約<rp>(</rp>
										<rt>よやく</rt>
										<rp>)</rp>
									</ruby>をキャンセルする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								hủy việc đặt trước</td>
						</tr>
						<tr>
							<td>
								<strong>にもつをつめる</strong></td>
							<td>
								<strong><ruby>荷物<rp>(</rp>
										<rt>にもつ</rt>
										<rp>)</rp>
									</ruby>をつめる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đóng hành lý</td>
						</tr>
						<tr>
							<td>
								<strong>かいがいりょこう</strong></td>
							<td>
								<strong><ruby>海外旅行<rp>(</rp>
										<rt>かいがいりょこう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								du lịch nước ngoài</td>
						</tr>
						<tr>
							<td>
								<strong>こくないりょこう</strong></td>
							<td>
								<strong><ruby>国内<rp>(</rp>
										<rt>こくない</rt>
										<rp>)</rp>
									</ruby><ruby>旅行<rp>(</rp>
										<rt>りょこう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								du lịch trong nước</td>
						</tr>
						<tr>
							<td>
								<strong>にはくみっかでおんせんにいく</strong></td>
							<td>
								<strong><ruby>二泊<rp>(</rp>
										<rt>にはく</rt>
										<rp>)</rp>
									</ruby><ruby>三日<rp>(</rp>
										<rt>みっか</rt>
										<rp>)</rp>
									</ruby>で<ruby>温泉<rp>(</rp>
										<rt>おんせん</rt>
										<rp>)</rp>
									</ruby>に<ruby>行<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đi suối nước nóng 2 đêm 3 ngày</td>
						</tr>
						<tr>
							<td>
								<strong>ひがえりでおんせんにいく</strong></td>
							<td>
								<strong><ruby>日帰<rp>(</rp>
										<rt>ひがえ</rt>
										<rp>)</rp>
									</ruby>りで<ruby>温泉<rp>(</rp>
										<rt>おんせん</rt>
										<rp>)</rp>
									</ruby>に<ruby>行<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đi suối nước nóng trong ngày</td>
						</tr>
						<tr>
							<td>
								<strong>りょかんにしゅくはくする</strong></td>
							<td>
								<strong><ruby>旅館<rp>(</rp>
										<rt>りょかん</rt>
										<rp>)</rp>
									</ruby>に<ruby>宿泊<rp>(</rp>
										<rt>しゅくはく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lưu trú tại lữ quán</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>