<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>かわいらしいこども</strong></td>
						<td>
							<strong>かわいらしい<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ đáng yêu</td>
					</tr>
					<tr>
						<td>
							<strong>かわいそうなこども</strong></td>
						<td>
							<strong>かわいそうな<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ tội nghiệp</td>
					</tr>
					<tr>
						<td>
							<p>
								<strong>ぎょうぎがいいこども</strong></p>
						</td>
						<td>

							<strong><ruby>行儀<rp>(</rp>
									<rt>ぎょうぎ</rt>
									<rp>)</rp>
								</ruby>がいい<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ lễ phép</td>
					</tr>
					<tr>
						<td>
							<strong>りこうなこども</strong></td>
						<td>
							<strong><ruby>利口<rp>(</rp>
									<rt>りこう</rt>
									<rp>)</rp>
								</ruby>な<ruby>子供<rp>(</rp>
									<rt>こども</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ lanh lợi</td>
					</tr>
					<tr>
						<td>
							<strong>かしこいこども</strong></td>
						<td>
							<strong>かしこい<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ khôn ngoan</td>
					</tr>
					<tr>
						<td>
							<strong>ひとなつこいこども</strong></td>
						<td>
							<strong><ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby>なつ（っ）こい<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ hòa đồng</td>
					</tr>
					<tr>
						<td>
							<strong>かわいらしいいぬ</strong></td>
						<td>
							<strong>かわいらしい<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó đáng yêu</td>
					</tr>
					<tr>
						<td>
							<strong>かわいそうないぬ</strong></td>
						<td>
							<strong>かわいそうな<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó tội nghiệp</td>
					</tr>
					<tr>
						<td>
							<strong>ぎょうぎがいいいぬ</strong></td>
						<td>
							<strong><ruby>行儀<rp>(</rp>
									<rt>ぎょうぎ</rt>
									<rp>)</rp>
								</ruby>がいい<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó hiền lành</td>
					</tr>
					<tr>
						<td>
							<strong>りこうないぬ</strong></td>
						<td>
							<strong><ruby>利口<rp>(</rp>
									<rt>りこう</rt>
									<rp>)</rp>
								</ruby>な<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó lanh lợi</td>
					</tr>
					<tr>
						<td>
							<strong>かしこいいぬ</strong></td>
						<td>
							<strong>かしこい<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó khôn ngoan</td>
					</tr>
					<tr>
						<td>
							<strong>ひとなつ（っ）こいいぬ</strong></td>
						<td>
							<strong><ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby>なつ（っ）こい<ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con chó hòa nhã</td>
					</tr>
					<tr>
						<td>
							<strong>わがままなこども</strong></td>
						<td>
							<strong>わがままな<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ ích kỷ</td>
					</tr>
					<tr>
						<td>
							<strong>なまいきなこども</strong></td>
						<td>
							<strong><ruby>生意気<rp>(</rp>
									<rt>なまいき</rt>
									<rp>)</rp>
								</ruby>な<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>ども</strong></td>
						<td>
							n</td>
						<td>
							đứa trẻ xấc xược</td>
					</tr>
					<tr>
						<td>
							<strong>なまいきなたいど</strong></td>
						<td>
							<strong><ruby>生意気<rp>(</rp>
									<rt>なまいき</rt>
									<rp>)</rp>
								</ruby>な<ruby>態度<rp>(</rp>
									<rt>たいど</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							thái độ xấc xược</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをあまやかす</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもを<ruby>甘<rp>(</rp>
									<rt>あま</rt>
									<rp>)</rp>
								</ruby>やかす</strong></td>
						<td>
							v</td>
						<td>
							nuông chiều con</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをかわいがる</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもをかわいがる</strong></td>
						<td>
							v</td>
						<td>
							yêu thương con</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをおんぶする</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもをおんぶする</strong></td>
						<td>
							v</td>
						<td>
							cõng con</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをだっこする</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもをする</strong></td>
						<td>
							v</td>
						<td>
							bế con</td>
					</tr>
					<tr>
						<td>
							<strong>こどもをうでにだく</strong></td>
						<td>
							<strong><ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>どもを<ruby>腕<rp>(</rp>
									<rt>うで</rt>
									<rp>)</rp>
								</ruby>に<ruby>抱<rp>(</rp>
									<rt>だ</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							bế con</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがほえる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>がほえる</strong></td>
						<td>
							v</td>
						<td>
							chó sủa</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがしっぽをふる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>がしっぽを<ruby>振<rp>(</rp>
									<rt>ふ</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							chó vẫy đuôi</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがひとになれる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>が<ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby>になれる</strong></td>
						<td>
							v</td>
						<td>
							chó quen (thân thiện) người</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがうなる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>がうなる</strong></td>
						<td>
							v</td>
						<td>
							chó gầm gừ</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがあなをほる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>が<ruby>穴<rp>(</rp>
									<rt>あな</rt>
									<rp>)</rp>
								</ruby>をほる</strong></td>
						<td>
							v</td>
						<td>
							chó đào lỗ</td>
					</tr>
					<tr>
						<td>
							<strong>いぬがあなをうめる</strong></td>
						<td>
							<strong><ruby>犬<rp>(</rp>
									<rt>いぬ</rt>
									<rp>)</rp>
								</ruby>が<ruby>穴<rp>(</rp>
									<rt>あな</rt>
									<rp>)</rp>
								</ruby>をうめる</strong></td>
						<td>
							v</td>
						<td>
							chó lấp lỗ</td>
					</tr>
				</tbody>
			</table>
			<span style="color:#ff0000;">
				<span style="font-size: 22px;">
					<strong>もっとおぼえましょう!</strong>
				</span>
			</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>いくじ</strong></td>
							<td>
								<strong><ruby>育児<rp>(</rp>
										<rt>いくじ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
							</td>
							<td>
								chăm sóc trẻ</td>
						</tr>
						<tr>
							<td>
								<strong>こそだて</strong></td>
							<td>
								<strong><ruby>子育<rp>(</rp>
										<rt>こそだ</rt>
										<rp>)</rp>
									</ruby>て</strong></td>
							<td>
							</td>
							<td>
								chăm sóc trẻ</td>
						</tr>
						<tr>
							<td>
								<strong>ようじ</strong></td>
							<td>
								<strong><ruby>幼児<rp>(</rp>
										<rt>ようじ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
							</td>
							<td>
								trẻ con; đứa trẻ</td>
						</tr>
						<tr>
							<td>
								<strong>おさないこども</strong></td>
							<td>
								<strong><ruby>幼<rp>(</rp>
										<rt>おさな</rt>
										<rp>)</rp>
									</ruby>い<ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>ども</strong></td>
							<td>
							</td>
							<td>
								trẻ con; đứa trẻ</td>
						</tr>
						<tr>
							<td>
								<strong>こどもがせいちょうする</strong></td>
							<td>
								<strong><ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>どもが<ruby>成長<rp>(</rp>
										<rt>せいちょう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
							</td>
							<td>
								đứa trẻ lớn dần</td>
						</tr>
						<tr>
							<td>
								<strong>わがままにそだつ</strong></td>
							<td>
								<strong>わがままに<ruby>育<rp>(</rp>
										<rt>そだ</rt>
										<rp>)</rp>
									</ruby>つ</strong></td>
							<td>
							</td>
							<td>
								dạy làm hư đứa trẻ</td>
						</tr>
						<tr>
							<td>
								<strong>えらい</strong></td>
							<td>
							</td>
							<td>
							</td>
							<td>
								tuyệt vời; giỏi</td>
						</tr>
						<tr>
							<td>
								<strong>あたまをなでる</strong></td>
							<td>
								<strong><ruby>頭<rp>(</rp>
										<rt>あたま</rt>
										<rp>)</rp>
									</ruby>をなでる</strong></td>
							<td>
							</td>
							<td>
								xoa đầu</td>
						</tr>
						<tr>
							<td>
								<strong>（お）しりをたたく</strong></td>
							<td>
								<strong>（お）<ruby>尻<rp>(</rp>
										<rt>しり</rt>
										<rp>)</rp>
									</ruby>をたたく</strong></td>
							<td>
							</td>
							<td>
								đánh mông</td>
						</tr>
						<tr>
							<td>
								<strong>（お）しりをぶつ</strong></td>
							<td>
								<strong>（お）<ruby>尻<rp>(</rp>
										<rt>しり</rt>
										<rp>)</rp>
									</ruby>をぶつ</strong></td>
							<td>
							</td>
							<td>
								đánh mông</td>
						</tr>
						<tr>
							<td>
								<strong>いたずらをする</strong></td>
							<td>
							</td>
							<td>
							</td>
							<td>
								tinh nghịch</td>
						</tr>
						<tr>
							<td>
								<strong>いたずらな</strong></td>
							<td>
							</td>
							<td>
							</td>
							<td>
								nghịch ngợm</td>
						</tr>
						<tr>
							<td>
								<strong>てをつなぐ</strong></td>
							<td>
								<strong><ruby>手<rp>(</rp>
										<rt>て</rt>
										<rp>)</rp>
									</ruby>をつなぐ</strong></td>
							<td>
							</td>
							<td>
								nắm tay</td>
						</tr>
						<tr>
							<td>
								<strong>てをはなす</strong></td>
							<td>
								<strong><ruby>手<rp>(</rp>
										<rt>て</rt>
										<rp>)</rp>
									</ruby>をはなす</strong></td>
							<td>
							</td>
							<td>
								buông tay</td>
						</tr>
						<tr>
							<td>
								<strong>こどもがまいごになる</strong></td>
							<td>
								<strong><ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>どもが<ruby>迷子<rp>(</rp>
										<rt>まいご</rt>
										<rp>)</rp>
									</ruby>になる</strong></td>
							<td>
							</td>
							<td>
								đứa trẻ bị lạc</td>
						</tr>
						<tr>
							<td>
								<strong>こどもがははおやのあとをついていく</strong></td>
							<td>
								<strong><ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>どもが<ruby>母親<rp>(</rp>
										<rt>ははおや</rt>
										<rp>)</rp>
									</ruby>の<ruby>後<rp>(</rp>
										<rt>あと</rt>
										<rp>)</rp>
									</ruby>をついていく</strong></td>
							<td>
							</td>
							<td>
								đứa trẻ đi theo sau mẹ</td>
						</tr>
						<tr>
							<td>
								<strong>いぬをかう</strong></td>
							<td>
								<strong><ruby>犬<rp>(</rp>
										<rt>いぬ</rt>
										<rp>)</rp>
									</ruby>を<ruby>飼<rp>(</rp>
										<rt>か</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
							</td>
							<td>
								nuôi chó</td>
						</tr>
						<tr>
							<td>
								<strong>さんぽにつれていく</strong></td>
							<td>
								<strong><ruby>散歩<rp>(</rp>
										<rt>さんぽ</rt>
										<rp>)</rp>
									</ruby>に<ruby>連<rp>(</rp>
										<rt>つ</rt>
										<rp>)</rp>
									</ruby>れていく</strong></td>
							<td>
							</td>
							<td>
								dẫn đi bộ</td>
						</tr>
						<tr>
							<td>
								<strong>いぬにえさをやる</strong></td>
							<td>
								<strong><ruby>犬<rp>(</rp>
										<rt>いぬ</rt>
										<rp>)</rp>
									</ruby>にえさをやる</strong></td>
							<td>
							</td>
							<td>
								cho chó ăn</td>
						</tr>
						<tr>
							<td>
								<strong>いぬにえさをあたえる</strong></td>
							<td>
								<strong><ruby>犬<rp>(</rp>
										<rt>いぬ</rt>
										<rp>)</rp>
									</ruby>にえさを<ruby>与<rp>(</rp>
										<rt>あた</rt>
										<rp>)</rp>
									</ruby>える</strong></td>
							<td>
							</td>
							<td>
								cho chó ăn</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>