<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>ノートパソコン</strong></td>
						<td>
						</td>
						<td>
							n</td>
						<td>
							máy tính xách tay</td>
					</tr>
					<tr>
						<td>
							<strong>キーボード</strong></td>
						<td>
						</td>
						<td>
							n</td>
						<td>
							bàn phím</td>
					</tr>
					<tr>
						<td>
							<strong>マウス</strong></td>
						<td>
						</td>
						<td>
							n</td>
						<td>
							chuột (máy tính)</td>
					</tr>
					<tr>
						<td>
							<strong>デスクトップ（パソコン）</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							màn hình desktop</td>
					</tr>
					<tr>
						<td>
							<strong>はじめてパソコンをさわる</strong></td>
						<td>
							<strong><ruby>初<rp>(</rp>
									<rt>はじ</rt>
									<rp>)</rp>
								</ruby>めてパソコンをさわる</strong></td>
						<td>
							v</td>
						<td>
							lần đầu đụng vào máy tính</td>
					</tr>
					<tr>
						<td>
							<strong>しょしんしゃ</strong></td>
						<td>
							<strong><ruby>初心者<rp>(</rp>
									<rt>しょしんしゃ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							người mới bắt đầu</td>
					</tr>
					<tr>
						<td>
							<strong>にゅうもんこうざをうける</strong></td>
						<td>
							<strong><ruby>入門<rp>(</rp>
									<rt>にゅうもん</rt>
									<rp>)</rp>
								</ruby><ruby>講座<rp>(</rp>
									<rt>こうざ</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							v</td>
						<td>
							tham gia lớp học nhập môn</td>
					</tr>
					<tr>
						<td>
							<strong>パソコンになれる</strong></td>
						<td>
							<strong>パソコンに<ruby>慣<rp>(</rp>
									<rt>な</rt>
									<rp>)</rp>
								</ruby>れる</strong></td>
						<td>
							v</td>
						<td>
							quen với máy tính</td>
					</tr>
					<tr>
						<td>
							<strong>しんせいひん</strong></td>
						<td>
							<strong><ruby>新製品<rp>(</rp>
									<rt>しんせいひん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							sản phẩm mới</td>
					</tr>
					<tr>
						<td>
							<strong>しんぴん</strong></td>
						<td>
							<strong><ruby>新品<rp>(</rp>
									<rt>しんぴん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							hàng mới</td>
					</tr>
					<tr>
						<td>
							<strong>ちゅうこ</strong></td>
						<td>
							<strong><ruby>中古<rp>(</rp>
									<rt>ちゅうこ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							hàng second-hand</td>
					</tr>
					<tr>
						<td>
							<strong>がめんをみる</strong></td>
						<td>
							<strong><ruby>画面<rp>(</rp>
									<rt>がめん</rt>
									<rp>)</rp>
								</ruby>を<ruby>見<rp>(</rp>
									<rt>み</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							nhìn màn hình</td>
					</tr>
					<tr>
						<td>
							<strong>ソフト（ウェア）をインストールする</strong></td>
						<td>
						</td>
						<td>
							v</td>
						<td>
							cài phần mềm</td>
					</tr>
					<tr>
						<td>
							<strong>スタートボタンをクリックする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							nhấn chuột vào nút start</td>
					</tr>
					<tr>
						<td>
							<strong>ファイルをひらく</strong></td>
						<td>
							<strong>ファイルを<ruby>開<rp>(</rp>
									<rt>ひら</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							mở tập tin</td>
					</tr>
					<tr>
						<td>
							<strong>ファイルをとじる</strong></td>
						<td>
							<strong>ファイルを<ruby>閉<rp>(</rp>
									<rt>と</rt>
									<rp>)</rp>
								</ruby>じる</strong></td>
						<td>
							v</td>
						<td>
							đóng tập tin</td>
					</tr>
					<tr>
						<td>
							<strong>ねんがじょうをつくる</strong></td>
						<td>
							<strong><ruby>年賀状<rp>(</rp>
									<rt>ねんがじょう</rt>
									<rp>)</rp>
								</ruby>を<ruby>作<rp>(</rp>
									<rt>つく</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							làm thiệp chúc tết</td>
					</tr>
					<tr>
						<td>
							<strong>（インター）ネットにつなぐ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							kết nối internet</td>
					</tr>
					<tr>
						<td>
							<strong>せかいじゅうとつながる</strong></td>
						<td>
							<strong><ruby>世界中<rp>(</rp>
									<rt>せかいじゅう</rt>
									<rp>)</rp>
								</ruby>とつながる</strong></td>
						<td>
							v</td>
						<td>
							kết nối với thế giới</td>
					</tr>
					<tr>
						<td>
							<strong>じょうほうをえる</strong></td>
						<td>
							<strong><ruby>情報<rp>(</rp>
									<rt>じょうほう</rt>
									<rp>)</rp>
								</ruby>を<ruby>得<rp>(</rp>
									<rt>え</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							thu nhận thông tin</td>
					</tr>
					<tr>
						<td>
							<strong>オークションにさんかする</strong></td>
						<td>
							<strong>オークションに<ruby>参加<rp>(</rp>
									<rt>さんか</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							tham gia buổi đấu giá</td>
					</tr>
					<tr>
						<td>
							<strong>オークションにしなものをだす</strong></td>
						<td>
							<strong>オークションに<ruby>品物<rp>(</rp>
									<rt>しなもの</rt>
									<rp>)</rp>
								</ruby>を<ruby>出<rp>(</rp>
									<rt>だ</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							v</td>
						<td>
							đưa sản phẩm vào buổi đấu giá</td>
					</tr>
					<tr>
						<td>
							<strong>しゅっぴんする</strong></td>
						<td>
							<strong><ruby>出品<rp>(</rp>
									<rt>しゅっぴん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							trưng bày hàng</td>
					</tr>
					<tr>
						<td>
							<strong>ホームページをつくる</strong></td>
						<td>
							<strong>ホームページを<ruby>作<rp>(</rp>
									<rt>つく</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							tạo website</td>
					</tr>
					<tr>
						<td>
							<strong>ブログをはじめる</strong></td>
						<td>
							<strong>ブログを<ruby>始<rp>(</rp>
									<rt>はじ</rt>
									<rp>)</rp>
								</ruby>める</strong></td>
						<td>
							v</td>
						<td>
							tạo blog</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>