<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<strong>つうちょう</strong></td>
						<td>
							<strong><ruby>通帳<rp>(</rp>
									<rt>つうちょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							sổ tài khoản</td>
					</tr>
					<tr>
						<td>
							<strong>（キャッシュ）カード</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							thẻ tín dụng</td>
					</tr>
					<tr>
						<td>
							<strong>はんこ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							con dấu</td>
					</tr>
					<tr>
						<td>
							<strong>いんかん</strong></td>
						<td>
							<strong><ruby>印鑑<rp>(</rp>
									<rt>いんかん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con dấu</td>
					</tr>
					<tr>
						<td>
							<strong>サイン</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							chữ ký</td>
					</tr>
					<tr>
						<td>
							<strong>せんえんさつ</strong></td>
						<td>
							<strong><ruby>千円札<rp>(</rp>
									<rt>せんえんさつ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tờ 1000 yên</td>
					</tr>
					<tr>
						<td>
							<strong>しへい</strong></td>
						<td>
							<strong><ruby>紙幣<rp>(</rp>
									<rt>しへい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tiền giấy</td>
					</tr>
					<tr>
						<td>
							<strong>（お）さつ</strong></td>
						<td>
							<strong>（お）<ruby>札<rp>(</rp>
									<rt>ふだ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tiền giấy</td>
					</tr>
					<tr>
						<td>
							<strong>ひゃくえんだま</strong></td>
						<td>
							<strong><ruby>百円玉<rp>(</rp>
									<rt>ひゃくえんだま</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đồng xu 100 yên</td>
					</tr>
					<tr>
						<td>
							<strong>こうか</strong></td>
						<td>
							<strong><ruby>硬貨<rp>(</rp>
									<rt>こうか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tiền xu</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<strong>おかねをためる</strong></td>
							<td>
								<strong>お<ruby>金<rp>(</rp>
										<rt>かね</rt>
										<rp>)</rp>
									</ruby>をためる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								để dành tiền</td>
						</tr>
						<tr>
							<td>
								<strong>ちょきんする</strong></td>
							<td>
								<strong><ruby>貯金<rp>(</rp>
										<rt>ちょきん</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								để dành tiền</td>
						</tr>
						<tr>
							<td>
								<strong>よきんする</strong></td>
							<td>
								<strong><ruby>預金<rp>(</rp>
										<rt>よきん</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi tiền</td>
						</tr>
						<tr>
							<td>
								<strong>ぎんこうにおかねをあずける</strong></td>
							<td>
								<strong><ruby>銀行<rp>(</rp>
										<rt>ぎんこう</rt>
										<rp>)</rp>
									</ruby>にお<ruby>金<rp>(</rp>
										<rt>かね</rt>
										<rp>)</rp>
									</ruby>を<ruby>預<rp>(</rp>
										<rt>あず</rt>
										<rp>)</rp>
									</ruby>ける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi tiền ở ngân hàng</td>
						</tr>
						<tr>
							<td>
								<strong>きゅうりょうをひきだす</strong></td>
							<td>
								<strong><ruby>給料<rp>(</rp>
										<rt>きゅうりょう</rt>
										<rp>)</rp>
									</ruby>を<ruby>引<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>き<ruby>出<rp>(</rp>
										<rt>だ</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								rút tiền lương</td>
						</tr>
						<tr>
							<td>
								<strong>きゅうりょうをおろす</strong></td>
							<td>
								<strong><ruby>給料<rp>(</rp>
										<rt>きゅうりょう</rt>
										<rp>)</rp>
									</ruby>を<ruby>下<rp>(</rp>
										<rt>お</rt>
										<rp>)</rp>
									</ruby>ろす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								rút tiền lương</td>
						</tr>
						<tr>
							<td>
								<strong>つうちょうきにゅうをする</strong></td>
							<td>
								<strong><ruby>通帳<rp>(</rp>
										<rt>つうちょう</rt>
										<rp>)</rp>
									</ruby><ruby>記入<rp>(</rp>
										<rt>きにゅう</rt>
										<rp>)</rp>
									</ruby>をする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								kí sổ (ngân hàng)</td>
						</tr>
						<tr>
							<td>
								<strong>つうちょうにきにゅうする</strong></td>
							<td>
								<strong><ruby>通帳<rp>(</rp>
										<rt>つうちょう</rt>
										<rp>)</rp>
									</ruby>に<ruby>記入<rp>(</rp>
										<rt>きにゅう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								kí sổ (ngân hàng)</td>
						</tr>
						<tr>
							<td>
								<strong>あんしょうばんごう</strong></td>
							<td>
								<strong><ruby>暗証番号<rp>(</rp>
										<rt>あんしょうばんごう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								số pin</td>
						</tr>
						<tr>
							<td>
								<strong>ぎんこうのほんてん</strong></td>
							<td>
								<strong><ruby>銀行<rp>(</rp>
										<rt>ぎんこう</rt>
										<rp>)</rp>
									</ruby>の<ruby>本店<rp>(</rp>
										<rt>ほんてん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								cơ sở chính ngân hàng</td>
						</tr>
						<tr>
							<td>
								<strong>ぎんこうのしてん</strong></td>
							<td>
								<strong><ruby>銀行<rp>(</rp>
										<rt>ぎんこう</rt>
										<rp>)</rp>
									</ruby>の<ruby>支店<rp>(</rp>
										<rt>してん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								chi nhánh ngân hàng</td>
						</tr>
						<tr>
							<td>
								<strong>こうざをひらく</strong></td>
							<td>
								<strong><ruby>口座<rp>(</rp>
										<rt>こうざ</rt>
										<rp>)</rp>
									</ruby>を<ruby>開<rp>(</rp>
										<rt>ひら</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								mở tài khoản</td>
						</tr>
						<tr>
							<td>
								<strong>やちんをふりこむ</strong></td>
							<td>
								<strong><ruby>家賃<rp>(</rp>
										<rt>やちん</rt>
										<rp>)</rp>
									</ruby>を<ruby>振<rp>(</rp>
										<rt>ふ</rt>
										<rp>)</rp>
									</ruby>り<ruby>込<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								&nbsp;</td>
							<td>
								chuyển khoản thanh toán tiền thuê nhà</td>
						</tr>
						<tr>
							<td>
								<strong>ふりこみ</strong></td>
							<td>
								<strong><ruby>振<rp>(</rp>
										<rt>ふ</rt>
										<rp>)</rp>
									</ruby>り<ruby>込<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby>み</strong></td>
							<td>
								&nbsp;</td>
							<td>
								chuyển khoản</td>
						</tr>
						<tr>
							<td>
								<strong>こうきょうりょうきんをしはらう</strong></td>
							<td>
								<strong><ruby>公共<rp>(</rp>
										<rt>こうきょう</rt>
										<rp>)</rp>
									</ruby><ruby>料金<rp>(</rp>
										<rt>りょうきん</rt>
										<rp>)</rp>
									</ruby>を<ruby>支払<rp>(</rp>
										<rt>しはら</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trả cước công cộng</td>
						</tr>
						<tr>
							<td>
								<strong>しはらい</strong></td>
							<td>
								<strong><ruby>支払<rp>(</rp>
										<rt>しはら</rt>
										<rp>)</rp>
									</ruby>い</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thanh toán</td>
						</tr>
						<tr>
							<td>
								<strong>しょうひんのだいきんをはらう</strong></td>
							<td>
								<strong><ruby>商品<rp>(</rp>
										<rt>しょうひん</rt>
										<rp>)</rp>
									</ruby>の<ruby>代金<rp>(</rp>
										<rt>だいきん</rt>
										<rp>)</rp>
									</ruby>を<ruby>払<rp>(</rp>
										<rt>はら</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thanh toán tiền mua hàng</td>
						</tr>
						<tr>
							<td>
								<strong>あてな</strong></td>
							<td>
								<strong>あて<ruby>名<rp>(</rp>
										<rt>な</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								tên và địa chỉ người nhận</td>
						</tr>
						<tr>
							<td>
								<strong>まどぐちでりょうがえをする</strong></td>
							<td>
								<strong><ruby>窓口<rp>(</rp>
										<rt>まどぐち</rt>
										<rp>)</rp>
									</ruby>で<ruby>両替<rp>(</rp>
										<rt>りょうがえ</rt>
										<rp>)</rp>
									</ruby>をする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đổi tiền ở quầy dịch vụ</td>
						</tr>
						<tr>
							<td>
								<strong>さしだしにんめい</strong></td>
							<td>
								<strong><ruby>差出人<rp>(</rp>
										<rt>さしだしにん</rt>
										<rp>)</rp>
									</ruby><ruby>名<rp>(</rp>
										<rt>めい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người gửi</td>
						</tr>
						<tr>
							<td>
								<strong>そうきんする</strong></td>
							<td>
								<strong><ruby>送金<rp>(</rp>
										<rt>そうきん</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi tiền</td>
						</tr>
						<tr>
							<td>
								<strong>てがみをそくたつでだす</strong></td>
							<td>
								<strong><ruby>手紙<rp>(</rp>
										<rt>てがみ</rt>
										<rp>)</rp>
									</ruby>を<ruby>速達<rp>(</rp>
										<rt>そくたつ</rt>
										<rp>)</rp>
									</ruby>で<ruby>出<rp>(</rp>
										<rt>だ</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi thư chuyển phát nhanh</td>
						</tr>
						<tr>
							<td>
								<strong>しおくりする</strong></td>
							<td>
								<strong><ruby>仕送<rp>(</rp>
										<rt>しおく</rt>
										<rp>)</rp>
									</ruby>りする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								gửi tiền, chu cấp</td>
						</tr>
						<tr>
							<td>
								<strong>こづつみ</strong></td>
							<td>
								<strong><ruby>小包<rp>(</rp>
										<rt>こづつみ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								bưu phẩm</td>
						</tr>
						<tr>
							<td>
								<strong>てすうりょうがかかる</strong></td>
							<td>
								<strong><ruby>手数料<rp>(</rp>
										<rt>てすうりょう</rt>
										<rp>)</rp>
									</ruby>がかかる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tốn tiền dịch vụ</td>
						</tr>
						<tr>
							<td>
								<strong>そうりょうがかかる</strong></td>
							<td>
								<strong><ruby>送料<rp>(</rp>
										<rt>そうりょう</rt>
										<rp>)</rp>
									</ruby>がかかる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tốn cước</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>