<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>はな（みず）がでる</strong></td>
						<td>
							<strong><ruby>鼻<rp>(</rp>
									<rt>はな</rt>
									<rp>)</rp>
								</ruby>（<ruby>水<rp>(</rp>
									<rt>みず</rt>
									<rp>)</rp>
								</ruby>）が<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							sổ mũi</td>
					</tr>
					<tr>
						<td>
							<strong>ためいきがでる</strong></td>
						<td>
							<strong>ため<ruby>息<rp>(</rp>
									<rt>いき</rt>
									<rp>)</rp>
								</ruby>が</strong></td>
						<td>
							v</td>
						<td>
							thở dài</td>
					</tr>
					<tr>
						<td>
							<strong>ためいきをつく</strong></td>
						<td>
							<strong>ため<ruby>息<rp>(</rp>
									<rt>いき</rt>
									<rp>)</rp>
								</ruby>をつく</strong></td>
						<td>
							v</td>
						<td>
							thở dài</td>
					</tr>
					<tr>
						<td>
							<strong>なみだがでる</strong></td>
						<td>
							<strong><ruby>涙<rp>(</rp>
									<rt>なみだ</rt>
									<rp>)</rp>
								</ruby>が<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							rơi lệ</td>
					</tr>
					<tr>
						<td>
							<strong>なみだをながす</strong></td>
						<td>
							<strong><ruby>涙<rp>(</rp>
									<rt>なみだ</rt>
									<rp>)</rp>
								</ruby>を<ruby>流<rp>(</rp>
									<rt>なが</rt>
									<rp>)</rp>
								</ruby>す</strong></td>
						<td>
							v</td>
						<td>
							khóc lóc</td>
					</tr>
					<tr>
						<td>
							<strong>あせがでる</strong></td>
						<td>
							<strong><ruby>汗<rp>(</rp>
									<rt>あせ</rt>
									<rp>)</rp>
								</ruby>が<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							ra mồ hôi</td>
					</tr>
					<tr>
						<td>
							<strong>あせをかく</strong></td>
						<td>
							<strong><ruby>汗<rp>(</rp>
									<rt>あせ</rt>
									<rp>)</rp>
								</ruby>をかく</strong></td>
						<td>
							v</td>
						<td>
							toát mồ hôi</td>
					</tr>
					<tr>
						<td>
							<strong>あせくさい</strong></td>
						<td>
							<strong><ruby>汗<rp>(</rp>
									<rt>あせ</rt>
									<rp>)</rp>
								</ruby>くさい</strong></td>
						<td>
							adj</td>
						<td>
							toát mồ hôi</td>
					</tr>
					<tr>
						<td>
							<strong>よだれ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							nước dãi</td>
					</tr>
					<tr>
						<td>
							<strong>せきがでる</strong></td>
						<td>
							<strong>せきが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							ho</td>
					</tr>
					<tr>
						<td>
							<strong>せきをする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							ho</td>
					</tr>
					<tr>
						<td>
							<strong>しゃっくりがでる</strong></td>
						<td>
							<strong>しゃっくりが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							nấc cụt</td>
					</tr>
					<tr>
						<td>
							<strong>しゃっくりをする</strong></td>
						<td>
						</td>
						<td>
							v</td>
						<td>
							nấc cụt</td>
					</tr>
					<tr>
						<td>
							<strong>くしゃみ</strong><strong>がでる</strong></td>
						<td>
							<strong>くしゃみが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							hắt xì hơi</td>
					</tr>
					<tr>
						<td>
							<strong>くしゃみをする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							hắt xì hơi</td>
					</tr>
					<tr>
						<td>
							<strong>あくびがでる</strong></td>
						<td>
							<strong>あくびが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							ngáp</td>
					</tr>
					<tr>
						<td>
							<strong>あくびをする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							ngáp</td>
					</tr>
					<tr>
						<td>
							<strong>げっぷがでる</strong></td>
						<td>
							<strong>げっぷが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							ợ</td>
					</tr>
					<tr>
						<td>
							<strong>げっぷをする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							ợ</td>
					</tr>
					<tr>
						<td>
							<strong>おならがでる</strong></td>
						<td>
							<strong>おならが<ruby>出<rp>(</rp>
									<rt>で</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							đánh rắm</td>
					</tr>
					<tr>
						<td>
							<strong>おならをする</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							đánh rắm</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>たいじゅうがふえる</strong></td>
							<td>
								<strong><ruby>体重<rp>(</rp>
										<rt>たいじゅう</rt>
										<rp>)</rp>
									</ruby>が<ruby>増<rp>(</rp>
										<rt>ふ</rt>
										<rp>)</rp>
									</ruby>える</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lên cân</td>
						</tr>
						<tr>
							<td>
								<strong>たいじゅうをふやす</strong></td>
							<td>
								<strong><ruby>体重<rp>(</rp>
										<rt>たいじゅう</rt>
										<rp>)</rp>
									</ruby>を<ruby>増<rp>(</rp>
										<rt>ふ</rt>
										<rp>)</rp>
									</ruby>やす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								làm tăng cân</td>
						</tr>
						<tr>
							<td>
								<strong>たいじゅうがへる</strong></td>
							<td>
								<strong><ruby>体重<rp>(</rp>
										<rt>たいじゅう</rt>
										<rp>)</rp>
									</ruby>が<ruby>減<rp>(</rp>
										<rt>へ</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								giảm cân</td>
						</tr>
						<tr>
							<td>
								<strong>たいじゅうをへらす</strong></td>
							<td>
								<strong><ruby>体重<rp>(</rp>
										<rt>たいじゅう</rt>
										<rp>)</rp>
									</ruby>を<ruby>減<rp>(</rp>
										<rt>へ</rt>
										<rp>)</rp>
									</ruby>らす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								làm giảm cân</td>
						</tr>
						<tr>
							<td>
								<strong>ダイエットをする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								ăn kiêng</td>
						</tr>
						<tr>
							<td>
								<strong>いびきをかく</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								ngáy</td>
						</tr>
						<tr>
							<td>
								<strong>あしがしびれる</strong></td>
							<td>
								<strong><ruby>足<rp>(</rp>
										<rt>あし</rt>
										<rp>)</rp>
									</ruby>がしびれる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tê chân</td>
						</tr>
						<tr>
							<td>
								<strong>からだがふるえる</strong></td>
							<td>
								<strong><ruby>体<rp>(</rp>
										<rt>からだ</rt>
										<rp>)</rp>
									</ruby>がふるえる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								run rẩy</td>
						</tr>
						<tr>
							<td>
								<strong>かたがこる</strong></td>
							<td>
								<strong><ruby>肩<rp>(</rp>
										<rt>かた</rt>
										<rp>)</rp>
									</ruby>がこる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								ê ẩm vai</td>
						</tr>
						<tr>
							<td>
								<strong>くせがつく</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								tật xấu</td>
						</tr>
						<tr>
							<td>
								<strong>くせになる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								tật xấu</td>
						</tr>
						<tr>
							<td>
								<strong>ストレスがたまる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								căng thẳng; bị áp lực</td>
						</tr>
						<tr>
							<td>
								<strong>としをとる</strong></td>
							<td>
								<strong><ruby>年<rp>(</rp>
										<rt>とし</rt>
										<rp>)</rp>
									</ruby>を<ruby>取<rp>(</rp>
										<rt>と</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lớn tuổi</td>
						</tr>
						<tr>
							<td>
								<strong>つめがのびる</strong></td>
							<td>
								<strong>つめが<ruby>伸<rp>(</rp>
										<rt>の</rt>
										<rp>)</rp>
									</ruby>びる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								móng tay dài ra</td>
						</tr>
						<tr>
							<td>
								<strong>ひげがはえる</strong></td>
							<td>
								<strong>ひげが<ruby>生<rp>(</rp>
										<rt>は</rt>
										<rp>)</rp>
									</ruby>える</strong></td>
							<td>
								&nbsp;</td>
							<td>
								mọc râu</td>
						</tr>
						<tr>
							<td>
								<strong>はがはえる</strong></td>
							<td>
								<strong><ruby>歯<rp>(</rp>
										<rt>は</rt>
										<rp>)</rp>
									</ruby>が<ruby>生<rp>(</rp>
										<rt>は</rt>
										<rp>)</rp>
									</ruby>える</strong></td>
							<td>
								&nbsp;</td>
							<td>
								mọc răng</td>
						</tr>
						<tr>
							<td>
								<strong>かみのけがぬける</strong></td>
							<td>
								<strong><ruby>髪<rp>(</rp>
										<rt>かみ</rt>
										<rp>)</rp>
									</ruby>の<ruby>毛<rp>(</rp>
										<rt>け</rt>
										<rp>)</rp>
									</ruby>が<ruby>抜<rp>(</rp>
										<rt>ぬ</rt>
										<rp>)</rp>
									</ruby>ける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								rụng tóc</td>
						</tr>
						<tr>
							<td>
								<strong>はげる</strong></td>
							<td>
							</td>
							<td>
								&nbsp;</td>
							<td>
								hói đầu</td>
						</tr>
						<tr>
							<td>
								<strong>かみをそめる</strong></td>
							<td>
								<strong><ruby>髪<rp>(</rp>
										<rt>かみ</rt>
										<rp>)</rp>
									</ruby>をそめる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								nhuộm tóc</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>