<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="listhappyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>ちょうなん</strong></td>
						<td>
							<strong><ruby>長男<rp>(</rp>
									<rt>ちょうなん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							trưởng nam</td>
					</tr>
					<tr>
						<td>
							<strong>ちょうじょ</strong></td>
						<td>

							<strong><ruby>長女<rp>(</rp>
									<rt>ちょうじょ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							trưởng nữ</td>
					</tr>
					<tr>
						<td>
							<strong>じなん</strong></td>
						<td>
							<strong><ruby>次男<rp>(</rp>
									<rt>じなん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con trai thứ</td>
					</tr>
					<tr>
						<td>
							<strong>じじょ</strong></td>
						<td>
							<strong><ruby>次女<rp>(</rp>
									<rt>じじょ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con gái thứ</td>
					</tr>
					<tr>
						<td>
							<strong>さんなん</strong></td>
						<td>
							<strong><ruby>三男<rp>(</rp>
									<rt>さんなん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con trai thứ 3</td>
					</tr>
					<tr>
						<td>
							<strong>すえっこ</strong></td>
						<td>
							<strong><ruby>末<rp>(</rp>
									<rt>すえ</rt>
									<rp>)</rp>
								</ruby>っ<ruby>子<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							con út</td>
					</tr>
					<tr>
						<td>
							<strong>おじ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							cậu; chú</td>
					</tr>
					<tr>
						<td>
							<strong>おば</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							dì, cô</td>
					</tr>
					<tr>
						<td>
							<strong>しょくばのどうりょう</strong></td>
						<td>
							<strong><ruby>職場<rp>(</rp>
									<rt>しょくば</rt>
									<rp>)</rp>
								</ruby>の<ruby>同僚<rp>(</rp>
									<rt>どうりょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đồng nghiệp</td>
					</tr>
					<tr>
						<td>
							<strong>しょくばのじょうし</strong></td>
						<td>
							<strong><ruby>職場<rp>(</rp>
									<rt>しょくば</rt>
									<rp>)</rp>
								</ruby>の<ruby>上司<rp>(</rp>
									<rt>じょうし</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							sếp</td>
					</tr>
					<tr>
						<td>
							<strong>しょくばのぶか</strong></td>
						<td>
							<strong><ruby>職場<rp>(</rp>
									<rt>しょくば</rt>
									<rp>)</rp>
								</ruby>の<ruby>部下<rp>(</rp>
									<rt>ぶか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cấp dưới</td>
					</tr>
					<tr>
						<td>
							<strong>かいしゃのせんぱい</strong></td>
						<td>
							<strong><ruby>会社<rp>(</rp>
									<rt>かいしゃ</rt>
									<rp>)</rp>
								</ruby>の<ruby>先輩<rp>(</rp>
									<rt>せんぱい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đàn anh</td>
					</tr>
					<tr>
						<td>
							<strong>かいしゃのこうはい</strong></td>
						<td>
							<strong><ruby>会社<rp>(</rp>
									<rt>かいしゃ</rt>
									<rp>)</rp>
								</ruby>の<ruby>後輩<rp>(</rp>
									<rt>こうはい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đàn em</td>
					</tr>
					<tr>
						<td>
							<strong>ぶちょう</strong></td>
						<td>
							<strong><ruby>部長<rp>(</rp>
									<rt>ぶちょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							trưởng ban</td>
					</tr>
					<tr>
						<td>
							<strong>かちょう</strong></td>
						<td>
							<strong><ruby>課長<rp>(</rp>
									<rt>かちょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							trưởng nhóm</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>だいがくせい</strong></td>
							<td>
								<strong><ruby>大学生<rp>(</rp>
										<rt>だいがくせい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								sinh viên</td>
						</tr>
						<tr>
							<td>
								<strong>こうこうせい</strong></td>
							<td>
								<strong><ruby>高校生<rp>(</rp>
										<rt>こうこうせい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học sinh cấp ba</td>
						</tr>
						<tr>
							<td>
								<strong>ちゅうがくせい</strong></td>
							<td>
								<strong><ruby>中学生<rp>(</rp>
										<rt>ちゅうがくせい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học sinh trung học</td>
						</tr>
						<tr>
							<td>
								<strong>しょうがくせい</strong></td>
							<td>
								<strong><ruby>小学生<rp>(</rp>
										<rt>しょうがくせい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học sinh tiểu học</td>
						</tr>
						<tr>
							<td>
								<strong>かいしゃいん</strong></td>
							<td>
								<strong><ruby>会社員<rp>(</rp>
										<rt>かいしゃいん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								nhân viên công ty</td>
						</tr>
						<tr>
							<td>
								<strong>サラリーマン</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								người làm công ăn lương</td>
						</tr>
						<tr>
							<td>
								<strong>しゅふ</strong></td>
							<td>
								<strong><ruby>主婦<rp>(</rp>
										<rt>しゅふ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người nội trợ</td>
						</tr>
						<tr>
							<td>
								<strong>きょうし</strong></td>
							<td>
								<strong><ruby>教師<rp>(</rp>
										<rt>きょうし</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								giáo viên; giảng viên</td>
						</tr>
						<tr>
							<td>
								<strong>６にんきょうだいのすえっこ</strong></td>
							<td>
								<strong>６<ruby>人<rp>(</rp>
										<rt>ひと</rt>
										<rp>)</rp>
									</ruby><ruby>兄弟<rp>(</rp>
										<rt>きょうだい</rt>
										<rp>)</rp>
									</ruby>の<ruby>末<rp>(</rp>
										<rt>すえ</rt>
										<rp>)</rp>
									</ruby>っ<ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								con út trong gia đình 6 anh em</td>
						</tr>
						<tr>
							<td>
								<strong>３にんしまいのいちばんうえ</strong></td>
							<td>
								<strong>３<ruby>人<rp>(</rp>
										<rt>ひと</rt>
										<rp>)</rp>
									</ruby><ruby>姉妹<rp>(</rp>
										<rt>しまい</rt>
										<rp>)</rp>
									</ruby>のいちばん<ruby>上<rp>(</rp>
										<rt>うえ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								lớn nhất trong 3 chị em</td>
						</tr>
						<tr>
							<td>
								<strong>しんせき</strong></td>
							<td>
								<strong><ruby>親<rp>(</rp>
										<rt>しん</rt>
										<rp>)</rp>
									</ruby>せき</strong></td>
							<td>
								&nbsp;</td>
							<td>
								họ hàng</td>
						</tr>
						<tr>
							<td>
								<strong>しんるい</strong></td>
							<td>
								<strong><ruby>親類<rp>(</rp>
										<rt>しんるい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								họ hàng</td>
						</tr>
						<tr>
							<td>
								<strong>まご</strong></td>
							<td>
								<strong><ruby>孫<rp>(</rp>
										<rt>まご</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								cháu (kêu mình bằng ông bà)</td>
						</tr>
						<tr>
							<td>
								<strong>おい</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								cháu trai (con của anh chị em mình)</td>
						</tr>
						<tr>
							<td>
								<strong>めい</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								cháu gái (con của anh chị em mình)</td>
						</tr>
						<tr>
							<td>
								<strong>いとこ</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								anh em họ</td>
						</tr>
						<tr>
							<td>
								<strong>ひとりっこ</strong></td>
							<td>
								<strong><ruby>一人<rp>(</rp>
										<rt>ひとり</rt>
										<rp>)</rp>
									</ruby>っ<ruby>子<rp>(</rp>
										<rt>こ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								con một</td>
						</tr>
						<tr>
							<td>
								<strong>ひとりむすこ</strong></td>
							<td>
								<strong><ruby>一人息子<rp>(</rp>
										<rt>ひとりむすこ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								con trai một</td>
						</tr>
						<tr>
							<td>
								<strong>ひとりむすめ</strong></td>
							<td>
								<strong><ruby>一人娘<rp>(</rp>
										<rt>ひとりむすめ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								con gái một</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>