<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							だいがくをでる</td>
						<td>
							<ruby>大学<rp>(</rp>
								<rt>だいがく</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							tốt nghiệp đại học</td>
					</tr>
					<tr>
						<td>
							そつぎょうする</td>
						<td>
							<ruby>卒業<rp>(</rp>
								<rt>そつぎょう</rt>
								<rp>)</rp>
							</ruby>する</td>
						<td>
							&nbsp;</td>
						<td>
							tốt nghiệp</td>
					</tr>
					<tr>
						<td>
							かいぎにでる</td>
						<td>
							<ruby>会議<rp>(</rp>
								<rt>かいぎ</rt>
								<rp>)</rp>
							</ruby>に<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							tham gia họp</td>
					</tr>
					<tr>
						<td>
							しゅっせきする</td>
						<td>
							<ruby>出席<rp>(</rp>
								<rt>しゅっせき</rt>
								<rp>)</rp>
							</ruby>する</td>
						<td>
							&nbsp;</td>
						<td>
							tham dự</td>
					</tr>
					<tr>
						<td>
							しょくじがでる</td>
						<td>
							<ruby>食事<rp>(</rp>
								<rt>しょくじ</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							đồ ăn được dọn ra</td>
					</tr>
					<tr>
						<td>
							しょくじをだす</td>
						<td>
							<ruby>食事<rp>(</rp>
								<rt>しょくじ</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							dọn đồ ăn ra</td>
					</tr>
					<tr>
						<td>
							けつろんがでる</td>
						<td>
							<ruby>結論<rp>(</rp>
								<rt>けつろん</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							kết luận được đưa ra</td>
					</tr>
					<tr>
						<td>
							けつろんをだす</td>
						<td>
							<ruby>結論<rp>(</rp>
								<rt>けつろん</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							đưa ra kết luận</td>
					</tr>
					<tr>
						<td>
							げんきがでる</td>
						<td>
							<ruby>元気<rp>(</rp>
								<rt>げんき</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							cảm thấy khỏe khoắn</td>
					</tr>
					<tr>
						<td>
							げんきをだす</td>
						<td>
							<ruby>元気<rp>(</rp>
								<rt>げんき</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							làm cho khỏe lên</td>
					</tr>
					<tr>
						<td>
							しんせいひんがでる</td>
						<td>
							<ruby>新製品<rp>(</rp>
								<rt>しんせいひん</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							sản phẩm mới ra thị trường</td>
					</tr>
					<tr>
						<td>
							はつばいする</td>
						<td>
							<ruby>発売<rp>(</rp>
								<rt>はつばい</rt>
								<rp>)</rp>
							</ruby>する</td>
						<td>
							&nbsp;</td>
						<td>
							bán ra</td>
					</tr>
					<tr>
						<td>
							しんせいひんをだす</td>
						<td>
							<ruby>新製品<rp>(</rp>
								<rt>しんせいひん</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							đưa ra sản phẩm mới</td>
					</tr>
					<tr>
						<td>
							めがでる</td>
						<td>
							<ruby>芽<rp>(</rp>
								<rt>め</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							nảy mầm</td>
					</tr>
					<tr>
						<td>
							めをだす</td>
						<td>
							<ruby>芽<rp>(</rp>
								<rt>め</rt>
								<rp>)</rp>
							</ruby>を<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							gieo mầm</td>
					</tr>
					<tr>
						<td>
							ボーナスがでる</td>
						<td>
							ボーナスが<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							được thưởng</td>
					</tr>
					<tr>
						<td>
							ボーナスをだす</td>
						<td>
							ボーナスを<ruby>出<rp>(</rp>
								<rt>だ</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							lấy thưởng</td>
					</tr>
					<tr>
						<td>
							ゴキブリがでる</td>
						<td>
							ゴキブリが<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							gián xuất hiện</td>
					</tr>
					<tr>
						<td>
							あらわれる</td>
						<td>
							<ruby>現<rp>(</rp>
								<rt>あらわ</rt>
								<rp>)</rp>
							</ruby>れる</td>
						<td>
							&nbsp;</td>
						<td>
							xuất hiện</td>
					</tr>
					<tr>
						<td>
							しんぶんになまえがでる</td>
						<td>
							<ruby>新聞<rp>(</rp>
								<rt>しんぶん</rt>
								<rp>)</rp>
							</ruby>に<ruby>名前<rp>(</rp>
								<rt>なまえ</rt>
								<rp>)</rp>
							</ruby>が<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							tên xuất hiện trên báo</td>
					</tr>
					<tr>
						<td>
							のる</td>
						<td>
							<ruby>載<rp>(</rp>
								<rt>の</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							lên báo</td>
					</tr>
					<tr>
						<td>
							<p>
								かどをまがるとえきにでる</p>
						</td>
						<td>
							<ruby>角<rp>(</rp>
								<rt>かど</rt>
								<rp>)</rp>
							</ruby>を<ruby>曲<rp>(</rp>
								<rt>ま</rt>
								<rp>)</rp>
							</ruby>がると<ruby>駅<rp>(</rp>
								<rt>えき</rt>
								<rp>)</rp>
							</ruby>に<ruby>出<rp>(</rp>
								<rt>で</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							rẽ ở góc đường sẽ tới nhà ga</td>
					</tr>
					<tr>
						<td>
							さいふをとる</td>
						<td>
							<ruby>財布<rp>(</rp>
								<rt>さいふ</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							móc ví, lấy ví</td>
					</tr>
					<tr>
						<td>
							ぬすむ</td>
						<td>
							<ruby>盗<rp>(</rp>
								<rt>ぬす</rt>
								<rp>)</rp>
							</ruby>む</td>
						<td>
							&nbsp;</td>
						<td>
							trộm cắp</td>
					</tr>
					<tr>
						<td>
							さいふをとりにもどる</td>
						<td>
							<ruby>財布<rp>(</rp>
								<rt>さいふ</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>りに<ruby>戻<rp>(</rp>
								<rt>もど</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							quay lại lấy ví</td>
					</tr>
					<tr>
						<td>
							うんてんめんきょをとる</td>
						<td>
							<ruby>運転<rp>(</rp>
								<rt>うんてん</rt>
								<rp>)</rp>
							</ruby><ruby>免許<rp>(</rp>
								<rt>めんきょ</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							lấy bằng lái xe</td>
					</tr>
					<tr>
						<td>
							コピーをとる</td>
						<td>
							コピーを<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							photo</td>
					</tr>
					<tr>
						<td>
							コピーする</td>
						<td>
							コピーする</td>
						<td>
							&nbsp;</td>
						<td>
							photo</td>
					</tr>
					<tr>
						<td>
							しんぶんをとる</td>
						<td>
							<ruby>新聞<rp>(</rp>
								<rt>しんぶん</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							đặt mua báo</td>
					</tr>
					<tr>
						<td>
							すいみんをとる</td>
						<td>
							<ruby>睡眠<rp>(</rp>
								<rt>すいみん</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							ngủ</td>
					</tr>
					<tr>
						<td>
							ねむる</td>
						<td>
							<ruby>眠<rp>(</rp>
								<rt>ねむ</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							ngủ</td>
					</tr>
					<tr>
						<td>
							しゅっせきをとる</td>
						<td>
							<ruby>出席<rp>(</rp>
								<rt>しゅっせき</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							tham dự</td>
					</tr>
					<tr>
						<td>
							れんらくをとる</td>
						<td>
							<ruby>連絡<rp>(</rp>
								<rt>れんらく</rt>
								<rp>)</rp>
							</ruby>を<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							liên lạc</td>
					</tr>
					<tr>
						<td>
							れんらくする</td>
						<td>
							<ruby>連絡<rp>(</rp>
								<rt>れんらく</rt>
								<rp>)</rp>
							</ruby>する</td>
						<td>
							&nbsp;</td>
						<td>
							liên lạc</td>
					</tr>
					<tr>
						<td>
							れんらくがとれる</td>
						<td>
							<ruby>連絡<rp>(</rp>
								<rt>れんらく</rt>
								<rp>)</rp>
							</ruby>が<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>れる</td>
						<td>
							&nbsp;</td>
						<td>
							có liên lạc</td>
					</tr>
					<tr>
						<td>
							いたみをとる</td>
						<td>
							<ruby>痛<rp>(</rp>
								<rt>いた</rt>
								<rp>)</rp>
							</ruby>みを<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							làm hết cơn đau</td>
					</tr>
					<tr>
						<td>
							いたみがとれる</td>
						<td>
							<ruby>痛<rp>(</rp>
								<rt>いた</rt>
								<rp>)</rp>
							</ruby>みが<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>れる</td>
						<td>
							&nbsp;</td>
						<td>
							hết đau</td>
					</tr>
					<tr>
						<td>
							ボタンがとれる</td>
						<td>
							ボタンが<ruby>取<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>れる</td>
						<td>
							&nbsp;</td>
						<td>
							đứt nút</td>
					</tr>
					<tr>
						<td>
							しんにゅうしゃいんをとる</td>
						<td>
							<ruby>新入社員<rp>(</rp>
								<rt>しんにゅうしゃいん</rt>
								<rp>)</rp>
							</ruby>を<ruby>採<rp>(</rp>
								<rt>と</rt>
								<rp>)</rp>
							</ruby>る</td>
						<td>
							&nbsp;</td>
						<td>
							tuyển nhân viên mới</td>
					</tr>
					<tr>
						<td>
							さいようする</td>
						<td>
							<ruby>採用<rp>(</rp>
								<rt>さいよう</rt>
								<rp>)</rp>
							</ruby>する</td>
						<td>
							&nbsp;</td>
						<td>
							tuyển dụng</td>
					</tr>
					<tr>
						<td>
							かぎがかかっている</td>
						<td>
							<ruby>鍵<rp>(</rp>
								<rt>かぎ</rt>
								<rp>)</rp>
							</ruby>がかかっている</td>
						<td>
							&nbsp;</td>
						<td>
							cửa đang khóa</td>
					</tr>
					<tr>
						<td>
							かぎをかける</td>
						<td>
							<ruby>鍵<rp>(</rp>
								<rt>かぎ</rt>
								<rp>)</rp>
							</ruby>をかける</td>
						<td>
							&nbsp;</td>
						<td>
							khóa cửa</td>
					</tr>
					<tr>
						<td>
							びょうきにかかる</td>
						<td>
							<ruby>病気<rp>(</rp>
								<rt>びょうき</rt>
								<rp>)</rp>
							</ruby>にかかる</td>
						<td>
							&nbsp;</td>
						<td>
							bị bệnh</td>
					</tr>
					<tr>
						<td>
							びょうきになる</td>
						<td>
							<ruby>病気<rp>(</rp>
								<rt>びょうき</rt>
								<rp>)</rp>
							</ruby>になる</td>
						<td>
							&nbsp;</td>
						<td>
							bị bệnh</td>
					</tr>
					<tr>
						<td>
							いしゃにかかる</td>
						<td>
							<ruby>医者<rp>(</rp>
								<rt>いしゃ</rt>
								<rp>)</rp>
							</ruby>にかかる</td>
						<td>
							&nbsp;</td>
						<td>
							gặp bác sĩ</td>
					</tr>
					<tr>
						<td>
							しんさつしてもらう</td>
						<td>
							<ruby>診察<rp>(</rp>
								<rt>しんさつ</rt>
								<rp>)</rp>
							</ruby>してもらう</td>
						<td>
							&nbsp;</td>
						<td>
							được khám bệnh</td>
					</tr>
					<tr>
						<td>
							ボタンをかける</td>
						<td>
							ボタンをかける</td>
						<td>
							&nbsp;</td>
						<td>
							kết nút</td>
					</tr>
					<tr>
						<td>
							はずす</td>
						<td>
							<ruby>外<rp>(</rp>
								<rt>はず</rt>
								<rp>)</rp>
							</ruby>す</td>
						<td>
							&nbsp;</td>
						<td>
							rớt ra</td>
					</tr>
					<tr>
						<td>
							CDをかける</td>
						<td>
							&nbsp;</td>
						<td>
							&nbsp;</td>
						<td>
							chạy CD</td>
					</tr>
					<tr>
						<td>
							もうふをかける</td>
						<td>
							<ruby>毛布<rp>(</rp>
								<rt>もうふ</rt>
								<rp>)</rp>
							</ruby>をかける</td>
						<td>
							&nbsp;</td>
						<td>
							đắp chăn</td>
					</tr>
					<tr>
						<td>
							こえをかける</td>
						<td>
							<ruby>声<rp>(</rp>
								<rt>こえ</rt>
								<rp>)</rp>
							</ruby>をかける</td>
						<td>
							&nbsp;</td>
						<td>
							gọi</td>
					</tr>
					<tr>
						<td>
							こえがかかる</td>
						<td>
							<ruby>声<rp>(</rp>
								<rt>こえ</rt>
								<rp>)</rp>
							</ruby>がかかる</td>
						<td>
							&nbsp;</td>
						<td>
							bị gọi</td>
					</tr>
					<tr>
						<td>
							しんぱいをかける</td>
						<td>
							<ruby>心配<rp>(</rp>
								<rt>しんぱい</rt>
								<rp>)</rp>
							</ruby>をかける</td>
						<td>
							&nbsp;</td>
						<td>
							làm ai đó lo lắng</td>
					</tr>
					<tr>
						<td>
							しんぱいさせる</td>
						<td>
							<ruby>心配<rp>(</rp>
								<rt>しんぱい</rt>
								<rp>)</rp>
							</ruby>させる</td>
						<td>
							&nbsp;</td>
						<td>
							làm ai đó lo lắng</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>