<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>がくぶ</strong></td>
						<td>
							<strong><ruby>学部<rp>(</rp>
									<rt>がくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							bộ môn, khoa</td>
					</tr>
					<tr>
						<td>
							<strong>じゅけんする</strong></td>
						<td>
							<strong><ruby>受験<rp>(</rp>
									<rt>じゅけん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							dự thi</td>
					</tr>
					<tr>
						<td>
							<strong>ぶんがくぶ</strong></td>
						<td>
							<strong><ruby>文学部<rp>(</rp>
									<rt>ぶんがくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa văn</td>
					</tr>
					<tr>
						<td>
							<strong>けいざいがくぶ</strong></td>
						<td>
							<strong><ruby>経済<rp>(</rp>
									<rt>けいざい</rt>
									<rp>)</rp>
								</ruby><ruby>学部<rp>(</rp>
									<rt>がくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa kinh tế</td>
					</tr>
					<tr>
						<td>
							<strong>ほうがくぶ</strong></td>
						<td>
							<strong><ruby>法学部<rp>(</rp>
									<rt>ほうがくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa luật</td>
					</tr>
					<tr>
						<td>
							<strong>りこうがくぶ</strong></td>
						<td>
							<strong><ruby>理工<rp>(</rp>
									<rt>りこう</rt>
									<rp>)</rp>
								</ruby><ruby>学部<rp>(</rp>
									<rt>がくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa khoa học công nghệ</td>
					</tr>
					<tr>
						<td>
							<strong>いがくぶ</strong></td>
						<td>
							<strong><ruby>医学部<rp>(</rp>
									<rt>いがくぶ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa y</td>
					</tr>
					<tr>
						<td>
							<strong>がっか</strong></td>
						<td>
							<strong><ruby>学科<rp>(</rp>
									<rt>がっか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							môn học</td>
					</tr>
					<tr>
						<td>
							<strong>せんこうする</strong></td>
						<td>
							<strong><ruby>専攻<rp>(</rp>
									<rt>せんこう</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chuyên môn</td>
					</tr>
					<tr>
						<td>
							<strong>けいざいがく</strong></td>
						<td>
							<strong><ruby>経済学<rp>(</rp>
									<rt>けいざいがく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							kinh tế học</td>
					</tr>
					<tr>
						<td>
							<strong>せいじがく</strong></td>
						<td>
							<strong><ruby>政治学<rp>(</rp>
									<rt>せいじがく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							chính trị học</td>
					</tr>
					<tr>
						<td>
							<strong>しんりがく</strong></td>
						<td>
							<strong><ruby>心理学<rp>(</rp>
									<rt>しんりがく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tâm lý học</td>
					</tr>
					<tr>
						<td>
							<strong>げんごがく</strong></td>
						<td>
							<strong><ruby>言語学<rp>(</rp>
									<rt>げんごがく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							ngôn ngữ học</td>
					</tr>
					<tr>
						<td>
							<strong>ぶつりがく</strong></td>
						<td>
							<strong><ruby>物理学<rp>(</rp>
									<rt>ぶつりがく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							vật lý học</td>
					</tr>
					<tr>
						<td>
							<strong>ゼミをとる</strong></td>
						<td>
						</td>
						<td>
							v</td>
						<td>
							đặt chỗ hội thảo chuyên đề</td>
					</tr>
					<tr>
						<td>
							<strong>たんいをとる</strong></td>
						<td>
							<strong><ruby>単位<rp>(</rp>
									<rt>たんい</rt>
									<rp>)</rp>
								</ruby>をとる</strong></td>
						<td>
							v</td>
						<td>
							lấy tín chỉ</td>
					</tr>
					<tr>
						<td>
							<strong>こうぎをうける</strong></td>
						<td>
							<strong><ruby>講義<rp>(</rp>
									<rt>こうぎ</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							v</td>
						<td>
							tham gia buổi học</td>
					</tr>
					<tr>
						<td>
							<strong>ほしゅうをうける</strong></td>
						<td>
							<strong><ruby>補習<rp>(</rp>
									<rt>ほしゅう</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							v</td>
						<td>
							tham gia học bổ túc</td>
					</tr>
					<tr>
						<td>
							<strong>ほこうをうける</strong></td>
						<td>
							<strong><ruby>補講<rp>(</rp>
									<rt>ほこう</rt>
									<rp>)</rp>
								</ruby>を<ruby>受<rp>(</rp>
									<rt>う</rt>
									<rp>)</rp>
								</ruby>ける</strong></td>
						<td>
							v</td>
						<td>
							tham gia buổi thuyết trình</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>しんがくをきぼうする</strong></td>
							<td>
								<strong><ruby>進学<rp>(</rp>
										<rt>しんがく</rt>
										<rp>)</rp>
									</ruby>を<ruby>希望<rp>(</rp>
										<rt>きぼう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								nguyện vọng học lên</td>
						</tr>
						<tr>
							<td>
								<strong>ごうかくはっびょうをみにいく</strong></td>
							<td>
								<strong><ruby>合格<rp>(</rp>
										<rt>ごうかく</rt>
										<rp>)</rp>
									</ruby><ruby>発表<rp>(</rp>
										<rt>はっぴょう</rt>
										<rp>)</rp>
									</ruby>を<ruby>見<rp>(</rp>
										<rt>み</rt>
										<rp>)</rp>
									</ruby>に<ruby>行<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đi xem phát biểu thi đỗ</td>
						</tr>
						<tr>
							<td>
								<strong>ごうかくする</strong></td>
							<td>
								<strong><ruby>合格<rp>(</rp>
										<rt>ごうかく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thi đỗ</td>
						</tr>
						<tr>
							<td>
								<strong>うかる</strong></td>
							<td>
								<strong><ruby>受<rp>(</rp>
										<rt>う</rt>
										<rp>)</rp>
									</ruby>かる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thi đỗ</td>
						</tr>
						<tr>
							<td>
								<strong>ふごうかくになる</strong></td>
							<td>
								<strong><ruby>不合格<rp>(</rp>
										<rt>ふごうかく</rt>
										<rp>)</rp>
									</ruby>になる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thi rớt</td>
						</tr>
						<tr>
							<td>
								<strong>おちる</strong></td>
							<td>
								<strong><ruby>落<rp>(</rp>
										<rt>お</rt>
										<rp>)</rp>
									</ruby>ちる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thi rớt</td>
						</tr>
						<tr>
							<td>
								<strong>じゅぎょうりょうをはらう</strong></td>
							<td>
								<strong><ruby>授業料<rp>(</rp>
										<rt>じゅぎょうりょう</rt>
										<rp>)</rp>
									</ruby>を<ruby>払<rp>(</rp>
										<rt>はら</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trả học phí</td>
						</tr>
						<tr>
							<td>
								<strong>がくひをはらう</strong></td>
							<td>
								<strong><ruby>学費<rp>(</rp>
										<rt>がくひ</rt>
										<rp>)</rp>
									</ruby>を<ruby>払<rp>(</rp>
										<rt>はら</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trả học phí</td>
						</tr>
						<tr>
							<td>
								<strong>しょうがくきんをもらう</strong></td>
							<td>
								<strong><ruby>奨学金<rp>(</rp>
										<rt>しょうがくきん</rt>
										<rp>)</rp>
									</ruby>をもらう</strong></td>
							<td>
								&nbsp;</td>
							<td>
								nhận học bổng</td>
						</tr>
						<tr>
							<td>
								<strong>だいがくきょうじゅ</strong></td>
							<td>
								<strong><ruby>大学<rp>(</rp>
										<rt>だいがく</rt>
										<rp>)</rp>
									</ruby><ruby>教授<rp>(</rp>
										<rt>きょうじゅ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								giáo sư đại học</td>
						</tr>
						<tr>
							<td>
								<strong>がくしゃ</strong></td>
							<td>
								<strong><ruby>学者<rp>(</rp>
										<rt>がくしゃ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học giả</td>
						</tr>
						<tr>
							<td>
								<strong>こうぎにまにあう</strong></td>
							<td>
								<strong><ruby>講義<rp>(</rp>
										<rt>こうぎ</rt>
										<rp>)</rp>
									</ruby>に<ruby>間<rp>(</rp>
										<rt>ま</rt>
										<rp>)</rp>
									</ruby>に<ruby>合<rp>(</rp>
										<rt>あ</rt>
										<rp>)</rp>
									</ruby>う</strong></td>
							<td>
								&nbsp;</td>
							<td>
								kịp giờ học</td>
						</tr>
						<tr>
							<td>
								<strong>こうぎにおくれる</strong></td>
							<td>
								<strong><ruby>講義<rp>(</rp>
										<rt>こうぎ</rt>
										<rp>)</rp>
									</ruby>に<ruby>遅<rp>(</rp>
										<rt>おく</rt>
										<rp>)</rp>
									</ruby>れる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trễ giờ học</td>
						</tr>
						<tr>
							<td>
								<strong>こうぎにちこくする</strong></td>
							<td>
								<strong><ruby>講義<rp>(</rp>
										<rt>こうぎ</rt>
										<rp>)</rp>
									</ruby>に<ruby>遅刻<rp>(</rp>
										<rt>ちこく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trễ giờ học</td>
						</tr>
						<tr>
							<td>
								<strong>せいせきがいい</strong></td>
							<td>
								<strong><ruby>成績<rp>(</rp>
										<rt>せいせき</rt>
										<rp>)</rp>
									</ruby>がいい</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thành tích học tốt</td>
						</tr>
						<tr>
							<td>
								<strong>せいせきがわるい</strong></td>
							<td>
								<strong><ruby>成績<rp>(</rp>
										<rt>せいせき</rt>
										<rp>)</rp>
									</ruby>が<ruby>悪<rp>(</rp>
										<rt>わる</rt>
										<rp>)</rp>
									</ruby>い</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thành tích học tồi</td>
						</tr>
						<tr>
							<td>
								<strong>じゅぎょうちゅうにいねむりをする</strong></td>
							<td>
								<strong><ruby>授業中<rp>(</rp>
										<rt>じゅぎょうちゅう</rt>
										<rp>)</rp>
									</ruby>に<ruby>居眠<rp>(</rp>
										<rt>いねむ</rt>
										<rp>)</rp>
									</ruby>りをする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								ngủ gật trong giờ học</td>
						</tr>
						<tr>
							<td>
								<strong>じゅぎょうをサボる</strong></td>
							<td>
								<strong><ruby>授業<rp>(</rp>
										<rt>じゅぎょう</rt>
										<rp>)</rp>
									</ruby>をサボる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trốn học</td>
						</tr>
						<tr>
							<td>
								<strong>たんいをおとす</strong></td>
							<td>
								<strong><ruby>単位<rp>(</rp>
										<rt>たんい</rt>
										<rp>)</rp>
									</ruby>を<ruby>落<rp>(</rp>
										<rt>お</rt>
										<rp>)</rp>
									</ruby>とす</strong></td>
							<td>
								&nbsp;</td>
							<td>
								rớt tín chỉ</td>
						</tr>
						<tr>
							<td>
								<strong>たんいをとる</strong></td>
							<td>
								<strong><ruby>単位<rp>(</rp>
										<rt>たんい</rt>
										<rp>)</rp>
									</ruby>をとる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lấy tín chỉ</td>
						</tr>
						<tr>
							<td>
								<strong>きゅうがくする</strong></td>
							<td>
								<strong><ruby>休学<rp>(</rp>
										<rt>きゅうがく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								nghỉ học</td>
						</tr>
						<tr>
							<td>
								<strong>りゅうがくする</strong></td>
							<td>
								<strong><ruby>留学<rp>(</rp>
										<rt>りゅうがく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								du học</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>