<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>メールをじゅしんする</strong></td>
						<td>
							<strong>メールを<ruby>受信<rp>(</rp>
									<rt>じゅしん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhận mail</td>
					</tr>
					<tr>
						<td>
							<strong>メールをそうしんする</strong></td>
						<td>
							<strong>メールを<ruby>送信<rp>(</rp>
									<rt>そうしん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							gửi mail</td>
					</tr>
					<tr>
						<td>
							<strong>メールをへんしんする</strong></td>
						<td>
							<strong>メールを<ruby>返信<rp>(</rp>
									<rt>へんしん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							hồi âm mail</td>
					</tr>
					<tr>
						<td>
							<strong>メールをてんそうする</strong></td>
						<td>
							<strong>メールを<ruby>転送<rp>(</rp>
									<rt>てんそう</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chuyển tiếp mail</td>
					</tr>
					<tr>
						<td>
							<strong>メールをしんきさくせいする</strong></td>
						<td>
							<strong>メールを<ruby>新規<rp>(</rp>
									<rt>しんき</rt>
									<rp>)</rp>
								</ruby><ruby>作成<rp>(</rp>
									<rt>さくせい</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							tạo mail mới</td>
					</tr>
					<tr>
						<td>
							<strong>メールをまとめておくる</strong></td>
						<td>
							<strong>メールをまとめて<ruby>送<rp>(</rp>
									<rt>おく</rt>
									<rp>)</rp>
								</ruby>る</strong></td>
						<td>
							v</td>
						<td>
							tổng hợp mail rồi gửi (gửi nhiều mail)</td>
					</tr>
					<tr>
						<td>
							<strong>メールをせいりする</strong></td>
						<td>
							<strong>メールを<ruby>整理<rp>(</rp>
									<rt>せいり</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chỉnh sửa mail</td>
					</tr>
					<tr>
						<td>
							<strong>メールをチェックする</strong></td>
						<td>
						</td>
						<td>
							v</td>
						<td>
							kiểm tra mail</td>
					</tr>
					<tr>
						<td>
							<strong>もじをにゅうりょくする</strong></td>
						<td>
							<strong><ruby>文字<rp>(</rp>
									<rt>もじ</rt>
									<rp>)</rp>
								</ruby>を<ruby>入力<rp>(</rp>
									<rt>にゅうりょく</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhập chữ</td>
					</tr>
					<tr>
						<td>
							<strong>もじをローマじでにゅうりょくする</strong></td>
						<td>
							<strong><ruby>文字<rp>(</rp>
									<rt>もじ</rt>
									<rp>)</rp>
								</ruby>を<ruby>ローマ<rp>(</rp>
									<rt>ろーま</rt>
									<rp>)</rp>
								</ruby><ruby>字<rp>(</rp>
									<rt>じ</rt>
									<rp>)</rp>
								</ruby>で<ruby>入力<rp>(</rp>
									<rt>にゅうりょく</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhập chữ romaji</td>
					</tr>
					<tr>
						<td>
							<strong>もじをかんじにへん</strong><strong>かん</strong><strong>する</strong></td>
						<td>
							<strong><ruby>文字<rp>(</rp>
									<rt>もじ</rt>
									<rp>)</rp>
								</ruby>を<ruby>漢字<rp>(</rp>
									<rt>かんじ</rt>
									<rp>)</rp>
								</ruby>に<ruby>変換<rp>(</rp>
									<rt>へんかん</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chuyển đổi sang Hán tự</td>
					</tr>
					<tr>
						<td>
							<strong>もじをそうにゅうする</strong></td>
						<td>
							<strong><ruby>文字<rp>(</rp>
									<rt>もじ</rt>
									<rp>)</rp>
								</ruby>を<ruby>挿入<rp>(</rp>
									<rt>そうにゅう</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chèn chữ vào</td>
					</tr>
					<tr>
						<td>
							<strong>もじをさくじょする</strong></td>
						<td>
							<strong><ruby>文字<rp>(</rp>
									<rt>もじ</rt>
									<rp>)</rp>
								</ruby>を<ruby>削除<rp>(</rp>
									<rt>さくじょ</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							xóa chữ</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>あてさき</strong></td>
							<td>
								<strong>あて<ruby>先<rp>(</rp>
										<rt>さき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								nơi gửi đến</td>
						</tr>
						<tr>
							<td>
								<strong>さしだしにん</strong></td>
							<td>
								<strong><ruby>差出人<rp>(</rp>
										<rt>さしだしにん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								người gửi</td>
						</tr>
						<tr>
							<td>
								<strong>けんめい</strong></td>
							<td>
								<strong><ruby>件名<rp>(</rp>
										<rt>けんめい</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								tiêu đề</td>
						</tr>
						<tr>
							<td>
								<strong>メールのやりとりをする</strong></td>
							<td>
								<strong>メールのやり<ruby>取<rp>(</rp>
										<rt>と</rt>
										<rp>)</rp>
									</ruby>りをする</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trao đổi mail</td>
						</tr>
						<tr>
							<td>
								<strong>しゃしんをてんぷする</strong></td>
							<td>
								<strong><ruby>写真<rp>(</rp>
										<rt>しゃしん</rt>
										<rp>)</rp>
									</ruby>を<ruby>添付<rp>(</rp>
										<rt>てんぷ</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đính kèm hình</td>
						</tr>
						<tr>
							<td>
								<strong>かいぎょうする</strong></td>
							<td>
								<strong><ruby>改行<rp>(</rp>
										<rt>かいぎょう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								viết xuống dòng mới</td>
						</tr>
						<tr>
							<td>
								<strong>そうしんしゃの（メールアドレスをとうろくする</strong></td>
							<td>
								<strong><ruby>送信者<rp>(</rp>
										<rt>そうしんしゃ</rt>
										<rp>)</rp>
									</ruby>の（メール）アドレスを<ruby>登録<rp>(</rp>
										<rt>とうろく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								lưu người gửi vào danh bạ</td>
						</tr>
						<tr>
							<td>
								<strong>アドレスちょう</strong></td>
							<td>
								<strong><ruby>アドレス<rp>(</rp>
										<rt>あどれす</rt>
										<rp>)</rp>
									</ruby><ruby>帳<rp>(</rp>
										<rt>ちょう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								danh bạ</td>
						</tr>
						<tr>
							<td>
								<strong>そうしんがかんりょうする</strong></td>
							<td>
								<strong><ruby>送信<rp>(</rp>
										<rt>そうしん</rt>
										<rp>)</rp>
									</ruby>が<ruby>完了<rp>(</rp>
										<rt>かんりょう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tin nhắn đã được gửi</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>