<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>かしこい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							khôn ngoan</td>
					</tr>
					<tr>
						<td>
							<strong>れいぎただしい</strong></td>
						<td>
							<strong><ruby>礼儀正<rp>(</rp>
									<rt>れいぎただ</rt>
									<rp>)</rp>
								</ruby>しい</strong></td>
						<td>
							a-i</td>
						<td>
							lễ phép; lễ độ; lịch sự</td>
					</tr>
					<tr>
						<td>
							<strong>しょうじきな</strong></td>
						<td>
							<strong><ruby>正直<rp>(</rp>
									<rt>しょうじき</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							chính trực; thành thực</td>
					</tr>
					<tr>
						<td>
							<strong>しょうじきにいうと</strong></td>
						<td>
							<strong><ruby>正直<rp>(</rp>
									<rt>しょうじき</rt>
									<rp>)</rp>
								</ruby>に<ruby>言<rp>(</rp>
									<rt>い</rt>
									<rp>)</rp>
								</ruby>うと</strong></td>
						<td>
							v</td>
						<td>
							nói thật là</td>
					</tr>
					<tr>
						<td>
							<strong>すなおな</strong></td>
						<td>
							<strong><ruby>素直<rp>(</rp>
									<rt>すなお</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							dễ bảo; ngoan ngoãn</td>
					</tr>
					<tr>
						<td>
							<strong>じゅんすいな</strong></td>
						<td>
							<strong><ruby>純粋<rp>(</rp>
									<rt>じゅんすい</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							ngây thơ</td>
					</tr>
					<tr>
						<td>
							<strong>じゅんすいなきもち</strong></td>
						<td>
							<strong><ruby>純粋<rp>(</rp>
									<rt>じゅんすい</rt>
									<rp>)</rp>
								</ruby>な<ruby>気持<rp>(</rp>
									<rt>きも</rt>
									<rp>)</rp>
								</ruby>ち</strong></td>
						<td>
							n</td>
						<td>
							quan điểm thật</td>
					</tr>
					<tr>
						<td>
							<strong>かっこいい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							phong độ</td>
					</tr>
					<tr>
						<td>
							<strong>かっこわるい</strong></td>
						<td>
							<strong>かっこ<ruby>悪<rp>(</rp>
									<rt>わる</rt>
									<rp>)</rp>
								</ruby>い</strong></td>
						<td>
							a-i</td>
						<td>
							xấu trai</td>
					</tr>
					<tr>
						<td>
							<strong>ゆうきのある</strong></td>
						<td>
							<strong><ruby>勇気<rp>(</rp>
									<rt>ゆうき</rt>
									<rp>)</rp>
								</ruby>のある</strong></td>
						<td>
							v</td>
						<td>
							có dũng khí</td>
					</tr>
					<tr>
						<td>
							<strong>ユーモアのある</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							hài hước</td>
					</tr>
					<tr>
						<td>
							<strong>せっきょくてきな</strong></td>
						<td>
							<strong><ruby>積極的<rp>(</rp>
									<rt>せっきょくてき</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							tích cực</td>
					</tr>
					<tr>
						<td>
							<strong>しょうきょくてきな</strong></td>
						<td>
							<strong><ruby>消極的<rp>(</rp>
									<rt>しょうきょくてき</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							tiêu cực</td>
					</tr>
					<tr>
						<td>
							<strong>おちついている</strong></td>
						<td>
							<strong><ruby>落<rp>(</rp>
									<rt>お</rt>
									<rp>)</rp>
								</ruby>ち<ruby>着<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>いている</strong></td>
						<td>
							v</td>
						<td>
							bình tâm, bình tĩnh</td>
					</tr>
					<tr>
						<td>
							<strong>おちつく</strong></td>
						<td>
							<strong><ruby>落<rp>(</rp>
									<rt>お</rt>
									<rp>)</rp>
								</ruby>ち<ruby>着<rp>(</rp>
									<rt>つ</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							bình tâm, bình tĩnh</td>
					</tr>
					<tr>
						<td>
							<strong>おとなしい</strong></td>
						<td>
						</td>
						<td>
							a-i</td>
						<td>
							dịu dàng; hiền lành</td>
					</tr>
					<tr>
						<td>
							<strong>まじめな</strong></td>
						<td>
						</td>
						<td>
							a-na</td>
						<td>
							nghiêm túc</td>
					</tr>
					<tr>
						<td>
							<strong>のんきな</strong></td>
						<td>
						</td>
						<td>
							a-na</td>
						<td>
							vô tư, lạc quan</td>
					</tr>
					<tr>
						<td>
							<strong>ハンサムな</strong></td>
						<td>
						</td>
						<td>
							a-na</td>
						<td>
							đẹp trai</td>
					</tr>
					<tr>
						<td>
							<strong>びじん</strong></td>
						<td>
							<strong><ruby>美人<rp>(</rp>
									<rt>びじん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							mỹ nhân; người đẹp</td>
					</tr>
					<tr>
						<td>
							<strong>スマートな</strong></td>
						<td>
						</td>
						<td>
							a-na</td>
						<td>
							thanh thoát; yểu điệu; xinh đẹp</td>
					</tr>
					<tr>
						<td>
							<strong>いじわるな</strong></td>
						<td>
							<strong><ruby>意地悪<rp>(</rp>
									<rt>いじわる</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							tâm địa xấu; xấu bụng</td>
					</tr>
					<tr>
						<td>
							<strong>いじわるをする</strong></td>
						<td>
							<strong><ruby>意地悪<rp>(</rp>
									<rt>いじわる</rt>
									<rp>)</rp>
								</ruby>をする</strong></td>
						<td>
							v</td>
						<td>
							hiểm độc</td>
					</tr>
					<tr>
						<td>
							<strong>うそをつく</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							nói xạo</td>
					</tr>
					<tr>
						<td>
							<strong>うそつき</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							kẻ nói dối; kẻ nói láo</td>
					</tr>
					<tr>
						<td>
							<strong>ずるい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							ranh mãnh; quỷ quyệt; láu cá</td>
					</tr>
					<tr>
						<td>
							<strong>「ずるい！」</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							chơi không đẹp</td>
					</tr>
					<tr>
						<td>
							<strong>ずうずうしい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							vô liêm sỉ; trơ tráo</td>
					</tr>
					<tr>
						<td>
							<strong>しつこい</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							dai dẳng, lì lợm, lằng nhằng</td>
					</tr>
					<tr>
						<td>
							<strong>しつこくちゅういする</strong></td>
						<td>
							<strong>しつこく<ruby>注意<rp>(</rp>
									<rt>ちゅうい</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							chú ý hoài</td>
					</tr>
					<tr>
						<td>
							<strong>だらしない</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-i</td>
						<td>
							bừa bãi; lôi thôi</td>
					</tr>
					<tr>
						<td>
							<strong>けちな</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-na</td>
						<td>
							keo kiệt</td>
					</tr>
					<tr>
						<td>
							<strong>いいかげんな</strong></td>
						<td>
							&nbsp;</td>
						<td>
							a-na</td>
						<td>
							thiếu trách nhiệm</td>
					</tr>
					<tr>
						<td>
							<strong>いいかげんなことをいう</strong></td>
						<td>
							<strong>いいかげんなことを<ruby>言<rp>(</rp>
									<rt>い</rt>
									<rp>)</rp>
								</ruby>う</strong></td>
						<td>
							v</td>
						<td>
							nói chuyện vô lý</td>
					</tr>
					<tr>
						<td>
							<strong>いいかげんにしろ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							v</td>
						<td>
							thôi đủ rồi đó</td>
					</tr>
					<tr>
						<td>
							<strong>むせきにんな</strong></td>
						<td>
							<strong><ruby>無責任<rp>(</rp>
									<rt>むせきにん</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							thiếu trách nhiệm</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- End Table -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.menu-toggle').click(function () {
				$('nav').toggleClass('active');
			});
			$('.link').click(function () {
				$('nav').toggleClass('active');
			})
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>