<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="N5-detail">N5</a></li>
				<li class="link"><a th:href="N4-detail">N4</a></li>
				<li class="link"><a th:href="N3-detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly-words">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>かもく</strong></td>
						<td>
							<strong><ruby>科目<rp>(</rp>
									<rt>かもく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							môn học</td>
					</tr>
					<tr>
						<td>
							<strong>きょうか</strong></td>
						<td>
							<strong><ruby>教科<rp>(</rp>
									<rt>きょうか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							chương trình học</td>
					</tr>
					<tr>
						<td>
							<strong>とくいな</strong></td>
						<td>
							<strong><ruby>得意<rp>(</rp>
									<rt>とくい</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							giỏi</td>
					</tr>
					<tr>
						<td>
							<strong>にがてな</strong></td>
						<td>
							<strong><ruby>苦手<rp>(</rp>
									<rt>にがて</rt>
									<rp>)</rp>
								</ruby>な</strong></td>
						<td>
							a-na</td>
						<td>
							dở</td>
					</tr>
					<tr>
						<td>
							<strong>こくご</strong></td>
						<td>
							<strong><ruby>国語<rp>(</rp>
									<rt>こくご</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							quốc ngữ</td>
					</tr>
					<tr>
						<td>
							<strong>さんすう</strong></td>
						<td>
							<strong><ruby>算数<rp>(</rp>
									<rt>さんすう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							tính toán</td>
					</tr>
					<tr>
						<td>
							<strong>りか</strong></td>
						<td>
							<strong><ruby>理科<rp>(</rp>
									<rt>りか</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa học tự nhiên</td>
					</tr>
					<tr>
						<td>
							<strong>しゃかい</strong></td>
						<td>
							<strong><ruby>社会<rp>(</rp>
									<rt>しゃかい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							khoa học xã hội</td>
					</tr>
					<tr>
						<td>
							<strong>たいいく</strong></td>
						<td>
							<strong><ruby>体育<rp>(</rp>
									<rt>たいいく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							môn thể dục</td>
					</tr>
					<tr>
						<td>
							<strong>しりつこうこうににゅうがくする</strong></td>
						<td>
							<strong><ruby>私立<rp>(</rp>
									<rt>しりつ</rt>
									<rp>)</rp>
								</ruby><ruby>高校<rp>(</rp>
									<rt>こうこう</rt>
									<rp>)</rp>
								</ruby>に<ruby>入学<rp>(</rp>
									<rt>にゅうがく</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhập học trường tư lập</td>
					</tr>
					<tr>
						<td>
							<strong>こうりつこうこうににゅうがくする</strong></td>
						<td>
							<strong><ruby>公立<rp>(</rp>
									<rt>こうりつ</rt>
									<rp>)</rp>
								</ruby><ruby>高校<rp>(</rp>
									<rt>こうこう</rt>
									<rp>)</rp>
								</ruby>に<ruby>入学<rp>(</rp>
									<rt>にゅうがく</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhập học trường công lập</td>
					</tr>
					<tr>
						<td>
							<strong>こくりつだいがくににゅうがくする</strong></td>
						<td>
							<strong><ruby>国立<rp>(</rp>
									<rt>くにたち</rt>
									<rp>)</rp>
								</ruby><ruby>大学<rp>(</rp>
									<rt>だいがく</rt>
									<rp>)</rp>
								</ruby>に<ruby>入学<rp>(</rp>
									<rt>にゅうがく</rt>
									<rp>)</rp>
								</ruby>する</strong></td>
						<td>
							v</td>
						<td>
							nhập học trường đại học quốc lập</td>
					</tr>
					<tr>
						<td>
							<strong>ひるやすみ</strong></td>
						<td>
							<strong><ruby>昼休<rp>(</rp>
									<rt>ひるやす</rt>
									<rp>)</rp>
								</ruby>み</strong></td>
						<td>
							n</td>
						<td>
							nghỉ trưa</td>
					</tr>
					<tr>
						<td>
							<strong>（お）べんとう</strong></td>
						<td>
							<strong>（お）<ruby>弁当<rp>(</rp>
									<rt>べんとう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cơm hộp</td>
					</tr>
					<tr>
						<td>
							<strong>きゅうしょく</strong></td>
						<td>
							<strong><ruby>給食<rp>(</rp>
									<rt>きゅうしょく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cơm suất ở trường hay cơ quan</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;">
					<span style="font-size: 22px;">
						<strong>もっとおぼえましょう!</strong>
					</span>
				</span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>じかんわり</strong></td>
							<td>
								<strong><ruby>時間割<rp>(</rp>
										<rt>じかんわり</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								thời gian biểu (học)</td>
						</tr>
						<tr>
							<td>
								<strong>にゅうがくしき</strong></td>
							<td>
								<strong><ruby>入学式<rp>(</rp>
										<rt>にゅうがくしき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								lễ khai giảng</td>
						</tr>
						<tr>
							<td>
								<strong>そつぎょうしき</strong></td>
							<td>
								<strong><ruby>卒業式<rp>(</rp>
										<rt>そつぎょうしき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								lễ tốt nghiệp</td>
						</tr>
						<tr>
							<td>
								<strong>しゅっせきする</strong></td>
							<td>
								<strong><ruby>出席<rp>(</rp>
										<rt>しゅっせき</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tham dự</td>
						</tr>
						<tr>
							<td>
								<strong>けっせきする</strong></td>
							<td>
								<strong><ruby>欠席<rp>(</rp>
										<rt>けっせき</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								vắng mặt</td>
						</tr>
						<tr>
							<td>
								<strong>バスでつうがくする</strong></td>
							<td>
								<strong>バスで<ruby>通学<rp>(</rp>
										<rt>つうがく</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đi học bằng xe bus</td>
						</tr>
						<tr>
							<td>
								<strong>つうきんする</strong></td>
							<td>
								<strong><ruby>通勤<rp>(</rp>
										<rt>つうきん</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đi làm</td>
						</tr>
						<tr>
							<td>
								<strong>１／２／３がっき</strong></td>
							<td>
								<strong>１／２／３<ruby>学期<rp>(</rp>
										<rt>がっき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học kì 1, 2, 3</td>
						</tr>
						<tr>
							<td>
								<strong>こんがっき</strong></td>
							<td>
								<strong><ruby>今学期<rp>(</rp>
										<rt>こんがっき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học kì hiện giờ</td>
						</tr>
						<tr>
							<td>
								<strong>ぜんき</strong></td>
							<td>
								<strong><ruby>前期<rp>(</rp>
										<rt>ぜんき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								kì trước</td>
						</tr>
						<tr>
							<td>
								<strong>こうき</strong></td>
							<td>
								<strong><ruby>後期<rp>(</rp>
										<rt>こうき</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								học kì sau</td>
						</tr>
						<tr>
							<td>
								<strong>おなじがくねん</strong></td>
							<td>
								<strong><ruby>同<rp>(</rp>
										<rt>おな</rt>
										<rp>)</rp>
									</ruby>じ<ruby>学年<rp>(</rp>
										<rt>がくねん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								cùng niên khóa</td>
						</tr>
						<tr>
							<td>
								<strong>じしゅうする</strong></td>
							<td>
								<strong><ruby>自習<rp>(</rp>
										<rt>じしゅう</rt>
										<rp>)</rp>
									</ruby>する</strong></td>
							<td>
								&nbsp;</td>
							<td>
								tự học</td>
						</tr>
						<tr>
							<td>
								<strong>えんぴつをけずる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								gọt bút chì</td>
						</tr>
						<tr>
							<td>
								<strong>ものさし</strong></td>
							<td>
								<strong><ruby>物差<rp>(</rp>
										<rt>ものさ</rt>
										<rp>)</rp>
									</ruby>し</strong></td>
							<td>
								&nbsp;</td>
							<td>
								thước đo</td>
						</tr>
						<tr>
							<td>
								<strong>じょうぎではかる</strong></td>
							<td>
								<strong><ruby>定規<rp>(</rp>
										<rt>じょうぎ</rt>
										<rp>)</rp>
									</ruby>で<ruby>測<rp>(</rp>
										<rt>はか</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đo bằng thước</td>
						</tr>
						<tr>
							<td>
								<strong>ごうけいをだす</strong></td>
							<td>
								<strong><ruby>合計<rp>(</rp>
										<rt>ごうけい</rt>
										<rp>)</rp>
									</ruby>を<ruby>出<rp>(</rp>
										<rt>だ</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								đưa ra tổng số</td>
						</tr>
						<tr>
							<td>
								<strong>けいさん</strong></td>
							<td>
								<strong><ruby>計算<rp>(</rp>
										<rt>けいさん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								tính toán</td>
						</tr>
						<tr>
							<td>
								<strong>たしざん</strong></td>
							<td>
								<strong><ruby>足<rp>(</rp>
										<rt>た</rt>
										<rp>)</rp>
									</ruby>し<ruby>算<rp>(</rp>
										<rt>ざん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								phép cộng</td>
						</tr>
						<tr>
							<td>
								<strong>たす</strong></td>
							<td>
								<strong><ruby>足<rp>(</rp>
										<rt>た</rt>
										<rp>)</rp>
									</ruby>す</strong></td>
							<td>
								&nbsp;</td>
							<td>
								cộng</td>
						</tr>
						<tr>
							<td>
								<strong>ひきざん</strong></td>
							<td>
								<strong><ruby>引<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>き<ruby>算<rp>(</rp>
										<rt>ざん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								phép trừ</td>
						</tr>
						<tr>
							<td>
								<strong>ひく</strong></td>
							<td>
								<strong><ruby>引<rp>(</rp>
										<rt>ひ</rt>
										<rp>)</rp>
									</ruby>く</strong></td>
							<td>
								&nbsp;</td>
							<td>
								trừ</td>
						</tr>
						<tr>
							<td>
								<strong>かけざん</strong></td>
							<td>
								<strong>かけ<ruby>算<rp>(</rp>
										<rt>ざん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								phép nhân</td>
						</tr>
						<tr>
							<td>
								<strong>かける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								&nbsp;</td>
							<td>
								nhân</td>
						</tr>
						<tr>
							<td>
								<strong>わりざん</strong></td>
							<td>
								<strong><ruby>割<rp>(</rp>
										<rt>わ</rt>
										<rp>)</rp>
									</ruby>り<ruby>算<rp>(</rp>
										<rt>ざん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								&nbsp;</td>
							<td>
								phép chia</td>
						</tr>
						<tr>
							<td>
								<strong>わる</strong></td>
							<td>
								<strong><ruby>割<rp>(</rp>
										<rt>わ</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								&nbsp;</td>
							<td>
								chia</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>