<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}">
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<title>日本語</title>
</head>

<body>
	<header>
		<header-title>日本の勉強</header-title>
		<div class="menu-toggle"><i class="fas fa-bars"></i></div>
		<hr>
		<nav>
			<ul>
				<li class="link"><a th:href="homepage">Home</a></li>
				<li class="link"><a th:href="detail">N5</a></li>
				<li class="link"><a th:href="detail">N4</a></li>
				<li class="link"><a th:href="detail">N3</a></li>
				<li class="link"><a th:href="happyo">Happyo</a></li>
				<li class="link"><a th:href="weekly">Weekly Vocabulary</a></li>
				<li class="link"><a th:href="@{https://e-jan.vn/}" target="_blank">Urban-shop</a></li>
			</ul>
		</nav>
	</header>

	<div class="container" style="margin-top: 5%;">
		<!-- Table -->
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Mục từ</th>
						<th>Hán tự</th>
						<th>Loại</th>
						<th>Nghĩa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong>にくじゃが</strong></td>
						<td>
							<strong><ruby>肉<rp>(</rp>
									<rt>にく</rt>
									<rp>)</rp>
								</ruby>じゃが</strong></td>
						<td>
							n</td>
						<td>
							món thịt hầm khoai tây</td>
					</tr>
					<tr>
						<td>
							<strong>ざいりょう</strong></td>
						<td>
							<strong><ruby>材料<rp>(</rp>
									<rt>ざいりょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							nguyên liệu</td>
					</tr>
					<tr>
						<td>
							<strong>よにんぶん</strong></td>
						<td>
							<strong>４<ruby>人<rp>(</rp>
									<rt>ひと</rt>
									<rp>)</rp>
								</ruby><ruby>分<rp>(</rp>
									<rt>ぶん</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							phần 4 người</td>
					</tr>
					<tr>
						<td>
							<strong>ぎゅうにく</strong></td>
						<td>
							<strong><ruby>牛肉<rp>(</rp>
									<rt>ぎゅうにく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							thịt bò</td>
					</tr>
					<tr>
						<td>
							<strong>～グラム</strong></td>
						<td>
							&nbsp;</td>
						<td>
							suf</td>
						<td>
							~ gram</td>
					</tr>
					<tr>
						<td>
							<strong>ジャガイモ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							khoai tây</td>
					</tr>
					<tr>
						<td>
							<strong>たまねぎ</strong></td>
						<td>
							<strong><ruby>玉<rp>(</rp>
									<rt>たま</rt>
									<rp>)</rp>
								</ruby><ruby>ネギ<rp>(</rp>
									<rt>ねぎ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							củ hành tây</td>
					</tr>
					<tr>
						<td>
							<strong>ちょうみりょう</strong></td>
						<td>
							<strong><ruby>調味料<rp>(</rp>
									<rt>ちょうみりょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							gia vị</td>
					</tr>
					<tr>
						<td>
							<strong>みず</strong></td>
						<td>
							<strong><ruby>水<rp>(</rp>
									<rt>みず</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							nước</td>
					</tr>
					<tr>
						<td>
							<strong>～カップ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							suf</td>
						<td>
							~ cốc</td>
					</tr>
					<tr>
						<td>
							<strong>さけ</strong></td>
						<td>
							<strong><ruby>酒<rp>(</rp>
									<rt>さけ</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							rượu sake của Nhật</td>
					</tr>
					<tr>
						<td>
							<strong>しょうゆ</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							nước tương của Nhật</td>
					</tr>
					<tr>
						<td>
							<strong>さとう</strong></td>
						<td>
							<strong><ruby>砂糖<rp>(</rp>
									<rt>さとう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							đường (ăn)</td>
					</tr>
					<tr>
						<td>
							<strong>おおさじ</strong></td>
						<td>
							<strong><ruby>大<rp>(</rp>
									<rt>おお</rt>
									<rp>)</rp>
								</ruby>さじ</strong></td>
						<td>
							n</td>
						<td>
							muỗng canh</td>
					</tr>
					<tr>
						<td>
							<strong>～ばい</strong></td>
						<td>
							<strong>～<ruby>杯<rp>(</rp>
									<rt>はい</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							suf</td>
						<td>
							~ cốc; chén</td>
					</tr>
					<tr>
						<td>
							<strong>サラダゆ</strong></td>
						<td>
							<strong><ruby>サラダ<rp>(</rp>
									<rt>さらだ</rt>
									<rp>)</rp>
								</ruby><ruby>油<rp>(</rp>
									<rt>あぶら</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							dầu xà lách</td>
					</tr>
					<tr>
						<td>
							<strong>しょうしょう</strong></td>
						<td>
							<strong><ruby>少<rp>(</rp>
									<rt>すくな</rt>
									<rp>)</rp>
								</ruby>々</strong></td>
						<td>
							adv</td>
						<td>
							một chút</td>
					</tr>
					<tr>
						<td>
							<strong>～センチはば</strong></td>
						<td>
							<strong>～センチ<ruby>幅<rp>(</rp>
									<rt>はば</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							suf</td>
						<td>
							(cắt) lát ~ cm</td>
					</tr>
					<tr>
						<td>
							<strong>むく</strong></td>
						<td>
							<strong><ruby>剥<rp>(</rp>
									<rt>む</rt>
									<rp>)</rp>
								</ruby>く</strong></td>
						<td>
							v</td>
						<td>
							bóc; gọt</td>
					</tr>
					<tr>
						<td>
							<strong>ゆうしょく</strong></td>
						<td>
							<strong><ruby>夕食<rp>(</rp>
									<rt>ゆうしょく</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cơm chiều; cơm tối</td>
					</tr>
					<tr>
						<td>
							<strong>おかず</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							thức ăn</td>
					</tr>
					<tr>
						<td>
							<strong>～リットル</strong></td>
						<td>
							&nbsp;</td>
						<td>
							suf</td>
						<td>
							~ lít</td>
					</tr>
					<tr>
						<td>
							<strong>こさじ</strong></td>
						<td>
							<strong><ruby>小<rp>(</rp>
									<rt>こ</rt>
									<rp>)</rp>
								</ruby>さじ</strong></td>
						<td>
							n</td>
						<td>
							muỗng trà</td>
					</tr>
					<tr>
						<td>
							<strong>ほうちょう</strong></td>
						<td>
							<strong><ruby>包丁<rp>(</rp>
									<rt>ほうちょう</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							dao thái thịt</td>
					</tr>
					<tr>
						<td>
							<strong>まないた</strong></td>
						<td>
							<strong>まな<ruby>板<rp>(</rp>
									<rt>いた</rt>
									<rp>)</rp>
								</ruby></strong></td>
						<td>
							n</td>
						<td>
							cái thớt</td>
					</tr>
					<tr>
						<td>
							<strong>はかり</strong></td>
						<td>
							&nbsp;</td>
						<td>
							n</td>
						<td>
							cái cân</td>
					</tr>
				</tbody>
			</table>
			<p>
				<span style="color:#ff0000;"><span style="font-size: 22px;"><strong>もっとおぼえましょう!</strong></span></span>
			</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Mục từ</th>
							<th>Hán tự</th>
							<th>Loại</th>
							<th>Nghĩa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>ゆうしょくのおかず</strong></td>
							<td>
								<strong><ruby>夕食<rp>(</rp>
										<rt>ゆうしょく</rt>
										<rp>)</rp>
									</ruby>のおかず</strong></td>
							<td>
								n</td>
							<td>
								thức ăn bữa tối</td>
						</tr>
						<tr>
							<td>
								<strong>えいよう</strong></td>
							<td>
								<strong><ruby>栄養<rp>(</rp>
										<rt>えいよう</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								dinh dưỡng</td>
						</tr>
						<tr>
							<td>
								<strong>バランス</strong></td>
							<td>
								&nbsp;</td>
							<td>
								n</td>
							<td>
								cân bằng</td>
						</tr>
						<tr>
							<td>
								<strong>えいようのバランスをかんがえる</strong></td>
							<td>
								<strong><ruby>栄養<rp>(</rp>
										<rt>えいよう</rt>
										<rp>)</rp>
									</ruby>のバランスを<ruby>考<rp>(</rp>
										<rt>かんが</rt>
										<rp>)</rp>
									</ruby>える</strong></td>
							<td>
								v</td>
							<td>
								suy nghĩ về cân bằng dinh dưỡng</td>
						</tr>
						<tr>
							<td>
								<strong>カロリー</strong></td>
							<td>
								&nbsp;</td>
							<td>
								n</td>
							<td>
								lượng ca-lo</td>
						</tr>
						<tr>
							<td>
								<strong>しょくひん</strong></td>
							<td>
								<strong><ruby>食品<rp>(</rp>
										<rt>しょくひん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								đồ ăn; thực phẩm</td>
						</tr>
						<tr>
							<td>
								<strong>カロリーがたかいしょくひん</strong></td>
							<td>
								<strong>カロリーが<ruby>高<rp>(</rp>
										<rt>たか</rt>
										<rp>)</rp>
									</ruby>い<ruby>食品<rp>(</rp>
										<rt>しょくひん</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								thực phẩm có lượng ca-lo cao</td>
						</tr>
						<tr>
							<td>
								<strong>はかりではかる</strong></td>
							<td>
								<strong>はかりで<ruby>量<rp>(</rp>
										<rt>はか</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								v</td>
							<td>
								cân bằng cân</td>
						</tr>
						<tr>
							<td>
								<strong>しお</strong></td>
							<td>
								<strong><ruby>塩<rp>(</rp>
										<rt>しお</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								muối</td>
						</tr>
						<tr>
							<td>
								<strong>しおをしょうしょういれる</strong></td>
							<td>
								<strong><ruby>塩<rp>(</rp>
										<rt>しお</rt>
										<rp>)</rp>
									</ruby>を<ruby>少<rp>(</rp>
										<rt>すくな</rt>
										<rp>)</rp>
									</ruby>々<ruby>入<rp>(</rp>
										<rt>い</rt>
										<rp>)</rp>
									</ruby>れる</strong></td>
							<td>
								v</td>
							<td>
								cho vào chút muối</td>
						</tr>
						<tr>
							<td>
								<strong>す</strong></td>
							<td>
								<strong><ruby>酢<rp>(</rp>
										<rt>す</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								giấm</td>
						</tr>
						<tr>
							<td>
								<strong>てんぷらあぶら</strong></td>
							<td>
								<strong><ruby>天<rp>(</rp>
										<rt>てん</rt>
										<rp>)</rp>
									</ruby>ぷら<ruby>油<rp>(</rp>
										<rt>ゆ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								dầu tenpura</td>
						</tr>
						<tr>
							<td>
								<strong>かわ</strong></td>
							<td>
								<strong><ruby>皮<rp>(</rp>
										<rt>かわ</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								vỏ</td>
						</tr>
						<tr>
							<td>
								<strong>かわをむく</strong></td>
							<td>
								<strong><ruby>皮<rp>(</rp>
										<rt>かわ</rt>
										<rp>)</rp>
									</ruby>をむく</strong></td>
							<td>
								v</td>
							<td>
								gọt vỏ</td>
						</tr>
						<tr>
							<td>
								<strong>ざいりょうをきざむ</strong></td>
							<td>
								<strong><ruby>材料<rp>(</rp>
										<rt>ざいりょう</rt>
										<rp>)</rp>
									</ruby>を<ruby>刻<rp>(</rp>
										<rt>きざ</rt>
										<rp>)</rp>
									</ruby>む</strong></td>
							<td>
								v</td>
							<td>
								thái (rau, quả)</td>
						</tr>
						<tr>
							<td>
								<strong>おおきめにきる</strong></td>
							<td>
								<strong><ruby>大<rp>(</rp>
										<rt>おお</rt>
										<rp>)</rp>
									</ruby>きめに</strong></td>
							<td>
								v</td>
							<td>
								cắt lớn một chút</td>
						</tr>
						<tr>
							<td>
								<strong>３センチはばにきる</strong></td>
							<td>
								<strong>３センチ<ruby>幅<rp>(</rp>
										<rt>はば</rt>
										<rp>)</rp>
									</ruby>に<ruby>切<rp>(</rp>
										<rt>き</rt>
										<rp>)</rp>
									</ruby>る</strong></td>
							<td>
								v</td>
							<td>
								cắt miếng 3 cm</td>
						</tr>
						<tr>
							<td>
								<strong>みそしる</strong></td>
							<td>
								<strong>みそ<ruby>汁<rp>(</rp>
										<rt>しる</rt>
										<rp>)</rp>
									</ruby></strong></td>
							<td>
								n</td>
							<td>
								súp miso (Nhật)</td>
						</tr>
						<tr>
							<td>
								<strong>みそしるがぬるくなる</strong></td>
							<td>
								<strong>みそ<ruby>汁<rp>(</rp>
										<rt>しる</rt>
										<rp>)</rp>
									</ruby>がぬるくなる</strong></td>
							<td>
								v</td>
							<td>
								súp Miso âm ấm</td>
						</tr>
						<tr>
							<td>
								<strong>ラップ</strong></td>
							<td>
								&nbsp;</td>
							<td>
								n</td>
							<td>
								túi nhựa để bao gói</td>
						</tr>
						<tr>
							<td>
								<strong>ラップをかぶせる</strong></td>
							<td>
								&nbsp;</td>
							<td>
								v</td>
							<td>
								đậy lên; trùm lên bằng túi nhựa</td>
						</tr>
						<tr>
							<td>
								<strong>ラップをかける</strong></td>
							<td>
								&nbsp;</td>
							<td>
								v</td>
							<td>
								đậy lên; trùm lên bằng túi nhựa</td>
						</tr>
						<tr>
							<td>
								<strong>ラップでくるむ</strong></td>
							<td>
								&nbsp;</td>
							<td>
								v</td>
							<td>
								bao phủ bằng túi nhựa</td>
						</tr>
						<tr>
							<td>
								<strong>（アルミ）ホイル</strong></td>
							<td>
								&nbsp;</td>
							<td>
								n</td>
							<td>
								giấy nhôm</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End Table -->
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function () {
				$('.menu-toggle').click(function () {
					$('nav').toggleClass('active');
				});
				$('.link').click(function () {
					$('nav').toggleClass('active');
				})
			})
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>